<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <connectionStrings>
    <!--<add name="NoidaPMSEntities" connectionString="metadata=res://*/Context.NAPMS.csdl|res://*/Context.NAPMS.ssdl|res://*/Context.NAPMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=52.172.156.142;initial catalog=NoidaMigrationUat;user id=NoidaPms;password=Usear#321;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PIMSSqlConnection" connectionString="data source=52.172.156.142;initial catalog=NoidaMigrationUat;user id=NoidaPms;password=Usear#321;" providerName="System.Data.SqlClient" />-->
    
    <!--<add name="NoidaPMSEntities" connectionString="metadata=res://*/Context.NAPMS.csdl|res://*/Context.NAPMS.ssdl|res://*/Context.NAPMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=52.183.165.194;initial catalog=NoidaMigration;user id=NoidaPms;password=Usear#321;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PIMSSqlConnection" connectionString="data source=52.183.165.194;initial catalog=NoidaMigration;user id=NoidaPms;password=Usear#321;" providerName="System.Data.SqlClient" />
    --><!--Context For NIC Service --><!--
    <add name="PIMSEntitiesContext" connectionString="metadata=res://*/Context.NAPIMS.csdl|res://*/Context.NAPIMS.ssdl|res://*/Context.NAPIMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=52.183.165.194;initial catalog=NoidaMigrationUAT;persist security info=True;user id=NoidaPms;password=Usear#321;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    --><!--Context For Online Scheme --><!--
    <add name="OSDbContext" connectionString="metadata=res://*/Context.NAOS.csdl|res://*/Context.NAOS.ssdl|res://*/Context.NAOS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=52.183.165.194;initial catalog=NoidaMigration;user id=NoidaPms;password=Usear#321;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <add name="CustomerContext" connectionString="metadata=res://*/CustomerContext.NACPIS.csdl|res://*/CustomerContext.NACPIS.ssdl|res://*/CustomerContext.NACPIS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=52.183.165.194;initial catalog=NoidaDashboardProd;user id=NoidaPms;password=Usear#321;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PISSqlConnection" connectionString="Data Source=52.183.165.194;Initial Catalog=NoidaDashboardProd;uid=NoidaPms;password=Usear#321;" providerName="System.Data.SqlClient" />-->
  
   <add name="NoidaPMSEntities" connectionString="metadata=res://*/Context.NAPMS.csdl|res://*/Context.NAPMS.ssdl|res://*/Context.NAPMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=20.204.96.178;initial catalog=NoidaMigration;user id=NoidaPms;password=Usear#321;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PIMSSqlConnection" connectionString="data source=20.204.96.178;initial catalog=NoidaMigration;user id=NoidaPms;password=Usear#321;" providerName="System.Data.SqlClient" />
    <!--Context For NIC Service -->
    <add name="PIMSEntitiesContext" connectionString="metadata=res://*/Context.NAPIMS.csdl|res://*/Context.NAPIMS.ssdl|res://*/Context.NAPIMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=20.204.96.178;initial catalog=NoidaMigrationUAT;persist security info=True;user id=NoidaPms;password=Usear#321;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--Context For Online Scheme -->
    <add name="OSDbContext" connectionString="metadata=res://*/Context.NAOS.csdl|res://*/Context.NAOS.ssdl|res://*/Context.NAOS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=20.204.96.178;initial catalog=NoidaMigration;user id=NoidaPms;password=Usear#321;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <add name="CustomerContext" connectionString="metadata=res://*/CustomerContext.NACPIS.csdl|res://*/CustomerContext.NACPIS.ssdl|res://*/CustomerContext.NACPIS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=20.204.96.178;initial catalog=NoidaDashboardProd;user id=NoidaPms;password=Usear#321;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PISSqlConnection" connectionString="Data Source=20.204.96.178;Initial Catalog=NoidaDashboardProd;uid=NoidaPms;password=Usear#321;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000" />
      </webServices>
    </scripting>
  </system.web.extensions>

  <appSettings>
    <add key="SmtpGmailFromAddress" value="noidaonlinescheme@gmail.com" />
    <add key="SmtpGmailServerName" value="smtp.gmail.com" />
    <add key="SmtpGmailSSLPort" value="465" />
    <add key="SmtpGmailTLSPort" value="587" />
    <add key="SmtpGmailUserName" value="noidaonlinescheme@gmail.com" />
    <add key="SmtpGmailPassword" value="Noida@gmail" />
    <add key="InstitutionalScheme" value="164164" />
    <!--<add key="InstitutionalDepartmentId" value="1" />-->
    <!--<add key="SmtpFromAddress" value="supportnoida@noidaauthorityonline.com" />-->
    <add key="SmtpFromAddress" value="industry@noidaauthorityonline.com" />
    <add key="SmtpServerName" value="mail.noidaauthorityonline.com" />
    <add key="SmtpPort" value="26" />
    <!--<add key="SmtpUserName" value="supportnoida@noidaauthorityonline.com" />
    <add key="SmtpPassword" value="noida@#2020" />-->
    <add key="SmtpUserName" value="industry@noidaauthorityonline.com" />
    <add key="SmtpPassword" value="indusTRY#()1" />
    
    
    <add key="SMSApiUrl" value="https://api.mylogin.co.in/api/v2/SendSMS?" />
    <add key="SMSApiKey" value="xmo873KMUBrVMosrkx9hcfL5r5VyiERr0DXbKF94Z3Q=" />
    <add key="SMSClientId" value="aca44878-8958-4943-bf7f-da5d20cc748b" />
    <add key="SMSSenderId" value="NOAUTH" />
    <add key="SMSIsUnicode" value="false" />
    <add key="SMSIsFlash" value="false" />
    <add key="SMSFlashsms" value="0" />
    <add key="SMSRoute" value="22" />

    <add key="SMSsend" value="http://bulksms.mysmsmantra.com:8080/WebSMS/SMSAPI.jsp?username=" />
    <add key="SMSUsername" value="DHANANJAY2" />
    <add key="SMSPassword" value="73140474" />
    <add key="SMSSenderID" value="MOUTAL" />

    <add key="CHALLAN_API_TOKEN" value="https://bankapiuat.mynoida.in/token" />
    <add key="CHALLAN_API_CREATE" value="https://bankapiuat.mynoida.in/Api/Receipt/CreateChallan" />
    <add key="CHALLAN_API_USERNAME" value="Admin" />
    <add key="CHALLAN_API_PASSWORD" value="Admin" />
    <add key="CHALLAN_API_GRANT_TYPE" value="Admin" />
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="IsMiniProfilerEnabled" value="false" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="1150000" />
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="NA.PMS.Web" />
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
    <add key="MvcSiteMapProvider_AttributesToIgnore" value="visibility,id,preservedRouteParameters" />
    
    <add key="ManageUserRoles" value="4" />
    <add key="ManageAdminUsers" value="13" />
    <add key="UserManagementApplicationID" value="105" />
    <add key="UserManagementMenuId" value="1" />
    <add key="PasswordExpiryDate" value="90" />
    <add key="MaxLoginAttempt" value="5" />
    <add key="LoginOTP" value="123" />
    <!--<add key="OTP123USERS" value="SvamAdmin,skumar,LMSAdmin,PMSAdmin,PayrollAdmin,FMSAdmin" />-->
    <add key="OTP123USERS" value="SVAMADMIN,SKUMAR,LMSADMIN,PMSADMIN,PAYROLLADMIN,FMSADMIN" />
    
    <!--Register Customer-->
    <add key="FilePath" value="~/Documents/" />
    <add key="CitCon" value="Data source=52.172.156.142;initial catalog=NoidaPMS;user id=NoidaPms;password=Usear#321;" />
    <add key="DocumentFilesPath" value="http://localhost:53000/Documents/" />
    <add key="ApplicationExcelTemplate" value="~\Template\BulkApplicationFormat.xlsx" />
    
    <add key="HousingDepartmentId" value="5" />
    <add key="HousingRentSchemeId" value="173173" />
    <add key="HousingSchemeHeaderName" value="Housing Yojana code No - 2020-21 (H)(02)" />
    <add key="HousingTemplatePath" value="~\Areas\Online\Views\Housing\" />
    <add key="HousingSchemeFormTemplatePath" value="~\Areas\Online\Views\Housing\SchemeFormTemplate.cshtml" />


    <add key="InstitutionalDepartmentId" value="1" />
    <add key="InstitutionalOpenEndSchemeId" value="174174" />
    <add key="InstitutionalPlotSchemeId" value="174174" />
    <add key="InstitutionalSchemeHeaderName" value="Institutional/OES/2020-21(01)" />
    <add key="InstitutionalTemplatePath" value="~\Areas\Online\Views\Institutional\InstitutionalChallanTemplate.cshtml" />
    <add key="InstitutionalSchemeFormTemplatePath" value="~\Areas\Online\Views\Institutional\InstitutionalFormTemplate.cshtml" />

    <add key="IndustryDepartmentId" value="4" />
    <add key="IndustrialPlotSchemeId" value="165165" />
    <add key="IndustrialOpenEndSchemeId" value="175175" />
    <!--<add key="IndustrialOpenEndSchemeId" value="184184" />-->
    <add key="IndustrialTransportSchemeId" value="163163" />
    <add key="Industrial-IP-SchemeName" value="Industrial/IP/2020-21(01)" />
    <add key="Industrial-TN-SchemeName" value="Industrial/TN/2020-21(01)" />
    <add key="Industrial-OES-SchemeName" value="Industrial/OES/2020-21(01)" />
    <add key="IndustrialTemplatePath" value="~\Areas\Online\Views\Industry\" />
    <add key="IndustrialSchemeChallanTemplatePath" value="~\Areas\Online\Views\Industry\IndustrialSchemeChallanTemplate.cshtml" />
    <add key="IndustrialSchemeFormTemplatePath" value="~\Areas\Online\Views\Industry\IndustrialPlotFormTemplate.cshtml" />

    <add key="IndustrialSchemeId" value="165165" />
    <add key="IndustrialDocumentSchemeId" value="164164" />

    <add key="TemplatePath" value="~\Template\" />
    <add key="NICTemplatePath" value="~\Areas\NIC\Views\Template\" />
    
    <add key="DocsPath" value="D:\NoidaAuthorirty\ApiTemplate\" />
    <add key="UploadFilePath" value="~\UploadFiles\" />
    <add key="LocalUploadFilePath" value="D:/TFSProjects/NoidaAuthority/Source/NA.PMS/NA.PMS.Web/UploadFiles/" />
    <add key="UploadFileSitePath" value="http://localhost:9999/" />
    <add key="fileMeterSealingPath" value="fileMeterSealing" />
    <add key="fileRegistrationCertificatePath" value="fileRegistrationCertificate" />
    <add key="fileAffidavitPath" value="fileAffidavit" />
    <add key="fileNDCAccountPath" value="fileNDCAccount" />
    <add key="fileTransDeedPath" value="fileTransDeed" />
    <!--<add key="SiteRootPath" value="52.172.186.197/NoidaDocument" />-->
    <add key="SiteRootPath" value="doc.mynoida.in/NoidaDocument" />
    <add key="RootPath" value="ftp://52.172.186.197/NoidaDocument" />
    <!--<add key="FTPSiteRootPath" value="doc.mynoida.in/UploadDocuments" />-->
    <!--<add key="FTPRootPath" value="ftp://52.172.186.197/UploadDocuments" />-->
    <add key="CompleteDPath" value="ftp://52.172.186.197/UploadDocuments/" />
    <!--<add key="FTPPath" value="ftp://52.172.186.197/UploadDocuments/" />-->
    <add key="FTPPath_NM" value="ftp://52.172.186.197/UploadDocuments/NiveshMitraUpload/" />
    <add key="SiteRootPath_NM" value="doc.mynoida.in/UploadDocuments/NiveshMitraUpload/" />

    <add key="FTPSiteRootPath" value="doc.mynoida.in/UploadDocuments/Testing" />
    <add key="FTPRootPath" value="ftp://104.211.180.18/UploadDocuments/Testing" />
    <add key="FTPPath" value="ftp://104.211.180.18/UploadDocuments/Testing" />

    <add key="FTPUsername" value="Zadmin" />
    <add key="FTPPassword" value="P@$$w0rd@ftp%#" />
    <!--<add key="FTPPassword" value="P@ssw0rd@123!" />-->
    <!--<add key="FTPUsername" value="NoidaPMS" />-->
    <!--<add key="FTPPassword" value="password@321" />-->
    <add key="FTPUsernameSave" value="Zadmin" />
    <add key="FTPPasswordSave" value="R3dg@#e" />
    <add key="FTPPassword16" value="@Zure^*@1" />

    
    <add key="OnlineSchemeList" value="162162,164164,165165" />
    <add key="SchemeIdListForNiveshMitra" value="184184" />
    <add key="SchemeIdListForScrutiny" value="176176,184184,186186" />
   
    <add key="IPSchemeClosingDate" value="30/11/2018" />
    
    <add key="CurrentSchemeId" value="164164" />
    <add key="SchemeId" value="138138" />
    <add key="DepartmentId" value="4" />
    <add key="FTPPath" value="ftp://52.172.186.197/UploadDocuments/" />

    <add key="OpenScheme" value="138138" />
    <add key="TransportScheme" value="163163" />
    
    <add key="nictestpassalt" value="s5632bb8a5c915ba4b896325bc5baz9k"/>
    <!--<add key="ServicePassalt" value="fcf18dfd1405fbe78ff459e85e7b96" />-->
    <add key="ServicePassalt" value="s5632bb8a5c915ba4b896325bc5baz9k" />
    <add key="TokenId_Service" value="xbyhas348sf5d3snoidaf452" />

    <add key="NiveshMitraPortalTest" value="http://72.167.225.87/testing_nmswp/nmmasters/Entrepreneur_Bck_page.aspx" />
    <add key="NiveshMitraPortalProd" value="http://niveshmitra.up.nic.in/nmmasters/Entrepreneur_Bck_page.aspx" />
    <add key="SWPApiHttpBinding" value="upswp_niveshmitraservicesSoap_nic" />
    <add key="SWPTestApiHttpBinding" value="upswp_niveshmitraservicesSoap_test" />
    <add key="IsSWPTestApi" value="true" />
    
    
    <add key="ApplicationDetailsPath" value="~\UploadFiles" />
    <add key="Counter" value="147" />
    <!--Register Customer-->
    <add key="FilePath" value="~/Documents/" />
    <!--Live Param-->
    <!--<add key="MERCHANT_KEY" value="g8k52L"/>
    <add key="SALT" value="XkPW5WHP"/>-->
    
    <!-- test key-->
    <add key="MERCHANT_KEY" value="gtKFFx" />
    <add key="SALT" value="eCwWELxi" />

    <add key="PAYU_BASE_URL" value="https://test.payu.in" />

    <!--<add key="PAYU_BASE_URL" value="https://secure.payu.in"/>-->
    <add key="action" value="" />
    <add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10" />
    <add key="surl" value="http://localhost:53000/Property/Allotment/Return" />
    <add key="furl" value="http://localhost:53000/Property/Allotment/Return" />

    <!--<add key="PAYU_URL" value="https://secure.payu.in/_payment"/>-->
    <add key="PAYU_URL" value="https://test.payu.in/_payment" />
    <add key="SUCCESS_URL" value="http://localhost:53000/Online/Payment/OnlineReceipt" />
    <add key="FAILED_URL" value="http://localhost:53000/Online/Payment/OnlineReceipt" />

    <!--<add key="HDFC_URL" value="https://test.payu.in/_payment" />
    <add key="HDFC_MERCHANT_KEY" value="5MDwCo" />
    <add key="HDFC_SALT" value="ibPBQV4p" />
    <add key="HDFC_ACCOUNT_ID" value="25474" />-->

    <add key="HDFC_URL" value="https://test.payu.in/_payment" />
    <add key="HDFC_RETURN_URL" value="http://localhost:53000/Online/Payment/Receipt" />
    <add key="HDFC_RETURN_OS_URL" value="http://localhost:53000/Online/SchemePayment/Receipt" />
    <add key="HDFC_MERCHANT_KEY" value="7rnFly" />
    <add key="HDFC_SALT" value="pjVQAWpA" />
    <add key="HDFC_ACCOUNT_ID" value="25474" />

    <!-- HDFC LIVE CREDENTIAL-->
    <!--<add key="HDFC_MERCHANT_NAME" value="NOIDA PIMS ONLINE FEES" />
    <add key="HDFC_URL" value="https://secure.payu.in/_payment" />
    <add key="HDFC_RETURN_URL" value="http://pims.mynoida.in/Online/Payment/Receipt" />
    <add key="HDFC_MERCHANT_KEY" value="xB5roX" />
    <add key="HDFC_SALT" value="QBqA6Yia" />
    <add key="HDFC_TID" value="76026661" />
    <add key="HDFC_SETUP_TYPE" value="HOSTED" />
    <add key="HDFC_REGISTERED_DOMAIN" value="http://www.pims.mynoida.in " />-->

    <add key="HDFC_CONSOLE_URL" value="https://www.payubiz.in/hdfc" />
    <add key="HDFC_CONSOLE_USERNAME" value="Super" />
    <add key="HDFC_CONSOLE_KEY" value="xB5roX" />
    <add key="HDFC_CONSOLE_PASSWORD" value="HDFCbank@2" />
    <add key="HDFC_CONSOLE_ME_CODE" value="IQ4777" />
    <add key="HDFC_CONSOLE_MCC" value="9399" />
    <add key="HDFC_CONSOLE_MCC_DESCRIPTION" value="GOVERNMENT SERVICES" />

    <!--Bank Of Baroda Credential-->
    <add key="BOB_RESOURCE_PATH" value="C:\BankOfBaroda" />
    <add key="BOB_RETURN_URL" value="http://localhost:53000/Online/Payment/Receipt" />
    <!--FOR LIVE CREDENTIAL-->
    <!--<add key="BOB_ALIAS_NAME" value="NOIDAAUTHORITY" />-->
    <add key="BOB_ALIAS_NAME" value="IPGTEST" />
    <add key="BOB_STORE_CODE" value="200000000000668" />
    <!--Log file for payment in Bank Of Baroda-->
    <add key="ikvm:my.log" value="C:/Log/" />

    <add key="CHLN_PAYMENT_URL" value="http://localhost:53000/Online/Payment/Index" />

<!--Change KEshav for Common Application-->
    <!--<add key="LMSurl" value="http://52.172.156.142:55834/" />-->

    <!--local-->
    <add key="LMSurl" value="http://localhost:54089/" />
    <!--local-->
    <add key="PMSurl" value="http://52.172.156.142:4040/" />
    <add key="FMSurl" value="http://52.172.156.142:55834/" />

    <!--Change KEshav for Common Application-->
  </appSettings>
  <log4net>
    <!--
  This stores information in the mylogfile.txt file.  It only captures log events
  that contain the key word test or error.
  -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\NA_PMS_" />
      <datePattern value="yyyy-MM-dd'.log'" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="1" />
      <maximumFileSize value="3MB" />
      <staticLogFileName value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d =&gt; %-5p %c.%M():%L - %m%n" />
      </layout>
    </appender>
    <root>
      <!-- Options are "ALL", "DEBUG", "INFO", "WARN", "ERROR", "FATAL" and "OFF". -->
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  
  <system.web>
    <sessionState mode="InProc" timeout="45" />
    <membership defaultProvider="PMSMembershipProvider">
      <providers>
        <clear />
        <add name="PMSMembershipProvider" type="NA.PMS.Web.Controllers.Common.PMSMembershipProvider" siteMapFile="~/Mvc.Sitemap" connectionStringName="NoidaPMSEntities" enablePasswordReset="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <authentication mode="Forms">
      <forms name="NAPMS.AUTH" loginUrl="~/Account/Login" protection="All" timeout="45" path="/" requireSSL="false" slidingExpiration="true" />
    </authentication>
    <trace enabled="false" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" maxRequestLength="1048576" />
    <!--<customErrors mode="Off">
    </customErrors>-->
    <!--
    <customErrors mode="On" defaultRedirect="~/Account/GeneralError">
      <error redirect="~/Account/GeneralError" statusCode="404" />
    </customErrors>-->
    <trust level="Full" />
    <pages>
      <namespaces>
        <add namespace="MvcSiteMapProvider.Web.Html" />
        <add namespace="MvcSiteMapProvider.Web.Html.Models" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="FormsAuthentication" />
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" />
      <!--<remove name="FormsAuthenticationModule" />-->
      <remove name="WebDAVModule" />
      <!-- disable authorization section -->
      <remove name="UrlAuthorization" />
      <!-- disable unused authentication schemes -->
      <remove name="WindowsAuthentication" />
      <remove name="PassportAuthentication" />
      <remove name="Profile" />
      <!-- We don't provide any WCF service -->
      <remove name="ServiceModel" />
      <!-- Remove modules not used by ASP.NET MVC + jQuery -->
      <remove name="ScriptModule-4.0" />
      <remove name="FileAuthorization" />
      <remove name="WebDAV" />
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <!-- disable unused authentication schemes -->
      <remove name="WindowsAuthentication" />
      <remove name="PassportAuthentication" />
      <!-- We don't provide any WCF service -->
      <remove name="ServiceModel" />
      <!-- disable ACL file and directory check -->
      <remove name="FileAuthorization" />
      <remove name="WebDAV" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="MiniProfiler" path="mini-profiler-resources/*" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode" />
      <!-- Required by Microsoft ReportViewer control -->
      <remove name="ReportViewerWebControlHandler" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <!--<add name="X-Frame-Options" value="SAMEORIGIN" />-->
        <add name="X-UA-Compatible" value="IE=edge" />
        <remove name="X-Powered-By"></remove>
        <remove name="X-Frame-Options"></remove>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <!--Cache static content for 24 hours-->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>

  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp from="cspl7970@gmail.com">
        <network host="smtp.gmail.com" enableSsl="true" port="587" userName="cspl7970@gmail.com" password="2013#cspl" defaultCredentials="false"></network>
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="upswp_niveshmitraservicesSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="upswp_niveshmitraservicesSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://niveshmitra.up.nic.in/upswp_niveshmitraservices.asmx" binding="basicHttpBinding" bindingConfiguration="upswp_niveshmitraservicesSoap" contract="SingleWindowServiceReferenceNIC.upswp_niveshmitraservicesSoap" name="upswp_niveshmitraservicesSoap" />
      <endpoint address="http://niveshmitra.up.nic.in/upswp_niveshmitraservices.asmx" binding="customBinding" bindingConfiguration="upswp_niveshmitraservicesSoap12" contract="SingleWindowServiceReferenceNIC.upswp_niveshmitraservicesSoap" name="upswp_niveshmitraservicesSoap12" />
      
      <endpoint address="http://niveshmitra.up.nic.in/upswp_niveshmitraservices.asmx" binding="basicHttpBinding" bindingConfiguration="upswp_niveshmitraservicesSoap" contract="NiveshMitraApiServices.upswp_niveshmitraservicesSoap" name="upswp_niveshmitraservicesSoap_nic" />
      <endpoint address="http://niveshmitra.up.nic.in/upswp_niveshmitraservices.asmx" binding="customBinding" bindingConfiguration="upswp_niveshmitraservicesSoap12" contract="NiveshMitraApiServices.upswp_niveshmitraservicesSoap" name="upswp_niveshmitraservicesSoap12_nic" />

      <!--<endpoint address="http://72.167.225.87/Testing_NMSWP/upswp_niveshmitraservices.asmx" binding="basicHttpBinding" bindingConfiguration="upswp_niveshmitraservicesSoap" contract="SingleWindowServiceReferenceNIC.upswp_niveshmitraservicesSoap" name="upswp_niveshmitraservicesSoap" />
      <endpoint address="http://72.167.225.87/Testing_NMSWP/upswp_niveshmitraservices.asmx" binding="customBinding" bindingConfiguration="upswp_niveshmitraservicesSoap12" contract="SingleWindowServiceReferenceNIC.upswp_niveshmitraservicesSoap" name="upswp_niveshmitraservicesSoap12" />

      <endpoint address="http://72.167.225.87/Testing_NMSWP/upswp_niveshmitraservices.asmx" binding="basicHttpBinding" bindingConfiguration="upswp_niveshmitraservicesSoap" contract="NiveshMitraApiServices.upswp_niveshmitraservicesSoap" name="upswp_niveshmitraservicesSoap_nic" />
      <endpoint address="http://72.167.225.87/Testing_NMSWP/upswp_niveshmitraservices.asmx" binding="customBinding" bindingConfiguration="upswp_niveshmitraservicesSoap12" contract="NiveshMitraApiServices.upswp_niveshmitraservicesSoap" name="upswp_niveshmitraservicesSoap12_nic" />-->

      <endpoint address="http://72.167.225.87/Testing_NMSWP/upswp_niveshmitraservices.asmx" binding="basicHttpBinding" bindingConfiguration="upswp_niveshmitraservicesSoap" contract="NiveshMitraApiTestService.upswp_niveshmitraservicesSoap" name="upswp_niveshmitraservicesSoap_test" />
      <endpoint address="http://72.167.225.87/Testing_NMSWP/upswp_niveshmitraservices.asmx" binding="customBinding" bindingConfiguration="upswp_niveshmitraservicesSoap12" contract="NiveshMitraApiTestService.upswp_niveshmitraservicesSoap" name="upswp_niveshmitraservicesSoap12_test" />

      <!--<endpoint address="http://164.100.180.20/testingniveshmitra/upswp_niveshmitraservices.asmx" binding="basicHttpBinding" bindingConfiguration="upswp_niveshmitraservicesSoap" contract="SingleWindowServiceReferenceNIC.upswp_niveshmitraservicesSoap" name="upswp_niveshmitraservicesSoap" />
      <endpoint address="http://164.100.180.20/testingniveshmitra/upswp_niveshmitraservices.asmx" binding="customBinding" bindingConfiguration="upswp_niveshmitraservicesSoap12" contract="SingleWindowServiceReferenceNIC.upswp_niveshmitraservicesSoap" name="upswp_niveshmitraservicesSoap12" />

      <endpoint address="http://164.100.180.20/testingniveshmitra/upswp_niveshmitraservices.asmx" binding="basicHttpBinding" bindingConfiguration="upswp_niveshmitraservicesSoap" contract="NiveshMitraApiServices.upswp_niveshmitraservicesSoap" name="upswp_niveshmitraservicesSoap_nic" />
      <endpoint address="http://164.100.180.20/testingniveshmitra/upswp_niveshmitraservices.asmx" binding="customBinding" bindingConfiguration="upswp_niveshmitraservicesSoap12" contract="NiveshMitraApiServices.upswp_niveshmitraservicesSoap" name="upswp_niveshmitraservicesSoap12_nic" />-->
    
  </client>
  </system.serviceModel>
</configuration>