USE [NoidaMigrationUat]
GO
/****** Object:  StoredProcedure [CitizenServices].[usp_GetServiceMortgage]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--select * from Customer_ServiceRequest where ServiceId=11 order by 1 desc

--Drop procedure [CitizenServices].[sp_GetServiceRequestDetails]

--exec [CitizenServices].[CitizenServices].[usp_GetServiceTransfer]  1284
CREATE PROCEDURE [CitizenServices].[usp_GetServiceMortgage] 
(@ServiceReqid int)
AS
BEGIN
---common var----
declare @RequestNumber varchar(100)
declare @Rid varchar(20)
declare @servicename varchar(100)
declare @servicestatus varchar(200)
declare @description varchar(200)
Declare @ServiceId int
Declare @DeptId int
declare @row varchar(max)
declare @row1 varchar(max)

--Mortgage var--
declare @bankname varchar(100)
declare @branch varchar(100)
declare @mortgagetype varchar(30)
declare @previousloannoc char(10)
declare @sanctAmount varchar(20)

SELECT @ServiceId=ServiceId,@DeptId=DepartmentId FROM Customer_ServiceRequest WHERE id=@ServiceReqid



If (@ServiceId=4)
BEGIN

set @row='<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Request Number</label></div>
	      <div class="col-md-3"><label class="nw-lbl-rht">@@requestNumber</label></div>
		  <div class="col-md-3"><label class="nw-lbl-lft"> Registration No</label></div>
		  <div class="col-md-3"><label class="nw-lbl-rht">@@Rid</label></div>
		  </div>
		<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft"> Service Name</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@serviceName</label></div>
		<div class="col-md-3"><label class="nw-lbl-lft">Service Status</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@servicestatus</label></div>
		</div>
		<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Description</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@Description</label></div>
		<div class="col-md-3"><label class="nw-lbl-lft">Bank Name</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@Bank</label></div>
		</div>
		<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Branch Name</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@Branch</label></div>
		<div class="col-md-3"><label class="nw-lbl-lft">Mortgage Type</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@MortgageType</label></div>		
		</div>
		<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Previous Loan NOC</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@LoanNoc</label></div>
		<div class="col-md-3"><label class="nw-lbl-lft">Sanctioned Amount</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@Amount</label></div>
		</div>'


SELECT
 @RequestNumber=c.id,
 @Rid=c.Registration_No,
 @servicename=s.ServiceName, --as 'ServiceName',
 @servicestatus=sm.Status,-- as 'Status',
 @description=c.Description, --as 'Description',
 --CASE c.PaymentStatus WHEN 1 THEN 'Paid' ELSE 'Due' END, --as 'PaymentStatus',
 @bankname=m.BankName, --as 'BankName',
 @branch=m.BranchAddress, --as 'BranchAddress',
 @mortgagetype=CASE m.MortgageType WHEN 1 THEN 'Colleteral' ELSE 'Normal' END, --as 'MortgageType',
 @previousloannoc=CASE m.PreviousLoanNoc WHEN 1 THEN 'Yes' ELSE 'No' END, --as 'PreviousLoanNoc',
 @sanctAmount=m.SanctionedAmount-- as 'SanctionedAmount'
 FROM Customer_ServiceRequest c JOIN CitizenServices.OnlineMortgageDetails m ON (c.id=m.RequestNo)
 JOIN CitizenService_Master s
 on (c.ServiceId=s.service_id and c.DepartmentId=s.Deptt_Id) JOIN statusMaster sm
 on (c.Request_Status=sm.Id)
 WHERE c.Id=@ServiceReqid

 set @row1 = @row
select @row1= REPLACE(@row1,'@@requestNumber',@RequestNumber)
select @row1= REPLACE(@row1,'@@Rid',@Rid)
select @row1= REPLACE(@row1,'@@servicestatus',@servicestatus)
select @row1= REPLACE(@row1,'@@serviceName',@servicename)
select @row1= REPLACE(@row1,'@@Description',@description)
select @row1= REPLACE(@row1,'@@Bank',isnull(@bankname,''))
select @row1= REPLACE(@row1,'@@Branch',isnull(@branch,''))
select @row1= REPLACE(@row1,'@@MortgageType',isnull(@mortgagetype,''))
select @row1= REPLACE(@row1,'@@LoanNoc',isnull(@previousloannoc,''))
select @row1= REPLACE(@row1,'@@Amount',isnull(@sanctAmount,''))

SELECT @row1 as ReportDetails,'' as Other
END
END


GO
