USE [NoidaMigrationUat]
GO
/****** Object:  Table [CitizenServices].[OnlineRentPermissionDetails]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CitizenServices].[OnlineRentPermissionDetails](
	[RentingSid] [int] IDENTITY(1,1) NOT NULL,
	[RequestNo] [int] NULL,
	[Rid] [int] NULL,
	[Permission] [bit] NULL,
	[TenantName] [varchar](60) NULL,
	[TenantProject] [varchar](100) NULL,
	[RentDurationYears] [int] NULL,
	[RentingCharge] [decimal](12, 2) NULL,
	[RentingDate] [datetime] NULL,
	[Amount] [decimal](12, 2) NULL,
	[StatusId] [int] NULL,
	[Approver] [int] NULL,
	[ApproveDate] [datetime] NULL,
	[Comment] [varchar](500) NULL,
	[CommentDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[Modifiedby] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[RentingEndDate] [datetime] NULL,
	[RComment] [varchar](500) NULL,
	[RCommentDate] [datetime] NULL,
 CONSTRAINT [PK_OlRentPermissionDetails] PRIMARY KEY CLUSTERED 
(
	[RentingSid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [CitizenServices].[OnlineRentPermissionDetails]  WITH CHECK ADD  CONSTRAINT [FK_Ol_StatusMaster_RentPermissionDetails_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[StatusMaster] ([Id])
GO
ALTER TABLE [CitizenServices].[OnlineRentPermissionDetails] CHECK CONSTRAINT [FK_Ol_StatusMaster_RentPermissionDetails_StatusId]
GO
ALTER TABLE [CitizenServices].[OnlineRentPermissionDetails]  WITH CHECK ADD  CONSTRAINT [Fk_ServiceRentPermission] FOREIGN KEY([RequestNo])
REFERENCES [dbo].[Customer_ServiceRequest] ([Id])
GO
ALTER TABLE [CitizenServices].[OnlineRentPermissionDetails] CHECK CONSTRAINT [Fk_ServiceRentPermission]
GO
