USE [NoidaMigrationUat]
GO
/****** Object:  StoredProcedure [CitizenServices].[usp_GetServiceRequestDetails]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--select * from Customer_ServiceRequest where ServiceId=11 order by 1 desc

--Drop procedure [CitizenServices].[sp_GetServiceRequestDetails]

--exec [CitizenServices].[usp_GetServiceRequestDetails]  1284
CREATE PROCEDURE [CitizenServices].[usp_GetServiceRequestDetails] 
(@ServiceReqid int)
AS
BEGIN
Declare @ServiceId int

SELECT @ServiceId=ServiceId FROM Customer_ServiceRequest WHERE id=@ServiceReqid

If (@ServiceId=4)
BEGIN
exec [CitizenServices].[usp_GetServiceMortgage]  @ServiceReqid
END

ELSE IF(@ServiceId=1)
begin
  exec [CitizenServices].[usp_GetServiceTransfer]  @ServiceReqid
end

ELSE IF(@ServiceId=9)
begin
  exec [CitizenServices].[usp_GetServiceMutation]  @ServiceReqid
end

ELSE IF (@ServiceId=6  or @ServiceId=10)
BEGIN
EXEC [CitizenServices].[usp_GetServiceExtensionFunction] @ServiceReqid
END


ELSE IF (@ServiceId=2)
BEGIN
exec [CitizenServices].[usp_GetServiceRent]   @ServiceReqid
END

ELSE IF (@ServiceId=8)
BEGIN
exec [CitizenServices].[usp_GetServiceGPA]   @ServiceReqid
END

ELSE IF (@ServiceId=3)
BEGIN
--EXEC [CitizenServices].[usp_GetServiceCIC] @ServiceReqid
SELECT '' as ReportDetails,'' as Other
END

ELSE IF (@ServiceId=7)
BEGIN
SELECT '' as ReportDetails,'' as Other
END

ELSE IF (@ServiceId=5)
BEGIN
SELECT '' as ReportDetails,'' as Other
END
END

--exec [CitizenServices].[usp_GetServiceRequestDetails] 2101
exec [CitizenServices].[usp_GetServiceTransfer] 2101
GO
