USE [NoidaMigrationUat]
GO
/****** Object:  StoredProcedure [CitizenServices].[usp_GetServiceGPA]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--select * from Customer_ServiceRequest where ServiceId=11 order by 1 desc

--Drop procedure [CitizenServices].[sp_GetServiceRequestDetails]

--exec [CitizenServices].[CitizenServices].[usp_GetServiceTransfer]  1284
CREATE PROCEDURE [CitizenServices].[usp_GetServiceGPA] 
(@ServiceReqid int)
AS
BEGIN
---common var----
declare @RequestNumber varchar(100)
declare @Rid varchar(20)
declare @servicename varchar(100)
declare @servicestatus varchar(200)
declare @description varchar(200)
Declare @ServiceId int
Declare @DeptId int
declare @row varchar(max)
declare @row1 varchar(max)

--GPA var--


declare @GpaCondn int
declare @GpaHolder varchar(100)
declare  @GpaHolderAddress varchar(200)
declare @ApplicationDate varchar(30)
declare @EffectedFrom varchar(30)
declare  @EffectedTo varchar(30)
declare @relation varchar(30)
declare @GPARegistered varchar(30)
declare @RegistrationNo varchar(30)

SELECT @ServiceId=ServiceId,@DeptId=DepartmentId FROM Customer_ServiceRequest WHERE id=@ServiceReqid

SELECT @GpaCondn=Registered fROM OnlineGPA WHERE RequestNo=@ServiceReqid
SET @row='<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Request Number</label></div>
	      <div class="col-md-3"><label class="nw-lbl-rht">@@requestNumber</label></div>
		  <div class="col-md-3"><label class="nw-lbl-lft"> Registration No</label></div>
		  <div class="col-md-3"><label class="nw-lbl-rht">@@Rid</label></div>
		  </div>
		<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Service Name</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@serviceName</label></div>
		<div class="col-md-3"><label class="nw-lbl-lft">Service Status</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@servicestatus</label></div>
		</div>
		<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Description</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@Description</label></div>
		<div class="col-md-3"><label class="nw-lbl-lft">GPA Holder Name</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@GpaHolder</label></div>
		</div>
		<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">GPA Holder Address</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@GPAAddress</label></div>
		<div class="col-md-3"><label class="nw-lbl-lft">Relation</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@Relation</label></div>
		</div>
		<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Application Date</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@Appdate</label></div>
		<div class="col-md-3"><label class="nw-lbl-lft">Effected From</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@efffrom</label></div>
		</div>
		<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Effected To</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@Effto</label></div>
		<div class="col-md-3"><label class="nw-lbl-lft">GPA Registered</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@GpaReg</label></div>
		</div>'


if(@GpaCondn=1)
set @row=@row+'<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Registration No</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@Regno</label></div>
		</div>
		'
SELECT
 @RequestNumber=c.id,
 @Rid=c.Registration_No,
 @servicename=s.ServiceName, --as 'ServiceName',
 @servicestatus=sm.Status,-- as 'Status',
 @description=c.Description,
 @GpaHolder=m.GPA_Holder_Name,
 @GpaHolderAddress=m.GPA_Holder_Address,
 @ApplicationDate=CAST(m.Application_Date as varchar(30)),
 @EffectedFrom=CAST(m.Effcetd_From as varchar(30)),
 @EffectedTo=CAST(m.Effected_To as varchar(30)),
 @relation=m.Relation,
 @GPARegistered=CASE m.Registered WHEN 1 THEN 'Yes' ELSE 'NO' END,
 @RegistrationNo=m.Registration_No
 FROM Customer_ServiceRequest c JOIN [CitizenServices].[OnlineGPA] m ON (c.id=m.RequestNo)
 JOIN CitizenService_Master s
 on (c.ServiceId=s.service_id and c.DepartmentId=s.Deptt_Id) JOIN statusMaster sm
 on (c.Request_Status=sm.Id)
 WHERE c.Id=@ServiceReqid

 set @row1 = @row
select @row1= REPLACE(@row1,'@@requestNumber',@RequestNumber)
select @row1= REPLACE(@row1,'@@Rid',@Rid)
select @row1= REPLACE(@row1,'@@servicestatus',@servicestatus)
select @row1= REPLACE(@row1,'@@serviceName',@servicename)
select @row1= REPLACE(@row1,'@@Description',@description)
select @row1= REPLACE(@row1,'@@GpaHolder',isnull(@GpaHolder,''))
select @row1= REPLACE(@row1,'@@GPAAddress',isnull(@GpaHolderAddress,''))
select @row1= REPLACE(@row1,'@@Relation',isnull(@relation,''))
select @row1= REPLACE(@row1,'@@Appdate',isnull(@ApplicationDate,''))
select @row1= REPLACE(@row1,'@@efffrom',isnull(@EffectedFrom,''))
select @row1= REPLACE(@row1,'@@Effto',isnull(@EffectedTo,''))
select @row1= REPLACE(@row1,'@@GpaReg',isnull(@GPARegistered,''))
select @row1= REPLACE(@row1,'@@Regno',isnull(@RegistrationNo,''))

SELECT @row1 as ReportDetails,'' as Other

END


GO
