USE [NoidaMigrationUat]
GO
/****** Object:  StoredProcedure [CitizenServices].[usp_GetServiceRent]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--select * from Customer_ServiceRequest where ServiceId=11 order by 1 desc

--Drop procedure [CitizenServices].[sp_GetServiceRequestDetails]

--exec [CitizenServices].[CitizenServices].[usp_GetServiceTransfer]  1284
CREATE PROCEDURE [CitizenServices].[usp_GetServiceRent] 
(@ServiceReqid int)
AS
BEGIN
---common var----
declare @RequestNumber varchar(100)
declare @Rid varchar(20)
declare @servicename varchar(100)
declare @servicestatus varchar(200)
declare @description varchar(200)
Declare @ServiceId int
Declare @DeptId int
declare @row varchar(max)
declare @row1 varchar(max)

--Rent var--

declare @TenantName varchar(100)
declare  @TenantProject varchar(100)
declare @Duration varchar(100)



SELECT @ServiceId=ServiceId,@DeptId=DepartmentId FROM Customer_ServiceRequest WHERE id=@ServiceReqid



set @row='<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Request Number</label></div>
	      <div class="col-md-3"><label class="nw-lbl-rht">@@requestNumber</label></div>
		  <div class="col-md-3"><label class="nw-lbl-lft"> Registration No</label></div>
		  <div class="col-md-3"><label class="nw-lbl-rht">@@Rid</label></div>
		  </div>
		<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Service Name</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@serviceName</label></div>
		<div class="col-md-3"><label class="nw-lbl-lft">Service Status</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@servicestatus</label></div>
		</div>
		<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Description</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@Description</label></div>
		<div class="col-md-3"><label class="nw-lbl-lft">Tenant Name</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@TenantName</label></div>
		</div>
		<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Tenant Project</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@TenantProject</label></div>
		<div class="col-md-3"><label class="nw-lbl-lft">Rent Duration</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@Duration</label></div>		
		</div>
		'
SELECT
 @RequestNumber=c.id,
 @Rid=c.Registration_No,
 @servicename=s.ServiceName, --as 'ServiceName',
 @servicestatus=sm.Status,-- as 'Status',
 @description=c.Description, --as 'Description'
 @TenantName=m.TenantName,
 @TenantProject=m.TenantProject,
 @Duration=m.RentDurationYears
 FROM Customer_ServiceRequest c JOIN [CitizenServices].[OnlineRentPermissionDetails] m ON (c.id=m.RequestNo)
 JOIN CitizenService_Master s
 on (c.ServiceId=s.service_id and c.DepartmentId=s.Deptt_Id) JOIN statusMaster sm
 on (c.Request_Status=sm.Id)
 WHERE c.Id=@ServiceReqid

 set @row1 = @row
select @row1= REPLACE(@row1,'@@requestNumber',@RequestNumber)
select @row1= REPLACE(@row1,'@@Rid',@Rid)
select @row1= REPLACE(@row1,'@@servicestatus',@servicestatus)
select @row1= REPLACE(@row1,'@@serviceName',@servicename)
select @row1= REPLACE(@row1,'@@Description',@description)
select @row1= REPLACE(@row1,'@@TenantName',isnull(@TenantName,''))
select @row1= REPLACE(@row1,'@@TenantProject',isnull(@TenantProject,''))
select @row1= REPLACE(@row1,'@@Duration',isnull(@Duration,''))

SELECT @row1 as ReportDetails,'' as Other

END


GO
