USE [NoidaMigrationUat]
GO
/****** Object:  Table [CitizenServices].[OnlineFirmDirectorMaster]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CitizenServices].[OnlineFirmDirectorMaster](
	[CidSid] [int] IDENTITY(1,1) NOT NULL,
	[RequestNo] [int] NOT NULL,
	[Rid] [int] NULL,
	[DirectorName] [varchar](100) NULL,
	[Type] [int] NULL,
	[DirectorShare] [decimal](5, 2) NULL,
	[RequestDate] [date] NULL,
	[ApprovedDate] [date] NULL,
	[IsActive] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [date] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [date] NULL,
	[ApplicationId] [int] NULL,
 CONSTRAINT [PK_Ol_Firm_Director_Id] PRIMARY KEY CLUSTERED 
(
	[CidSid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [CitizenServices].[OnlineFirmDirectorMaster]  WITH CHECK ADD  CONSTRAINT [Fk_ServiceCID] FOREIGN KEY([RequestNo])
REFERENCES [dbo].[Customer_ServiceRequest] ([Id])
GO
ALTER TABLE [CitizenServices].[OnlineFirmDirectorMaster] CHECK CONSTRAINT [Fk_ServiceCID]
GO
