USE [NoidaMigrationUat]
GO
/****** Object:  StoredProcedure [CitizenServices].[usp_GetServiceMutation]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--select * from Customer_ServiceRequest where ServiceId=11 order by 1 desc

--Drop procedure [CitizenServices].[sp_GetServiceRequestDetails]

--exec [CitizenServices].[CitizenServices].[usp_GetServiceTransfer]  1284
CREATE PROCEDURE [CitizenServices].[usp_GetServiceMutation] 
(@ServiceReqid int)
AS
BEGIN

Declare @TransferRequest nvarchar(max)
Declare @ServiceId int
Declare @DeptId int
declare @row1 varchar(max)
declare @row varchar(max)

SELECT @ServiceId=ServiceId,@DeptId=DepartmentId FROM Customer_ServiceRequest WHERE id=@ServiceReqid



---common var----
declare @RequestNumber varchar(100)
declare @servicename varchar(100)
declare @servicestatus varchar(200)
declare @description varchar(200)
declare @Rid int
--Mutation var--

Declare @TransferDeedDate        varchar(100)
Declare @BahiNo                  varchar(100)
Declare @BahiZildNo              varchar(100)
Declare @BahiPageNo              varchar(100)
Declare @BahiSeriesNo            varchar(100)
Declare @MutationDate            varchar(100)




If ( @ServiceId=9)
BEGIN

set @row=' <div class="row">
        <div class="col-md-3"><label class="nw-lbl-lft"> TransferDeedDate</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@TransferDeedDate</label></div>
		   <div class="col-md-3"><label class="nw-lbl-lft"> BahiNo</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@BahiNo</label></div>
    </div>
    <div class="row">
      
        <div class="col-md-3"><label class="nw-lbl-lft"> BahiZildNo</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@BahiZildNo</label></div>
		 <div class="col-md-3"><label class="nw-lbl-lft"> BahiPageNo</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@BahiPageNo</label></div>

    </div>
    <div class="row">
        
        <div class="col-md-3"><label class="nw-lbl-lft"> BahiSeriesNo</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@BahiSeriesNo</label></div>
		 <div class="col-md-3"><label class="nw-lbl-lft"> MutationDate</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@MutationDate</label></div>
		
    </div>'
   
   
   
   
   

SELECT
 @RequestNumber				   =   c.id,
 @Rid							= c.Registration_No,
 @servicename                  =   s.ServiceName, 
 @servicestatus                =   sm.Status,
 @description                  =   c.Description, 
 @MutationDate     			   =   m.Mutation_Date,
 @TransferDeedDate 			   =   m.TransferDeed_Date,
 @BahiNo           			   =   m.Bahi_No,
 @BahiZildNo       			   =   m.Bahi_Zild_No,
 @BahiPageNo       			   =   m.Bahi_Page_No,
 @BahiSeriesNo     			   =   m.Bahi_Series_No
 FROM Customer_ServiceRequest c JOIN CitizenServices.OnlineTransferMutation m ON (c.id=m.RequestNo)
 JOIN CitizenService_Master s
 on (c.ServiceId=s.service_id and c.DepartmentId=s.Deptt_Id) JOIN statusMaster sm
 on (c.Request_Status=sm.Id)
 WHERE c.Id=@ServiceReqid
 AND m.Type='M'

 
 set @row1 = @row
select @row1= REPLACE(@row1,'@@requestNumber',@RequestNumber)
select @row1= REPLACE(@row1,'@@Rid',isnull(@Rid,''))
select @row1= REPLACE(@row1,'@@servicestatus',@servicestatus)
select @row1= REPLACE(@row1,'@@serviceName',@servicename)
select @row1= REPLACE(@row1,'@@Description',@description)
select @row1= REPLACE(@row1,'@@BahiNo',isnull(@BahiNo,''))
select @row1= REPLACE(@row1,'@@BahiZildNo',isnull(@BahiZildNo,''))
select @row1= REPLACE(@row1,'@@BahiPageNo',isnull(@BahiPageNo,''))
select @row1= REPLACE(@row1,'@@BahiSeriesNo',isnull(@BahiSeriesNo,''))
select @row1= REPLACE(@row1,'@@MutationDate',isnull(@MutationDate,''))
select @row1= REPLACE(@row1,'@@TransferDeedDate',isnull(@TransferDeedDate,''))

SELECT @row1 as ReportDetails,'' as Other
END
END


GO
