USE [NoidaMigrationUat]
GO
/****** Object:  StoredProcedure [CitizenServices].[usp_getCitizenGraph]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [CitizenServices].[usp_getCitizenGraph]-- 1,1
@reqType int=null,--
@userdep int=null --select * from [View_Service_report]
as begin
declare @date date
declare @day int
select @day= DATEPART(DW, GETDATE())
if(@day=1) set @date =DATEADD(DAY,-3,getdate())
if(@day=7) set @date =DATEADD(DAY,-2,getdate())
--print @day
--print cast(@date as date)
---------Graph sublets-------------
declare @graphheader varchar(500)
set @graphheader='<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script><script type="text/javascript">google.charts.load("current", {packages:[''corechart'']});'
declare @graphfooter varchar(20)
set @graphfooter='</script>'
---1. Pie--Statuswise
declare @starttagofPiechart varchar(500)
set @starttagofPiechart=' google.charts.setOnLoadCallback(drawPieChart);function drawPieChart() {var data = google.visualization.arrayToDataTable([[''Status'', ''No. of Request''],'
declare @endtagofPiechart varchar(500)
set @endtagofPieChart = ']); var options = {title: ''Status of Service Requests'',width: 280, height: 280,tooltip:{isHtml:true},legend: { position: ''bottom'' }};var chart = new google.visualization.PieChart(document.getElementById(''piechart''));chart.draw(data, options);}'
--declare @repeattagofPiechart varchar(500)
declare @finaltagforPiechart varchar(Max)
-----------Build data for Status--- 
declare @pieConcateRes nvarchar(max)
SELECT @pieConcateRes = COALESCE(@pieConcateRes,'') + CONVERT(VARCHAR, '['''+PC.Name+'''') + ', ' + cast(PC.Num as char(5))+']' + ', ' from
(
select D.Status as Name ,count(*) as Num from [dbo].[View_Service_report] A inner join DepartmentMst B on A.Departmentid=B.departmentid
inner join [dbo].[CitizenService_Master] C on A.Serviceid=C.ID inner join [dbo].[StatusMaster] D on A.Request_Status = D.Id
where  D.IsActive=1 group by D.Status
)PC
select @pieConcateRes = substring(@pieConcateRes,1,len(@pieConcateRes)-1)
set @finaltagforPiechart = @starttagofPiechart+@pieConcateRes+@endtagofPiechart
--select @finaltagforPiechart
---2. Stack column--Servicewise
declare @starttegofStackchart varchar(500)
set @starttegofStackchart=' google.charts.setOnLoadCallback(drawStackChart);  function drawStackChart() { var datastack = google.visualization.arrayToDataTable([["Services", "Institutional","Commercial","Residential","Industrial","Housing","Group Housing" ],'
declare @endtagofStackchart varchar(500)
set @endtagofStackchart = '  ]); var optionstack = {height: 500, legend: { position: ''none'', maxLines: 20 },tooltip:{isHtml:true}, bar: { groupWidth: ''75%'' }, isStacked: true, }; var chartstack = new google.visualization.ColumnChart(document.getElementById("columnchart_values")); chartstack.draw(datastack, optionstack);}'
--declare @repeattagofStackchart varchar(500)
declare @finaltagforStackchart varchar(Max)
---------Build Data for Services----------
declare @stackConcatRes varchar(max)
SELECT @stackConcatRes = COALESCE(@stackConcatRes,'') + CONVERT(VARCHAR(100), '['''+SC.Name+'''') + ', '+cast(isnull(SC.[Commercial],0) as char(5))+','+cast(isnull(SC.[Group Housing],0) as char(5))+','+cast(isnull(SC.[Housing],0) as char(5))+','+cast(isnull(SC.Industrial,0) as char(5))+','+cast(isnull(sc.[Institutional],0) as char(5))+','+cast(isnull(SC.[Residential],0) as char(5))+']' + ', ' from
(
select Name,[Institutional],[Commercial],[Residential],[Industrial],[Housing],[Group Housing] FROM(

select C.ServiceName as Name, B.departmentName as Dep, isnull(count(*),0) as Num from [dbo].[View_Service_report] A inner join DepartmentMst B on A.Departmentid=B.departmentid
inner join [dbo].[CitizenService_Master] C on A.Serviceid=C.ID inner join [dbo].[StatusMaster] D on A.Request_Status = D.Id
where D.IsActive=1 and C.Status=1 group by C.ServiceName, B.departmentName )PT PIVOT 
(
SUM(PT.Num) FOR PT.Dep in([Institutional],[Commercial],[Residential],[Industrial],[Housing],[Group Housing] ) 
) AS P
)SC
--select @stackConcatRes
select @stackConcatRes = substring(@stackConcatRes,1,len(@stackConcatRes)-1)
set @finaltagforStackchart = @starttegofStackchart +@stackConcatRes+@endtagofStackchart
--select @finaltagforStackchart
---3. Donut--Departmentwise
declare @starttegofDonutchart varchar(500)--var options = {title: '',width: 350, height: 300,legend: { position: 'bottom' }};
set @starttegofDonutchart=' google.charts.setOnLoadCallback(drawDonutChart);function drawDonutChart() {var datadonut = google.visualization.arrayToDataTable([[''Department'', ''No of Request''],'
declare @endtagofDonutchart varchar(500)
set @endtagofDonutchart= ' ]);var optionsdonut = {title: ''No. of Requests:'',pieHole: 0.3,width: 280, height: 280,tooltip:{isHtml:true},legend: { position: ''bottom'' }};var chartdonut = new google.visualization.PieChart(document.getElementById(''donutchart''));chartdonut.draw(datadonut, optionsdonut);}'
--declare @repeattagofDonutchart varchar(500)
declare @finaltagforDonutchart varchar(Max)
---------Build data for Departments------
declare @donutConcatRes nvarchar(Max)
SELECT @donutConcatRes = COALESCE(@donutConcatRes,'') + CONVERT(VARCHAR(50), '['''+DC.Name+'''') + ', ' + cast(DC.Num as char(5))+']' + ', ' from
(
select B.departmentName as Name, count(*) as Num from [dbo].[View_Service_report] A inner join DepartmentMst B on A.Departmentid=B.departmentid
inner join [dbo].[CitizenService_Master] C on A.Serviceid=C.ID inner join [dbo].[StatusMaster] D on A.Request_Status = D.Id
where --cast(A.Created_Date as date)=@date and 
D.IsActive=1 group by B.departmentName
)DC
--select @donutConcatRes
select @donutConcatRes = substring(@donutConcatRes,1,len(@donutConcatRes)-1)
set @finaltagforDonutchart = @starttegofDonutchart +@donutConcatRes+@endtagofDonutchart
--select @finaltagforDonutchart
---4. Barchart--Aging
declare @starttegofBarchart varchar(500)
set @starttegofBarchart = ' google.charts.setOnLoadCallback(drawBarChart);  function drawBarChart() {var databar = google.visualization.arrayToDataTable([["Aging","Institutional","Commercial","Residential","Industrial","Housing","Group Housing" ],'
declare @endtagofBarchart varchar(500) 
set @endtagofBarchart = ' ]); var optionsbar = {title: ''Aging of requests'',width: 280, height: 280,tooltip:{isHtml:true},legend: { position: ''bottom'' }, vAxis:{title:''Pending Requests''},hAxis:{title:''Aging in days''}, seriesType:''bars'',series:{20:{type:''line''}}};  var chartbar = new google.visualization.ComboChart(document.getElementById(''barchart'')); chartbar.draw(databar, optionsbar); }'
--declare @repeattagofBarchart varchar(500)
declare @finaltagforBarchart varchar(Max)
--------Build Data for Aging------
declare @barConcatRes varchar(max)
SELECT @barConcatRes = COALESCE(@barConcatRes,'') + CONVERT(VARCHAR(50), '['''+BC.Age+'''') + ','+cast(isnull(BC.[Institutional],0) as char(5))+','+cast(isnull(BC.[Commercial],0) as char(5))+','+cast(isnull(BC.[Residential],0) as char(5))+','+cast(isnull(BC.[Industrial],0) as char(5))+','+cast(isnull(BC.[Housing],0) as char(5))+','+cast(isnull(BC.[Group Housing],0) as char(5))+']' + ', ' from
(
select Age,[Institutional],[Commercial],[Residential],[Industrial],[Housing],[Group Housing] FROM(
select '5-10' as Age,B.departmentName as Dept,ISNULL(count(A.DepartmentId),0) as Num from [dbo].[View_Service_report] A 
 join DepartmentMst B on B.Departmentid=ISNULL(A.departmentid,B.DepartmentId)

where  A.Request_Status in(4,5,7) and DATEDIFF(day,A.Created_Date,GETDATE()) between 5 and 12 group by  B.departmentName
union 
select '10-20' as Age,B.departmentName as Dept,count(A.DepartmentId) as Num from [dbo].[View_Service_report] A 
join DepartmentMst B on B.Departmentid=ISNULL(A.departmentid,B.DepartmentId)

where   A.Request_Status in(4,5,7) and DATEDIFF(day,A.Created_Date,GETDATE()) between 12 and 24 group by  B.departmentName
union
select '20-30' as Age,B.departmentName as Dept,count(A.DepartmentId) as Num from [dbo].[View_Service_report] A 
 join DepartmentMst B on B.Departmentid=ISNULL(A.departmentid,B.DepartmentId)

where   A.Request_Status in(4,5,7) and DATEDIFF(day,A.Created_Date,GETDATE()) between 24 and 36 group by  B.departmentName
union
select '30-60' as Age,B.departmentName as Dept,count(A.DepartmentId) as Num from [dbo].[View_Service_report] A 
join DepartmentMst B on B.Departmentid=ISNULL(A.departmentid,B.DepartmentId)

where   A.Request_Status in(4,5,7) and DATEDIFF(day,A.Created_Date,GETDATE()) between 36 and 70 group by  B.departmentName
)PT PIVOT
(
SUM(PT.Num) FOR PT.Dept in([Institutional],[Commercial],[Residential],[Industrial],[Housing],[Group Housing] ) 
) AS PV
)BC

--select @barConcatRes
select @barConcatRes = substring(@barConcatRes,1,len(@barConcatRes)-1)
set @finaltagforBarchart = @starttegofBarchart +@barConcatRes+@endtagofBarchart
--select @finaltagforBarchart
---5. Bubble--Service, status wise
declare @starttagofBubblechart varchar(500)
set @starttagofBubblechart='google.charts.setOnLoadCallback(drawBubbleChart);function drawBubbleChart() { var databubble = google.visualization.arrayToDataTable([[''Department'', ''Total Request'', ''Approved'', ''Request Status:''],'
declare @endtagofBubblechart varchar(500)
set @endtagofBubblechart=']);      var optionsbubble = {  height:280, tooltip:{isHtml:true},  legend: {position: ''none''}, title: ''Request status in each departments '' ,     hAxis: {title: ''''},     vAxis: {title: ''''},   bubble: { textStyle: {fontSize:6, color: ''green'', bold: true,italic: true } }  };    var chartbubble = new google.visualization.BubbleChart(document.getElementById(''bubblechart''));   chartbubble.draw(databubble, optionsbubble);    }'
--declare @repeattagofBubblechart varchar(500)
declare @finaltagforBubblechart varchar(Max)
------------- Build data for service/Departments

--select C.ServiceName as Name, B.departmentName as Dept, count(*) as Num from [dbo].[View_Service_report] A inner join DepartmentMst B on A.Departmentid=B.departmentid
--inner join [dbo].[CitizenService_Master] C on A.Serviceid=C.ID inner join [dbo].[StatusMaster] D on A.Request_Status = D.Id
--where cast(A.Created_Date as date)=@date and D.IsActive=1 and C.Status=1 group by C.ServiceName,departmentName
declare @bubleConcatRes varchar(max)
SELECT @bubleConcatRes = COALESCE(@bubleConcatRes,'') + CONVERT(VARCHAR(50), '['''+BCH.departmentName+'''') + ','+cast(isnull(BCH.TOTAL,0) as char(5))+','+cast(isnull(BCH.Approved,0) as char(5))+',''Rejected:  '+cast(isnull(BCH.Rejected,0) as char(5))+'Cancelled:  '+cast(isnull(BCH.Cancelled,0) as char(5))+'Pending:  '+cast(isnull(BCH.[Doc Pending],0) as char(5))+'InProgress:  '+cast(isnull(BCH.[In Progress],0) as char(5))+'Payment Due:  '+cast(isnull(BCH.[Payment Due],0) as char(5))+'Validation Required:  '+cast(isnull(BCH.[Pending for validation],0) as char(5))+''']' + ', ' from
(
 SELECT B.departmentName, --distributor_id, 
COUNT(*) AS TOTAL,
count(CASE WHEN Request_Status=1 THEN 1 END) as Approved ,
count(CASE WHEN Request_Status=2 THEN 1 END) as Rejected ,
count(CASE WHEN Request_Status=3 THEN 1 END) as Cancelled,
count(CASE WHEN Request_Status=4 THEN 1 END) as 'Doc Pending' ,
count(CASE WHEN Request_Status=5 THEN 1 END) as 'In Progress' ,
count(CASE WHEN Request_Status=7 THEN 1 END) as 'Payment Due',
count(CASE WHEN Request_Status=10 THEN 1 END) as 'Pending for validation'   
 from [dbo].[View_Service_report] A inner join DepartmentMst B on A.DepartmentId=B.departmentId  where DATEPART(DW, GETDATE()) between 2 and 6 group by B.departmentName
 )BCH
 --select @bubleConcatRes
 select @bubleConcatRes = substring(@bubleConcatRes,1,len(@bubleConcatRes)-1)
 set @finaltagforBubblechart = @starttagofBubblechart +@bubleConcatRes+@endtagofBubblechart
 --select @finaltagforBubblechart


---6. Line--Month, department wise
declare @starttegofLinechart varchar(500)
set @starttegofLinechart = ' google.charts.setOnLoadCallback(drawLineChart); function drawLineChart() { var dataline = google.visualization.arrayToDataTable([[''Month'', ''Industrial'',''Institutional'',''Commercial'',''Housing'',''Residential'',''Group Housing''],'
declare @endtagofLinechart varchar(500)
set @endtagofLinechart = ' ]); var optionsline = {width:280,height:280, tooltip:{isHtml:true}, title: ''Monthly Trend'', curveType: ''function'', legend: { position: ''bottom'' } }; var chartline = new google.visualization.LineChart(document.getElementById(''linechart''));  chartline.draw(dataline, optionsline);}'
--declare @repeattagofLinechart varchar(500)
declare @finaltagforLinechart varchar(Max)
------------Build monthly ststistics-----
declare @lineConcatRes varchar(max)
SELECT @lineConcatRes = COALESCE(@lineConcatRes,'') + CONVERT(VARCHAR(50), '['''+LC.Name+'''') + ','+cast(isnull(LC.[Institutional],0) as char(5))+','+cast(isnull(LC.[Commercial],0) as char(5))+','+cast(isnull(LC.[Residential],0) as char(5))+','+cast(isnull(LC.[Industrial],0) as char(5))+','+cast(isnull(LC.[Housing],0) as char(5))+','+cast(isnull(LC.[Group Housing],0) as char(5))+']' + ', ' from
(
SELECT Monthid,Name,[Institutional],[Commercial],[Residential],[Industrial],[Housing],[Group Housing] FROM(
select E.MonthId,E.MonthName as Name, B.departmentName as Dept, count(*) as Num from [dbo].[View_Service_report] A inner join DepartmentMst B on A.Departmentid=B.departmentid
inner join [dbo].[CitizenService_Master] C on A.Serviceid=C.ID inner join [dbo].[StatusMaster] D on A.Request_Status = D.Id
inner join [dbo].[tblMonthMaster] E on DATEPART(month,A.Created_Date)=E.MonthId
where D.IsActive=1 and C.Status=1  group by e.MonthId,E.MonthName,
 departmentName 
 )LPV PIVOT
 (
 SUM(LPV.Num) FOR LPV.Dept in([Institutional],[Commercial],[Residential],[Industrial],[Housing],[Group Housing] ) 
) AS P
 )LC order by MonthId--group by LC.Name, LC.Dept
 --select @lineConcatRes
 select @lineConcatRes = substring(@lineConcatRes,1,len(@lineConcatRes)-1)
 set @finaltagforLinechart = @starttegofLinechart +@lineConcatRes+@endtagofLinechart
 --select @finaltagforLinechart
 declare @htmltagforgraph varchar(max)
 set @htmltagforgraph=@graphheader+'  '+ @finaltagforPiechart+'  '+@finaltagforStackchart+'  '+@finaltagforDonutchart+'  '+@finaltagforBarchart+'  '+@finaltagforBubblechart+'  '+@finaltagforLinechart+'  '+@graphfooter
 select @htmltagforgraph
end

GO
