USE [NoidaMigrationUat]
GO
/****** Object:  Table [CitizenServices].[OnlineFirmRequestMaster]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CitizenServices].[OnlineFirmRequestMaster](
	[FirmSid] [int] IDENTITY(1,1) NOT NULL,
	[RequestNo] [int] NOT NULL,
	[Rid] [int] NULL,
	[OldFirmName] [varchar](100) NULL,
	[NewFirmName] [varchar](100) NULL,
	[OldFirmStatus] [int] NULL,
	[NewFirmStatus] [int] NULL,
	[OldFirmProduct] [varchar](100) NULL,
	[NewFirmProduct] [varchar](100) NULL,
	[ChangeType] [int] NULL,
	[RequestDate] [date] NULL,
	[Approveddate] [date] NULL,
	[ApprovedBy] [int] NULL,
	[Status] [int] NULL,
	[IsActive] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [date] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [date] NULL,
	[CicCharge] [decimal](16, 2) NULL,
	[Comment] [varchar](100) NULL,
	[ApplicationId] [int] NULL,
	[RComment] [varchar](500) NULL,
	[RCommentDate] [datetime] NULL,
 CONSTRAINT [PK_OlFirmMasterId] PRIMARY KEY CLUSTERED 
(
	[FirmSid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [CitizenServices].[OnlineFirmRequestMaster]  WITH CHECK ADD  CONSTRAINT [FK_Ol_Firm_Master_Type] FOREIGN KEY([OldFirmStatus])
REFERENCES [dbo].[Common_Config] ([Id])
GO
ALTER TABLE [CitizenServices].[OnlineFirmRequestMaster] CHECK CONSTRAINT [FK_Ol_Firm_Master_Type]
GO
ALTER TABLE [CitizenServices].[OnlineFirmRequestMaster]  WITH CHECK ADD  CONSTRAINT [FK_Ol_Firm_Master_Type_New] FOREIGN KEY([NewFirmStatus])
REFERENCES [dbo].[Common_Config] ([Id])
GO
ALTER TABLE [CitizenServices].[OnlineFirmRequestMaster] CHECK CONSTRAINT [FK_Ol_Firm_Master_Type_New]
GO
ALTER TABLE [CitizenServices].[OnlineFirmRequestMaster]  WITH CHECK ADD  CONSTRAINT [Fk_ServiceFirm] FOREIGN KEY([RequestNo])
REFERENCES [dbo].[Customer_ServiceRequest] ([Id])
GO
ALTER TABLE [CitizenServices].[OnlineFirmRequestMaster] CHECK CONSTRAINT [Fk_ServiceFirm]
GO
