USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[RegistryDetails]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RegistryDetails](
	[RequestNo] [int] IDENTITY(1,1) NOT NULL,
	[Rid] [int] NULL,
	[RegistryDueDate] [datetime] NULL,
	[RegistryDoneDate] [datetime] NULL,
	[RegistryType] [varchar](20) NULL,
	[StampDutyAmount] [decimal](14, 2) NULL,
	[DuplicateStampDutyAmount] [decimal](10, 2) NULL,
	[PreviousDues] [decimal](18, 2) NULL,
	[BalanceDueTillDate] [decimal](20, 2) NULL,
	[PenaltyAmount] [decimal](18, 2) NULL,
	[DocumentCharges] [decimal](10, 2) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[Modifiedby] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[SignatoryAuthority] [varchar](100) NULL,
	[WitnessOneName] [varchar](100) NULL,
	[WitnessOneAdd] [varchar](200) NULL,
	[WitnessOneMobile] [varchar](12) NULL,
	[WitnessTwoName] [varchar](100) NULL,
	[WitnessTwoAdd] [varchar](200) NULL,
	[WitnessTwoMobile] [varchar](12) NULL,
	[WitnessThreeName] [varchar](100) NULL,
	[WitnessThreeAdd] [varchar](200) NULL,
	[WitnessThreeMobile] [varchar](12) NULL,
	[WitnessFourName] [varchar](100) NULL,
	[WitnessFourAdd] [varchar](200) NULL,
	[WitnessFourMobile] [varchar](12) NULL,
	[LeaseType] [int] NULL,
 CONSTRAINT [PK_RegistryDetails_RequestNo] PRIMARY KEY CLUSTERED 
(
	[RequestNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[RegistryDetails]  WITH CHECK ADD  CONSTRAINT [Fk_Allotment_Registry] FOREIGN KEY([Rid])
REFERENCES [dbo].[AllotmentMaster] ([rid])
GO
ALTER TABLE [dbo].[RegistryDetails] CHECK CONSTRAINT [Fk_Allotment_Registry]
GO
