USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[OnlineApplicationDetails_trans]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OnlineApplicationDetails_trans](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceRefId] [int] NULL,
	[ServiceType] [int] NULL,
	[TrKey] [varchar](25) NULL,
	[txnid] [varchar](25) NOT NULL,
	[Amount] [decimal](16, 2) NULL,
	[GetwayName] [varchar](50) NULL,
	[productinfo] [varchar](100) NULL,
	[udf1] [varchar](255) NULL,
	[udf2] [varchar](255) NULL,
	[udf3] [varchar](255) NULL,
	[udf4] [varchar](255) NULL,
	[udf5] [varchar](255) NULL,
	[mihpayid] [varchar](25) NULL,
	[mode] [varchar](10) NULL,
	[TranStatus] [int] NULL,
	[discount] [decimal](16, 2) NULL,
	[status] [int] NULL,
	[EntryDate] [datetime] NULL,
	[payment_source] [varchar](50) NULL,
	[PG_Type] [varchar](50) NULL,
	[bank_ref_num] [varchar](50) NULL,
	[bankcode] [varchar](50) NULL,
	[error] [varchar](50) NULL,
	[error_Message] [varchar](50) NULL,
	[name_on_card] [varchar](50) NULL,
	[cardnum] [varchar](50) NULL,
	[cardhash] [varchar](50) NULL,
	[issuing_bank] [varchar](50) NULL,
	[card_type] [varchar](50) NULL,
	[modifiydate] [date] NULL,
	[virtualaccountno] [varchar](50) NULL,
 CONSTRAINT [PK_OnlineApplicationDetails_trans] PRIMARY KEY CLUSTERED 
(
	[txnid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
