USE [NoidaMigrationUat]
GO
/****** Object:  View [dbo].[ViewAllPropertyDetail]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[ViewAllPropertyDetail] as
SELECT					 dbo.ApplicationDetails.schemeId,dbo.ApplicationDetails.tgender,dbo.ApplicationDetails.tPan,
 dbo.ApplicationDetails.departmentId, dbo.SchemeMst.schemeName, dbo.DepartmentMst.departmentName, dbo.MasterName(dbo.AllotmentMaster.rid, 47) AS PropertyType, 
                         dbo.ApplicationDetails.formNo, dbo.ApplicationDetails.tFirstName + ' ' + ISNULL(dbo.ApplicationDetails.tMiddleName, '') + ' ' + ISNULL(dbo.ApplicationDetails.tLastName, '') AS ApplicantName, 
                         dbo.ApplicationDetails.tFatherHusbandName, dbo.ApplicationDetails.tCorrespondanceAdd, dbo.ApplicationDetails.tMobileNumber, dbo.ApplicationDetails.T_Company_Name, dbo.SectorMst.sectorName, 
                         dbo.BlockMst.blockName, dbo.SchemePropTrans.propertyNo, dbo.AllotmentMaster.rid, dbo.SchemePropTrans.propertyId, dbo.MasterName(dbo.AllotmentMaster.rid, 49) AS LocationCharge, 
                         dbo.SchemePropTrans.landRatePerSqmt, dbo.SchemePropTrans.totalArea, dbo.SchemePropTrans.totalPropertyCost, dbo.MasterName(dbo.AllotmentMaster.rid, 41) AS NormalInterest, dbo.MasterName(dbo.AllotmentMaster.rid, 
                         42) AS PenalInterest, dbo.MasterName(dbo.AllotmentMaster.rid, 39) AS EnerestMoney,dbo.MasterName(dbo.AllotmentMaster.rid, 38) AS AllotmentMoney, REPLACE(CONVERT(varchar(12), dbo.AllotmentMaster.allotmentDate, 106), ' ', '-') AS allotmentDate, 
                         (CASE WHEN dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 1) = '01-Jan-1900' THEN ' ' ELSE dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 1) END) AS LeaseDeedDate, (CASE WHEN dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 2) 
                         = '01-Jan-1900' THEN ' ' ELSE dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 2) END) AS PossessionOrderDate, (CASE WHEN dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 3) 
                         = '01-Jan-1900' THEN ' ' ELSE dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 3) END) AS PossessionDate, (CASE WHEN dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 4) 
                         = '01-Jan-1900' THEN ' ' ELSE dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 4) END) AS FunctionalDate, (CASE WHEN dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 5) 
                         = '01-Jan-1900' THEN ' ' ELSE dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 5) END) AS TransferDate, (CASE WHEN dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 6) 
                         = '01-Jan-1900' THEN ' ' ELSE dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 6) END) AS MutationDate, (CASE WHEN dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 7) 
                         = '01-Jan-1900' THEN ' ' ELSE dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 7) END) AS MortgageDate, dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 8) AS BankNameandBranch, 
                         (CASE WHEN dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 9) = '01-Jan-1900' THEN ' ' ELSE dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 9) END) AS RentingDate, dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 10) AS TenantName, 
                         dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 11) AS TenantProject, (CASE WHEN dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 12) = '01-Jan-1900' THEN ' ' ELSE dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 12) END) 
                         AS ExtenctionDate, (CASE WHEN dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 13) = '01-Jan-1900' THEN ' ' ELSE dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 13) END) AS PRDDHIRE_AGREEMENT_DATE, 
                         (CASE WHEN dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 14) = '01-Jan-1900' THEN ' ' ELSE dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 14) END) AS PRDDOLD_EXPIRY_DATE, 
                         (CASE WHEN dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 15) = '01-Jan-1900' THEN ' ' ELSE 'Y' END) AS TotalPrimamPaid, (CASE WHEN dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 15) = '01-Jan-1900' THEN ' ' ELSE 'Y' END) 
                         AS OTLRPaid, (CASE WHEN dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 15) = '01-Jan-1900' THEN ' ' ELSE dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 15) END) AS NDCDate,
						  dbo.FuncDate_Find(dbo.AllotmentMaster.rid, 16) AS projectName
		FROM            dbo.ApplicationDetails INNER JOIN
                         dbo.AllotmentMaster ON dbo.ApplicationDetails.applicationId = dbo.AllotmentMaster.applicationId INNER JOIN
                         dbo.SchemePropTrans ON dbo.AllotmentMaster.propertyId = dbo.SchemePropTrans.propertyId INNER JOIN
                         dbo.SectorMst ON dbo.SchemePropTrans.sectorId = dbo.SectorMst.sectorId INNER JOIN
                         dbo.BlockMst ON dbo.SchemePropTrans.blockId = dbo.BlockMst.blockId INNER JOIN
                         dbo.SchemeMst ON dbo.ApplicationDetails.schemeId = dbo.SchemeMst.schemeId AND dbo.SchemePropTrans.schemeId = dbo.SchemeMst.schemeId INNER JOIN
                         dbo.DepartmentMst ON dbo.ApplicationDetails.departmentId = dbo.DepartmentMst.departmentId AND dbo.SchemePropTrans.departmentId = dbo.DepartmentMst.departmentId




GO
