USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[CitizenService_Master]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CitizenService_Master](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Deptt_Id] [int] NULL,
	[service_id] [int] NULL,
	[ServiceName] [varchar](500) NULL,
	[Timeline] [int] NULL,
	[Amount] [decimal](18, 2) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_CitizenService_Master] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
