USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[SchemeQuotaTrans]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SchemeQuotaTrans](
	[refId] [int] IDENTITY(1,1) NOT NULL,
	[schemeId] [int] NULL,
	[departmentId] [int] NULL,
	[quotaId] [int] NULL,
	[value] [numeric](18, 2) NULL,
	[unit] [varchar](10) NULL,
	[IsActive] [bit] NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
 CONSTRAINT [PK_SchemeQuotaTrans_refId] PRIMARY KEY CLUSTERED 
(
	[refId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SchemeQuotaTrans]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentMst_SchemeQuotaTrans_departmentId] FOREIGN KEY([departmentId])
REFERENCES [dbo].[DepartmentMst] ([departmentId])
GO
ALTER TABLE [dbo].[SchemeQuotaTrans] CHECK CONSTRAINT [FK_DepartmentMst_SchemeQuotaTrans_departmentId]
GO
ALTER TABLE [dbo].[SchemeQuotaTrans]  WITH CHECK ADD  CONSTRAINT [FK_QuotaMst_SchemeQuotaTrans_quotaID] FOREIGN KEY([quotaId])
REFERENCES [dbo].[QuotaMst] ([quotaId])
GO
ALTER TABLE [dbo].[SchemeQuotaTrans] CHECK CONSTRAINT [FK_QuotaMst_SchemeQuotaTrans_quotaID]
GO
ALTER TABLE [dbo].[SchemeQuotaTrans]  WITH CHECK ADD  CONSTRAINT [FK_SchemeMst_SchemeQuotaTrans_schemeId] FOREIGN KEY([schemeId])
REFERENCES [dbo].[SchemeMst] ([schemeId])
GO
ALTER TABLE [dbo].[SchemeQuotaTrans] CHECK CONSTRAINT [FK_SchemeMst_SchemeQuotaTrans_schemeId]
GO
