USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[Challan_Master]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Challan_Master](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rid] [int] NULL,
	[Challan_Id]  AS (CONVERT([varchar](12),(700000000)+[Id],(0))),
	[Content] [nvarchar](max) NULL,
	[Generate_Date] [date] NULL,
	[Is_Active] [bit] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [date] NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [date] NULL,
	[Bank_Id] [int] NULL,
	[Branch_Id] [int] NULL,
	[Account_Number] [varchar](25) NULL,
	[ServiceRequestNo] [int] NULL,
 CONSTRAINT [PK_Challan_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Challan_Master]  WITH CHECK ADD  CONSTRAINT [FK_Allotment_Challan] FOREIGN KEY([Rid])
REFERENCES [dbo].[AllotmentMaster] ([rid])
GO
ALTER TABLE [dbo].[Challan_Master] CHECK CONSTRAINT [FK_Allotment_Challan]
GO
ALTER TABLE [dbo].[Challan_Master]  WITH CHECK ADD  CONSTRAINT [FK_Challan_Branch] FOREIGN KEY([Branch_Id])
REFERENCES [dbo].[BranchMst] ([branchId])
GO
ALTER TABLE [dbo].[Challan_Master] CHECK CONSTRAINT [FK_Challan_Branch]
GO
