USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[AllotmentMaster]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AllotmentMaster](
	[rid] [int] IDENTITY(1,1) NOT NULL,
	[applicationId] [int] NULL,
	[schemeId] [int] NULL,
	[departmentId] [int] NULL,
	[formNo] [varchar](10) NULL,
	[propertyId] [int] NOT NULL,
	[allotmentDate] [date] NULL,
	[instalmentStartDate] [date] NULL,
	[isSubmitted] [varchar](1) NULL,
	[isStatus] [varchar](15) NULL,
	[submitDate] [datetime] NULL,
	[approverBy] [varchar](15) NULL,
	[approveDate] [date] NULL,
	[isActive] [int] NULL,
	[comment] [varchar](500) NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
	[submittedBy] [int] NULL,
	[RComment] [varchar](500) NULL,
	[RCommentDate] [datetime] NULL,
 CONSTRAINT [PK_AllotmentMaster_1] PRIMARY KEY CLUSTERED 
(
	[rid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [un_propertyId] UNIQUE NONCLUSTERED 
(
	[propertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [NonClusteredIndex-20170303-175927]    Script Date: 9/21/2017 9:17:30 PM ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20170303-175927] ON [dbo].[AllotmentMaster]
(
	[departmentId] ASC,
	[rid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AllotmentMaster]  WITH NOCHECK ADD  CONSTRAINT [ApplicationDetails_AllotmentMaster_applictaionID] FOREIGN KEY([applicationId])
REFERENCES [dbo].[ApplicationDetails] ([applicationId])
GO
ALTER TABLE [dbo].[AllotmentMaster] CHECK CONSTRAINT [ApplicationDetails_AllotmentMaster_applictaionID]
GO
ALTER TABLE [dbo].[AllotmentMaster]  WITH NOCHECK ADD  CONSTRAINT [FK_DepartmentMst_AllotmentMaster_departmentId] FOREIGN KEY([departmentId])
REFERENCES [dbo].[DepartmentMst] ([departmentId])
GO
ALTER TABLE [dbo].[AllotmentMaster] CHECK CONSTRAINT [FK_DepartmentMst_AllotmentMaster_departmentId]
GO
ALTER TABLE [dbo].[AllotmentMaster]  WITH NOCHECK ADD  CONSTRAINT [FK_SchemeMst_AllotmentMaster_schemeId] FOREIGN KEY([schemeId])
REFERENCES [dbo].[SchemeMst] ([schemeId])
GO
ALTER TABLE [dbo].[AllotmentMaster] CHECK CONSTRAINT [FK_SchemeMst_AllotmentMaster_schemeId]
GO
