USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[PRE_PROP_HIRE_PURCHASE]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRE_PROP_HIRE_PURCHASE](
	[PRDVREGISTRATION_ID] [varchar](12) NOT NULL,
	[PRDVAGREEMENT_ID] [varchar](8) NULL,
	[PRDVEMPLOYEE_ID] [varchar](10) NULL,
	[PRDDENTRY_DATE] [datetime2](0) NOT NULL,
	[PRDDHIRE_AGREEMENT_DATE] [datetime2](0) NULL,
	[PRDRPROPERTY_COST] [numeric](12, 2) NULL,
	[PRDVAPPROVAL_ID] [varchar](8) NULL,
	[PRDDEXPIRY_DATE] [datetime2](0) NULL,
	[PRDDOLD_EXPIRY_DATE] [datetime2](0) NULL,
	[PRDVORDER_NO] [varchar](8) NULL,
	[PRDDRENEWAL_DATE] [datetime2](0) NULL,
	[PRDRPENALTY_AMOUNT] [numeric](6, 2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
