USE [NoidaMigrationUat]
GO
/****** Object:  View [dbo].[test1]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create view [dbo].[test1] as
 select dbo.MasterName(sectorId,12) as sector,dbo.MasterName(blockId,13) as block,* from SchemePropTrans
GO
