USE [NoidaMigrationUat]
GO
/****** Object:  StoredProcedure [dbo].[Sp_DuesCalculationTillDate_1]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_DuesCalculationTillDate_1](@RID varchar(12),@c date, @landusetype int)
--returns decimal(21,0)
as
                 
begin
-- Author Name : Ankit Jain
-- Create Date : 06/07/2016
-- Modified Date : 06/07/2016
-- used RID : 40010131 for testing


declare 
@date date,
@dateNext date,
@datePrev date,
@daterec date,
@datediffPre int,
@datediffPost int,
@datediff int,
@installment decimal(21,0),
@installment_temp decimal(21,0),
@subAmount decimal(21,0),
@i int,
@count int,
@ci date,
@penalInt decimal(21,0),
@penalAmount decimal(25,2),
@totalBalance decimal(25,2),
@penalBalance decimal(25,0),
@duesTill decimal(21,0),
@duesNext decimal(21,0),
@count1 int
--@accessamount decimal(21,0),
--@landusetype int
SET @duesNext = 0;
SET @installment = 0;
--SET @penalInt= 14;
--set @landusetype=4;
--SET @ci=1

SELECT @penalInt=sd.penalInt FROM AllotmentMaster am JOIN SchemeDepartmentTrans sd ON (am.schemeId=sd.schemeId AND am.departmentId=sd.departmentId) WHERE Rid=@Rid and am.isStatus='Approved' AND am.isActive=1
SELECt TOP 1 @ci=InstallmentDueDate  FROM PaymentScheduleTrans WHERE Rid=@RID order by InstallmentDueDate
SET @date='1960-01-01'
SET @duesTill = 0

if(@c < @ci)
begin
--SELECT top 1 @installment_temp= PrincipalInstallmentAmount+InterestInstallmentAmount, @date= InstallmentDueDate FROM PaymentScheduleTrans WHERE Rid=@RID order by InstallmentNumber
--SET @duesnext=@installment_temp
SET @duesnext=0
END
ELSE
BEGIN
WHILE(@ci<=@c)
begin

     if (@date='1960-01-01')
      begin
       SELECT top 1 @installment_temp= PrincipalInstallmentAmount+InterestInstallmentAmount, @date= InstallmentDueDate FROM PaymentScheduleTrans WHERE Rid=@RID order by InstallmentNumber
	   if @landusetype=4
			 begin
				SET @dateNext= DATEADD(month,DATEDIFF(month,0,DATEADD(month,6,@date))+1,0)-1 --EOMONTH(DATEADD(month,6,@date))
			  end
		else
			begin
				SET @dateNext= DATEADD(month,1,@date)
			 end

       SET @datePrev= @date
       --SET @i = datepart(MONTH,@dateNext);
              --if(@i=12)
              --begin
              --SET @dateNext= DATEADD(day,1,@dateNext)
              --end
              SET @installment= @installment + @installment_temp
              SET @duesTill = @installment
       end
       else
       begin

	   SELECT  @count1=count(*) FROM PaymentScheduleTrans WHERE Rid=@RID AND  InstallmentDueDate=@dateNext 
	   if (@count1>0)
	   begin
       SELECT @installment_temp= PrincipalInstallmentAmount+InterestInstallmentAmount, @date= InstallmentDueDate FROM PaymentScheduleTrans WHERE Rid=@RID AND  InstallmentDueDate=@dateNext order by InstallmentNumber
       end
	   else
	   begin
	   set @date=@ci
	   set @installment_temp=0
		   if(@duesNext<0)
			begin
			set @duesNext=0
			end
	   end
	   --print '@date'+cast(@date as varchar(20))
	   if @landusetype=4
	   begin
	   SET @dateNext= DATEADD(month,DATEDIFF(month,0,DATEADD(month,6,@date))+1,0)-1
       SET @datePrev= DATEADD(month,DATEDIFF(month,0,DATEADD(month,-6,@date))+1,0)-1
       end
	   else
          begin
	   SET @dateNext= DATEADD(month,1,@date)
	          SET @datePrev=DATEADD(month,-1,@date)
       end
		      SET @installment= @installment + @installment_temp
              --SET @duesTill = @duesTill + @installment_temp
       end
	   if(@datePrev=@date)
	   begin
SELECT @count = COUNT(1) FROM ViewReceiptMaster WHERE DEPOSIT_DATE > = @datePrev AND DEPOSIT_DATE < = @date AND RID_NO=@RID AND receipt_head_id in (1,24)
		end
		else
		begin
SELECT @count = COUNT(1) FROM ViewReceiptMaster WHERE DEPOSIT_DATE > @datePrev AND DEPOSIT_DATE < = @date AND RID_NO=@RID AND receipt_head_id in (1,24)
		end
       If (@count>0)
       BEGIN
	    if(@datePrev=@date)
		begin
       SELECT @subAmount=SUM(AMOUNT_PAID), @daterec=MAX(DEPOSIT_DATE) FROM ViewReceiptMaster WHERE DEPOSIT_DATE > = @datePrev AND DEPOSIT_DATE < = @date AND RID_NO=@RID AND receipt_head_id in (1,24)
        end
		else
		begin
		SELECT  @subAmount=SUM(AMOUNT_PAID), @daterec=MAX(DEPOSIT_DATE) FROM ViewReceiptMaster WHERE DEPOSIT_DATE > @datePrev AND DEPOSIT_DATE < = @date AND RID_NO=@RID AND receipt_head_id in (1,24)
		end
	   SET @datediffPre = DATEDIFF(day,@datePrev,@daterec)
       --PRINT 'Test = '+CAST(@duesNext as varchar(20))
       SET @penalAmount = ROUND((((@duesNext * @penalInt)/36500)*@datediffPre),0,0)
       --PRINT 'Test Penal = '+CAST(@penalAmount as varchar(20))
	   if ((@duesNext+@penalAmount)>@subAmount)
	   begin
       SET @totalBalance = (@duesNext  + @penalAmount )- @subAmount
	   SET @datediffPost = DATEDIFF(day,@daterec,@date)
       SET @penalBalance = ROUND((((@totalBalance * @penalInt)/36500)*@datediffPost),0,0)
       SET @duesNext = @penalBalance + @totalBalance + @installment_temp
	   --Print 'Test' 
      
	   end
	   else
	   begin
	   set @totalBalance =  (@duesNext  + @penalAmount )- @subAmount
	  --SET @datediffPost = DATEDIFF(day,@daterec,@date)
       --SET @penalBalance = ROUND((((@totalBalance * @penalInt)/36500)*@datediffPost),0,0)
       SET @duesNext = @installment_temp+@totalBalance
	   --Print 'SubAmount' +CAST(@subAmount as varchar(20))
	   --Print 'TotalBalance ' +CAST(@totalBalance as varchar(20))
	   --Print 'TestDues ' +CAST(@DuesNext as varchar(20))
	   --Print 'Test 3'
      -- print '@duesNext'+cast(@installment_temp as varchar(20))
	   end
        END
       else
              --if (@duesTill = @installment)
              --Begin
              --SET @duesTill = @duesTill
              --SET @duesNext = @duesTill
              --END
              --else
              begin
			  if( @duesNext<0)
			  begin
			  SET @duesNext = @duesNext  + @installment_temp
			  end
			  else
			  begin
              SET @datediff = DATEDIFF(day,@datePrev,@date)
			  SET @penalAmount =ROUND((((@duesNext * @penalInt)/36500)*@datediff),0,0)
              SET @duesNext = ROUND((@duesNext + ((@duesNext * @penalInt)/36500)*@datediff),0,0)
              --SET @duesTill = @duesNext  + @installment_temp
              SET @duesNext = @duesNext  + @installment_temp
			  end
			  --Print 'Test 2'
              end

						--PRINT 'Date= ' + CAST(@date as varchar(20))
						--PRINT 'DateNext= ' + CAST(@dateNext as varchar(20))
						--PRINT 'DatePrev= ' + CAST(@datePrev as varchar(20))
						--PRINT 'Dues Till = ' + CAST(@duesNext as varchar(20))
						--PRINT 'Dues Next = ' + CAST(@duesTill as varchar(20))
				
--Print 'Date= '+CAST(@ci  as varchar(20))
--Print 'Dues= '+CAST(@duesNext as varchar(20)) 
--Print 'Penal Amount= '+CAST(@penalAmount  as varchar(20))
--Print 'DateDiff='+cast(@dateDiff as varchar(10))
if @landusetype in (4)
begin
--Print 'Date= '+CAST(@ci  as varchar(20))
SET @ci = DATEADD(month,DATEDIFF(month,0,DATEADD(month,6,@date))+1,0)-1
--Print 'Date= '+CAST(@ci  as varchar(20))
end
else
begin
SET @ci = DATEADD(MONTH,1,@ci)
--Print 'Date= HI'
end

end
if @landusetype=4
begin
SET @ci = DATEADD(month,DATEDIFF(month,0,DATEADD(month,-6,@date))+1,0)-1
end
else
begin
SET @ci = DATEADD(month,DATEDIFF(month,0,DATEADD(month,-1,@date))+1,0)-1
end

--SET @ci = EOMONTH(DATEADD(MONTH,-6,@ci))
SELECT @i = COUNT(1) FROM ViewReceiptMaster WHERE DEPOSIT_DATE > = @ci AND DEPOSIT_DATE < = @c AND RID_NO=@RID AND receipt_head_id in (1,24)
if (@i>0)
BEGIN 
 SELECT top 1 @subAmount=SUM(AMOUNT_PAID), @daterec=MAX(DEPOSIT_DATE) FROM ViewReceiptMaster WHERE DEPOSIT_DATE > = @ci AND DEPOSIT_DATE < = @c AND RID_NO=@RID AND receipt_head_id in (1,24)
       SET @datediffPre = DATEDIFF(day,@ci,@daterec)
       --PRINT 'Test = '+CAST(@duesNext as varchar(20))
       SET @penalAmount = ROUND((((@duesNext * @penalInt)/36500)*@datediffPre),0,0)
       --PRINT 'Test Penal = '+CAST(@penalAmount as varchar(20))
	   if ((@duesNext+@penalAmount)>@subAmount)
	   begin
       SET @totalBalance = (@duesNext  + @penalAmount )- @subAmount
	   SET @datediffPost = DATEDIFF(day,@daterec,@date)
       SET @penalBalance = ROUND((((@totalBalance * @penalInt)/36500)*@datediffPost),0,0)
       SET @duesNext = @penalBalance + @totalBalance 
      
	   end
	   else
	   begin
	   set @totalBalance =  (@duesNext  + @penalAmount )- @subAmount
	   SET @duesNext = @totalBalance

       --SET @totalBalance = (@duesNext - @subAmount) + @penalAmount 
       --SET @datediffPost = DATEDIFF(day,@daterec,@c)
       --SET @penalBalance = ROUND((((@totalBalance * @penalInt)/36500)*@datediffPost),0,0)
       --SET @duesNext = @penalBalance + @totalBalance
	   end
	   if(@duesNext<0)
	   begin
	   set @duesNext=0
	   end
END
ELSE
BEGIN
     SET @datediff = DATEDIFF(day,@ci,@c)
	 if (@duesNext<0)
	 begin
	 SET @duesNext=0
	 end
	 else
	 begin
     SET @duesNext = ROUND((@duesNext + ((@duesNext * @penalInt)/36500)*@datediff),0,0)
	 end
END
END
SELECT @duesNext
--set @duesamt=@duesNext;
--Print 'Dues Till Date : ' + CAST(@duesNext as varchar(20))
--return @duesNext;
end



GO
