USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[ReligionMst]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ReligionMst](
	[religionId] [int] IDENTITY(1,1) NOT NULL,
	[religion] [varchar](20) NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK_ReligionMst_religionId] PRIMARY KEY CLUSTERED 
(
	[religionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
