USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[ApplicationPaymentDetails]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ApplicationPaymentDetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[applicationId] [int] NULL,
	[formNo] [varchar](20) NULL,
	[paymentMode] [varchar](50) NULL,
	[bankId] [int] NULL,
	[branchId] [int] NULL,
	[amountDeposited] [decimal](18, 2) NULL,
	[ddNo] [varchar](10) NULL,
	[ddIssueBank] [varchar](100) NULL,
	[ddIssueDate] [date] NULL,
	[utn] [varchar](50) NULL,
	[challanNo] [int] NULL,
	[challanIssueDate] [date] NULL,
	[paymentDate] [date] NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
 CONSTRAINT [PK_ApplicationPaymentDetails_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__Applicat__79FDB1CE473C8FC7] UNIQUE NONCLUSTERED 
(
	[applicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ApplicationPaymentDetails]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationDetails_ApplicationPaymentDetails_applicationId] FOREIGN KEY([applicationId])
REFERENCES [dbo].[ApplicationDetails] ([applicationId])
GO
ALTER TABLE [dbo].[ApplicationPaymentDetails] CHECK CONSTRAINT [FK_ApplicationDetails_ApplicationPaymentDetails_applicationId]
GO
ALTER TABLE [dbo].[ApplicationPaymentDetails]  WITH CHECK ADD  CONSTRAINT [FK_BankMst_ApplicationPaymentDetails_bankId] FOREIGN KEY([bankId])
REFERENCES [dbo].[BankMst] ([bankId])
GO
ALTER TABLE [dbo].[ApplicationPaymentDetails] CHECK CONSTRAINT [FK_BankMst_ApplicationPaymentDetails_bankId]
GO
ALTER TABLE [dbo].[ApplicationPaymentDetails]  WITH CHECK ADD  CONSTRAINT [FK_BranchMst_ApplicationPaynmentDetails_banchId] FOREIGN KEY([branchId])
REFERENCES [dbo].[BranchMst] ([branchId])
GO
ALTER TABLE [dbo].[ApplicationPaymentDetails] CHECK CONSTRAINT [FK_BranchMst_ApplicationPaynmentDetails_banchId]
GO
ALTER TABLE [dbo].[ApplicationPaymentDetails]  WITH CHECK ADD  CONSTRAINT [CK__Applicati__payme__4924D839] CHECK  (([paymentMode]='DD' OR [paymentMode]='RTGS' OR [paymentMode]='CHALLAN'))
GO
ALTER TABLE [dbo].[ApplicationPaymentDetails] CHECK CONSTRAINT [CK__Applicati__payme__4924D839]
GO
