USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[Extension_Details]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Extension_Details](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rid] [int] NULL,
	[Property_No] [varchar](30) NULL,
	[Completion_DueDate] [date] NULL,
	[Extension_Given_Date] [date] NULL,
	[Extension_Due_Date] [date] NULL,
	[Extension_Charge] [decimal](21, 2) NULL,
	[Approved_By] [int] NULL,
	[Approved_Date] [date] NULL,
	[Comment] [varchar](500) NULL,
	[Is_Active] [bit] NULL,
	[Status] [int] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [date] NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [date] NULL,
	[RComment] [varchar](500) NULL,
	[RCommentDate] [datetime] NULL,
	[OnlineRequestNo] [int] NULL,
 CONSTRAINT [PK_Ext_id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Extension_Details]  WITH NOCHECK ADD  CONSTRAINT [FK_Ext_Rid] FOREIGN KEY([Rid])
REFERENCES [dbo].[AllotmentMaster] ([rid])
GO
ALTER TABLE [dbo].[Extension_Details] CHECK CONSTRAINT [FK_Ext_Rid]
GO
ALTER TABLE [dbo].[Extension_Details]  WITH CHECK ADD  CONSTRAINT [FK_Ext_Status] FOREIGN KEY([Status])
REFERENCES [dbo].[StatusMaster] ([Id])
GO
ALTER TABLE [dbo].[Extension_Details] CHECK CONSTRAINT [FK_Ext_Status]
GO
