USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[Property_Cancellation_Details]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Property_Cancellation_Details](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rid] [int] NULL,
	[Type] [int] NULL,
	[Reason] [varchar](500) NULL,
	[Refund] [int] NULL,
	[Refund_Id] [int] NULL,
	[Refund_Amount] [decimal](21, 2) NULL,
	[Restoration_Charge] [decimal](21, 2) NULL,
	[Status] [int] NULL,
	[Comment] [varchar](500) NULL,
	[Request_Date] [date] NULL,
	[Approve_Date] [date] NULL,
	[Requested_By] [int] NULL,
	[Assigned_To] [int] NULL,
	[Is_Active] [bit] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [date] NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [date] NULL,
	[RComment] [varchar](500) NULL,
	[RCommentDate] [datetime] NULL,
 CONSTRAINT [PK_Cancellation_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Property_Cancellation_Details]  WITH CHECK ADD  CONSTRAINT [FK_Allotment_Cancel] FOREIGN KEY([Rid])
REFERENCES [dbo].[AllotmentMaster] ([rid])
GO
ALTER TABLE [dbo].[Property_Cancellation_Details] CHECK CONSTRAINT [FK_Allotment_Cancel]
GO
ALTER TABLE [dbo].[Property_Cancellation_Details]  WITH CHECK ADD  CONSTRAINT [FK_Refund_Cancel] FOREIGN KEY([Refund_Id])
REFERENCES [dbo].[SchemeRefundTrans] ([refundId])
GO
ALTER TABLE [dbo].[Property_Cancellation_Details] CHECK CONSTRAINT [FK_Refund_Cancel]
GO
