USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[tblServiceLink]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblServiceLink](
	[servicelinkid] [int] IDENTITY(1,1) NOT NULL,
	[servicegroupid] [int] NULL,
	[serviceid] [int] NULL
) ON [PRIMARY]

GO
