USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[Letter_Signing_Authority]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Letter_Signing_Authority](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Department_Id] [int] NULL,
	[Signing_Authority] [varchar](100) NULL,
	[Is_Active] [bit] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [date] NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [date] NULL,
 CONSTRAINT [PK_Letter_Signing_Authority_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Letter_Signing_Authority]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentMst_Department_Id] FOREIGN KEY([Department_Id])
REFERENCES [dbo].[DepartmentMst] ([departmentId])
GO
ALTER TABLE [dbo].[Letter_Signing_Authority] CHECK CONSTRAINT [FK_DepartmentMst_Department_Id]
GO
