USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[tblMonthMaster]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMonthMaster](
	[MonthId] [int] NULL,
	[MonthName] [nvarchar](20) NULL
) ON [PRIMARY]

GO
