USE [NoidaMigrationUat]
GO
/****** Object:  StoredProcedure [dbo].[Sp_DeAmalgamateProperties]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[Sp_DeAmalgamateProperties] (@ChildRid varchar (60), @ParentRid int, @Charges decimal(16,2), @Status int, @AssignedTo int, @Type int, @RequestNo int,@comment varchar(500))
as
BEGIN
declare @minRid int,
@minPid int,
@Pid int,
@RequestId int,
@MergeRequestId int,
@PropertyNo varchar(30),
@departmentId int,
@sector int,
@block int,
@propertyType int,
@coveredArea decimal(21,2),
@actualArea decimal(21,2),
@totalArea decimal(21,2),
@totalPropertyCost decimal(21,2)



IF (@status=5 and @Type=18)
BEGIN
--select @PropertyNo= COALESCE(@PropertyNo + '-', '') + CAST(spt.propertyNo AS VARCHAR(30)) from SplitString('108,109',',') st join AllotmentMaster am ON (am.rid=st.Item) JOIN SchemePropTrans spt on (am.propertyId=spt.propertyId)
--PRINT @propertyNo


SELECT
TOP 1 @MergeRequestId=Id,
@Pid= Property_Id,
@departmentId=departmentId,
@sector=sectorId,
@block=blockId
from Merge_Property_Master   WHERE Status=1 and Is_Active=1 and Rid=@ParentRid and Type=17 Order by Request_Date desc


--SELECT
--@departmentId=departmentId,
--@sector=sectorId,
--@block=blockId,
--@propertyType=propertyTypeId
--FROM SchemePropTrans WHERE propertyId=@Pid


--To insert request data to Merger_Property_Master table
INSERT INTO Merge_Property_Master (Rid,Property_Id,Charges,DepartmentId,SectorId,BlockId,Request_Date,Assigned_To,Status,Type,Is_Active,Created_Date) values
(@ParentRid,@Pid,@Charges,@departmentId,@Sector,@Block,CAST(GETDATE() as DATE),@AssignedTo,@Status,@Type,1,CAST(GETDATE() as DATE))

--To get the Request Id for newly added request
SELECT @RequestId=Id from Merge_Property_Master WHERE Property_Id=@Pid and Request_Date=CAST(GETDATE() as DATE)

--To insert child property data to Merger_Property_Trans table
INSERT INTO Merge_Property_Trans (Request_Id,Merge_Property_Id,Child_Rid,Child_Property_Id,Type,Is_Active,Created_Date)
Select
@RequestId,
@Pid,
st.Item,
mpt.Child_Property_Id,
@Type,
1,
CAST(getdate() as date)
FROM SplitString(@ChildRid,',') st JOIN Merge_Property_Trans mpt
ON (mpt.Child_Rid=st.Item) 
WHERE mpt.Request_Id=@MergeRequestId

END


ELSE IF (@Status=1 and @Type=18)
BEGIN

--SELECT
--@PropertyNo= COALESCE(@PropertyNo + '-', '') + CAST(spt.propertyNo AS VARCHAR(30))
--FROM 
--SplitString(@ChildRid,',') st join AllotmentMaster am
--ON (am.rid=st.Item) JOIN SchemePropTrans spt
--ON (am.propertyId=spt.propertyId)

SELECT @Pid=property_Id from Merge_Property_Master WHERE Id=@RequestNo
SELECT @PropertyNo= COALESCE(@PropertyNo + '-', '') + CAST(Child_Rid AS VARCHAR(30)) from Merge_Property_Trans WHERE Request_Id=@RequestNo

SELECT
@coveredArea= SUM(spt.coveredArea),
@actualArea=SUM(spt.actualArea),
@totalArea =SUM(spt.totalArea),
@totalPropertyCost=SUM(spt.totalPropertyCost)
from AllotmentMaster am JOIN SchemePropTrans spt
ON (am.propertyId=spt.propertyId)
where am.rid in (SELECT Child_Rid FROM Merge_Property_Trans WHERE Request_Id=@RequestNo)
 

SELECT 
@CoveredArea= CoveredArea-@CoveredArea,
@actualArea= ActualArea-@actualArea,
@totalArea =totalArea-@totalArea,
@totalPropertyCost=totalPropertyCost-@totalPropertyCost
FROM schemePropTrans WHERE PropertyId=@Pid AND IsActive=1

Update SchemePropTrans SET 
propertyNo=@PropertyNo,
CoveredArea=@CoveredArea,
ActualArea=@actualArea,
totalArea=@totalArea,
totalPropertyCost=@totalPropertyCost 
WHERE PropertyId=@Pid AND IsActive=1

UPDATE AllotmentMaster
SET
IsActive=1,
PropertyId=
(
 select Merge_Property_Trans.Child_Property_Id
 from Merge_Property_Trans
 WHERE Request_Id=@RequestNo
 and AllotmentMaster.Rid=Merge_Property_Trans.Child_Rid
 )
 




--UPDATE AllotmentMaster
--SET IsActive=1
--WHERE Rid in (select item as rid from SplitString(@ChildRid,','))

SELECT
TOP 1 @RequestId= Id
from Merge_Property_Master   WHERE Status=1 and Is_Active=1 and Rid=@ParentRid and Type=17 Order by Request_Date desc

SELECT Child_rid Into #NewChild FROM Merge_Property_Trans WHERE Request_Id=@RequestId and Child_Rid not in (SELECT Child_Rid from Merge_Property_Trans WHERE Request_Id=@RequestNo) 


SELECT top 1
@minRid=rid,
@minPid=propertyId
From AllotmentMaster
WHERE
allotmentDate =( SELECT MIN(AllotmentDate) from AllotmentMaster where rid in (select Child_Rid from #NewChild))
and rid in (select Child_Rid from #NewChild) order by rid

UPDATE AllotmentMaster SET PropertyId=@Pid, IsActive=1 WHERE Rid=@minRid

UPDATE Merge_Property_Master SET Status=@Status, Approved_Date=CAST(GETDATE() as DATE), Comment=@comment WHERE Id=@RequestNo

END

ELSE IF ((@Status=2 OR @Status=3) and @Type=18)
BEGIN
--SELECT @newPid=Property_Id FROM Merge_Property_Master WHERE Id=@RequestNo
UPDATE Merge_Property_Master SET Status=@Status, Comment=@comment WHERE Id=@RequestNo
UPDATE Merge_Property_Trans SET Is_Active=0 WHERE Request_Id=@RequestNo
END


ELSE IF (@Status=0 and @Type=18)
BEGIN
SET @Status=5



--SELECT
--TOP 1 @Pid= Property_Id,
--@departmentId=departmentId,
--@sector=sectorId,
--@block=blockId
--from Merge_Property_Master   WHERE Status=5 and Is_Active=1 and Rid=@ParentRid

--To update request data to Merger_Property_Master table
UPDATE Merge_Property_Master
SET
--Property_Id=@Pid,
Charges=@Charges,
--DepartmentId=@DepartmentId,
--SectorId=@Sector,
--BlockId=@Block,
Request_Date=CAST(GETDATE() as DATE),
Assigned_To=@AssignedTo,
Status=@Status,
Modified_Date=CAST(GETDATE() as DATE)
WHERE Id=@RequestNo

SELECT @ParentRid=Rid,@pid=Property_Id FROM Merge_Property_Master WHERE Id=@RequestNO
--To insert child property data to Merger_Property_Trans table
INSERT INTO Merge_Property_Trans (Request_Id,Merge_Rid,Merge_Property_Id,Child_Rid,Child_Property_Id,Type,Is_Active,Created_Date)
Select @RequestNo,@ParentRid,@Pid,am.rid,spt.propertyId,@Type,1,CAST(GETDATE() as DATE) from SplitString(@ChildRid,',') st JOIN AllotmentMaster am ON (am.rid=st.Item) JOIN SchemePropTrans spt ON (am.propertyId=spt.propertyId)
END
SELECT 1
END
 --SELECT *  FROm SchemePropTrans 
 --SELECT *  FROM Merge_Property_Master
 --SELECT *  FROM Merge_Property_Trans
 
GO
