USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[temp_scheme]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[temp_scheme](
	[CheckListId] [int] NOT NULL,
	[CheckListName] [varchar](max) NULL,
	[schemeId] [int] NULL,
	[MainList] [varchar](max) NULL,
	[onlineapplicationId] [int] NULL,
	[FileNAme] [varchar](500) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
