USE [NoidaMigrationUat]
GO
/****** Object:  View [dbo].[VecantPropertyList]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VecantPropertyList] as
select Departmentid,dbo.MasterName(Departmentid,5) as DepartmentName,sectorid,dbo.MasterName(sectorid,12) as SectorName,blockid,dbo.MasterName(blockid,13) as BlockName,propertyno,totalarea,'leasehold' as LeasHolde from SchemePropTrans where propertyid not in(select propertyid from allotmentmaster where isactive=1 and (isStatus='Approved' or isStatus='InProgress' ))  and isactive=1
GO
