USE [NoidaMigrationUat]
GO
/****** Object:  StoredProcedure [dbo].[Sp_PropertyBank]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[Sp_PropertyBank] (@list varchar(max),@Scheme int, @Department int,@Sector int,@block int,@PropertType int, @floorArea int, @Registry varchar(15))
AS
BEGIN
declare @civilCost decimal(15,2),
@propertyCost decimal(15,2),
@totalPropertyCost decimal(38,2),
@allotmentMoney decimal(15,2),
@landrate decimal(12,2),
@allotmentMoneyPercent decimal(5,2),
@id int,
@msg nvarchar(2048)
SET XACT_ABORT, NOCOUNT ON
IF(@Department=5)
begin
BEGIN TRY
BEGIN TRANSACTION
SELECT @propertyCost=propertyCost ,@civilCost= civilcost, @totalPropertyCost=totalPropertyCost,@allotmentMoney= allotmentMoney FROM SchemeCostTrans WHERE schemeId=@Scheme and departmentId=@Department and propertyTypeId=@PropertType and sectorId=@Sector and blockId=@block and floorId=@floorArea
UPDATE SchemePropTrans SET schemeid=@Scheme,civilCost=@civilCost,propertyCost=@propertyCost,totalPropertyCost=@totalPropertyCost,allotmentMoney=@allotmentMoney,Registry=@Registry WHERE refId in (SELECT Item from SplitString(@list,','))
COMMIT TRANSACTION
END TRY
BEGIN CATCH
   IF @@trancount > 0 ROLLBACK TRANSACTION
     SET @msg = error_message()  
      RAISERROR (@msg, 16, 1)
      RETURN 0
END CATCH
end
else
begin
BEGIN TRY
BEGIN TRANSACTION
SELECT @allotmentMoneyPercent=allotmentMoneyPercent FROM SchemeDepartmentTrans WHERE schemeId=@Scheme and departmentId=@Department
SELECT @landrate=landRatePerSqmt FROM SchemeCostTrans WHERE schemeId=@Scheme and departmentId=@Department and propertyTypeId=@PropertType and sectorId=@Sector and blockId=@block and floorId=@floorArea
UPDATE SchemePropTrans SET schemeid=@Scheme,totalPropertyCost=(@landrate*totalArea),allotmentMoney=((@allotmentMoneyPercent*totalPropertyCost)/100),Registry=@Registry,landRatePerSqmt=@landrate WHERE refId in (SELECT Item from SplitString(@list,','))
UPDATE SchemePropTrans SET allotmentMoney=((@allotmentMoneyPercent*totalPropertyCost)/100) WHERE refId in (SELECT Item from SplitString(@list,','))
COMMIT TRANSACTION
END TRY
BEGIN CATCH
   IF @@trancount > 0 ROLLBACK TRANSACTION
     SET @msg = error_message()  
      RAISERROR (@msg, 16, 1)
      RETURN 0
END CATCH
end
--Print '1'
return 1
END

GO
