USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[BranchMst]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BranchMst](
	[bankId] [int] NULL,
	[branchId] [int] IDENTITY(1,1) NOT NULL,
	[branchName] [varchar](30) NULL,
	[accountNumber] [varchar](25) NULL,
	[IsActive] [bit] NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
 CONSTRAINT [PK_BranchMst_branchId] PRIMARY KEY CLUSTERED 
(
	[branchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[BranchMst]  WITH CHECK ADD  CONSTRAINT [FK_BankMst_BranchMst_bankId] FOREIGN KEY([bankId])
REFERENCES [dbo].[BankMst] ([bankId])
GO
ALTER TABLE [dbo].[BranchMst] CHECK CONSTRAINT [FK_BankMst_BranchMst_bankId]
GO
