USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[OnlineApplicationDetails]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OnlineApplicationDetails](
	[onlineapplicationId] [int] IDENTITY(1,1) NOT NULL,
	[schemeId] [int] NULL,
	[departmentId] [int] NULL,
	[firstName] [varchar](100) NULL,
	[middleName] [varchar](100) NULL,
	[lastName] [varchar](100) NULL,
	[gender] [varchar](7) NULL,
	[marritalStatus] [varchar](9) NULL,
	[fatherHusbandName] [varchar](150) NULL,
	[motherName] [varchar](150) NULL,
	[dateOfBirth] [date] NULL,
	[signingAuthority] [varchar](150) NULL,
	[registeredOffice] [varchar](500) NULL,
	[correspondanceAdd] [varchar](500) NULL,
	[permanentAdd] [varchar](500) NULL,
	[mobileNumberP1] [varchar](10) NULL,
	[mobileNumberP2] [varchar](15) NULL,
	[phoneNumberP1] [varchar](10) NULL,
	[phoneNumberP2] [varchar](15) NULL,
	[faxNumberP1] [varchar](10) NULL,
	[faxNumberP2] [varchar](50) NULL,
	[email] [varchar](200) NULL,
	[occupationId] [int] NULL,
	[quotaId] [int] NULL,
	[religionId] [int] NULL,
	[pan] [varchar](10) NULL,
	[annualIncome] [decimal](18, 2) NULL,
	[CompanyName] [varchar](250) NULL,
	[ApplicationDate] [datetime] NULL,
	[ApplicationFee] [decimal](16, 2) NULL,
	[EarnestMoney] [decimal](16, 2) NULL,
	[ProcessingCharge] [decimal](16, 2) NULL,
	[TotalAmount] [decimal](16, 2) NULL,
	[CompanyType] [int] NULL,
	[area] [varchar](20) NULL,
	[Sector] [varchar](20) NULL,
	[Phase] [int] NULL,
	[Signaturefilename] [varchar](50) NULL,
	[Photographfilename] [varchar](50) NULL,
	[Documentfilename] [varchar](50) NULL,
	[RefundBankId] [int] NULL,
	[RefundInfaverof] [varchar](150) NULL,
	[RefundaccountNo] [varchar](50) NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
	[isActive] [bit] NULL,
	[Comment] [varchar](300) NULL,
	[CommentDate] [datetime] NULL,
	[ApproveDate] [datetime] NULL,
	[StatusCode] [int] NULL,
	[IFSCCode] [varchar](50) NULL,
	[BranchName] [varchar](100) NULL,
	[PropertyTypeID] [int] NULL,
	[FormSGST] [decimal](16, 2) NULL,
	[FormCGST] [decimal](16, 2) NULL,
	[ProcessingSGST] [decimal](16, 2) NULL,
	[ProcessingCGST] [decimal](16, 2) NULL,
	[IsSubmited] [bit] NULL,
	[paymentTypeId] [varchar](1) NULL,
	[AadharNumber] [varchar](20) NULL,
	[FormCategory] [varchar](20) NULL,
	[FormSubCategory] [nchar](20) NULL,
	[RentingLetterNo] [varchar](50) NULL,
	[RentingDate] [datetime] NULL,
	[RentingPropertyNo] [varchar](50) NULL,
	[ExistingPropertyNo] [varchar](50) NULL,
	[AllotmentDate] [datetime] NULL,
	[DispatchDate] [datetime] NULL,
	[PropertyNo] [varchar](50) NULL,
	[projectname] [varchar](200) NULL,
	[projectcost] [varchar](100) NULL,
	[projecttimeempl] [varchar](50) NULL,
	[GSTNO] [varchar](20) NULL,
 CONSTRAINT [PK_OnlineApplicationDetails] PRIMARY KEY CLUSTERED 
(
	[onlineapplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
