USE [NoidaMigrationUat]
GO
/****** Object:  StoredProcedure [dbo].[Sp_NewSchemereturn]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Created By: Ankit Jain
Created Date : 19/07/2016
Purpose: to create a payment schedule against a Rid
Test Example: exec Sp_NewSchemereturn 50000861,143143
*/
CREATE procedure [dbo].[Sp_NewSchemereturn] (@Onlineapplicationid int,@schemeid int)
as
BEGIN
declare @connecstring varchar(max),
@cnt INT = 0;
	SELECT a.CheckListId
      ,a.CheckListName
      ,a.schemeId
      ,a.MainList,b.onlineapplicationId,b.FileNAme into #temp_scheme 
FROM            dbo.OnlineCheckListMaster AS a left JOIN
                         dbo.OnlineCheckLisTrans as b ON a.CheckListId = b.CheckListId where  a.schemeId=@schemeid and b.onlineapplicationid=@Onlineapplicationid
delete from #temp_scheme
						 insert into #temp_scheme(CheckListId
      ,CheckListName
      ,schemeId
      ,MainList)			 
	SELECT a.CheckListId
      ,a.CheckListName
      ,a.schemeId
      ,a.MainList
FROM            dbo.OnlineCheckListMaster as a where  a.schemeId=@schemeid and a.isActive=1

UPDATE
    #temp_scheme
SET
    #temp_scheme.onlineapplicationId = RAN.onlineapplicationId,
	 #temp_scheme.FileNAme = RAN.FileNAme
FROM
    #temp_scheme SI
INNER JOIN
    OnlineCheckLisTrans RAN
ON 
    SI.CheckListId = RAN.CheckListId where SI.schemeId=@schemeid and RAN.onlineapplicationid=@Onlineapplicationid;

	--SELECT ROW_NUMBER() OVER(ORDER BY  t1.MainList ASC) AS Row_no,replace(replace(replace( replace(replace(replace(replace(t1.MainList,'1-',''),'2-',''),'3-',''),'4-',''),'5-',''),'6-',''),'7-','') as MainList ,
 --      CheckListName =replace(replace('<table border="1" width="100%" height="100%">'+REPLACE( (SELECT '<tr><td>'+CheckListName+'</td></tr>' AS [data()]
 --          FROM #temp_scheme t2
 --         WHERE t2.MainList = t1.MainList
 --         ORDER BY CheckListId
 --           FOR XML PATH('')
 --           ), ' ', ' ')+'</table>','&lt;','<'),'&gt;','>'),
	--		  Fileupload =replace(replace('<table border="1" width="100%" height="100%">'+REPLACE( (SELECT '<tr><td>'+case when FileNAme is null then 'NO' else 'Yes' end +'</td></tr>' AS [data()]
 --          FROM #temp_scheme t2
 --         WHERE t2.MainList = t1.MainList
 --         ORDER BY CheckListId
 --           FOR XML PATH('')
 --           ), ' ', ' ')+'</table>','&lt;','<'),'&gt;','>')
 --     FROM #temp_scheme t1
 --     GROUP BY MainList;
 SELECT 1 as row_no, '<tr><td style="text-align: center;">'+CAST(ROW_NUMBER() OVER(ORDER BY  t1.MainList ASC) AS VARCHAR(3)) + '</td><td>' + replace(replace(replace( replace(replace(replace(replace(t1.MainList,'1-',''),'2-',''),'3-',''),'4-',''),'5-',''),'6-',''),'7-','') +'</td><td>'+
  replace(replace('<table border="2" width="100%" height="100%" style="border-collapse: collapse;border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;">'+REPLACE( (SELECT '<tr><td width="80%">'+CheckListName+'</td><TD style="text-align: center;">'+case when FileNAme is null then 'NO' else 'Yes' end+'</TD></tr>' AS [data()]
           FROM #temp_scheme t2
          WHERE t2.MainList = t1.MainList
          ORDER BY CheckListId
            FOR XML PATH('')
          ), ' ', ' ')+'</table>','&lt;','<'),'&gt;','>')+'</td></tr>' as test into #temp2
		  FROM #temp_scheme t1
      GROUP BY MainList 


SELECT  @connecstring = STUFF((SELECT ' ' + test 
    FROM #temp2 AS x2 WHERE row_no = x.row_no
     ORDER BY row_no
     FOR XML PATH('')), 1, 1, '')
FROM #temp2 AS x
GROUP BY row_no


set @connecstring='<Table border="1" style="border-collapse: collapse;"><tr><th>SlNo</th><th></th><th><table border="1" width="100%" height="100%" style="border-collapse: collapse;border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;" ><tr><th width="80%">Desctiption</th><th>Enclosed "Yes" Not enclosed "No"</th></tr></table></th></tr>'
+replace(replace(@connecstring,'&lt;','<'),'&gt;','>')+'</table>'
	--select stuff((select ' '+test from #temp2 for xml path (' ')),1,1,'')
select @connecstring
--(
    
--    for XML path('')

--),1,1,'') as AttributeNames
--from #temp_scheme t
 --SELECT  '<tr><td>'+CAST(ROW_NUMBER() OVER(ORDER BY  t1.MainList ASC) AS VARCHAR(3)) + '</td><td>' + replace(replace(replace( replace(replace(replace(replace(t1.MainList,'1-',''),'2-',''),'3-',''),'4-',''),'5-',''),'6-',''),'7-','') +'</td><td>'+
 -- replace(replace('<table border="1" width="100%" height="100%">'+REPLACE( (SELECT '<tr><td width="80%">'+CheckListName+'</td><TD>'+case when FileNAme is null then 'NO' else 'Yes' end+'</TD></tr>' AS [data()]
 --          FROM #temp_scheme t2
 --         WHERE t2.MainList = t1.MainList
 --         ORDER BY CheckListId
 --           FOR XML PATH('')
 --         ), ' ', ' ')+'</table>','&lt;','<'),'&gt;','>')+'</td></tr>'
	--	  FROM #temp_scheme t1
 --     GROUP BY MainList;
	--SELECT @connecstring= '<tr><td>'+ROW_NUMBER() OVER(ORDER BY  t1.MainList ASC) + '</td><td>' + replace(replace(replace( replace(replace(replace(replace(t1.MainList,'1-',''),'2-',''),'3-',''),'4-',''),'5-',''),'6-',''),'7-','') +'</td><td>'+
 -- replace(replace('<table border="1" width="100%" height="100%">'+REPLACE( (SELECT '<tr><td>'+CheckListName+'</td></tr>' AS [data()]
 --          FROM #temp_scheme t2
 --         WHERE t2.MainList = t1.MainList
 --         ORDER BY CheckListId
 --           FOR XML PATH('')
 --           ), ' ', ' ')+'</table>','&lt;','<'),'&gt;','>')+'</td><td>'+
	--		replace(replace('<table border="1" width="100%" height="100%">'+REPLACE( (SELECT '<tr><td>'+case when FileNAme is null then 'NO' else 'Yes' end +'</td></tr>' AS [data()]
 --          FROM #temp_scheme t2
 --         WHERE t2.MainList = t1.MainList
 --         ORDER BY CheckListId
 --           FOR XML PATH('')
 --           ), ' ', ' ')+'</table>','&lt;','<'),'&gt;','>')+'</td></tr>'
 --     FROM #temp_scheme t1
 --     GROUP BY MainList;
	
	-- select @connecstring





--select ROW_NUMBER() OVER(ORDER BY  MainList ASC) AS Row_no,MainList,CheckListName,'Yws' as Fileupload  from OnlineCheckListMaster


END






GO
