USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[UmRoleMasterTrans]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UmRoleMasterTrans](
	[RefId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[MenuId] [int] NOT NULL,
	[IsRead] [bit] NULL,
	[IsWrite] [bit] NULL,
	[IsUpdate] [bit] NULL,
	[Isdelete] [bit] NULL,
	[CreatedBy] [varchar](15) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [varchar](15) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_UmRoleMasterTrans_RefId] PRIMARY KEY CLUSTERED 
(
	[RefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[UmRoleMasterTrans]  WITH CHECK ADD  CONSTRAINT [FK_UmRoleMasterTrans_UmApplicationMaster] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[UmApplicationMaster] ([ApplicationId])
GO
ALTER TABLE [dbo].[UmRoleMasterTrans] CHECK CONSTRAINT [FK_UmRoleMasterTrans_UmApplicationMaster]
GO
ALTER TABLE [dbo].[UmRoleMasterTrans]  WITH CHECK ADD  CONSTRAINT [FK_UmRoleMasterTrans_UmRoleMaster] FOREIGN KEY([RoleId])
REFERENCES [dbo].[UmRoleMaster] ([RoleId])
GO
ALTER TABLE [dbo].[UmRoleMasterTrans] CHECK CONSTRAINT [FK_UmRoleMasterTrans_UmRoleMaster]
GO
