USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[UmMenuMaster]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UmMenuMaster](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[MenuPathId] [int] NULL,
	[MenuName] [varchar](150) NULL,
	[MenuParentId] [int] NULL,
	[ApplicationId] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [varchar](15) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [varchar](15) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_UmMenuMaster_MenuId] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[UmMenuMaster]  WITH CHECK ADD  CONSTRAINT [FK_UmMenuMaster_UmApplicationMaster] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[UmApplicationMaster] ([ApplicationId])
GO
ALTER TABLE [dbo].[UmMenuMaster] CHECK CONSTRAINT [FK_UmMenuMaster_UmApplicationMaster]
GO
