USE [NoidaMigrationUat]
GO
/****** Object:  View [dbo].[View_Transfer_Charges_Check]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_Transfer_Charges_Check]
as
SELECT        rd.RECEIPT_ID, rd.RID_NO, rt.RECEIPT_HEAD_ID, rt.RECEIPT_SUBHEAD_ID, rd.PROPERTY_NUMBER, rd.PROP_ID, rd.ALLOTE_NAME, rt.DEPT_CODE, 
                         rt.CHALLAN_ID, rt.AMOUNT_PAID, rt.DEPOSIT_DATE, rt.STATUS, rt.USERID, rt.ENTRY_DATE, rd.P_FROM_DATE, rd.P_TO_DATE, rd.CONS_NO
FROM            dbo.RECEIPT_DETAIL_MASTER AS rd INNER JOIN
                         dbo.RECEIPT_AMOUNT_TRANS AS rt ON rd.RECEIPT_ID = rt.RECEIPT_ID
WHERE        (rt.RECEIPT_HEAD_ID = 52) AND (rt.RECEIPT_SUBHEAD_ID = 11)
GO
