USE [NoidaMigrationUat]
GO
/****** Object:  StoredProcedure [dbo].[Sp_NewPaymentSchedule_test]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Created By: Ankit Jain
Created Date : 19/07/2016
Description: use this stored procedure to create a payment schedule against a Rid
Test Example: exec Sp_NewPaymentSchedule 19
*/
Create procedure [dbo].[Sp_NewPaymentSchedule_test] (@rid int)
as
BEGIN
declare @balanceAmount decimal(24,2),
@installment decimal (22,2),
@Principle decimal(20,2),
@interest decimal(20,2),
@rate decimal(5,2),
@r decimal (8,2),
@frequency int,
@noOfInstallment int,
@installmentDate date,
@scheduleId int,
@factor decimal(20,2),
@month int,
@year int,
@i int,
@department int

SET @i = 1

INSERT INTO PaymentScheduleMaster (Rid,PrincipalAmount,NoOfInstallment,FrequencyOfInstallment,PeriodOfInstallment,InstallmentStartDate,NormalInterest,PenalInterest)
SELECt am.rid,spt.totalPropertyCost-isnull(spt.allotmentMoney,0) as 'Total Premium',sdt.noOfInstallments,sdt.frequency,sdt.noOfInstallments/sdt.frequency as 'Period', am.instalmentStartDate,sdt.normalInt,sdt.penalInt
FROM AllotmentMaster am JOIN SchemePropTrans spt ON (am.propertyId=spt.propertyId) JOIN SchemeDepartmentTrans sdt on (am.schemeId=sdt.schemeId and am.departmentId=sdt.departmentId) WHERE am.rid=@rid

SELECt TOP 1 @scheduleid= ScheduleId,@balanceAmount=PrincipalAmount, @noOfInstallment=NoOfInstallment,@frequency=FrequencyOfInstallment,@rate= NormalInterest,@installmentDate= InstallmentStartDate FROM PaymentScheduleMaster WHERE rid=@rid

--SELECt TOP 1 @balanceAmount=spt.totalPropertyCost-spt.allotmentMoney,@noOfInstallment=sdt.noOfInstallments,@frequency=sdt.frequency,@rate=sdt.normalInt,@installmentDate=am.instalmentStartDate
--FROM AllotmentMaster am JOIN SchemePropTrans spt ON (am.propertyId=spt.propertyId) JOIN SchemeDepartmentTrans sdt on (am.schemeId=sdt.schemeId and am.departmentId=sdt.departmentId) WHERE am.rid=@rid
--SELECT @scheduleId=scheduleId from PaymentScheduleMaster WHERE Rid=@rid

If(@frequency=2 AND @department=4)
BEGIN
--SET @installmentDate = DATEADD(month,6,@installmentDate)
	SET @month = DATEPART(month,@installmentDate)
	SET @year = DATEPART(year,@installmentDate)
	if (@month>6 AND @month<=12)
	BEGIN
		SET @installmentDate = CAST((CAST(@year as varchar)+'-'+'12'+'-'+'31') as date)
	END
	ELSE IF (@month>=1 AND @month<=6)
	BEGIN
		SET @installmentDate = CAST((CAST(@year as varchar)+'-'+'06'+'-'+'30') as date)
	END
END

SET @r = @rate/(@rate/(12/@frequency))
SET @factor = (POWER(( 1 + (@r/100)),@noOfInstallment)*(@r/100))/(POWER((1+(@r/100)),@noOfInstallment)-1)
SET @Installment = @factor * @balanceAmount
SET @Principle = @balanceAmount/@noOfInstallment

WHILE (@i< = @noOfInstallment)
BEGIN
	if(@department=4)
	begin
		SET @Interest = (@r * @balanceAmount)/100
		SET @Principle = @installment-@interest
		SET @balanceAmount=@balanceAmount-@Principle
	END

SET @interest = (@balanceAmount*(@rate/(12/@frequency)))/100
SET @balanceAmount=@balanceAmount-@Principle

INSERT INTO PaymentScheduleTrans (ScheduleId,Rid,InstallmentNumber,PrincipalInstallmentAmount,InterestInstallmentAmount,PrincipalBalAmount,InstallmentDueDate)
SELECT @scheduleId,@rid,@i,@Principle,@interest,@balanceAmount,@installmentDate

if (@frequency=1)
BEGIN
	SET @installmentDate = dateADD(month,12,@installmentDate)
END
ELSE IF (@frequency=2)
BEGIN
	IF (@department=4)
	BEGIN
		SET  @installmentDate =DATEADD(month,DATEDIFF(month,0,DATEADD(month,6,@installmentDate))+1,0)-1 --EOMONTH(dateADD(month,6,@installmentDate))
	END
	ELSE
	BEGIN
		SET @installmentDate = dateADD(month,6,@installmentDate)
	END
END
ELSE IF (@frequency=4)
BEGIN
	SET @installmentDate = dateADD(month,3,@installmentDate)
END
ELSE IF (@frequency=12)
BEGIN
	SET @installmentDate = dateADD(month,1,@installmentDate)
END
SET @i= @i+1
END
END





GO
