USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[SchemeDepartmentTrans]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SchemeDepartmentTrans](
	[schemeId] [int] NULL,
	[departmentId] [int] NULL,
	[refId] [int] IDENTITY(1,1) NOT NULL,
	[normalInt] [float] NULL,
	[penalInt] [float] NULL,
	[frequency] [int] NULL,
	[noOfInstallments] [int] NULL,
	[far] [float] NULL,
	[allotmentMoneyPercent] [float] NULL,
	[installmentMoneyPercent] [float] NULL,
	[selectionType] [varchar](50) NULL,
	[leaseRentPercent] [float] NULL,
	[IsActive] [bit] NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
 CONSTRAINT [PK_SchemeDepartmentTrans_refId] PRIMARY KEY CLUSTERED 
(
	[refId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SchemeDepartmentTrans]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentMst_SchemeDepartmentTrans_departmentId] FOREIGN KEY([departmentId])
REFERENCES [dbo].[DepartmentMst] ([departmentId])
GO
ALTER TABLE [dbo].[SchemeDepartmentTrans] CHECK CONSTRAINT [FK_DepartmentMst_SchemeDepartmentTrans_departmentId]
GO
ALTER TABLE [dbo].[SchemeDepartmentTrans]  WITH CHECK ADD  CONSTRAINT [FK_SchemeMst_SchemeDepartmentTrans_schemeId] FOREIGN KEY([schemeId])
REFERENCES [dbo].[SchemeMst] ([schemeId])
GO
ALTER TABLE [dbo].[SchemeDepartmentTrans] CHECK CONSTRAINT [FK_SchemeMst_SchemeDepartmentTrans_schemeId]
GO
ALTER TABLE [dbo].[SchemeDepartmentTrans]  WITH CHECK ADD  CONSTRAINT [CK__SchemeDep__frequ__4D5F7D71] CHECK  (([frequency]=(1) OR [frequency]=(2) OR [frequency]=(4) OR [frequency]=(12)))
GO
ALTER TABLE [dbo].[SchemeDepartmentTrans] CHECK CONSTRAINT [CK__SchemeDep__frequ__4D5F7D71]
GO
