USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[SigningOfficerMaster]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SigningOfficerMaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[departmentId] [int] NULL,
	[officerDetails] [varchar](100) NULL,
	[efficatTo] [date] NULL,
	[efficatFrom] [date] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_SigningOfficerMaster] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
