USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[tblServiceGroup]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblServiceGroup](
	[ServiceGroupId] [int] NOT NULL,
	[ServiceGroupName] [varchar](200) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
