USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[StampDutyMaster]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StampDutyMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](20) NULL,
	[StampDutyPercent] [decimal](8, 3) NULL,
	[DuplicateStampDutyValINR] [decimal](10, 3) NULL,
	[EffectedFrom] [datetime] NULL,
	[EffectedTo] [datetime] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[Modifiedby] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_StampDutyMaster_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
