USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[back_ApplicationDetails]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[back_ApplicationDetails](
	[applicationId] [int] IDENTITY(1,1) NOT NULL,
	[schemeId] [int] NULL,
	[departmentId] [int] NULL,
	[formNo] [varchar](50) NULL,
	[firstName] [varchar](250) NULL,
	[middleName] [varchar](100) NULL,
	[lastName] [varchar](100) NULL,
	[gender] [varchar](7) NULL,
	[marritalStatus] [varchar](9) NULL,
	[fatherHusbandName] [varchar](180) NULL,
	[motherName] [varchar](150) NULL,
	[dateOfBirth] [date] NULL,
	[signingAuthority] [varchar](150) NULL,
	[registeredOffice] [varchar](500) NULL,
	[correspondanceAdd] [varchar](500) NULL,
	[permanentAdd] [varchar](500) NULL,
	[mobileNumberP1] [varchar](10) NULL,
	[mobileNumberP2] [varchar](15) NULL,
	[phoneNumberP1] [varchar](10) NULL,
	[phoneNumberP2] [varchar](15) NULL,
	[faxNumberP1] [varchar](10) NULL,
	[faxNumberP2] [varchar](15) NULL,
	[email] [varchar](200) NULL,
	[occupationId] [int] NULL,
	[quotaId] [int] NULL,
	[religionId] [int] NULL,
	[pan] [varchar](10) NULL,
	[annualIncome] [decimal](18, 2) NULL,
	[registrationId] [int] NULL,
	[isAllotted] [varchar](1) NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
	[tFirstName] [varchar](250) NULL,
	[tMiddleName] [varchar](100) NULL,
	[tLastName] [varchar](100) NULL,
	[tGender] [varchar](7) NULL,
	[tMarritalStatus] [varchar](9) NULL,
	[tFatherHusbandName] [varchar](180) NULL,
	[tMotherName] [varchar](150) NULL,
	[tDateOfBirth] [date] NULL,
	[tSigningAuthority] [varchar](150) NULL,
	[tRegisteredOffice] [varchar](500) NULL,
	[tCorrespondanceAdd] [varchar](500) NULL,
	[tPermanentAdd] [varchar](500) NULL,
	[tMobileNumber] [varchar](12) NULL,
	[tPhoneNumber] [varchar](14) NULL,
	[tEmail] [varchar](100) NULL,
	[tOccupationId] [int] NULL,
	[tPan] [varchar](10) NULL,
	[tAnnualIncome] [decimal](18, 2) NULL,
	[tFlag] [bit] NULL,
	[tType] [varchar](20) NULL,
	[tSubType] [varchar](20) NULL,
	[tDate] [date] NULL,
	[T_Company_Name] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
