USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[Merge_Property_Master]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Merge_Property_Master](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rid] [int] NULL,
	[Property_Id] [int] NULL,
	[Charges] [decimal](16, 2) NULL,
	[DepartmentId] [int] NULL,
	[SectorId] [int] NULL,
	[BlockId] [int] NULL,
	[Request_Date] [date] NULL,
	[Approved_Date] [date] NULL,
	[Assigned_To] [int] NULL,
	[Status] [int] NULL,
	[Type] [int] NULL,
	[Is_Active] [bit] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [date] NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [date] NULL,
	[Comment] [varchar](500) NULL,
	[RComment] [varchar](500) NULL,
	[RCommentDate] [datetime] NULL,
 CONSTRAINT [PK_Merge_Master] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Merge_Property_Master]  WITH CHECK ADD  CONSTRAINT [FK_Allotment_Merge] FOREIGN KEY([Rid])
REFERENCES [dbo].[AllotmentMaster] ([rid])
GO
ALTER TABLE [dbo].[Merge_Property_Master] CHECK CONSTRAINT [FK_Allotment_Merge]
GO
