USE [NoidaMigrationUat]
GO
/****** Object:  UserDefinedFunction [dbo].[RequestType]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--select [dbo].[RequestType] (2,9)
CREATE FUNCTION [dbo].[RequestType] (@deptid int, @serviceid int,@CreatedFromDate date,@CreatedToDate date)
RETURNS varchar(max)
BEGIN
  DECLARE @ReqType varchar(max)
   DECLARE @SReqType varchar(max)
  Declare @ServId int  
  Declare @DepartId int 
  Declare @DepartIdPre int 
   Declare @SeqDepartIdPre int 
   Declare @Request_Status int  
   
  Declare @Count int 
  declare @ReqText varchar(500)
  set @ReqType=''
  set @SReqType =''
  declare @reqCountTotal int
  DECLARE cur_emp CURSOR
STATIC FOR 
select  vsr.departmentId,vsr.ServiceId,vsr.Request_Status,count(*),vsr.RequestName
from View_Service_report vsr 
--inner join NoidaMigrationUat.[dbo].tblServiceGroup csg on vsr.ServiceId=csg.ServiceGroupId
--inner join NoidaMigrationUat.[dbo].tblServiceLink csl on csg.ServiceGroupId = csl.servicegroupid 
where vsr.ServiceId = @serviceid
and  cast(vsr.Created_Date as date) >=  isnull(@CreatedFromDate,vsr.Created_Date) and cast(vsr.Created_Date as date) <= isnull(@CreatedToDate,vsr.Created_Date)
group by 
 vsr.departmentId,vsr.ServiceId, vsr.Request_Status,vsr.RequestName
order by  vsr.ServiceId,vsr.departmentId, vsr.Request_Status desc
set @DepartIdPre = 0
set @reqCountTotal = 0
OPEN cur_emp
IF @@CURSOR_ROWS > 0
 BEGIN 
 FETCH NEXT FROM cur_emp INTO @DepartId,@ServId,@Request_Status,@Count,@ReqText
 WHILE @@Fetch_status = 0
 BEGIN 	
	if(@DepartId=@DepartIdPre)
	begin 
		set @SReqType = (select [dbo].[RequestTypeNew] (@DepartId, @ServId,@CreatedFromDate,@CreatedToDate))
		select @ReqType = REPLACE(@ReqType,'@@SerReqStatus',@SReqType) 	
	end   
	else
	begin
	set @SeqDepartIdPre =  (select COUNT(*) from (select distinct DepartmentId from Customer_ServiceRequest where DepartmentId < @DepartId) as SeqCount)
	declare @reqCount int
	declare @FreqCount int
	set @reqCount = (select COUNT(*) from (select COUNT(Request_Status) as counting from Customer_ServiceRequest where DepartmentId < @DepartId and serviceid = @ServId and IsActive =1 group by DepartmentId ) as sdf)
	
	set @FreqCount  = (@SeqDepartIdPre - @reqCount)
	set @reqCount  = (@SeqDepartIdPre - @reqCount)
	
	if(@reqCount > 0 and @reqCountTotal > 0) begin set @FreqCount = @reqCount - @reqCountTotal end
		if(@reqCount>0)
		begin		
		--set @reqCountTotal = @reqCount
		--set @ReqType +=''+(REPLICATE('<td class="DeptReq"></td>',(@FreqCount)))+'<td class="DeptReq"><table><tr><td class="Reqstatus  '+ (select [dbo].[Request_StatusClass] (@Request_Status)) +'" onclick="ShowUserWiseRequest('''+ convert(varchar(100),@DepartId)+'#'+convert(varchar(100),@ServId)+'#'+convert(varchar(100),@Request_Status) +''')"><span class="circlesp">' + convert(varchar(100),@Count) + '</span><br><span>'+ convert(varchar(100),@ReqText) + '</span>@@SerReqStatus<td></tr></table></td>'
		set @ReqType +=''+(REPLICATE('<td class="DeptReq"></td>',(@FreqCount)))+'<td class="DeptReq"><table><tr><td class="Reqstatus  '+ (select [dbo].[Request_StatusClass] (@Request_Status)) +'" onclick="ShowUserWiseRequest('''+ convert(varchar(100),@DepartId)+'#'+convert(varchar(100),@ServId)+'#'+convert(varchar(100),@Request_Status) +''')"><span class="circlesp">' + convert(varchar(100),@Count) + '</span>@@SerReqStatus<td></tr></table></td>'
		end
		else
		begin
		declare @reStatusCount int
		set @reStatusCount=(select COUNT(*) from (select Request_Status from Customer_ServiceRequest where DepartmentId = @DepartId and serviceid = @ServId group by DepartmentId ,Request_Status) as ReStatusCount)
		if(@reStatusCount>1)
		begin
		--set @ReqType +='<td class="DeptReq"><table><tr><td class="Reqstatus  '+ (select [dbo].[Request_StatusClass] (@Request_Status)) +'" onclick="ShowUserWiseRequest('''+ convert(varchar(100),@DepartId)+'#'+convert(varchar(100),@ServId)+'#'+convert(varchar(100),@Request_Status) +''')"><span class="circlesp">' + convert(varchar(100),@Count) + '</span><br><span>'+ convert(varchar(100),@ReqText) + '</span>@@SerReqStatus<td></tr></table></td>'	
		set @ReqType +='<td class="DeptReq"><table><tr><td class="Reqstatus  '+ (select [dbo].[Request_StatusClass] (@Request_Status)) +'" onclick="ShowUserWiseRequest('''+ convert(varchar(100),@DepartId)+'#'+convert(varchar(100),@ServId)+'#'+convert(varchar(100),@Request_Status) +''')"><span class="circlesp">' + convert(varchar(100),@Count) + '</span>@@SerReqStatus<td></tr></table></td>'	
		end
		else
		begin
		--set @ReqType +='<td class="DeptReq"><table><tr><td class="Reqstatus  '+ (select [dbo].[Request_StatusClass] (@Request_Status)) +'" onclick="ShowUserWiseRequest('''+ convert(varchar(100),@DepartId)+'#'+convert(varchar(100),@ServId)+'#'+convert(varchar(100),@Request_Status) +''')"><span class="circlesp">' + convert(varchar(100),@Count) + '</span><br><span>'+ convert(varchar(100),@ReqText) + '</span><td></tr></table></td>'	
		set @ReqType +='<td class="DeptReq"><table><tr><td class="Reqstatus  '+ (select [dbo].[Request_StatusClass] (@Request_Status)) +'" onclick="ShowUserWiseRequest('''+ convert(varchar(100),@DepartId)+'#'+convert(varchar(100),@ServId)+'#'+convert(varchar(100),@Request_Status) +''')"><span class="circlesp">' + convert(varchar(100),@Count) + '</span><td></tr></table></td>'	
		end
		end
	end	
  set @DepartIdPre = @DepartId  
  set @reqCountTotal = @reqCount
 FETCH NEXT FROM cur_emp INTO @DepartId,@ServId,@Request_Status,@Count,@ReqText
 END
END
CLOSE cur_emp
DEALLOCATE cur_emp
select @ReqType = REPLACE(@ReqType,'@@SerReqStatus','') 
  RETURN @ReqType
END;


GO
