USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[UmUserMasterRole]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UmUserMasterRole](
	[RefId] [int] IDENTITY(1,1) NOT NULL,
	[UserRefId] [int] NULL,
	[RoleId] [int] NULL,
	[isActive] [bit] NULL,
	[CreatedBy] [varchar](15) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [varchar](15) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_UmUserMasterRole_RefId] PRIMARY KEY CLUSTERED 
(
	[RefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[UmUserMasterRole]  WITH CHECK ADD  CONSTRAINT [FK_UmUserMasterRole_UmRoleMaster] FOREIGN KEY([RoleId])
REFERENCES [dbo].[UmRoleMaster] ([RoleId])
GO
ALTER TABLE [dbo].[UmUserMasterRole] CHECK CONSTRAINT [FK_UmUserMasterRole_UmRoleMaster]
GO
ALTER TABLE [dbo].[UmUserMasterRole]  WITH CHECK ADD  CONSTRAINT [FK_UmUserMasterRole_UmUserMaster] FOREIGN KEY([UserRefId])
REFERENCES [dbo].[UmUserMaster] ([UserRefId])
GO
ALTER TABLE [dbo].[UmUserMasterRole] CHECK CONSTRAINT [FK_UmUserMasterRole_UmUserMaster]
GO
