USE [NoidaMigrationUat]
GO
/****** Object:  View [dbo].[View_Service_report]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_Service_report]
AS
SELECT        a.Id AS requestNo, a.Registration_No, b.PRDVREGIST_APPLICANT_NAME, b.SECTOR, b.BLOCK, b.PLDIPROPERTY_NO, a.DepartmentId, a.ServiceId, a.MobileNumber, a.Email, a.Description, a.Created_Date, 
                         (CASE WHEN a.serviceid = 21 THEN c.ServiceName + CHAR(13) + CHAR(10) + a.Description ELSE c.ServiceName END) AS ServiceName, a.RequestorName, a.RequestorAddress, (case when a.SubDepartment='A' then 'Account' when a.SubDepartment='P' then 'property' when isnull(a.SubDepartment,' ')=' '  then ' ' else dbo.MasterName(cast(a.SubDepartment as int),58) end) as SubDepartment , a.Comment, 
                         a.Request_Status, dbo.MasterName(a.Request_Status, 53) AS RequestName, a.ServiceFee, a.DuesAmount, a.LastDateofPayment, a.PaymentStatus, a.ChallanId, b.PRDVREGIST_APPLICANT_ADDRESS, 
                         a.UploadedDocumentName, a.DispatchNumber, a.DispatchDate, a.DispatchDocumentId, a.DispatchDocumentName, a.ServiceType
FROM            dbo.Customer_ServiceRequest AS a INNER JOIN
                         NoidaDashboardProd.dbo.view_property AS b ON a.Registration_No = b.PRDVREGISTRATION_ID INNER JOIN
                         dbo.CitizenService_Master AS c ON CAST(a.DepartmentId AS varchar(3)) + CAST(a.ServiceId AS varchar(2)) = CAST(c.Deptt_Id AS varchar(3)) + CAST(c.service_id AS varchar(3))
WHERE        (a.IsActive = 1) AND (c.Status = 1)
UNION ALL
SELECT        a.Id AS requestNo, cast(a.Id AS varchar(10)) AS Registration_No, a.ApplicantName, LEFT(a.property_no, CHARINDEX('/', a.property_no) - 1) AS SECTOR, SUBSTRING(a.property_no, CHARINDEX('/', a.property_no) + 1, 
                         len(a.property_no) - (2 + len(LEFT(a.property_no, CHARINDEX('/', a.property_no) - 1)) + len(SUBSTRING(a.property_no, CHARINDEX('-', a.property_no) + 1, len(a.property_no))))) AS BLOCK, SUBSTRING(a.property_no, 
                         CHARINDEX('-', a.property_no) + 1, len(a.property_no)) AS PLDIPROPERTY_NO, a.DepartmentId, a.ServiceId, a.MobileNumber, a.Email, a.Description, a.Created_Date, 
                         (CASE WHEN a.serviceid = 21 THEN c.ServiceName + CHAR(13) + CHAR(10) + a.Description ELSE c.ServiceName END) AS ServiceName, a.RequestorName, a.RequestorAddress, (case when a.SubDepartment='A' then 'Account' when a.SubDepartment='P' then 'property' when isnull(a.SubDepartment,' ')=' '  then ' ' else dbo.MasterName(cast(a.SubDepartment as int),58)  end) as SubDepartment, a.Comment, 
                         a.Request_Status, dbo.MasterName(a.Request_Status, 53) AS RequestName, a.ServiceFee, a.DuesAmount, a.LastDateofPayment, a.PaymentStatus, a.ChallanId, a.ApplicantAddress, a.UploadedDocumentName, 
                         a.DispatchNumber, a.DispatchDate, a.DispatchDocumentId, a.DispatchDocumentName, a.ServiceType
FROM            dbo.Customer_ServiceRequest AS a, dbo.CitizenService_Master AS c
WHERE        CAST(a.DepartmentId AS varchar(3)) + CAST(a.ServiceId AS varchar(2)) = CAST(c.Deptt_Id AS varchar(3)) + CAST(c.service_id AS varchar(3)) AND a.Registration_No = '' AND a.IsActive = 1 AND c.Status = 1

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[17] 4[5] 2[50] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_Service_report'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_Service_report'
GO
