USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[PRE_FULL_PAYMENT_NDC]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRE_FULL_PAYMENT_NDC](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationId] [int] NULL,
	[Applicant] [nvarchar](255) NULL,
	[PropertyNo] [nvarchar](255) NULL,
	[TotalPaidPream] [varchar](1) NULL,
	[DuePrincipalAmount] [float] NULL,
	[DueIntrestAmount] [float] NULL,
	[DateUptoPream] [date] NULL,
	[OneTimeLease] [varchar](1) NULL,
	[LeaseRentUpto] [varchar](9) NULL,
	[LeaseRentAmount] [float] NULL,
	[NDCDate] [date] NULL,
	[EntryDate] [date] NULL,
	[Status] [nvarchar](255) NULL,
	[CreatedOn] [date] NULL,
	[CreatedBy] [varchar](10) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_PRE_FULL_PAYMENT_NDC_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
