USE [NoidaMigrationUat]
GO
/****** Object:  View [dbo].[ViewRoleWiseApplication]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewRoleWiseApplication]
AS
SELECT        dbo.UmUserMaster.UserRefId, dbo.UmUserMasterRole.RoleId, dbo.UmRoleAppTrans.ApplicationId, dbo.UmRoleMaster.RoleType
FROM            dbo.UmRoleAppTrans INNER JOIN
                         dbo.UmUserMaster INNER JOIN
                         dbo.UmUserMasterRole ON dbo.UmUserMaster.UserRefId = dbo.UmUserMasterRole.UserRefId ON 
                         dbo.UmRoleAppTrans.RoleId = dbo.UmUserMasterRole.RoleId INNER JOIN
                         dbo.UmRoleMaster ON dbo.UmRoleAppTrans.RoleId = dbo.UmRoleMaster.RoleId AND dbo.UmUserMasterRole.RoleId = dbo.UmRoleMaster.RoleId

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[35] 4[4] 2[16] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "UmUserMaster"
            Begin Extent = 
               Top = 0
               Left = 8
               Bottom = 173
               Right = 178
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "UmUserMasterRole"
            Begin Extent = 
               Top = 0
               Left = 230
               Bottom = 167
               Right = 399
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "UmRoleAppTrans"
            Begin Extent = 
               Top = 0
               Left = 739
               Bottom = 167
               Right = 909
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "UmRoleMaster"
            Begin Extent = 
               Top = 0
               Left = 417
               Bottom = 129
               Right = 589
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewRoleWiseApplication'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'= 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewRoleWiseApplication'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewRoleWiseApplication'
GO
