USE [NoidaMigrationUat]
GO
/****** Object:  StoredProcedure [dbo].[Sp_NewPaymentSchedule]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Created By: Ankit Jain
Created Date : 19/07/2016
Purpose: to create a payment schedule against a Rid
Test Example: exec Sp_NewPaymentSchedule 84
*/
CREATE procedure [dbo].[Sp_NewPaymentSchedule] (@rid int)
as
BEGIN
declare @balanceAmount decimal(24,2),
@installment decimal (22,2),
@Principle decimal(20,2),
@interest decimal(20,2),
@rate decimal(5,2),
@r decimal (8,2),
@frequency int,
@noOfInstallment int,
@installmentDate date,
@firstInstallmentDate date,
@IndustryAmount decimal(20,2),
@AllotmentDate date,
@scheduleId int,
@factor decimal(20,2),
@month int,
@year int,
@i int,
@department int,
@countV int

SET @i = 1
select @countV=count(*) from PaymentScheduleMaster where Rid=@Rid and IsActive=1 and ScheduleType='I'
if @countV>0 return
--begin
--update PaymentScheduleMaster set IsActive=0 where Rid=@Rid and ScheduleType='I'
--update PaymentScheduleTrans set IsActive=0 where Rid=@Rid and ScheduleType='I'
--end
--else
--begin

SELECt @department=departmentId from AllotmentMaster WHERE Rid=@rid and isActive=1 and isStatus='Approved'
INSERT INTO PaymentScheduleMaster (Rid,PrincipalAmount,NoOfInstallment,FrequencyOfInstallment,PeriodOfInstallment,InstallmentStartDate,NormalInterest,PenalInterest,ScheduleType,IsActive,CreatedDate)
SELECt am.rid,spt.totalPropertyCost-spt.allotmentMoney as 'Total Premium',sdt.noOfInstallments,sdt.frequency,sdt.noOfInstallments/sdt.frequency as 'Period', am.instalmentStartDate,sdt.normalInt,sdt.penalInt,'I' ScheduleType,1 as IsActive,CAST(getdate() as Date)
FROM AllotmentMaster am JOIN SchemePropTrans spt ON (am.propertyId=spt.propertyId) JOIN SchemeDepartmentTrans sdt on (am.schemeId=sdt.schemeId and am.departmentId=sdt.departmentId) WHERE am.rid=@rid

SELECt  @scheduleid= ScheduleId,@balanceAmount=PrincipalAmount, @noOfInstallment=NoOfInstallment,@frequency=FrequencyOfInstallment,@rate= NormalInterest,@installmentDate= InstallmentStartDate FROM PaymentScheduleMaster WHERE rid=@rid and IsActive=1 and ScheduleType='I' and CreatedDate=CAST(getdate() as date)
--SELECt TOP 1 @balanceAmount=spt.totalPropertyCost-spt.allotmentMoney,@noOfInstallment=sdt.noOfInstallments,@frequency=sdt.frequency,@rate=sdt.normalInt,@installmentDate=am.instalmentStartDate
--FROM AllotmentMaster am JOIN SchemePropTrans spt ON (am.propertyId=spt.propertyId) JOIN SchemeDepartmentTrans sdt on (am.schemeId=sdt.schemeId and am.departmentId=sdt.departmentId) WHERE am.rid=@rid
--SELECT @scheduleId=scheduleId from PaymentScheduleMaster WHERE Rid=@rid

--If(@frequency=2 AND @department=4)
--BEGIN
----SET @installmentDate = DATEADD(month,6,@installmentDate)
--	SET @month = DATEPART(month,@installmentDate)
--	SET @year = DATEPART(year,@installmentDate)
--	if (@month>6 AND @month<=12)
--	BEGIN
--		SET @installmentDate = CAST((CAST(@year as varchar)+'-'+'12'+'-'+'31') as date)
--	END
--	ELSE IF (@month>=1 AND @month<=6)
--	BEGIN
--		SET @installmentDate = CAST((CAST(@year as varchar)+'-'+'06'+'-'+'30') as date)
--	END
--END
SET @IndustryAmount=@balanceAmount
PRINT @balanceAmount
SET @r = (@rate/(12/(12/@frequency)))
SET @factor = (POWER(( 1 + (@r/100)),@noOfInstallment)*(@r/100))/(POWER((1+(@r/100)),@noOfInstallment)-1)
PRINT 'Factor' + CAST (@factor as varchar(20))
SET @Installment = round(@factor * @balanceAmount,0)
SET @Principle = round(@balanceAmount/@noOfInstallment,0)
PRINT @Principle
WHILE (@i< = @noOfInstallment)
BEGIN
	if(@department=4 OR @department=5)
	begin
		SET @Interest = round((@r * @balanceAmount)/100,0)
		SET @Principle = @installment-@interest
		SET @balanceAmount=@balanceAmount-@Principle
	END
	else
	begin
	PRINT @frequency;
	PRINT @rate/(@frequency)
	SET @interest = round((@balanceAmount*(@rate/(@frequency)))/100,0)
	SET @balanceAmount=@balanceAmount-@Principle
	PRINT @balanceAmount
	end

INSERT INTO PaymentScheduleTrans (ScheduleId,Rid,InstallmentNumber,PrincipalInstallmentAmount,InterestInstallmentAmount,PrincipalBalAmount,InstallmentDueDate,ScheduleType,IsActive,CreatedDate)
SELECT @scheduleId,@rid,@i,@Principle,@interest,@balanceAmount,@installmentDate, 'I' ScheduleType,1 as IsActive,cast(getdate() as date)

if (@frequency=1)
BEGIN
	SET @installmentDate = dateADD(month,12,@installmentDate)
END
ELSE IF (@frequency=2)
BEGIN
	IF (@department=4)
	BEGIN
		SET  @installmentDate =DATEADD(month,DATEDIFF(month,0,DATEADD(month,6,@installmentDate))+1,0)-1 --EOMONTH(dateADD(month,6,@installmentDate))
	END
	ELSE
	BEGIN
		SET @installmentDate = dateADD(month,6,@installmentDate)
	END
END
ELSE IF (@frequency=4)
BEGIN
	SET @installmentDate = dateADD(month,3,@installmentDate)
END
ELSE IF (@frequency=12)
BEGIN
	SET @installmentDate = dateADD(month,1,@installmentDate)
END
SET @i= @i+1
END

If(@department=4)
BEGIN
SELECT @AllotmentDate=allotmentDate from AllotmentMaster WHERE Rid=@rid and isActive=1 and isStatus='Approved'
SELECT @firstInstallmentDate=InstallmentDueDate from PaymentScheduleTrans WHERE IsActive=1 and ScheduleType='I' and InstallmentNumber=1 and Rid=@rid
SET @IndustryAmount=(((@IndustryAmount*@rate)/100)/365)*(DATEDIFF(Day,@AllotmentDate,@firstInstallmentDate))
UPDATE PaymentScheduleTrans SET InterestInstallmentAmount=InterestInstallmentAmount+@IndustryAmount WHERE IsActive=1 and ScheduleType='I' and InstallmentNumber=1 and Rid=@rid
END
	--if exists (SELECT pm.rid FROM PaymentScheduleMaster pm JOIN PaymentScheduleTrans Pt on (pm.ScheduleId=pt.ScheduleId) WHERE pm.Rid=@rid)
	--BEGIN
	--SELECT 1;
	--END
	--ELSE
	--BEGIN
	--SELECT 0;
	--END
--end
END






GO
