USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[UnsuccessfulApplicantListMaster]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UnsuccessfulApplicantListMaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[applicationId] [int] NULL,
	[schemeId] [int] NULL,
	[departmentId] [int] NULL,
	[submitDate] [date] NULL,
	[RefundInitiateDate] [date] NULL,
	[approverName] [varchar](15) NULL,
	[isSubmitted] [bit] NULL,
	[status] [varchar](20) NULL,
	[comment] [varchar](300) NULL,
	[isActive] [bit] NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
	[submittedBy] [int] NULL,
	[approvedDate] [date] NULL,
	[RComment] [varchar](500) NULL,
	[RCommentDate] [datetime] NULL,
 CONSTRAINT [PK_UnsuccessfulApplicantListMaster_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[UnsuccessfulApplicantListMaster]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationDetails_UnsuccessfulApplicantListMaster_applicationId] FOREIGN KEY([applicationId])
REFERENCES [dbo].[ApplicationDetails] ([applicationId])
GO
ALTER TABLE [dbo].[UnsuccessfulApplicantListMaster] CHECK CONSTRAINT [FK_ApplicationDetails_UnsuccessfulApplicantListMaster_applicationId]
GO
ALTER TABLE [dbo].[UnsuccessfulApplicantListMaster]  WITH CHECK ADD  CONSTRAINT [FK_departmentMst_UnsuccessfulApplicantListMaster_departmentId] FOREIGN KEY([departmentId])
REFERENCES [dbo].[DepartmentMst] ([departmentId])
GO
ALTER TABLE [dbo].[UnsuccessfulApplicantListMaster] CHECK CONSTRAINT [FK_departmentMst_UnsuccessfulApplicantListMaster_departmentId]
GO
ALTER TABLE [dbo].[UnsuccessfulApplicantListMaster]  WITH CHECK ADD  CONSTRAINT [FK_SchemeMst_UnsuccessfulApplicantListMaster_schemeId] FOREIGN KEY([schemeId])
REFERENCES [dbo].[SchemeMst] ([schemeId])
GO
ALTER TABLE [dbo].[UnsuccessfulApplicantListMaster] CHECK CONSTRAINT [FK_SchemeMst_UnsuccessfulApplicantListMaster_schemeId]
GO
