USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[back_CitizenService_Master]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[back_CitizenService_Master](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Deptt_Id] [int] NULL,
	[service_id] [int] NULL,
	[ServiceName] [varchar](500) NULL,
	[Timeline] [int] NULL,
	[Amount] [decimal](18, 2) NULL,
	[Status] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
