USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[RECEIPT_DETAIL_MASTER]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RECEIPT_DETAIL_MASTER](
	[RECEIPT_ID] [bigint] NOT NULL,
	[PROPERTY_NUMBER] [varchar](150) NULL,
	[PROP_REG_ID] [varchar](50) NULL,
	[PROP_ID] [varchar](50) NULL,
	[SECTOR] [varchar](50) NULL,
	[BLOCK] [varchar](20) NULL,
	[ALLOTE_NAME] [varchar](250) NULL,
	[DEPOSETER_NAME] [varchar](250) NULL,
	[ADDRESS] [varchar](250) NULL,
	[DEPT_ID] [int] NULL,
	[BANK_ID] [varchar](25) NULL,
	[CHALLAN_ID] [varchar](25) NULL,
	[DEPOSIT_DATE] [date] NULL,
	[AMOUNT] [decimal](22, 2) NULL,
	[STATUS] [int] NULL,
	[USERID] [varchar](22) NULL,
	[ENTRY_DATE] [datetime] NULL,
	[MODIFY_DATE] [datetime] NULL,
	[RID_NO] [varchar](50) NULL,
	[P_FROM_DATE] [datetime] NULL,
	[P_TO_DATE] [datetime] NULL,
	[CONS_NO] [varchar](12) NULL,
	[FLAG_EDIT] [varchar](1) NULL,
 CONSTRAINT [PK_RECEIPT_DETAIL_MASTER_RECEIPT_ID] PRIMARY KEY CLUSTERED 
(
	[RECEIPT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
