USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[NotificationPaymentModeTrans]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NotificationPaymentModeTrans](
	[notificationId] [int] NULL,
	[paymentModeId] [int] NULL,
	[refId] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
 CONSTRAINT [PK_NotificationPaymentModeTrans_refId] PRIMARY KEY CLUSTERED 
(
	[refId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[NotificationPaymentModeTrans]  WITH CHECK ADD  CONSTRAINT [FK_PaymentModeMst_NotificationPaymentModeTrans_paymentModeId] FOREIGN KEY([paymentModeId])
REFERENCES [dbo].[PaymentModeMst] ([paymentModeId])
GO
ALTER TABLE [dbo].[NotificationPaymentModeTrans] CHECK CONSTRAINT [FK_PaymentModeMst_NotificationPaymentModeTrans_paymentModeId]
GO
ALTER TABLE [dbo].[NotificationPaymentModeTrans]  WITH CHECK ADD  CONSTRAINT [FK_SchemeNotifTrans_NotificationPaymentModeTrans_notificationId] FOREIGN KEY([notificationId])
REFERENCES [dbo].[SchemeNotifTrans] ([notificationId])
GO
ALTER TABLE [dbo].[NotificationPaymentModeTrans] CHECK CONSTRAINT [FK_SchemeNotifTrans_NotificationPaymentModeTrans_notificationId]
GO
