USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[ChecklistMaster]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChecklistMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentName] [varchar](100) NULL,
	[PropertyTypeId] [int] NULL,
	[ChecklistTypeId] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[Modifiedby] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_ChecklistMaster_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ChecklistMaster]  WITH CHECK ADD  CONSTRAINT [FK_ChecklistTypeMaster_ChecklistMaster_ChecklistTypeId] FOREIGN KEY([ChecklistTypeId])
REFERENCES [dbo].[ChecklistTypeMaster] ([Id])
GO
ALTER TABLE [dbo].[ChecklistMaster] CHECK CONSTRAINT [FK_ChecklistTypeMaster_ChecklistMaster_ChecklistTypeId]
GO
