USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[Noting_File_Trans]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Noting_File_Trans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Noting_File_Id] [int] NULL,
	[Noting_Details] [nvarchar](max) NULL,
	[Note_By] [int] NULL,
	[Noting_Date] [date] NULL,
	[Is_Active] [bit] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [date] NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [date] NULL,
 CONSTRAINT [PK_Noting_Trans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[Noting_File_Trans]  WITH CHECK ADD  CONSTRAINT [FK_Noting_Master] FOREIGN KEY([Noting_File_Id])
REFERENCES [dbo].[Noting_File_Master] ([Id])
GO
ALTER TABLE [dbo].[Noting_File_Trans] CHECK CONSTRAINT [FK_Noting_Master]
GO
