USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[SchemeNotifTrans]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SchemeNotifTrans](
	[schemeId] [int] NULL,
	[notificationId] [int] IDENTITY(1,1) NOT NULL,
	[notificationName] [varchar](150) NULL,
	[startDate] [datetime] NULL,
	[endDate] [datetime] NULL,
	[bookletCost] [decimal](6, 2) NULL,
	[oldNotificationId] [int] NULL,
	[IsActive] [bit] NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
	[PublishDate] [datetime] NULL,
 CONSTRAINT [PK_SchemeNotifTrans_notificationId] PRIMARY KEY CLUSTERED 
(
	[notificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SchemeNotifTrans]  WITH CHECK ADD  CONSTRAINT [FK_SchemeMst_SchemeNotifTrans_schemeId] FOREIGN KEY([schemeId])
REFERENCES [dbo].[SchemeMst] ([schemeId])
GO
ALTER TABLE [dbo].[SchemeNotifTrans] CHECK CONSTRAINT [FK_SchemeMst_SchemeNotifTrans_schemeId]
GO
