USE [NoidaMigrationUat]
GO
/****** Object:  StoredProcedure [dbo].[Sp_PaymentReSchedule]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Created By: Ankit Jain
Created Date : 19/07/2016
Purpose: to create a payment schedule against a Rid
Test Example: exec Sp_NewPaymentSchedule 84
*/
CREATE procedure [dbo].[Sp_PaymentReSchedule] (@rid int,@Principle decimal(20,2))
as
BEGIN
declare @balanceAmount decimal(24,2),
@installment decimal (22,2),
--@Principle decimal(20,2),
@interest decimal(20,2),
@rate decimal(5,2),
@r decimal (8,2),
@frequency int,
@noOfInstallment int,
@installmentDate date,
@period int,
@scheduleId int,
@factor decimal(20,12),
@month int,
@year int,
@i int,
@department int,
@countV int

SET @balanceAmount=@Principle

SET @i=1
If (@Principle=0) Return
else if exists (SELECt ScheduleId FROM PaymentScheduleMaster WHERE rid=@rid and IsActive=1 and ScheduleType='R' and CreatedDate=CAST(getdate() as date)) Return

SELECt @department=departmentId from AllotmentMaster WHERE Rid=@rid and isActive=1 and isStatus='Approved'
SELECT @noOfInstallment=COUNT(InstallmentNumber) FROM PaymentScheduleTrans WHERE Rid=@rid and IsActive=1 and InstallmentDueDate>=getdate() and ScheduleType='I'
SELECT @frequency=FrequencyOfInstallment FROM PaymentScheduleMaster WHERE Rid=@rid and IsActive=1
SET @period= @noOfInstallment/@frequency
SELECT TOP 1 @installmentDate= InstallmentDueDate FROM PaymentScheduleTrans WHERE Rid=@rid and IsActive=1 and InstallmentDueDate>=getdate()
SELECT @rate=penalInterest FROM InterestMst WHERE Getdate()>=CAST(effectedFrom as date) AND Getdate()<=CAST(effectedTo as date) and departmentId=@department

Print @noOfInstallment
INSERT INTO PaymentScheduleMaster (Rid,PrincipalAmount,NoOfInstallment,FrequencyOfInstallment,PeriodOfInstallment,InstallmentStartDate,NormalInterest,PenalInterest,IsActive,ScheduleType,CreatedDate)
SELECT @rid,@Principle,@noOfInstallment,@frequency,@period,@installmentDate,@rate,@rate,1,'R' ScheduleType, CAST(getdate() as date)

SELECt TOP 1  @scheduleid= ScheduleId FROM PaymentScheduleMaster WHERE rid=@rid and IsActive=1 and ScheduleType='R' and CreatedDate=CAST(getdate() as date)
--Print @scheduleid
SET @r = (@rate/(12/(12/@frequency)))
SET @factor = (POWER(( 1 + (@r/100)),@noOfInstallment)*(@r/100))/(POWER((1+(@r/100)),@noOfInstallment)-1)
PRINT 'Factor' + CAST (@factor as varchar(20))
SET @Installment = round(@factor * @balanceAmount,0)
SET @Principle = round(@balanceAmount/@noOfInstallment,0)
PRINT @Principle
WHILE (@i< = @noOfInstallment)
BEGIN
	--if(@department=4 OR @department=5)
	--begin
	--	SET @Interest = round((@r * @balanceAmount)/100,0)
	--	SET @Principle = @installment-@interest
	--	SET @balanceAmount=@balanceAmount-@Principle
	--END
	
	SET @interest = round((@balanceAmount*(@rate/(@frequency)))/100,0)
	SET @balanceAmount=@balanceAmount-@Principle
	PRINT @balanceAmount


INSERT INTO PaymentScheduleTrans (ScheduleId,Rid,InstallmentNumber,PrincipalInstallmentAmount,InterestInstallmentAmount,PrincipalBalAmount,InstallmentDueDate,ScheduleType,IsActive,CreatedDate)
SELECT @scheduleId,@rid,@i,@Principle,@interest,@balanceAmount,@installmentDate,'R' ScheduleType,1 as IsActive,Cast(Getdate() as Date)

if (@frequency=1)
	SET @installmentDate = dateADD(month,12,@installmentDate)
ELSE IF (@frequency=2)
	--IF (@department=4)
		--SET  @installmentDate =DATEADD(month,DATEDIFF(month,0,DATEADD(month,6,@installmentDate))+1,0)-1 --EOMONTH(dateADD(month,6,@installmentDate))
	--ELSE
		SET @installmentDate = dateADD(month,6,@installmentDate)
ELSE IF (@frequency=4)
	SET @installmentDate = dateADD(month,3,@installmentDate)
ELSE IF (@frequency=12)
	SET @installmentDate = dateADD(month,1,@installmentDate)
SET @i= @i+1
END

	--if exists (SELECT pm.rid FROM PaymentScheduleMaster pm JOIN PaymentScheduleTrans Pt on (pm.ScheduleId=pt.ScheduleId) WHERE pm.Rid=@rid)
	--BEGIN
	--SELECT 1;
	--END
	--ELSE
	--BEGIN
	--SELECT 0;
	--END
--end
END





GO
