USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[AlloteeListMaster]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AlloteeListMaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[schemeId] [int] NULL,
	[departmentId] [int] NULL,
	[submitDate] [date] NULL,
	[approverName] [varchar](15) NULL,
	[status] [varchar](20) NULL,
	[comment] [varchar](300) NULL,
	[isActive] [bit] NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
 CONSTRAINT [PK_AlloteeListMasterr_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[AlloteeListMaster]  WITH CHECK ADD  CONSTRAINT [FK_departmentMst_AlloteeListMaster_departmentId] FOREIGN KEY([departmentId])
REFERENCES [dbo].[DepartmentMst] ([departmentId])
GO
ALTER TABLE [dbo].[AlloteeListMaster] CHECK CONSTRAINT [FK_departmentMst_AlloteeListMaster_departmentId]
GO
ALTER TABLE [dbo].[AlloteeListMaster]  WITH CHECK ADD  CONSTRAINT [FK_SchemeMst_AlloteeListMaster_schemeId] FOREIGN KEY([schemeId])
REFERENCES [dbo].[SchemeMst] ([schemeId])
GO
ALTER TABLE [dbo].[AlloteeListMaster] CHECK CONSTRAINT [FK_SchemeMst_AlloteeListMaster_schemeId]
GO
