USE [NoidaMigrationUat]
GO
/****** Object:  UserDefinedFunction [dbo].[RequestUserWise]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--select [dbo].[RequestUserWise] (1,1, 5)
CREATE FUNCTION [dbo].[RequestUserWise] (@deptid int, @serviceid int, @requestStatus int)
RETURNS varchar(max)
BEGIN
DECLARE @ReqType varchar(max)
DECLARE @DepartId int DECLARE @ServId int DECLARE @Request_Status int DECLARE @modifiedBy int DECLARE @Count int
declare @UserName varchar(200) declare @UName varchar(200)
set @ReqType =''
DECLARE cur_emp CURSOR
STATIC FOR 
select vsr.DepartmentId,vsr.ServiceId,vsr.Request_Status ,csr.Modified_By,um.UserName,(um.FirstName+' '+ case when um.MiddleName is not null then um.MiddleName else '' end +' '+um.LastName) as Name,COUNT(*)
from View_Service_report vsr left join Customer_ServiceRequest csr
on vsr.RequestNo = csr.Id
left join UmUserMaster um 
on csr.Modified_By = um.UserRefId
where 
csr.IsActive = 1 and
vsr.DepartmentId = @deptid and
vsr.ServiceId = @serviceid and
vsr.Request_Status = @requestStatus
and csr.Modified_By is not null
group by vsr.DepartmentId,vsr.ServiceId,vsr.Request_Status ,csr.Modified_By,um.UserName,um.FirstName,um.MiddleName,um.LastName
order by vsr.ServiceId,vsr.DepartmentId,vsr.Request_Status ,csr.Modified_By
OPEN cur_emp
IF @@CURSOR_ROWS > 0
 BEGIN 
 FETCH NEXT FROM cur_emp INTO @DepartId,@ServId,@Request_Status,@modifiedBy,@UserName,@UName,@Count
 WHILE @@Fetch_status = 0
 BEGIN 			
-- if(@modifiedBy!=null)
-- begin
	set @ReqType += '<tr><td>'+convert(varchar(200),@UserName)+'</td><td>'+convert(varchar(200),@UName)+'</td><td>'+convert(varchar(50),@Count)+'</td></tr>' 
	--end	
 FETCH NEXT FROM cur_emp INTO @DepartId,@ServId,@Request_Status,@modifiedBy,@UserName,@UName,@Count
 END
END
CLOSE cur_emp
DEALLOCATE cur_emp
DECLARE @css varchar(max)
DECLARE @table varchar(max)
set @css= '<style>.thtbl{text-align:center;font-size:11px;}</style>'
set @table = '@@style<table style="border-collapse:collapse;width:100%" border="1" cellpadding="2"><thead><th class="blck-heading thtbl">User Name</th><th  class="blck-heading thtbl">Name</th><th  class="blck-heading thtbl">Total Request</th></thead>@@tblrow</table>'

select @table= REPLACE(@table,'@@style',@css)
select @table= REPLACE(@table,'@@tblrow',@ReqType)

RETURN @table
end
GO
