USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[TemplateMaster]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TemplateMaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[templateId] [int] NULL,
	[departmentId] [int] NULL,
	[templateName] [varchar](150) NULL,
	[efficatedTo] [date] NULL,
	[efficatedFrom] [date] NULL,
	[templateKeyValue] [varchar](max) NULL,
	[templateHtml] [varchar](max) NULL,
	[sqlQuery] [varchar](max) NULL,
	[status] [int] NULL,
	[CopyTo] [varchar](500) NULL,
	[Signature] [varchar](150) NULL,
	[createdBy] [int] NULL,
	[createDate] [date] NULL,
 CONSTRAINT [PK_TemplateMaster] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[TemplateMaster]  WITH CHECK ADD  CONSTRAINT [Fk_Dept_id] FOREIGN KEY([departmentId])
REFERENCES [dbo].[DepartmentMst] ([departmentId])
GO
ALTER TABLE [dbo].[TemplateMaster] CHECK CONSTRAINT [Fk_Dept_id]
GO
