USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[Nominee_Details]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Nominee_Details](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rid] [int] NULL,
	[Nominee_Name] [varchar](100) NULL,
	[Relation] [varchar](100) NULL,
	[Nomination_Date] [date] NULL,
	[Is_Active] [int] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [date] NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [date] NULL,
 CONSTRAINT [PK_Nominee_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Nominee_Details]  WITH CHECK ADD  CONSTRAINT [FK_Nominee_Allotment] FOREIGN KEY([Rid])
REFERENCES [dbo].[AllotmentMaster] ([rid])
GO
ALTER TABLE [dbo].[Nominee_Details] CHECK CONSTRAINT [FK_Nominee_Allotment]
GO
