USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[ApplicationDetails]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ApplicationDetails](
	[applicationId] [int] IDENTITY(1,1) NOT NULL,
	[schemeId] [int] NULL,
	[departmentId] [int] NULL,
	[formNo] [varchar](50) NULL,
	[firstName] [varchar](250) NULL,
	[middleName] [varchar](100) NULL,
	[lastName] [varchar](100) NULL,
	[gender] [varchar](7) NULL,
	[marritalStatus] [varchar](9) NULL,
	[fatherHusbandName] [varchar](180) NULL,
	[motherName] [varchar](150) NULL,
	[dateOfBirth] [date] NULL,
	[signingAuthority] [varchar](150) NULL,
	[registeredOffice] [varchar](500) NULL,
	[correspondanceAdd] [varchar](500) NULL,
	[permanentAdd] [varchar](500) NULL,
	[mobileNumberP1] [varchar](10) NULL,
	[mobileNumberP2] [varchar](15) NULL,
	[phoneNumberP1] [varchar](10) NULL,
	[phoneNumberP2] [varchar](15) NULL,
	[faxNumberP1] [varchar](10) NULL,
	[faxNumberP2] [varchar](15) NULL,
	[email] [varchar](200) NULL,
	[occupationId] [int] NULL,
	[quotaId] [int] NULL,
	[religionId] [int] NULL,
	[pan] [varchar](10) NULL,
	[annualIncome] [decimal](18, 2) NULL,
	[registrationId] [int] NULL,
	[isAllotted] [varchar](1) NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
	[tFirstName] [varchar](250) NULL,
	[tMiddleName] [varchar](100) NULL,
	[tLastName] [varchar](100) NULL,
	[tGender] [varchar](7) NULL,
	[tMarritalStatus] [varchar](9) NULL,
	[tFatherHusbandName] [varchar](180) NULL,
	[tMotherName] [varchar](150) NULL,
	[tDateOfBirth] [date] NULL,
	[tSigningAuthority] [varchar](150) NULL,
	[tRegisteredOffice] [varchar](500) NULL,
	[tCorrespondanceAdd] [varchar](500) NULL,
	[tPermanentAdd] [varchar](500) NULL,
	[tMobileNumber] [varchar](12) NULL,
	[tPhoneNumber] [varchar](14) NULL,
	[tEmail] [varchar](100) NULL,
	[tOccupationId] [int] NULL,
	[tPan] [varchar](10) NULL,
	[tAnnualIncome] [decimal](18, 2) NULL,
	[tFlag] [bit] NULL,
	[tType] [varchar](20) NULL,
	[tSubType] [varchar](20) NULL,
	[tDate] [date] NULL,
	[T_Company_Name] [varchar](100) NULL,
	[tenderforproperty] [varchar](256) NULL,
 CONSTRAINT [PK_ApplicationDetails_applicationId] PRIMARY KEY CLUSTERED 
(
	[applicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [IX_Application]    Script Date: 9/21/2017 9:17:30 PM ******/
CREATE NONCLUSTERED INDEX [IX_Application] ON [dbo].[ApplicationDetails]
(
	[schemeId] ASC,
	[departmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApplicationDetails]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentMst_ApplicationDetails_departmentId] FOREIGN KEY([departmentId])
REFERENCES [dbo].[DepartmentMst] ([departmentId])
GO
ALTER TABLE [dbo].[ApplicationDetails] CHECK CONSTRAINT [FK_DepartmentMst_ApplicationDetails_departmentId]
GO
ALTER TABLE [dbo].[ApplicationDetails]  WITH CHECK ADD  CONSTRAINT [FK_OccupationMst_ApplicationDetails_occupationId] FOREIGN KEY([occupationId])
REFERENCES [dbo].[OccupationMst] ([occupationId])
GO
ALTER TABLE [dbo].[ApplicationDetails] CHECK CONSTRAINT [FK_OccupationMst_ApplicationDetails_occupationId]
GO
ALTER TABLE [dbo].[ApplicationDetails]  WITH CHECK ADD  CONSTRAINT [FK_QuotaMst_ApplicationDetails_quotaId] FOREIGN KEY([quotaId])
REFERENCES [dbo].[QuotaMst] ([quotaId])
GO
ALTER TABLE [dbo].[ApplicationDetails] CHECK CONSTRAINT [FK_QuotaMst_ApplicationDetails_quotaId]
GO
ALTER TABLE [dbo].[ApplicationDetails]  WITH CHECK ADD  CONSTRAINT [FK_ReligionMst_ApplicationDetails_religionId] FOREIGN KEY([religionId])
REFERENCES [dbo].[ReligionMst] ([religionId])
GO
ALTER TABLE [dbo].[ApplicationDetails] CHECK CONSTRAINT [FK_ReligionMst_ApplicationDetails_religionId]
GO
ALTER TABLE [dbo].[ApplicationDetails]  WITH CHECK ADD  CONSTRAINT [FK_SchemeMst_ApplicationDetails_schemeId] FOREIGN KEY([schemeId])
REFERENCES [dbo].[SchemeMst] ([schemeId])
GO
ALTER TABLE [dbo].[ApplicationDetails] CHECK CONSTRAINT [FK_SchemeMst_ApplicationDetails_schemeId]
GO
