USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[HEAD_SUB_MASTER]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HEAD_SUB_MASTER](
	[SUB_HEAD_CODE] [int] NOT NULL,
	[SUB_HEAD_NAME] [varchar](100) NULL,
	[HEAD_CODE] [int] NULL,
	[BUDGET_AMOUNT] [decimal](14, 2) NULL,
	[STATUS] [int] NULL,
	[USERID] [varchar](22) NULL,
	[ENTRY_DATE] [datetime] NULL,
 CONSTRAINT [PK_HEAD_SUB_MASTER_SUB_HEAD_CODE] PRIMARY KEY CLUSTERED 
(
	[SUB_HEAD_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[HEAD_SUB_MASTER]  WITH CHECK ADD  CONSTRAINT [FK_HEAD_MASTER_HEAD_SUB_MASTER_HEAD_CODE] FOREIGN KEY([HEAD_CODE])
REFERENCES [dbo].[HEAD_MASTER] ([HEAD_CODE])
GO
ALTER TABLE [dbo].[HEAD_SUB_MASTER] CHECK CONSTRAINT [FK_HEAD_MASTER_HEAD_SUB_MASTER_HEAD_CODE]
GO
