USE [NoidaMigrationUat]
GO
/****** Object:  UserDefinedFunction [dbo].[Request_StatusClass]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Request_StatusClass] (@Request_Status int)
RETURNS varchar(50)
BEGIN
  DECLARE @ReqClass varchar(50)
  if(@Request_Status=1)
  begin
  set @ReqClass = 'red' 
  end
  else  if(@Request_Status=2)
  begin
  set @ReqClass = 'green' 
  end
  else  if(@Request_Status=4)
  begin
  set @ReqClass = 'yellow' 
  end
   else  if(@Request_Status=5)
  begin
  set @ReqClass = 'blue' 
  end
  else  if(@Request_Status=8)
  begin
  set @ReqClass = 'violet' 
  end
   else  if(@Request_Status=9)
  begin
  set @ReqClass = 'lightblue' 
  end
  else  if(@Request_Status=10)
  begin
  set @ReqClass = 'brown' 
  end
  else
  begin
  set @ReqClass = 'black' 
  end
RETURN @ReqClass
END;
GO
