USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[MediaTypeMst]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MediaTypeMst](
	[mediaTypeId] [int] IDENTITY(1,1) NOT NULL,
	[mediaType] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
 CONSTRAINT [PK_MediaTypeMst_mediaTypeId] PRIMARY KEY CLUSTERED 
(
	[mediaTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
