USE [NoidaMigrationUat]
GO
/****** Object:  StoredProcedure [dbo].[Sp_LatterPrintTemp]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_LatterPrintTemp]
(@registrationId varchar(20), @templateId int,@departmentId int,@userId varchar(10),@letterDate date,@CommaString varchar(max) out)
AS
BEGIN
declare @sqlQuery varchar(max)
declare @did int
declare @applicationId int
declare @templateHTML varchar(max)
declare @totalvalue int
declare @test varchar(max)
declare @barcode varchar(50)
declare @barcode1 varchar(150)
--declare @CommaString varchar(max)
--set @CommaString = ''
--declare @templateHTML1 varchar(max)
IF (@letterDate=null)
begin
SET @letterDate=getdate()
end
SELECT @LetterDate=replace(convert(NVARCHAR, @LetterDate, 106), ' ', '-')
if(@templateId=19)
begin

SELECT
@CommaString=
REPLACE
(
REPLACE
(
REPLACE
(
REPLACE
(
REPLACE
(
REPLACE
(
REPLACE
(
REPLACE
(
REPLACE
(
REPLACE
(
REPLACE
(
REPLACE
(
REPLACE
( 
REPLACE
(
REPLACE
(
REPLACE
(
REPLACE
(
REPLACE
(
REPLACE
(
REPLACE
(
REPLACE
(
templateHtMl,
'@@SchemeName@',
	(
	SELECT
	dbo.MasterName(schemeId,10)
	FROM OnlineApplicationDetails
	WHERE  onlineapplicationId=@registrationId))
,'@@FormNo@',
	(
	SELECT 
	cast(OnlineapplicationId as int)
	FROM OnlineApplicationDetails
	WHERE  onlineapplicationId=@registrationId))
,'@@AreaRange@',
	(SELECT 
	dbo.MasterName(Area,14)
	FROM OnlineApplicationDetails
	WHERE  onlineapplicationId=@registrationId))
,'@@Image@', 
	(SELECT 
	Photographfilename
	FROM OnlineApplicationDetails
	WHERE  onlineapplicationId=@registrationId))
,'@@EarnestMoney@', 
	(SELECT 
	EarnestMoney
	FROM OnlineApplicationDetails
	WHERE  onlineapplicationId=@registrationId))
,'@@ProcessingFee@', 
	(SELECT 
	ProcessingCharge
	FROM OnlineApplicationDetails
	WHERE  onlineapplicationId=@registrationId))
,'@@SigImage@', 
	(SELECT 
	Signaturefilename
	FROM OnlineApplicationDetails
	WHERE  onlineapplicationId=@registrationId))
,'@@Bank@', 
	(SELECT 
	dbo.MasterName(RefundBankId,3)
	FROM OnlineApplicationDetails
	WHERE  onlineapplicationId=@registrationId))
,'@@AccountNumber@', 
	(SELECT 
	RefundaccountNo
	FROM OnlineApplicationDetails
	WHERE  onlineapplicationId=@registrationId))
,'@@RefundInfavor@', 
	(SELECT 
	RefundInfaverof
	FROM OnlineApplicationDetails
	WHERE  onlineapplicationId=@registrationId))
,'@@Address@',
	(
	SELECT 
	permanentAdd
	FROM OnlineApplicationDetails
	WHERE  onlineapplicationId=@registrationId))
,'@@Mobile@',
	(
	SELECT 
	MobileNumberP1
	FROM OnlineApplicationDetails
	WHERE  onlineapplicationId=@registrationId))
,'@@TransId@',
	(
	SELECT
	at.[txnid]
	FROM
	OnlineApplicationDetails ad JOIN OnlineApplicationDetails_trans at
	ON (ad.[onlineapplicationId]=at.[ServiceRefId])
	WHERE  ad.onlineapplicationId=@registrationId and at.Status=1))
,'@@TransDate@',
	(
	SELECT
	at.[EntryDate]
	FROM
	OnlineApplicationDetails ad JOIN OnlineApplicationDetails_trans at
	ON (ad.[onlineapplicationId]=at.[ServiceRefId])
	WHERE  ad.onlineapplicationId=@registrationId and at.Status=1))
,'@@Amount@',
	(
	SELECT
	at.[Amount]
	FROM
	OnlineApplicationDetails ad JOIN OnlineApplicationDetails_trans at
	ON (ad.[onlineapplicationId]=at.[ServiceRefId])
	WHERE  ad.onlineapplicationId=@registrationId and at.Status=1))
,'@@BankTranId@',
	(
	SELECT
	at.[mihpayid]
	FROM
	OnlineApplicationDetails ad JOIN OnlineApplicationDetails_trans at
	ON (ad.[onlineapplicationId]=at.[ServiceRefId])
	WHERE  ad.onlineapplicationId=@registrationId and at.Status=1))
,'@@ApplicantName@',
	(
	SELECT CASE WHEN gender='Company' THEN signingAuthority ELSE firstName+' '+lastName END
	FROM
	OnlineApplicationDetails
	WHERE onlineapplicationId=@registrationId))
,'@@FatherHusbandName@',
	(
	SELECT 
	CASE WHEN gender='Company' then 'NA' ELSE fatherHusbandName END
	FROM
	OnlineApplicationDetails
	WHERE onlineapplicationId=@registrationId))
,'@@SigningAuth@',
	(
	SELECT
	CASE WHEN gender='Company' THEN 'Signing Authority' ELSE 'NA' END
	FROM
	OnlineApplicationDetails
	WHERE onlineapplicationId=@registrationId))
,'@@CompanyName@',
	(
	SELECT
	CASE WHEN gender='Company' THEN CompanyName ELSE 'NA' END
	FROM
	OnlineApplicationDetails
	WHERE onlineapplicationId=@registrationId))
,'@@CurrentDate@',cast(cast(getdate() as date) as varchar(16)))
FROM TEMPLATEMASTER
WHERE GETDATE() BETWEEN EFFICATEDTO AND ISNULL(EFFICATEDFROM,GETDATE()+1) AND templateId=@templateId AND departmentId=@departmentId

End

Else
Begin
SELECT @totalvalue=count(*)   from Letter_History where Department_Id=@departmentId and Rid=@registrationId and Template_Id=@templateId
if @LetterDate is null
begin
set @LetterDate=getdate()
end
if @totalvalue>=0
   begin   
--select * from TemplateMaster where templateId=@templateId and departmentId=@departmentId and status=1 and  getdate() between efficatedTo and isnull(efficatedFrom,getdate()+1)
select @sqlQuery=sqlQuery from TemplateMaster where templateId=@templateId and departmentId=@departmentId and status=1 --and  getdate() between efficatedTo and isnull(efficatedFrom,getdate()+1)
--print @sqlQuery
set @sqlQuery=REPLACE(@sqlQuery,'@@regist@',@registrationId);
print @sqlQuery
set @sqlQuery=REPLACE(@sqlQuery,'@@userid@',@userId);
--set @sqlQuery=REPLACE(@sqlQuery,'@@LetterDate@',@LetterDate);
--set @sqlQuery=REPLACE(@sqlQuery, '@@CurrentDate@',@LetterDate);
--Set @sqlQuery=REPLACE(@SqlQuery, '@@DATE1@', @LetterDate);
--Set @sqlQuery=REPLACE(@SqlQuery, '@@Todaydate@', @LetterDate);
print @sqlQuery



--print @registrationId
--select * into #temp from TemplateMaster
--set @templateHTML = 
--drop table temp
--print @sqlQuery+'LL'
delete from Report_Template_temp where templateid=@templateId and departmentId=@departmentId and userID=@userId and printdate<=getdate() 

--print @sqlQuery
set @sqlQuery='insert into Report_Template_temp ' +@sqlQuery+ ' and templateId='+ cast(@templateId as varchar(2)) +' and  departmentId='+ cast(@departmentId as varchar(2)) +' and status=1'
-- and '+ getdate() +' between efficatedTo and isnull(efficatedFrom,'+getdate()+1+')'
print @sqlQuery
--set @sqlQuery='drop table ##temp '+@sqlQuery

--print @sqlQuery
--declare @counts varchar(max)
--EXECUTE sp_executesql @sqlQuery, N'@tempHTML int OUTPUT', @tempHTML= @counts OUTPUT
--select @counts


--exec sp_executesql @sqlQuery, N'@Result varchar(max) out', @CommaString out

--select @CommaString
--print @sqlQuery
exec (@sqlQuery )

select @barcode=cast(max(id)+1 as varchar(15))+'-'+ cast(year(getdate()) as varchar(4))+case when month(getdate())<=9 then '0'+cast(month(getdate()) as varchar(2)) else cast(month(getdate()) as varchar(2)) end +case when day(getdate())<=9 then '0'+cast(day(getdate()) as varchar(2)) else cast(day(getdate()) as varchar(2)) end +'-'+cast(@departmentId as varchar(3))+'-'+cast(@templateId as varchar(4)) from Letter_History


print @barcode

set @barcode1='<div id="divBarcode"><div id="barcodeTarget" class="barcodeTarget"><input type="hidden" id="barcodeValue" value="'+@barcode+'"></div></div>'




--'<input type="hidden" id="bar1" text="'+@barcode+'"/><img id="img1"></img>'
print @barcode1
select @CommaString=replace(HtmlOutput,'@@Barcode@',@barcode1) from Report_Template_temp where templateid=@templateId and departmentId=@departmentId and userID=@userId and printdate<=getdate() 

--print 1

Print 'wert'

--select @CommaString=HtmlOutput from Report_Template_temp where templateid=@templateId and departmentId=@departmentId and userID=@userId and printdate<=getdate() 
--print @CommaString
--print @registrationId
if @templateId=13
begin
select @test=
isnull(STUFF((
select ' '+ '<tr><td>'+cast(InstallmentNumber as varchar(10))+'</td><td>'+cast(InstallmentDueDate as varchar(12))+'</td><td>'+cast(PrincipalInstallmentAmount as varchar(30))+'</td><td>'+cast(InterestInstallmentAmount as varchar(30))+'</td><td>'+cast((PrincipalInstallmentAmount+InterestInstallmentAmount) as varchar(30))+'</td><td>'+cast(PrincipalBalAmount as varchar(30))+'</td></tr>' 
from PaymentScheduleTrans us where us.Rid in(select Rid from PaymentScheduleMaster where IsActive=1) and us.IsActive=1 and us.ScheduleType='I' and us.Rid=@registrationId and us.Rid=SS.RID order by us.InstallmentNumber FOR XML PATH('')), 1, 1, ''),'') FROM PaymentScheduleTrans SS  where ss.Rid=@registrationId

set @test='<tr><th>Inst No.</th><th>Due Date</th><th>Principle Amount</th><th>Interest Amount</th><th>Instalment Amount</th><th>Balance of Amount</th></tr>'+@test
select @test='<style>.field {width:100%; text-align:center;border:solid,1px}</style><table class=field>'+replace(replace(@test,'&gt;','>'),'&lt;','<')+'</table>'
set @CommaString=REPLACE(@CommaString,'@@paymentshud@',@test);
end
--print @test
--INSERT INTO Letter_History
--           (Department_Id
--           ,User_Id
--           ,Rid
--           ,Template_Html
--           ,Generate_Date
--           ,Is_Active
--           ,Created_By
--           ,Created_Date
--           ,Template_Id) values(@departmentId,@userId,@registrationId,@CommaString,getdate(),1,@userId,getdate(),@templateId)
INSERT INTO Letter_History
           (Department_Id
           ,User_Id
           ,Rid
           ,Template_Html
           ,Generate_Date
           ,Is_Active
           ,Created_By
           ,Created_Date
           ,Template_Id,barcode_val) values(@departmentId,@userId,@registrationId,@CommaString,getdate(),1,@userId,getdate(),@templateId,@barcode)
		   SELECT @CommaString=Template_Html  from Letter_History where barcode_val=@barcode

end
else
begin
SELECT @CommaString=Template_Html  from Letter_History where Department_Id=@departmentId and Rid=@registrationId and Template_Id=@templateId

end
--select * into #temp from ##temp 
--select HtmlOutput from #temp
 --set @templateHTML
-- eXECUTE sp_executesql @sqlQuery, N'@tempHTML varchar(max) OUTPUT', @tempHTML=@templateHTML OUTPUT
--EXECUTE sp_executesql @sqlQuery,@templateHTML OUTPUT
--select  @templateHTML
--sp_executesql 

--exec dbo.Sp_LatterPrintTemp 76,1,5

--DECLARE @sqlCommand nvarchar(1000)
--DECLARE @city varchar(75)
--declare @counts int
--SET @city = 'New York'
--SET @sqlCommand = 'SELECT @cnt=COUNT(*) FROM _ForeCastCache'
--EXECUTE sp_executesql @sqlCommand, N'@cnt int OUTPUT', @cnt=@counts OUTPUT
--select @counts as Counts



END
END

GO
