USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[UmRoleAppTrans]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UmRoleAppTrans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[ApplicationId] [int] NULL,
	[CreatedBy] [varchar](15) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [varchar](15) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_UmRoleAppTrans_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[UmRoleAppTrans]  WITH CHECK ADD  CONSTRAINT [FK_UmRoleAppTrans_UmApplicationMaster] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[UmApplicationMaster] ([ApplicationId])
GO
ALTER TABLE [dbo].[UmRoleAppTrans] CHECK CONSTRAINT [FK_UmRoleAppTrans_UmApplicationMaster]
GO
ALTER TABLE [dbo].[UmRoleAppTrans]  WITH CHECK ADD  CONSTRAINT [FK_UmRoleAppTrans_UmRoleMaster] FOREIGN KEY([RoleId])
REFERENCES [dbo].[UmRoleMaster] ([RoleId])
GO
ALTER TABLE [dbo].[UmRoleAppTrans] CHECK CONSTRAINT [FK_UmRoleAppTrans_UmRoleMaster]
GO
