USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[PropertyTypeMst]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PropertyTypeMst](
	[departmentId] [int] NULL,
	[propertyTypeId] [int] IDENTITY(1,1) NOT NULL,
	[propertyTypeName] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[TestID] [int] NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
 CONSTRAINT [PK_PropertyTypeMst] PRIMARY KEY CLUSTERED 
(
	[propertyTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PropertyTypeMst]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentMst_PropertyTypeMst_departmentId] FOREIGN KEY([departmentId])
REFERENCES [dbo].[DepartmentMst] ([departmentId])
GO
ALTER TABLE [dbo].[PropertyTypeMst] CHECK CONSTRAINT [FK_DepartmentMst_PropertyTypeMst_departmentId]
GO
