USE [NoidaMigrationUat]
GO
/****** Object:  Table [dbo].[SchemeBankTrans]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SchemeBankTrans](
	[schemeId] [int] NULL,
	[refId] [int] IDENTITY(1,1) NOT NULL,
	[bankId] [int] NULL,
	[branchId] [int] NULL,
	[accountnumber] [varchar](25) NULL,
	[IsActive] [bit] NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
	[IFSCCode] [varchar](20) NULL,
	[virtualAccountprefix] [varchar](20) NULL,
 CONSTRAINT [PK_SchemeBankTrans_refId] PRIMARY KEY CLUSTERED 
(
	[refId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SchemeBankTrans]  WITH CHECK ADD  CONSTRAINT [FK_BankMst_SchemeBankTrans_bankId] FOREIGN KEY([bankId])
REFERENCES [dbo].[BankMst] ([bankId])
GO
ALTER TABLE [dbo].[SchemeBankTrans] CHECK CONSTRAINT [FK_BankMst_SchemeBankTrans_bankId]
GO
ALTER TABLE [dbo].[SchemeBankTrans]  WITH CHECK ADD  CONSTRAINT [FK_BranchMst_SchemeBankTrans_branchId] FOREIGN KEY([branchId])
REFERENCES [dbo].[BranchMst] ([branchId])
GO
ALTER TABLE [dbo].[SchemeBankTrans] CHECK CONSTRAINT [FK_BranchMst_SchemeBankTrans_branchId]
GO
ALTER TABLE [dbo].[SchemeBankTrans]  WITH CHECK ADD  CONSTRAINT [FK_SchemeMst_SchemeBankTrans_schemeId] FOREIGN KEY([schemeId])
REFERENCES [dbo].[SchemeMst] ([schemeId])
GO
ALTER TABLE [dbo].[SchemeBankTrans] CHECK CONSTRAINT [FK_SchemeMst_SchemeBankTrans_schemeId]
GO
