USE [NoidaMigrationUat]
GO
/****** Object:  StoredProcedure [dbo].[Sp_Report_Type]    Script Date: 9/21/2017 9:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--exec Sp_Report_Type null,4,2
create Procedure [dbo].[Sp_Report_Type] (@sectorid int,@departmentid int,@type int)
as
BEGIN

IF (@type=1 )
BEGIN
select b.sectorid, b.departmentId,count(*) as totalno into #temp from allotmentmaster a,SchemePropTrans b  where a.isactive=1 and a.propertyid=b.propertyid and b.parentpropertyid is null
group by b.sectorid, b.departmentId order by b.sectorid,b.departmentId
SELECT   [sectorid], [1],   [2], [3],   [4],[5],   [6] into #temp1
FROM   [dbo].[#temp] 
PIVOT
(
       SUM(totalno)
       FOR [departmentId] IN ([1],   [2], [3],   [4],[5],   [6])
) AS P
select sectorid,dbo.MasterName(sectorid,12) as sectorName,[1],   [2], [3],   [4],[5],   [6] from #temp1
END
IF (@type=2 ) --Vacant Property
BEGIN
--select * from SchemePropTrans where schemeid is null and departmentid=@departmentid
select Departmentid,dbo.MasterName(Departmentid,5) as DepartmentName,sectorid,dbo.MasterName(sectorid,12) as SectorName,blockid,dbo.MasterName(blockid,13) as BlockName,propertyno,totalarea,'leasehold' as LeasHolde from SchemePropTrans where propertyid not in(select propertyid from allotmentmaster where isactive=1 and (isStatus='Approved' or isStatus='InProgress' )) and departmentid=4 and isactive=1
END
End 
GO
