@charset "utf-8";

@media (min-width : 320px) and (max-width : 540px) {
    /*[class*="col-"] {
        width: 100%;
    }*/
    .nic-header-name{
        font-size:30px;
    }

    .img-up-govt-left{
        padding:10px 0 2px 2px;
        height:80px;
        width:80px;
    }
    .img-up-govt-right{
        display:none;
    }
    .col-md-3.col-sm-hdn{
        display:none;
    }
    .nic-header-title p span{
        font-size:14px;
    }
    .nic-dept-title{
        display:none;
    }
    .nic-main-content{
        margin-left:0%;
        margin-right:0%;
        margin-top:5%;
    }
    .gridTitle{
        font-size:13px;
        padding-left:4px;
    }
    .mandatory{
        padding-left:4px;
    }
    .nic-header-content{
        height:100px;
    }
}



@media (min-width : 541px) and (max-width : 767px) {
    /*[class*="col-"] {
        width: 100%;
    }*/
    .nic-header-name{
        font-size:30px;
    }

    .img-up-govt-left{
        padding:10px 0 2px 2px;
        height:80px;
        width:80px;
    }
    .img-up-govt-right{
        /*display:none;*/
        padding:10px 2px 2px 0px;
        height:80px;
        width:80px;
    }
    .col-md-3.col-sm-hdn{
        /*display:none;*/
    }
    .nic-header-title p span{
        font-size:14px;
    }
     .nic-dept-title{
        display:none;
    }
    .nic-main-content{
        margin-left:2%;
        margin-right:2%;
        margin-top:5%;
    }

    .col-sm-3 .col-md-3{
        width:15%;
    }
    .col-sm-6 .col-md-6{
        width:70%;
    }
    .nic-header-content{
        height:120px;
    }
}


@media (min-width : 767px) and (max-width : 1000px) {
    /*[class*="col-"] {
        width: 100%;
    }*/
    .nic-header-name{
        font-size:30px;
    }

    .img-up-govt-left{
        padding:10px 0 2px 2px;
        height:80px;
        width:80px;
    }
    .img-up-govt-right{
        /*display:none;*/
        padding:10px 2px 2px 0px;
        height:80px;
        width:80px;
    }
    .col-md-3.col-sm-hdn{
        /*display:none;*/
    }
    .nic-header-title p span{
        font-size:14px;
    }

    .nic-main-content{
        margin-left:2%;
        margin-right:2%;
        margin-top:5px;
    }

    .col-sm-3{
        width:15%;
    }
    .col-sm-6{
        width:70%;
    }
    .nic-header-content{
        height:120px;
    }
}










@charset "utf-8";
 @media all and (max-width : 1200px) {
.nav-wrapper ul li a {
  padding: 0 30px !important;
}

.scheme-tab {
  font-size: 106%;
}

.minister{padding: 30px 20px;}
.om-orders a {
  
  font-size: 100%;
  
}
.om-orders a {
  
  padding-left: 59px;
  background-size:30% !important;}
  
  .related-links ul.list li {
  font-size: 94%;
  
}

.external-links img {
  width: 83%;
}

.quick-link-text {
  
  font-size: 106%;
  padding-top: 21px;
}



.minister {
  width: 26%;
}
.whats-new-maincontainer {
  width: 73%;
}
.digital-container img{width:50%;}
.digital-container .digital-content{padding-left:10px;}
.explore .viewall {
  margin-top: 5px;
  padding: 1px 15px;
}

.notice-left {
  float: left;
  width: 250px;
}
.notice-right {
  width: 68%;
}
.complain .notice-left {
  width: 258px;
}
}
 @media all and (max-width : 1100px) {
.gallery-right {
	width: 35%;
}

.inner-wrapper .left-menu {
	width: 30%;
}
.inner-wrapper .inner-content {
	width: 68%;
}

.scheme-tab a.read-more {
  background-position: 10px 2px !important;
  
  margin-left: 4%;
  padding-left: 30px;
  
}

.quick-link-text {
  font-size: 93%;
  padding-top: 21px;
}

.related-links {
  padding-top: 27px;
}

.quick-links-section {
  
  margin-top: 37px;
  
}

.related-links h3{margin-bottom: 8px;}
.related-links ul.list li {
  margin-bottom: 2px;
}
.view {
  
  margin-top: 13px;
  
}
.om-orders {
  padding: 13px;
  margin-top: 22px;
}

.minister {
  padding: 58px 20px 30px;
}


.digital-container .digital-content {
  margin-top: 18px;
  width: 45%;
}
.poorpatient-content{ margin-bottom:46px;}




.nav-wrapper ul li a {
  padding: 0 21px !important;
}

}

 @media all and (max-width : 1023px) {

.nav-wrapper ul li a {
	padding: 0 14px !important;
}

.nav-wrapper ul li a {
  padding: 0 20px !important;
}

.notice-left {
  width: 210px;
}
.notice-right {
  width: 63%;
}
.complain .notice-left {
  width: 215px;
}
.white-container .visitor {
  float: none;
  padding: 0 0 30px;
  width: 100%;
}

}
 @media all and (max-width : 940px) {
	 
	 .quote-wraper {
  margin-top: 0px;
}
	 .float-element{display:none;}
	 .welcome-text{float:left; width:60%;}
	
.gallery-container {
  padding: 30px 0;
}





/*===========responsive nav ===========*/
/*responsive nav theme*/	
 

#nav li {
	background: #CBC9C9;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#nav li a {
	color:#000;
}
.nav-wrapper ul li.open ul li a {
	background: #CBC9C9 !important;
	color: #fff !important;
}
.nav-wrapper ul li.open ul li:hover a {
	background: #32789D !important; 
}
.sub-menu i {
	color: #fff;
}
.nav-wrapper ul li:hover a {
	background: #32789D !important;
}
#nav {
	max-height: none;
	overflow: visible;
}
.mid-bg-wrapper .body-container {
	padding: 50px 0 5px;
}

.gallery-holder ul.slides {
	float: none;
	padding: 1px;
	width: 100%;
}
.gallery-holder ol.flex-control-nav.flex-control-thumbs {
	float: none;
	margin: 10px 0 0 0;
	padding: 0;
	width: 100%;
}
.gallery-holder .flex-control-thumbs li {
	margin: 0 2% 0 0px;
	padding: 0;
	float: left;
	width: 32%;
}
.gallery-holder .flex-control-thumbs li:last-child {
	margin-right: 0px;
}

.inner-wrapper .left-menu {
	width: 35%;
}
.inner-wrapper .inner-content {
	width: 63%;
}

.gallery-area h3 {
  
  font-size: 118%;
  
  padding: 3px 15px;
}
.gallery-area a {
  
  font-size: 80%;
  
  padding: 6px 10px;
 
}

.minister { padding: 20px;  width:100%; margin-bottom:30px;}

.whats-new-maincontainer{ width:100%; float:left;}
.gallery-area {
  float: left;
  position: relative;
  width: 67%;
}
.ebook-maincontainer {
  float: right;
  width: 30%;
}
.digital-container .digital-content { margin-top: 15px;width: 44%;}

.white-container .visitor {
    float: none;
    padding: 30px 20px;
    width: 100%;
}
.white-container .imp-link {float: none; padding: 30px 0; width: 100%;}
.poorpatient-content{ margin-bottom:28px;}
.body-container ul.list li a { display: inline;}


.five-elements li {
  width: 32%;
}


}
 @media all and (max-width : 767px) {
	 
	.common-left{display:none;}
	.toggle-nav-bar {
  top: 30px;
}

.gallery-area {
	float: none;
	position: relative;
	width: 100%;
}
.external-links {
	float: none;
	width: 100%;
	margin-top: 30px;
}
.external-link {
	float: left;
	width: 24%;
	margin-right: 1%;
}

.scheme-tab{text-align:center; font-size:140%;}
.scheme-tab a.read-more{display:inline-block; border:none; margin:0px; padding:0px; padding-left:21px; background-position: 0px 3px !important;}
.quick-link{width:48%;}
.quick-link-text {
  padding-top: 22px;
}
.quick-link:nth-child(even){margin-right:0px;}
.quick-link:nth-child(odd){margin-left:0px;}
.quick-links-section {
  padding: 30px 20px;
}
.ebook-maincontainer {
  float: none;
  margin-top: 30px;
  width: 100%;
}
.ebook-container {
  margin-right: 1%;
  width: 49%;
  float:left;
}
.digital-container {
  float: right;
  margin-left: 1%;
  margin-top: 0;
  padding: 45px 16px;
  width: 49%;
}
}
 @media all and (max-width : 640px) {
.inner-wrapper .left-menu {
	width: 100%;
	float: none;
}
.inner-wrapper .inner-content {
	width: 100%;
	float: none;
}
.left-menu ul {
	border: none;
	padding: 0px;
	margin-bottom: 40px;
}


.minister{float:none; width:100%;}
.welcome-text{float:none; width:100%;}
.welcome-text, .minister{min-height:0px; margin-bottom:0px;}

.minister .min-info {
  display: inline-block;
  padding: 0 0 0 20px;
  text-align: left;
}
.toggle-nav-bar {
  top: 23px;
}
a.read-more{float:right;}
.scheme-tabs a.read-more{float:none;}

.om-orders a {
  background-size: 61px auto !important;
  padding-left: 74px;
}

.imp-link .quicklink {
  float: left;
  padding-right: 20px;
  width: 49%;
}

.otonomus-container {
  float: none;
  padding: 20px;
  width: 100%;
  margin-top:30px;
}

.whats-new {
  float: none;
  padding: 20px;
  width: 100%;
}


}
 @media all and (max-width : 767px) {
    .otonomus-container {
      float: none;
      padding: 20px;
      width: 100%;
      margin-top:30px;
    }
}

 @media all and (max-width : 500px) {
	 
	 .box-content.two-column ol {
  -moz-column-count: 1;
  -moz-column-gap: 0;
}

.notice-left {
  float: none;
  width: 100%;
}
.notice-right {
  width: 100%;
  float: none;
  margin-top:25px;
}

.box-content-link ul li {
  float: none;
  min-height: 0;
  padding: 5px;
  width: 100%;
}

.box-content .half-box {
  float: none;
  padding: 0 15px;
  width: 100%;
}

.box-content .half-box:first-child {
  border-right: 0 none;
  padding-right: 0;
}
.inner-content .box-content {
  margin-bottom: 20px;
  padding: 25px 10px;
}

.box-content-link ul li {
  min-height: 193px;
  padding: 5px;
  width: 45%;
}

.gallery-container {
  padding: 30px 0;
}
.minister-box {
    display: inline-block;
    text-align: center;
    width: 49%;
}
.minister .min-info {  text-align: center;}
.whats-new{ width:100%; float:none;}
.otonomus-container { padding: 20px; width: 100%;}
.ebook-maincontainer { float: none; width: 100%; margin-top:30px;}
.imp-link .quicklink { float: none; padding-right: 0; width: 100%;}
.imp-link .mediaunits {float: none; width:100%; margin-top:20px;}
.minister .min-info {  display: inline-block;  padding: 10px 0 0 20px;}
.digital-container .digital-content {margin-top: 35px;  width: 66%;}
.slide-caption{position:static; width:100%; min-height:94px;}
.banner-wrapper .container { width: 100%;}


.imp-link .quicklink {
  float: left;
  padding-right: 0;
  width: 49%;
}
.white-container .visitor {
  float: none;
  padding: 0 0 30px;
  width: 100%;
}

.five-elements li {
  width: 50%;
}

.digital-container {
  float: right;
  margin-left: 1%;
  margin-top: 0;
  padding: 37px 16px;
  width: 49%;
}

.digital-container .digital-content {
  margin-top: 16px;
  width: 47%;
}

.box-content-link ul li {
  vertical-align: top;
}

 }


 @media all and (max-width : 480px) {
.gallery-holder .flex-control-thumbs li {
	margin: 4px 8px 0 0;
	padding: 0;
	width: 31%;
}
.gallery-holder ol.flex-control-nav.flex-control-thumbs {
	float: left;
	margin: 0 0 0 1%;
	padding: 0;
	width: 100%;
}
.gallery-holder ul.slides {
	float: left;
	padding: 1px;
	width: 100%;
}
.gallery-heading {
	float: left;
	left: 1px;
	position: absolute;
	top: 1px;
	z-index: 99999;
}


.gallery-holder .flex-control-thumbs li:last-child {
	margin: 4px 0 0;
}


.ebook-container {
  float: none;
  margin-right: 0;
  width: 100%;
}
.digital-container {
  float: none;
  margin-left: 0;
  margin-top: 0;
  padding: 30px 16px;
  width: 100%;
}
.digital-container .digital-content {
  margin-top: 35px;
  width: 45%;
}

}
 @media all and (max-width : 400px) {
	 
	 .box-content-link ul li {
  min-height: 0;
  padding: 5px;
  width: 100%;
}
	 
	 .imp-link .quicklink {
  float: none;
  padding-right: 0;
  width: 100%;
}
.minister .min-info {
  display: block;
  margin-top: 20px;
  padding: 0;
  text-align: center;
}
.minister-box {
  text-align: center;
  width: 100%;
}
.digital-container .digital-content {
  margin-top: 30px;
  width: 53%;
}
.imp-link .media-content{ width:100%;  padding-right: 0; float:none;}
.slide-caption {
  min-height: 110px;
  position: static;
  width: 100%;
}


.quote-wraper{margin-top:30px;}

.five-elements li {
  float: none;
  width: 100%;
}

.digital-container .digital-content {
  margin-top: 30px;
  width: 46%;
}

.digital-container {
  float: none;
  margin-left: 0;
  margin-top: 30px;
  padding: 30px 16px;
  width: 100%;
}


}
 @media all and (max-width : 320px) {
}
   
   
   /*=======================forced fixing=======================*/
   @media (min-width : 490px) and (max-width : 495px) {

}

