body #body-wrapper{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3 { margin-top:0; }

.font-bold { /*font-weight:bold;*/ }

.PageTitle {
	text-transform:uppercase;
	color:green;
	font-size:140%;
	font-weight:bold
}

.alot-prop-header{
    padding:5px;
}

.heading-label{
    font:500;
    font-family:Verdana;
    font-size:16px;
    padding:5px 5px 5px 5px;
    text-align:center;
}
 .textBoxValueRightAlign {
        text-align: right;
 }

 .text-right{
      text-align: right;
 }

  .align-right{
      text-align: right;
 }
 .align-left{
      text-align: left;
 }

.label-text{
    font:400;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:12px;
    padding:2px 2px 2px 2px;
    /*text-align:center;*/
}
.hyperlinkcss {
    color:#292d7c;
    /*color: #337ab7;*/
    /*text-decoration: underline;*/
}

.hyperlinkcss:hover {
    color: #292d7c;
    cursor: pointer;
    text-decoration: underline;
}


.hyperlink:hover {
    color: #292d7c;
    cursor: pointer;
    text-decoration: underline;
}

.col-for-label{
        margin-right: -40px;
        margin-left:25px;
}

.k-grid-content{
    overflow-y:hidden;
    overflow-x:hidden;
}

.topSpace{
    padding-top:25px;
}
.bottomSpace{
    padding-bottom:25px;
}
.k-window{
    width:39%;
    min-height:180px;
}
.header-content {
    width: 100%;
    background: #fff;
    float: left;
    /*position: fixed;*/
    top: 0;
    left: 0;
    z-index: 11111;

}
.header-logo{
    float: left;
    background: rgb(0, 161, 130);
    width: 15%;
    min-height: 60px;
}
.header-logo-img {
    margin-left: 40px;
}
.header-user .header-user-info{
    float: right;
    padding: 10px 10px 0 0;
    text-align: right;
    width: 85%;
    min-height: 60px;
    box-shadow: rgb(241, 244, 248) 2px 3px;
}

.header-user-info ul{
    display: inline-block;
    margin: 0;
}
.header-user-info ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0;
}
.header-user-info ul li ul{
    list-style: none;
    display: none;
    position: absolute;
    margin: 0;
}
.header-user-info ul li ul li{
    list-style: none;
    display: block;
    position: absolute;
    margin: 0;
}
.user-name {
    display: inline-block;
    padding-right: 15px;
    color: #333;
}

.user-panel .user-name {
    color: white;
    font-size: 18px;
    margin-left: 7px;
}

.logout-icon {
    border-left: 1px solid rgb(204, 204, 204);
    display: inline-block;
    padding-left: 10px;
    position: relative;
    top: 0;
}

.menu-wrapper {
    position: fixed;
    top: 60px;
    width: 15%;
    height: 100%;
    background: rgb(45, 74, 97);
    float: left;
    z-index:9
}

.menu-content {
    background: #2d4a61;
    display: block;
    position: fixed;
    margin: 0;
    width: 15%;
    height: 100%;
    z-index: 999;
    
}
.menu-content ul{
    list-style:none;
    padding: 8px 0px 8px 25px;
    font-weight: 300;
    display: block;
    position: relative;
    width: 100%;
    margin-left:0;
}
.menu-content ul li {
    list-style:none;
    padding: 8px 0px 8px 25px;
    font-weight: 300;
    display: block;
    position: relative;
    width: 100%;
    margin-left:0;
}

.menu-content ul li .fa{
    padding-right: 30px;
}

.menu-content ul li .glyphicon{
    padding-right: 10px;
}

.menu-content ul li a {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}
.menu-content ul li.selected {
    background: #597d9a;
}

.content-wrapper {
    padding-top: 80px;
    margin-left: 15%;
    width: 85%;
    padding-bottom: 40px;
}

.footer-content {
    background: rgb(241, 244, 248);
    border-top: 2px solid #ddd;
    text-align: center;
    position: fixed;
    height: 30px;
    line-height: 30px;
    margin-left: 15%;
    width: 85%;
    padding: 0;
    bottom: 0;
    z-index: 11111;
}

.mbl-menu-btn {
    background-color: rgb(247, 247, 247);
    border-color: rgba(0, 0, 0, 0);
    height: 60px;
    right: 0px;
    float: right;
    outline: medium none;
    position: fixed;
    transition: all 0.2s ease 0s;
    width: 48px;
    display: none;
}


.mbl-menu-btn span::before, .mbl-menu-btn span::after {
    transition-delay: 0.3s, 0s;
    transition-duration: 0.3s, 0.3s;
    transition-property: top, transform;
}

.mbl-menu-btn span::after, .mbl-menu-btn span::before, .mbl-menu-btn span {
    backface-visibility: hidden;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    height: 4px;
    width: 24px;
}

.mbl-menu-btn span::after, .mbl-menu-btn span::before {
    content: "";
    left: 0;
    position: absolute;
    top: -8px;
    transition: all 0.3s ease 0s;
}

.mbl-menu-btn span::before, .mbl-menu-btn span::after {
    transition-delay: 0.3s, 0s;
    transition-duration: 0.3s, 0.3s;
    transition-property: top, transform;
}

.mbl-menu-btn span::after, .mbl-menu-btn span::before, .mbl-menu-btn span {
    backface-visibility: hidden;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    height: 4px;
    width: 24px;
}

.mbl-menu-btn span::after {
    top: 8px;
}

.mbl-menu-btn span::after, .mbl-menu-btn span::before {
    content: "";
    left: 0;
    position: absolute;
    transition: all 0.3s ease 0s;
}

.mbl-menu-btn span::after, .mbl-menu-btn span::before, .mbl-menu-btn span {
    backface-visibility: hidden;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    height: 4px;
    width: 24px;
}

.mbl-menu-btn span {
    display: block;
    margin: auto;
    position: relative;
    transition: all 0.3s ease 0s;
}
.btn-coustem {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  width:130px;
}

#dvDdl table {
    width:100%;
    box-sizing:border-box
}

#dvDdl table td {
    width:20%;
    box-sizing:border-box
}

.menu-mapping-bx #dvDdl fieldset .dvSubMenu table td:first-child {
    padding-left:45px
}


.men-td{
    width:20%;
    text-align:left;
}
.men-td1{
    width:250px;
    text-align:left;
    margin-left:40Px;
}
.Input[type=”text”], 
.Input[type=”pass”], 
.select, 
.textarea{width:400px; border:1px solid #333; color:#333; display:inline-block; box-sizing:border-box; padding:5px; height:30px;}

/*aa*/
.main:before {
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	content:'';
	/*background:-webkit-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
	background:-moz-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
	background:-o-radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');
	background:radial-gradient(30%, rgba(255,255,255,0.15), rgba(0,0,0,0)), url('img/body-bg.png');*/
}

.site-header-wrap {
	margin-bottom:60px;
	border-bottom:1px solid #cd9ad6;
}
 .disable_a_href {
        pointer-events: none;
    }

/*------------------------------------*\
-------- DEMO Code: accordion
\*------------------------------------*/
/*----- Accordion -----*/
.accordion, .accordion * {
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;
}

.accordion {
	overflow:hidden;
	box-shadow:0px 1px 3px rgba(0,0,0,0.25);
	border-radius:3px;
	/*background:#f7f7f7;*/
}



a.accordion-section-title:focus {
    color: #fff;
    text-decoration: none;
}

a.accordion-section-title:visited {
    color: #fff;
    text-decoration: none;
}

/*----- Section Titles -----*/
.accordion-section-title {
	width:100%;
	padding:5px;
	display:inline-block;
	border-bottom:1px solid #fff;
	background-color:#444;
	transition:all linear 0.15s;
	/* Type */
	font-size:1.200em;
	text-shadow:0px 1px 0px #1a1a1a;
    color:#fff;
}

.accordion-section-title.active, .accordion-section-title:hover, .accordion-section-title:active {
	/*background-color:#ebebeb;*/   
    /*color:#052946;*/
    background-color:#299a8b;
    color:#ffffff;
	 /*Type */
	text-decoration:none;
   
}

.accordion-section:last-child .accordion-section-title {
	border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
	padding:15px;
	display:none;
}
/*aa*/
@media only screen and (max-width: 1069px){
    .header-logo{
        width: 210px;
    }
    .header-user{
        display:none;
    }
    .menu-wrapper{
        width: 210px;
        z-index: 9999;
        margin:0;
    }
    .menu-wrapper .menu-content{
        width: 210px;
        z-index: 9999;
        margin:0;
    }
    .footer-content{
        margin-left: 0;
        width: 100%;
    }
    .mbl-menu-btn {
        display:block;
        width: 50px;
    }
}
/* Property Details Page CSS start */
div#divPropertyDetailHeader {
    background: #C7E4A4;
    padding: 1px 5px 1px 10px;
    /*border-radius: 6px;*/
}
.tblPropertyDetailsRow {
    display: table-row;
    background-color: #ffffff;
}
.tblPropertyDetails {
    display: table;
}
.tblPropertyDetailsCellWidth {
    display: table-cell;
    font-size: 13px;
    padding: 6px 0 6px 10px;
    vertical-align: middle;
    width: 10%;
    border-bottom:1px solid #ccc;
}
.tblPropertyDetailsCell {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
    width: 22%;
    border-bottom:1px solid #ccc;
}
#divPropertyDetails {
    /*border:1px solid;*/
    padding: 1px;
    width: 100%;
    /*background-color:#EDF5CC;*/
}
.tblPropertyDetailsRowColor {
    display: table-row;
    background-color: #f5f5f5;
}

.lbl-form-control {
    display: block;
    width: 100%;
    min-height: 30px;
    padding: 3px 4px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    /*border-radius: 4px;*/
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.box-button-popup {
    float:left;
    /*background-color: #e2e2e2;*/
    border-radius: 0 0 3px 3px;
    /*border: solid rgb(218, 218, 218);*/
    /*border-width:0px 1px 1px 1px;*/
    padding-top: 20px;
	margin-top:0;
    margin-bottom:-30px;
    width:100%
}

.box-button-popup input:nth-child(1), 
.box-button-popup a:nth-child(1),
.box-button-popup button:nth-child(1) {
    float:left
}

.box-button-popup input:nth-child(2),
.box-button-popup button:nth-child(2) {
    float:right
}

.divHeaderClass{
    border:solid #299a8b;
    border-width:1px 0px; 
    background-color:#e2e3e4;
    margin-bottom:10px;
}
@font-face {
    font-family: 'webfontregular';
    src: url('../Fonts/idautomationhc39m-webfont.eot');
    src: url('../Fonts/idautomationhc39m-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/idautomationhc39m-webfont.woff2') format('woff2'),
         url('../Fonts/idautomationhc39m-webfont.woff') format('woff'),
         url('../Fonts/idautomationhc39m-webfont.ttf') format('truetype'),
         url('../Fonts/idautomationhc39m-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.font-barcode{
    font-family: 'webfontregular';
}
.font-barcode span{
    font-family: 'webfontregular';
}