/* material icon family */
[data-icon]::before {
    content: attr(data-icon);
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

body {
    font-size: 16px;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.flex-grow {
    flex: 1;
}

.page-spcaing {
    padding: 0 10%
}

.p-15 {
    padding-left: 15px;
}

.container-fluid {
    padding: 0px;
}

.breadcrumb-custom {
    padding: .35rem 1rem;
}

    .breadcrumb-custom .breadcrumb-item a {
        color: #919191;
        font-size: .85rem;
    }

    .breadcrumb-custom .breadcrumb-item.active a {
        color: #7dc34a;
    }

label, input, textarea, select {
    font-size: .85rem;
}

label {
    color: #5c5c5c;
    margin-bottom: .2rem;
}

textarea {
    resize: none;
}

.form-control {
    padding: .15rem .55rem;
    font-size: .85rem;
    color: #5c5c5c;
    border-color: #939393;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(1.8rem + 2px);
}

.tx-ar-height {
    min-height: 80px;
}

nav.bg-nav {
    background: #006cac;
}

.section-top-spce {
    padding-top: 103px;
}

/* user name block */

.usr-nme {
    /* padding-right: 20px; */
}

footer {
    background: #006cac;
    text-align: center;
    color: #95cad2;
    font-size: 75%;
    padding: 0;
    max-height: 60px;
}

.ftr-bdr-tp {
    border-top: 5px solid #c6d9e8;
    position: relative;
    top: -5px;
    padding-top: 10px;
}

footer a {
    color: #95cad2;
}

    footer a:hover {
        color: #fff;
    }

/* top navigation */

.nav-tp-mnu-icn {
    display: block;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    height: 33px;
    margin-bottom: 5px;
}

.nav-icn-home {
    background-image: url(../images/nav_home_icn.png);
}

.nav-icn-status {
    background-image: url(../images/nav_status_icn.png);
}

.nav-icn-projects {
    background-image: url(../images/nav_project_icn.png);
}

.nav-icn-report {
    background-image: url(../images/nav_report_icn.png);
}

.nav-icn-library {
    background-image: url(../images/nav_library_icn.png);
}

.nav-icn-admin {
    background-image: url(../images/nav_admin_icn.png);
}

.nav-icn-payment {
    background-image: url(../images/nav_payment_icn.png);
}

.navbar-expand-md .navbar-nav .nav-link.link-space {
    padding-right: 2rem;
    padding-left: 2rem;
}

.nav-tp-txt {
    color: #fff;
}

.selected .nav-link:hover {
    background: #7dc34a;
    border-top: 0;
}

.nav-item a {
    width: 100%;
    height: 100%;
    background-size: 100% 200%;
    background-image: linear-gradient(to top, #7dc34a 50%, #006cac 50%);
    -webkit-transition: background-position .5s;
    -moz-transition: background-position .5s;
    transition: background-position .5s;
    border-top: 4px solid #006cac;
}

    .nav-item a:hover {
        background-position: 0 100%;
    }

    .nav-item a.selected {
        background: #7dc34a;
        /* border-top: 4px solid #006cac; */
    }

.line-green {
    background: #7dc34a;
    width: 100%;
    height: 5px;
    border-top: 0;
}

.bdr-btm-green {
    border-bottom: 1px solid #7dc34a;
}

.bdr-btm-blue {
    border-bottom: 1px solid #006cac;
}

.bdr-btm-grey {
    border-bottom: 1px solid #e1e1e1;
}

h1.page-title {
    font-size: 1.3rem;
}

h2.sub-title {
    font-size: 1.1rem;
}

.full-width {
    width: 100%
}

.tabs li a {
    background: #c6d9e8;
    border: solid #bdd6d9;
    border-width: 1px 1px 0;
    padding: 7px 12px;
    font-size: .85rem;
    color: #727171;
    min-width: 151px;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}

.tab-contnt-bdr-tp {
    border-top: 1px solid #d7ecee;
}

.tabs li a.active.show {
    background: #fff;
    height: 35px;
    position: relative;
    bottom: -2px;
}

.rate-diff {
    color: #006cac;
    font-weight: 700;
}

.action .clear[data-icon]::before {
    color: #ff0000
}

.action .add[data-icon]::before {
    color: #7dc34a
}

.action .edit[data-icon]::before {
    color: #7dc34a
}

.action .save[data-icon]::before {
    color: #0e74b0
}

.btn-wrap {
}

.btn-custom {
    border-radius: 0;
    padding: 6px 35px;
    color: #fff;
    font-size: .85rem
}

.btn-wrap .btn-custom {
    margin-right: 20px;
}

.btn-submit {
    background: #7dc34a;
}

.btn-cancel {
    background: #9b9b9b;
}

.btn-nxt,
.btn-bck {
    background: #006cac
}

.tp-btn-minus-spce {
    margin-top: -40px;
}


/* custom checkbox & radio button */

.chk-inr-cont,
.rdio-inr-cont {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 8px;
    margin-right: 10px;
    cursor: pointer;
    font-size: .85rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox & radio button */
    .chk-inr-cont input,
    .rdio-inr-cont input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

/* Create a custom checkbox & radio button */
.checkmark,
.circmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #545253
}

.circmark {
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.chk-inr-cont:hover input ~ .checkmark,
.rdio-inr-cont:hover input ~ .circmark {
    background-color: #ccc;
}

/* The checkbox and radio button is checked */
.chk-inr-cont input:checked ~ .checkmark,
.rdio-inr-cont input:checked ~ .circmark {
    background-color: #2196F3;
}

/* The checkmark/radio (hidden when not checked) */
.checkmark:after,
.circmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* The checkmark & radio button when checked */
.chk-inr-cont input:checked ~ .checkmark:after,
.rdio-inr-cont input:checked ~ .circmark:after {
    display: block;
}

/* The checkmark/radio button */
.chk-inr-cont .checkmark:after {
    left: 6px;
    top: 2.5px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.rdio-inr-cont .circmark:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #545253;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0,123,255,.25);
}

.closure-txtarea {
    height: 100px
}

.date .form-control {
    padding: .205rem .55rem;
    font-size: .9rem;
    color: #5c5c5c;
    border-color: #545253;
}

.di-none {
    display: none
}

.di-inline-blck {
    display: inline-block
}

.di-blck {
    display: block
}

.di-flex {
    display: flex
}

.clr-blue {
    color: #006cac
}

.s-label {
    font-size: .75rem
}

.l-label {
    font-size: .9rem;
    color: #006cac
}

.lbl-prjct-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn-tp-spce {
    margin-top: 19px;
}


/* general admin css */

.align-bottom {
    align-self: flex-end;
}


/* dashboard css */

.slide-1,
.slide-2,
.slide-3,
.slide-4,
.slide-5,
.slide-6 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 500px;
    height: 500px;
    border-radius: 500px;
}

.slide-1 {
    clip: rect(0px, 500px, 500px, 250px)
}

.slide-2 {
    clip: rect(0px, 500px, 500px, 250px);
    transform: rotate(59.976deg);
}

.slide-3 {
    clip: rect(0px, 500px, 500px, 250px);
    transform: rotate(119.981deg);
}

.slide-4 {
    clip: rect(0px, 500px, 500px, 250px);
    transform: rotate(179.986deg);
}

.slide-5 {
    clip: rect(0px, 500px, 500px, 250px);
    transform: rotate(239.99deg);
}

.slide-6 {
    clip: rect(0px, 500px, 500px, 250px);
    transform: rotate(299.995deg);
}

.slide-1-inner,
.slide-2-inner,
.slide-3-inner,
.slide-4-inner,
.slide-5-inner,
.slide-6-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 500px;
    height: 500px;
    border-radius: 500px;
}

.slide-1-inner {
    background: #87c8f0;
    transform: rotate(59.976deg);
}

    .slide-1-inner.hover {
        background: rgba(135,200,240,0.5)
    }

.slide-2-inner {
    background-color: #7dc34a;
    clip: rect(0px, 250px, 500px, 0px);
    transform: rotate(60.0048deg);
}

    .slide-2-inner.hover {
        background: rgba(125,195,74,0.5)
    }

.slide-3-inner {
    background-color: #cab6a9;
    clip: rect(0px, 250px, 500px, 0px);
    transform: rotate(60.0048deg);
}

    .slide-3-inner.hover {
        background: rgba(202,182,169,0.5)
    }

.slide-4-inner {
    background-color: #5e98ae;
    clip: rect(0px, 250px, 500px, 0px);
    transform: rotate(60.0048deg);
}

    .slide-4-inner.hover {
        background: rgba(94,152,174,0.5)
    }

.slide-5-inner {
    background-color: #e68f56;
    clip: rect(0px, 250px, 500px, 0px);
    transform: rotate(60.0048deg);
}

    .slide-5-inner.hover {
        background: rgba(230,143,86,0.5)
    }

.slide-6-inner {
    background-color: rgb(0, 128, 64);
    clip: rect(0px, 250px, 500px, 0px);
    transform: rotate(60.0048deg);
}

    .slide-6-inner.hover {
        background: rgba(0, 128, 64, 0.5)
    }

.inr-txt-circ {
    position: absolute;
    font-size: 15px;
    color: #fff;
    width: 325px;
    height: 325px;
}

.circ-cont {
    width: 500px;
    height: 500px;
    position: relative;
    border-radius: 500px;
    /* background-color: rgb(136, 143, 255);  */
    overflow: hidden;
    margin: 30px auto 0;
}

.circ-divison {
    position: absolute;
    top: -35px;
    left: -4px;
    z-index: 11
}

.small-circle {
    position: absolute;
    top: 24%;
    left: 26%;
    z-index: 11;
}

.sml-circ-txt {
    position: absolute;
    top: 32%;
    left: 20%;
    width: 100px;
    text-align: center;
    color: #fff;
}

.circ-inr-link {
    position: absolute;
    display: block;
    width: 210px;
    height: 210px;
    font-size: 85%;
    transition: font-size .15s;
    color: #fff;
    font-weight: 600;
}

.link-1,
.link-2,
.link-3,
.link-4,
.link-5,
.link-6 {
    z-index: 111;
    padding: 50px 50px;
}

/* .circ-inr-link.link-1 i.link-text, */
/* .circ-inr-link.link-2 i.link-text, */
/* .circ-inr-link.link-3 i.link-text, */
/* .circ-inr-link.link-4 i.link-text, */
/* .circ-inr-link.link-5 i.link-text, */
/* .circ-inr-link.link-6 i.link-text { */
/* font-size: 100%; */
/* transition: font-size .15s; */
/* } */

/* .circ-inr-link.link-1:hover i.link-text, */
/* .circ-inr-link.link-2:hover i.link-text, */
/* .circ-inr-link.link-3:hover i.link-text, */
/* .circ-inr-link.link-4:hover i.link-text, */
/* .circ-inr-link.link-5:hover i.link-text, */
/* .circ-inr-link.link-6:hover i.link-text { */
/* color:#333; */
/* text-decoration:none; */
/* font-size:120% */
/* } */

.circ-inr-link.link-1:hover,
.circ-inr-link.link-2:hover,
.circ-inr-link.link-3:hover,
.circ-inr-link.link-4:hover,
.circ-inr-link.link-5:hover,
.circ-inr-link.link-6:hover {
    color: #333;
    text-decoration: none;
    font-size: 85%
}

i.link-text {
    font-style: normal;
}

.link-1 span,
.link-2 span,
.link-3 span,
.link-4 span,
.link-5 span,
.link-6 span {
    position: relative;
    display: block;
}

.link-1 {
    /* border: 5px solid red; */
    right: 56px;
    top: -31px;
    clip: rect(20px, 210px, 210px, 10px);
    transform: rotate(60deg);
}

    .link-1 span {
        transform: rotate(-60deg);
        top: 0;
        right: 0;
        padding-top: 54px;
    }

.link-2 {
    /* border: 5px solid brown;	 */
    right: -58px;
    top: 157px;
    clip: rect(0px, 210px, 210px, 0px);
    transform: rotate(60deg);
}

    .link-2 span {
        transform: rotate(-60deg);
        top: 82px;
        right: 41px;
        padding-top: 4px;
        padding-left: 50px;
    }

.link-3 {
    /* border: 5px solid brown; */
    right: 61px;
    bottom: -35px;
    clip: rect(0px, 210px, 210px, 0px);
    transform: rotate(-59deg);
}

    .link-3 span {
        transform: rotate(59deg);
        top: -65px;
        right: 9px;
        padding-top: 5px;
        padding-left: 60px;
    }

.link-4 {
    /* border: 5px solid yellow; */
    z-index: 112;
    left: 39px;
    bottom: -35px;
    clip: rect(0px, 190px, 210px, 0px);
    transform: rotate(-191deg);
}

    .link-4 span {
        transform: rotate(191deg);
        top: 37px;
        left: 0;
        padding-top: 0;
        padding-left: 42px;
    }

.link-5 {
    /* border: 5px solid yellow; */
    z-index: 112;
    left: -72px;
    top: 148px;
    clip: rect(20px, 210px, 210px, 10px);
    transform: rotate(-59deg);
}

    .link-5 span {
        transform: rotate(59deg);
        top: 0;
        left: 0;
        padding-top: 23px;
        padding-left: 67px;
    }

.link-6 {
    /* border: 5px solid black; */
    z-index: 111;
    left: 34px;
    top: -19px;
    clip: rect(20px, 210px, 210px, 10px);
    transform: rotate(0deg);
}

    .link-6 span {
        transform: rotate(0deg);
        top: 0;
        left: 0;
        padding-top: 60px;
        padding-left: 36px;
    }

button.circ-inr-link.btn-remove:hover {
    font-size: 100%!important;
}
button:focus{
    outline:none;
}

button.circ-inr-link.btn-remove {
    font-size: 100% !important;
}
.slide-num {
    position: absolute;
    font-style: normal;
}

.slide-num-1 {
    left: -6px;
    top: -2px;
}

.slide-num-2 {
    top: -64px;
    right: -27px;
}

.slide-num-3 {
    top: 17px;
    right: -97px;
}

.slide-num-4 {
    bottom: -36px;
    right: -28px;
}

.slide-num-5 {
    bottom: -64px;
}

.slide-num-6 {
    bottom: 14px;
    left: -24px;
}

@media only screen and (max-width: 1024px) {
    .page-spcaing {
        padding: 0 5%
    }
}

@media only screen and (max-width: 768px) {
    .nav-tp-mnu-icn {
        display: inline-block;
        width: 30px;
        height: 33px;
        margin-bottom: 10px;
        float: left;
    }

    .nav-tp-txt {
        float: left;
        padding-left: 15px;
        line-height: 33px;
    }
}


.btn-remove {
    background-color: transparent;
    border: none;
    font: inherit;
    color: white;
}

.link-style {
    font-size: 85%;
    transition: font-size .15s;
    /* color: #fff; */
    font-weight: 600;
}
