body {
    font-family: "Roboto", sans-serif;
    background: url(../Images/boxed-bg.jpg) repeat;
}

header{
    background: #fef9f3 url(../images/top-nav-bg.png)no-repeat ;
	background-size: cover;
	min-height: 90px;
	border-radius: 0;
	border: 0;
	margin-bottom:0;
}

footer {
    /*height: 90px;*/
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
	line-height:40px;
    margin-top:50px;
	background: #929291;
	color: #fff;
	font-size:12px;
	display:inline-block;
}

footer a {
    color:#fff;
    text-decoration:underline;
}

footer a:hover {
    color:#fff;
    text-decoration:none
}

.header-logo-wrap{
    padding:8px 25px;
	position:relative;
	z-index:2;
}

.required:after 
{
    content: "*";
    font-weight: bold;
    color: red;
    padding-left:2px;
    /*font-size:120%;*/ 
}

.header-logo{
    background: url(../images/Logo-Green.png) no-repeat;
	min-width: 160px;
	min-height: 62px;
}

h1,h2,h3{
    padding:0;
    margin:0;
}

.container-fluid{
    padding:0;
    margin:0;
}

.row{
    padding:0;
    margin:0;
}

.row-heading {
	margin-bottom:10px;
}


.col-md-12, .col-md-6{
    padding:0;
    margin:0;
}



.content-wrapper {
    padding-top: 12px;
    margin: 0;
    width: 100%;
    padding-bottom: 40px;
}

.container-content{
    padding-left:8%;
    padding-right:8%;
    background:#fff;
    width:100%;
    height:100%;
}


.h1-title {
	text-transform:uppercase;
	color:#0b2d23;
	font-size:140%;
	font-weight:bold
}

.hr-div {
	background: #299a8b;
	height:12px;
}

.text-right{
    text-align:right;
}

.text-center{
    text-align:center;
}

.content-border{
    border:solid #e2e3e4; 
    border-width:0 1px 1px 1px;
    /*padding-bottom:40px;*/
}

.blck-heading-grid {
	text-transform:uppercase;
	color:#0b2d23;
	font-size:110%;
	font-weight:bold;
	border-top:1px solid #299a8b;
	border-bottom:1px solid #299a8b;
	line-height:30px;
	background:#e2e3e4;
	padding:0 15px;
}

.grid-title {
	text-transform:uppercase;
	color:#0b2d23;
	font-size:110%;
	font-weight:bold;
	border:solid #e2e3e4;
    line-height:30px;
	background:#e2e3e4;
	/*padding:0 15px;*/
}

.k-grid-content{
    overflow-y:hidden;
}


.a-btn {
	background: #299a8b;
	color:#fff;
	padding:10px;
}



/*Index Page*/

  .dashbrd-btn {
    background: #fff;
    display: block;
    width: 92%;
    /* padding: 0 5%; */
    text-align: center;
    height: 110px;
    font-size: 90%;
    color: #333;
    margin-right:8%;
    border:1px solid #299a8b;
    padding-top:80px;
    transition: background-color 0.8s ease;
    background-position: center 20px;
    -moz-box-shadow: 0px 3px 8px rgb(173,173,173); 
    -webkit-box-shadow: 0px 3px 8px rgb(173,173,173); 
    box-shadow: 0px 3px 8px rgb(173,173,173);
}


  

.icn-noting {
   background: rgba(255,255,255,0.8) url('../Images/icn-noting.png') no-repeat;
}

.icn-noting:hover {
   background: #299a8b url('../Images/icn-noting-over.png') no-repeat;
}

.icn-possession {
   background: rgba(255,255,255,0.8) url('../Images/icn-possession.png') no-repeat;
}

.icn-possession:hover {
   background: #299a8b url('../Images/icn-possession-over.png') no-repeat;
}

.icn-lease {
   background: rgba(255,255,255,0.8) url('../Images/icn-lease-deed.png') no-repeat;
}

.icn-lease:hover {
   background: #299a8b url('../Images/icn-lease-deed-over.png') no-repeat;
}

.icn-checklist {
   background: rgba(255,255,255,0.8) url('../Images/icn-checklist.png') no-repeat;
}

.icn-checklist:hover {
   background: #299a8b url('../Images/icn-checklist-over.png') no-repeat;
}

.icn-mortgage {
   background: rgba(255,255,255,0.8) url('../Images/icn-mortgage.png') no-repeat;
}

.icn-mortgage:hover {
   background: #299a8b url('../Images/icn-mortgage-over.png') no-repeat;
}

.icn-transfer {
   background: rgba(255,255,255,0.8) url('../Images/icn-transfer.png') no-repeat;
}

.icn-transfer:hover {
   background: #299a8b url('../Images/icn-transfer-over.png') no-repeat;
}

.icn-gpa {
   background: rgba(255,255,255,0.8) url('../Images/icn-gpa.png') no-repeat;
}

.icn-gpa:hover {
   background: #299a8b url('../Images/icn-gpa-over.png') no-repeat;
}

.icn-payment {
   background: rgba(255,255,255,0.8) url('../Images/icn-pymnt-ch.png') no-repeat;
}

.icn-payment:hover {
   background: #299a8b url('../Images/icn-pymnt-ch.png') no-repeat;
}

.icn-application {
   background: rgba(255,255,255,0.8) url('../Images/icn-application.png') no-repeat;
}

.icn-application:hover {
   background: #299a8b url('../Images/icn-application-over.png') no-repeat;
}

.icn-allotment {
   background: rgba(255,255,255,0.8) url('../Images/icn-allotment.png') no-repeat;
}

.icn-allotment:hover {
   background: #299a8b url('../Images/icn-allotment-over.png') no-repeat;
}

.icn-noting {
   background: rgba(255,255,255,0.8) url('../Images/icn-noting.png') no-repeat;
}

.icn-noting:hover {
   background: #299a8b url('../Images/icn-noting-over.png') no-repeat;
}

.icn-possession {
   background: rgba(255,255,255,0.8) url('../Images/icn-possession.png') no-repeat;
}

.icn-possession:hover {
   background: #299a8b url('../Images/icn-possession-over.png') no-repeat;
}

.icn-lease {
   background: rgba(255,255,255,0.8) url('../Images/icn-lease-deed.png') no-repeat;
}

.icn-lease:hover {
   background: #299a8b url('../Images/icn-lease-deed-over.png') no-repeat;
}

.icn-checklist {
   background: rgba(255,255,255,0.8) url('../Images/icn-checklist.png') no-repeat;
}

.icn-checklist:hover {
   background: #299a8b url('../Images/icn-checklist-over.png') no-repeat;
}

.icn-mortgage {
   background: rgba(255,255,255,0.8) url('../Images/icn-mortgage.png') no-repeat;
}

.icn-mortgage:hover {
   background: #299a8b url('../Images/icn-mortgage-over.png') no-repeat;
}

.icn-transfer {
   background: rgba(255,255,255,0.8) url('../Images/icn-transfer.png') no-repeat;
}

.icn-transfer:hover {
   background: #299a8b url('../Images/icn-transfer-over.png') no-repeat;
}

.icn-gpa {
   background: rgba(255,255,255,0.8) url('../Images/icn-gpa.png') no-repeat;
}

.icn-gpa:hover {
   background: #299a8b url('../Images/icn-gpa-over.png') no-repeat;
}

.icn-payment {
   background: rgba(255,255,255,0.8) url('../Images/icn-pymnt-ch.png') no-repeat;
}

.icn-payment:hover {
   background: #299a8b url('../Images/icn-pymnt-ch-over.png') no-repeat;
}

.icn-scheme {
    background: rgba(255,255,255,0.8) url('../Images/scheme-application.png') no-repeat;
}

.icn-scheme:hover {
   background: #299a8b url('../Images/scheme-application-over.png') no-repeat;
}

.icn-online-services {
    background: rgba(255,255,255,0.8) url('../Images/online-services.png') no-repeat;
}

.icn-online-services:hover {
   background: #299a8b url('../Images/online-services-over.png') no-repeat;
}

.icn-online-applications {
    background: rgba(255,255,255,0.8) url('../Images/online-applications.png') no-repeat;
}

.icn-online-applications:hover {
    background: #299a8b url('../Images/online-applications-over.png') no-repeat;
}

.icn-application,
.icn-allotment,
.icn-noting,
.icn-possession,
.icn-lease,
.icn-checklist,
.icn-mortgage,
.icn-transfer,
.icn-gpa,
.icn-payment,
.icn-scheme,
.icn-online-services,
.icn-online-applications {
    background-position:center 20px;
}

.icn-application:hover,
.icn-allotment:hover,
.icn-noting:hover,
.icn-possession:hover,
.icn-lease:hover,
.icn-checklist:hover,
.icn-mortgage:hover,
.icn-transfer:hover,
.icn-gpa:hover,
.icn-payment:hover,
.icn-scheme:hover,
.icn-online-services:hover,
.icn-online-applications:hover {
    color:#fff;
    text-decoration:none;
    background-position:center 20px;
    -moz-box-shadow: 0px 0 0 rgb(173,173,173); 
    -webkit-box-shadow: 0px 0 0 rgb(173,173,173); 
    box-shadow: 0px 0 0 rgb(173,173,173);
}

.dsh-btn-mrgin{
    margin-top: 20px;
}


.dsh-btn .gridTitle {
    padding-bottom:10px;
}

.dsh-btn-rw {
    margin-right:-1.5%
}

.dsh-btn-rw-2 {
    margin-right:-2.5%
}

.fke-link {
    background: #ccc;
    padding: .5em 1em;
    display: inline-block;
}

.search-bx-home {
    padding-top:10px;
}

.search-bx-home input[type="text"] {
    margin:3px 0 5px;
    padding:10px;
    font-size:85%;
    border:2px solid #2da797;
    background:transparent;
    width:95% ;
    background: rgba(255,255,255,0.7);
    color:#333;
}

.advnce-srch-lbl{padding:3px 0; display:block; width:100%; font-size:85%; color:#b2fff5}

.search-bx-home .k-widget.k-dropdown.k-header {
    width:95% !important;
    border:1px solid #299a8b; 
    background: rgba(255,255,255,0.7);
    margin-top:3px
}


.search-bx-home .k-dropdown-wrap .k-select, 
.search-bx-home .k-numeric-wrap .k-select, 
.search-bx-home .k-picker-wrap .k-select {
    min-height:initial !important;
    line-height:normal !important;
    padding:10px 0
}

.search-bx-home .k-dropdown-wrap.k-state-default {
    background:none;
    border:0
}

.search-bx-home .k-dropdown-wrap .k-input {
    padding: 7px 10px !important;
}

.home-btns-spce {
    padding:3% 0 0;
}

.home-btns-spce a {
    margin-right:8%;
    width:92%;
}

.adv-srch-bx {
    border: 1px #299a8b solid  
}

.adv-srch-bx {
    /*border: 1px #299a8b solid;*/
    margin-top:6%;
    margin-right:10px !important;
}

.adv-srch-title {
    background: #fff;
    padding: 10px;
    font-size: 100%;
    color: #333;
    font-weight:bold
}

.service-req-bx-new {
    background: #299a8b;
}


    #complaint {
        display: block;
    }

    .adv-srch-frm-bg {
    background:#299a8b; 
    padding:10px; 
    -moz-box-shadow: 0px 3px 8px rgb(173,173,173); 
    -webkit-box-shadow: 0px 3px 8px rgb(173,173,173); 
    box-shadow: 0px 3px 8px rgb(173,173,173);
}

.adv-srch-bx-btn{
    background:#fff; 
    padding:8px 0; 
    color:#333; 
    text-align:center; 
    border:0; 
    width:50%; 
    display:block; 
    margin:25px auto 10px;
    transition: background-color 0.5s ease;
}

.adv-srch-bx-btn:hover {
    background:#0f6155;
    color:#fff
}

.user-template{
    margin-left:10%;
    width:80%;
}

.page-title {
    text-transform: uppercase;
    color: #0b2d23;
    font-size: 140%;
    font-weight: bold;
}

.body-content {
    padding: 0 0 20px;
}

.header-row {
    background: #299a8b;
    height: 15px;
}

.block-heading {
    text-transform: uppercase;
    color: #0b2d23;
    font-size: 110%;
    font-weight: bold;
    border-top: 1px solid #299a8b;
    border-bottom: 1px solid #299a8b;
    line-height: 30px;
    margin-bottom: 25px;
    background: #e2e3e4;
    padding: 0 15px;
}

.mandatory {
    font-size: 90%;
    color: #000;
    line-height: 200%;
    text-align: right;
}

.row-button {
    float: left;
    /* background-color: #e2e2e2; */
    border-radius: 0 0 3px 3px;
    border: solid rgb(218, 218, 218);
    border-width: 0px 1px 1px 1px;
    padding: 10px 30px;
    margin-top: 0;
    margin-bottom: -30px;
    width: 100%;
}

/* steps wizard */

.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

/* steps wizard */