
.dropdown-container {
  position: absolute;
  top: 100%;
  right: -128px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 200px;
  max-width: 330px;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  margin-top:8px;
}
.dropdown-container > .dropdown-menu {
  position: static;
  z-index: 1000;
  float: none!important;
  padding: 10px 0;
  margin: 0;
  border: 0;
  background: transparent;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  max-height: 330px;
  overflow-y: auto;
}
.dropdown-container > .dropdown-menu + .dropdown-menu {
  padding-top: 0;
}
.dropdown-menu > li > a {
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  text-decoration: none;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.dropdown-toggle {
  cursor: pointer;
}
.dropdown-header {
  white-space: nowrap;
}
.open > .dropdown-container > .dropdown-menu,
.open > .dropdown-container {
  display: block;
}
.dropdown-toolbar {
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px 4px 0 0;
}


.dropdown-toolbar .dropdown-toolbar-title {
  margin: 0;
  font-size: 14px;
}
.dropdown-footer {
  padding: 5px 20px;
  border-top: 1px solid #ccc;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0 0 4px 4px;
}

@media (min-width: 992px) {
  .dropdown.hoverable:hover > ul {
    display: block;
  }
}



.dropmenu-item-content {
  position: absolute;
  text-align: right;
  max-width: 60px;
  right: 20px;
  color: #777777;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}



.dropdown-notifications > .dropdown-container,
.dropdown-notifications > .dropdown-menu {
  width: 300px;
  max-width: 300px;
}
.dropdown-notifications .dropdown-menu {
  padding: 0;
}
.dropdown-notifications .dropdown-toolbar,
.dropdown-notifications .dropdown-footer {
  padding: 9.5px 12px;
}
.dropdown-notifications .dropdown-toolbar {
  background: #fff;
}
.dropdown-notifications .dropdown-footer {
  background: #eeeeee;
}

.dropdown.dropdown-notifications .dropdown-menu li {
    padding:5px 12px;
    font-size:90%;
    border-bottom:1px solid #ccc;
}

.dropdown.dropdown-notifications .dropdown-menu li:last-child {
    border-bottom:0;
}

.dropdown.dropdown-notifications .dropdown-menu li a.req-num
  {
    display:inline;
    font-size:90%;
    padding:0;
    border:0
}

.dropdown.dropdown-notifications .dropdown-menu li:nth-child(even) {background: #f5f5f5}
.dropdown.dropdown-notifications .dropdown-menu li:nth-child(odd) {background: #fdfdfd}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent; 
  border-bottom: 10px solid #fff;
  margin:-8px auto 0;
}
