
body, html {
    height: 100%;
}

div.bg-logo {
  content: "";
  background: url(../images/Logo-Green.png) no-repeat center center;
  background-size:80%;
  opacity: 0.08;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
  width:100%;
  height:100% 
}

form {
    height:100%
}

textarea, input { 
	outline: none; 
    font-family: "Roboto", sans-serif;
}

.grad1 {
    
}

#mainWrapper {
    position: relative;
    min-height:100%;
}

.main {
    padding-bottom: 90px;
}


body {
    background: url(../images/bg.jpg) repeat;
    font-family: "Roboto", sans-serif;
    background: url('../Images/boxed-bg.jpg') repeat;
}

textarea {
	resize: none;
}

.cls {
	padding:0;
	margin:0;
	height:0;
	line-height:0;
	font-size:0;
	clear:both;
}

.bdr-lft {
	border-left:1px solid #fff;
}

.bdr-rht {
	border-right:1px solid #fff;
}

.bdr-top {
	border-top:1px solid #fff;
}

.bdr-btm{
	border-bottom:1px solid #fff;
}

input [type="text"] {
	border:1px solid #000;
	background:#fff;
	padding:1%
}

.form-control {
    height: 30px;
}

#header-mobile { 
	display:none;
}

/* no margin & padding */

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

[class*="col-"] {
	padding-left: 0;
	padding-right: 0;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.pos-rel {
	position: relative
}



.nav-bg {
	background: #fef9f3 url(../images/top-nav-bg.png)no-repeat ;
	background-size: cover;
	min-height: 100px;
	border-radius: 0;
	border: 0;
	margin-bottom:0;
	/* padding: 0 36px; */
}

.navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}

.brand-wrap {
	padding:8px 25px;
	position:relative;
	z-index:2;
}

.navbar-brand {
	background: url(../images/Logo-Green.png) no-repeat;
	min-width: 160px;
	min-height: 62px;
}

.navbar-default .navbar-nav.top-links {
	/* background:rgba(141,85,70,0.3); */
	margin-top: 12px;
	padding-left:5px;
	padding-right:5px;
	margin-right:20px;
}

.navbar-default .navbar-nav.top-links > li:last-child {
	border-left:1px solid #fff;
	padding-left:15px;
	margin-left:10px;
	margin-right:0
}

.navbar-default .navbar-nav.top-links > li > a {
    color: #fff;
	text-transform: uppercase;
	padding: 3px 5px;
	border:1px solid #fff;
	border-radius:3px;
	font-size:110%;
	margin-right:10px;
}

.nav-wrap {
	float:right;
	width:100%;
	background:rgba(213,235,225,0.7);
	position:absolute;
	bottom:0;
	z-index:1;
}

.nav-wrap .nav {
	float:right;
	margin-right:15px;
}

.nav-wrap .nav > li > a{
	color:#000;
	text-transform:uppercase;
	font-size:120%;
	font-weight:600;
	padding:15px 20px 12px;
}

.dropdown:hover .dropdown-menu {
	background:#e7e7e7;
}

.dropdown:hover {
	background:rgba(213,235,225,1);
}

.dropdown-menu {
	min-width:260px;
	padding:0
}

.dropdown .dropdown-menu li a,
.dropdown .dropdown-menu li span {
	padding:10px 20px;
	border-bottom:1px solid #b5c8c0;
	font-size:110%;
    display:block;
    position:relative
} 

.dropdown .dropdown-menu li:last-child  a{
	border-bottom:0;
}

.nav-wrap ul.nav li:nth-last-child(2) ul   {
	left:-110px;
}

.top-links li.dropdown.open a {
	color:#333 !important;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom:0;
}

.top-links li.divider {
	margin:0;
	height:1px
}

.top-links .dropdown-menu {
    min-width: 220px;
}

.top-links li.dropdown:hover {
	background:transparent
}

.top-links span.label{
    position: absolute;
    top: -5px;
    font-size: 55%;
    right: -5px;
    border: 1px solid #fff;
    padding:2px 4px;
}

.ph-input-sml {
    width:20%
}

.ph-input-lg {
    width:78%
}

.required:after 
{
    content: "*";
    font-weight: bold;
    color: red;
    padding-left:2px;
    /*font-size:120%;*/ 
}

/* footer */

footer {
    height: 90px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
	line-height:40px;
}

footer a {
    color:#fff;
    text-decoration:underline
}

footer a:hover {
    color:#fff;
    text-decoration:none
}

.copyright {
	margin-top:50px;
	background: #929291;
	color: #fff;
	font-size:12px;
	display:inline-block;
}


/* common container */

.contentWrapper {
	width:90%;
	/*padding-top:143px;*/
    padding-top:120px;
}

.rw-spce {
	margin-bottom:15px;
}

.gridTitle {
	text-transform:uppercase;
	color:#0b2d23;
	font-size:140%;
	font-weight:bold
}

.col-btn {
	text-align:right
}

.col-btn a {
	background: #299a8b;
	color:#fff;
	padding:10px;
}

.blnk-rw {
	background: #299a8b;
	height:15px;
}

.content-top-spce {
	padding:0 0 20px;
}

.form-bx {
	padding-right:30px
}
.menu-form-bx{
    /*padding-left:20px;*/
    border:1px solid #e2e3e4;
   
}
.scheme-form-bx{
    padding-right:30px;
    padding-bottom:10px;
    padding-top:15px;
}
.blck-heading {
	text-transform:uppercase;
	color:#0b2d23;
	font-size:110%;
	font-weight:bold;
	border-top:1px solid #299a8b;
	border-bottom:1px solid #299a8b;
	line-height:30px;
	margin-bottom:25px;
	background:#e2e3e4;
	padding:0 15px;
}

.menu-blck-heading {
	text-transform:uppercase;
	color:#0b2d23;
	font-size:110%;
	font-weight:bold;
	border-top:1px solid #299a8b;
	border-bottom:1px solid #299a8b;
	line-height:30px;
	/*margin-bottom:25px;*/
	background:#e2e3e4;
	padding:0 0 0 15px;
}

.blck-heading-witness {
	text-transform:uppercase;
	color:#0b2d23;
	font-size:110%;
	font-weight:bold;
	/*border-top:1px solid #299a8b;
	border-bottom:1px solid #299a8b;*/
	line-height:30px;
	margin-bottom:25px;
	/*background:#e2e3e4;*/
	padding:0 15px;
}
.blck-heading-grid {
	text-transform:uppercase;
	color:#0b2d23;
	font-size:110%;
	font-weight:bold;
	border-top:1px solid #299a8b;
	border-bottom:1px solid #299a8b;
	line-height:30px;
	background:#e2e3e4;
	padding:0 15px;
}
.comb-column{
    text-transform:uppercase;
	color:#0b2d23;
	font-size:110%;
	font-weight:bold;
	border-top:1px solid #299a8b;
	border-bottom:1px solid #299a8b;
	line-height:30px;
	background:#e2e3e4;
	padding:0 15px;
}
.mandatory {
	font-size: 90%;
	color:#000;
	line-height: 200%;
	text-align:right
}

.star{
	font-size:120%; 
	color:red;
}

label {
	font-weight:normal;
	color:#000
}

.age-bx label, .age-bx input {
	float:left;
}

.age-bx label {
	margin:5px 0 0 15px
}

.age-bx input {
	max-width:60px;
	margin:0 0 0 5px
}

/*.form-group {
	padding-left:10px;
	padding-right:10px;
}*/

.form-control,
.input-group-addon
 {
	border-radius:0
}

.form-control:focus {
    border-color: #299a8b;
    outline: 0;
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.075), 0 0 0 rgba(102, 175, 233, .6);
    box-shadow: inset 0 0 0 rgba(0,0,0,.075), 0 0 0 rgba(102, 175, 233, .6);
}

.form-group label {
	padding-left:30px;
	padding-right:10px;
}

.form-group select {
	background:#eeeeee
}

.input-group-addon {
	background:#e2e3e4
}

.form-group .age-bx label {
		margin:5px 0 0 0px;
		padding-left:5px;
		padding-right:5px;
}
	
.form-group .age-bx {
	float:right
}

.form-group.rdio-bx label:first-child {
	padding-left:0
}

.box-button {
    float:left;
    /*background-color: #e2e2e2;*/
    border-radius: 0 0 3px 3px;
    border: solid rgb(218, 218, 218);
    border-width:0px 1px 1px 1px;
    padding: 10px 30px;
	margin-top:0;
	margin-bottom:-30px;
    width:100%
}

.box-button input:nth-child(1), 
.box-button a:nth-child(1),
.box-button button:nth-child(1) {
    float:left
}

.box-button input:nth-child(2),
.box-button button:nth-child(2) {
    float:right
}

.btn {
	min-width:70px;
}

.btn-default {
    background-color: #707070;
    border-color: #707070;
    color: #fff;
}

.btn-add {
    background-color: #299a8b;
    border-color: rgb(43, 137, 90);
	color:#fff;
}

.btn-add:hover {
    background-color: #1b8173;
    border-color: rgb(43, 137, 90);
	color:#fff;
}

/* Grid CSS */

.k-grid-header th.k-header {
	background:#eeeeef
}

.k-grid-header th.k-header > .k-link {
    font-weight: bold;
    color: #484848;
}

.k-alt, 
.k-pivot-layout > tbody > tr:first-child > td:first-child, 
.k-resource.k-alt, .k-separator {
    background-color: #f5faed;
}

.k-pager-wrap {
	background-image:none;
    background-color: #eeeeef;
}

.k-gantt-toolbar .k-state-default, 
.k-grid .k-grouping-header, 
.k-grid-header, 
.k-grid-header-wrap, 
.k-grouping-header .k-group-indicator, 
.k-header, .k-pager-wrap, 
.k-pager-wrap .k-link, 
.k-pager-wrap .k-textbox {
    border-color: #dcdfdf;
}

.k-state-selected {
    background:#299a8b;
	border-color:#299a8b;
}

.k-pager-wrap > .k-link {
    margin-right: 5px;
	border-radius:0;
}

.k-pager-numbers .k-state-selected,
.k-pager-numbers .k-link {
	border-radius:0;
	margin-right: 5px;
}

.k-grid tr:hover {
    background-color: #e0e0e0;
    background-image: none;
    background-position: 50% 50%;
}

.gridWrapper .k-grid-content {
	min-width:768px;
	width:100%;
}

a.gridEdit {
	background:url(../images/Blue-Edit_Icon.png) no-repeat left center;
	padding-left:25px;
	color:#292d7c;
	line-height:28px;
	display:inline-block;
}
span.gridNotEdit {
	background:url(../images/Blue-Edit_Icon_fade.png) no-repeat left center;
	padding-left:25px;
	color:#abb1e1;
	line-height:28px;
	display:inline-block;
}

a.gridRemove {
	background:url(../images/trash-fill.png) no-repeat left center;
	padding-left:19px;
	color:#292d7c;
	line-height:28px;
	display:inline-block;
}
span.gridNotRem {
	background:url(../images/trash-fill-fade.png) no-repeat left center;
	padding-left:19px;
	color:#abb1e1;
	line-height:28px;
	display:inline-block;
}


span.gridNotRemove {
	/*background:url(../images/Blue-Edit_Icon.png) no-repeat left center;*/
	padding-left:16px;
	color:#abb1e1;
	line-height:28px;
	display:inline-block;
}

.k-autocomplete, 
.k-block, 
.k-button, 
.k-calendar .k-link, 
.k-calendar td, 
.k-calendar-container, 
.k-colorpicker, 
.k-combobox, 
.k-datepicker, 
.k-datetimepicker, 
.k-drag-clue, 
.k-dropdown, 
.k-dropdown-wrap, 
.k-editor-inline, 
.k-gantt-views>.k-current-view, 
.k-grid .k-filter-options, 
.k-grouping-header .k-group-indicator, 
.k-inline-block, 
.k-list-container, 
.k-multiselect, 
.k-notification, 
.k-numeric-wrap, 
.k-numerictextbox, 
.k-picker-wrap, 
.k-slider-selection, 
.k-slider-track, 
.k-split-button .k-gantt-views, 
.k-textbox, 
.k-tile, 
.k-timepicker, 
.k-tooltip, 
.k-touch-scrollbar, 
.k-treeview .k-in, 
.k-upload, 
.k-window, 
.k-window-action, 
.k-window-titleless .k-window-content {
    border-radius: 0;
}

.k-autocomplete .k-input, 
.k-dropdown-wrap .k-input, 
.k-numeric-wrap .k-input, 
.k-picker-wrap .k-input, 
.k-selectbox .k-input, 
.k-textbox>input {
    padding: 2.5px 13px;
    text-indent: 0;
}

.k-autocomplete.k-state-default, 
.k-dropdown-wrap.k-state-default, 
.k-numeric-wrap.k-state-default, 
.k-picker-wrap.k-state-default {
    background-image: none;
    background-color: #ececec;
    border-color: #c5c5c5;
}

.k-draghandle.k-state-selected:hover, 
.k-ghost-splitbar-horizontal, 
.k-ghost-splitbar-vertical, 
.k-list>.k-state-highlight, 
.k-list>.k-state-selected, 
.k-marquee-color, 
.k-panel>.k-state-selected, 
.k-scheduler .k-scheduler-toolbar .k-state-selected, 
.k-scheduler .k-today.k-state-selected, 
.k-state-selected, 
.k-state-selected:link, 
.k-state-selected:visited {
    color: #fff;
    background-color: #299a8b;
    border-color: #299a8b;
    border-radius:0
}

.k-button.k-state-focused, 
.k-button.k-state-hover, 
.k-button:focus, 
.k-button:hover, 
.k-draghandle:hover, 
.k-other-month.k-state-hover .k-link, 
.k-pager-wrap .k-link:hover, 
.k-state-hover, 
.k-state-hover:hover, 
.k-textbox:hover, 
div.k-filebrowser-dropzone em {
    background-image: none;
    background-color: #bcbcbc;
    border-radius:0
}
  .k-numerictextbox {
        white-space: nowrap;
    }

div.k-grid-content{
    overflow-x: hidden;
    overflow-y: hidden;
}
    .k-numeric-wrap {
        padding: 0 1.9em 0 0 !important;
    }

.k-grouping-header{
    font-weight:normal;
    padding-left:10px;
}

   /*.k-autocomplete, 
   .k-colorpicker, 
   .k-combobox, 
   .k-datepicker, 
   .k-datetimepicker, 
   .k-dropdown, 
   .k-numerictextbox, 
   .k-selectbox, 
   .k-textbox, 
   .k-timepicker, 
   .k-toolbar .k-split-button {
    position: relative;
    display: inline-block !important;
    width: 12.4em;
    overflow: visible;
    border-width: 0;
    vertical-align: middle;
}*/

/* kendo filter box */

div.k-animation-container {
    height:auto !important;
    min-height:240px !important; 
}

.dropdown-menu .divider {
    background:#b5c8c0
}

#dvLocation div.lctionChoice div:nth-child(2) label:first-child {
    padding-left:0
}


a.k-grid-filter .k-icon.k-filter {
    background-image: url('../Images/Filter.png');
    background-position:0 5px;
}

.icn-trash {
    background: url('../Images/trash-fill.png') no-repeat;
    width:13px;
    height:18px;
    display:inline-block;
    margin-right:5px;
    position:relative;
    top:3px;
}

.grid-trsh {
    color:#292d7c
}

a.gridView {
    background: url(../images/view.png) no-repeat left center;
    padding-left: 25px;
    color: #292d7c;
    line-height: 28px;
    display: inline-block;
}

a.gridGrant {
    background: url(../images/grant-2.png) no-repeat left center;
    padding-left: 20px;
    color: #292d7c;
    line-height: 28px;
    display: inline-block;
    cursor:pointer;
}

a.gridRevoke {
    background: url(../images/revoke-2.png) no-repeat left center;
    padding-left: 20px;
    color: #292d7c;
    line-height: 28px;
    display: inline-block;
    cursor:pointer;
}


.k-numeric-wrap.k-state-default input:nth-child(2) {
    background:transparent
}


.k-numeric-wrap.k-state-default {
    background-image: none;
    background-color: #fff;
    border: 1px solid #ccc;
    
}

.k-numeric-wrap.k-state-default:focus, .k-numeric-wrap .k-input:focus {
    border-color: #299a8b;
    outline: 0;
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.075), 0 0 0 rgba(102, 175, 233, .6);
    box-shadow: inset 0 0 0 rgba(0,0,0,.075), 0 0 0 rgba(102, 175, 233, .6);
}

.k-numeric-wrap  {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-radius:0
}

.k-numeric-wrap input.k-input:nth-child(2) {
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.075);
    box-shadow: inset 0 0 0 rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.DisableKeyboardInput.k-input {
    padding: 6px 0 6px 10px;
    border-radius: 0;
    box-sizing: border-box;
}

.strtdate .DisableKeyboardInput.k-input {
    padding: 8px 0 8px 10px;
    border-radius: 0;
    box-sizing: border-box;
    height: 2.2em;
    line-height: 2em;
}

#tabs {
    display:inline-block;
    width:100%
}

.accordion-section-title {
    text-shadow: 0 0 0 #1a1a1a;
    font-size:100%;
    color:#fff;
    background:#9c9c9c;
    border:0;
}

.ui-state-active a {
    color:#fff
}


.ui-state-active a:link, 
.ui-state-active a:visited {
    color: #fff;
    background:#299a8b
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: .2em .2em 0 0;
    background:none;
    border:0
}

.ui-tabs .ui-tabs-nav .ui-state-default a, 
.ui-tabs .ui-tabs-nav .ui-state-default a:link, 
.ui-tabs .ui-tabs-nav .ui-state-default a:visited {
    color: #fff;
    text-decoration: none;
}

.row.audit .form-group {
    padding-right:5px;
}

.row.audit  .form-group label {
    padding-left: 0;
}

.ui-widget {
    font-family: "Roboto", sans-serif !important;
    font-size: 14px !important;
}

.ui-tabs {
    padding: 0 !important;
}

.k-picker-wrap input.k-input[type="text"] {
    padding:6px 12px;
    height:30px;
    box-sizing:border-box
}

.row.form-group.edit.lctionChoice {
    margin-bottom:0
}

.form-group label.form-control, .form-group span.form-control {
    min-height: 34px;
    height:auto;
    padding-left:10px;
    background:#e1e1e1
}

.form-group label.lbl-form-control {
    padding-left:10px;
}
    
.allotmentProperty .nav>li>a {
    padding: .5em 1em;
    font-size: 85%;
    color: #fff;
    background: #9c9c9c;
}

.allotmentProperty .nav.nav-tabs.content-tabs li.active a {
    background: #299a8b;
    color:#fff
}

.PropertyDetailsForm #divPropertyDetailHeader, 
.PropertyDocument div#divPropertyDetailHeader, 
.tab-content div#divPropertyDetailHeader {
    /*border-top: 1px solid #299a8b;
    border-bottom: 1px solid #299a8b;*/
    line-height: 30px;
    margin-top:5px;
    margin-bottom: 5px;
    background: #fff;
}

/*.a_demo_three {
	background-color:#3bb3e0;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:10px 20px;
	border-left:solid 1px #2ab7ec;
	margin-left:35px;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}

.a_demo_three:active {
	top:3px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}

.a_demo_three::before {
	background-color:#2561b4;
	content:"1";
	width:35px;
	max-height:29px;
	height:100%;
	position:absolute;
	display:block;
	padding-top:8px;
	top:0px;
	left:-36px;
	font-size:16px;
	font-weight:bold;
	color:#8fd1ea;
	text-shadow:1px 1px 0px #07526e;
	border-right:solid 1px #07526e;
	background-image: linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -o-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(10,94,125)),
	color-stop(1, rgb(14,139,184))
	);
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;
	-moz-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;
	-o-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;
	box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999 ;
}

.a_demo_three:active::before {
	top:-3px;
	-webkit-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
	-moz-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
	-o-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
	box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
}*/

.scheme-rw-btn{
    text-align: center;
    border: solid rgb(218, 218, 218);
    border-width: 1px 0 0 0;
    padding: 20px 30px 10px 30px;
    /*margin-right: -30px;*/
    margin-top: 20px;
}


.mnge-prop-filter .form-group span.k-widget input[type="text"] {
    width:100%;
    box-sizing:border-box;
    padding:10px;
    height:auto;
    line-height:initial;
    min-width:210px

}

.mnge-prop-filter .form-group span.k-widget.k-autocomplete {
    width:100%;
}

.dashbrd-btn {
    background: #fff;
    display: block;
    width: 92%;
    /* padding: 0 5%; */
    text-align: center;
    height: 110px;
    font-size: 90%;
    color: #333;
    margin-right:8%;
    border:1px solid #299a8b;
    padding-top:80px;
    transition: background-color 0.8s ease;
    background-position: center 20px;
    -moz-box-shadow: 0px 3px 8px rgb(173,173,173); 
    -webkit-box-shadow: 0px 3px 8px rgb(173,173,173); 
    box-shadow: 0px 3px 8px rgb(173,173,173);
}


  

.icn-noting {
   background: rgba(255,255,255,0.8) url('../Images/icn-noting.png') no-repeat;
}

.icn-noting:hover {
   background: #299a8b url('../Images/icn-noting-over.png') no-repeat;
}

.icn-possession {
   background: rgba(255,255,255,0.8) url('../Images/icn-possession.png') no-repeat;
}

.icn-possession:hover {
   background: #299a8b url('../Images/icn-possession-over.png') no-repeat;
}

.icn-lease {
   background: rgba(255,255,255,0.8) url('../Images/icn-lease-deed.png') no-repeat;
}

.icn-lease:hover {
   background: #299a8b url('../Images/icn-lease-deed-over.png') no-repeat;
}

.icn-checklist {
   background: rgba(255,255,255,0.8) url('../Images/icn-checklist.png') no-repeat;
}

.icn-checklist:hover {
   background: #299a8b url('../Images/icn-checklist-over.png') no-repeat;
}

.icn-mortgage {
   background: rgba(255,255,255,0.8) url('../Images/icn-mortgage.png') no-repeat;
}

.icn-mortgage:hover {
   background: #299a8b url('../Images/icn-mortgage-over.png') no-repeat;
}

.icn-transfer {
   background: rgba(255,255,255,0.8) url('../Images/icn-transfer.png') no-repeat;
}

.icn-transfer:hover {
   background: #299a8b url('../Images/icn-transfer-over.png') no-repeat;
}

.icn-gpa {
   background: rgba(255,255,255,0.8) url('../Images/icn-gpa.png') no-repeat;
}

.icn-gpa:hover {
   background: #299a8b url('../Images/icn-gpa-over.png') no-repeat;
}

.icn-payment {
   background: rgba(255,255,255,0.8) url('../Images/icn-pymnt-ch.png') no-repeat;
}

.icn-payment:hover {
   background: #299a8b url('../Images/icn-pymnt-ch.png') no-repeat;
}

.icn-application {
   background: rgba(255,255,255,0.8) url('../Images/icn-application.png') no-repeat;
}

.icn-application:hover {
   background: #299a8b url('../Images/icn-application-over.png') no-repeat;
}

.icn-allotment {
   background: rgba(255,255,255,0.8) url('../Images/icn-allotment.png') no-repeat;
}

.icn-allotment:hover {
   background: #299a8b url('../Images/icn-allotment-over.png') no-repeat;
}

.icn-noting {
   background: rgba(255,255,255,0.8) url('../Images/icn-noting.png') no-repeat;
}

.icn-noting:hover {
   background: #299a8b url('../Images/icn-noting-over.png') no-repeat;
}

.icn-possession {
   background: rgba(255,255,255,0.8) url('../Images/icn-possession.png') no-repeat;
}

.icn-possession:hover {
   background: #299a8b url('../Images/icn-possession-over.png') no-repeat;
}

.icn-lease {
   background: rgba(255,255,255,0.8) url('../Images/icn-lease-deed.png') no-repeat;
}

.icn-lease:hover {
   background: #299a8b url('../Images/icn-lease-deed-over.png') no-repeat;
}

.icn-checklist {
   background: rgba(255,255,255,0.8) url('../Images/icn-checklist.png') no-repeat;
}

.icn-checklist:hover {
   background: #299a8b url('../Images/icn-checklist-over.png') no-repeat;
}

.icn-mortgage {
   background: rgba(255,255,255,0.8) url('../Images/icn-mortgage.png') no-repeat;
}

.icn-mortgage:hover {
   background: #299a8b url('../Images/icn-mortgage-over.png') no-repeat;
}

.icn-transfer {
   background: rgba(255,255,255,0.8) url('../Images/icn-transfer.png') no-repeat;
}

.icn-transfer:hover {
   background: #299a8b url('../Images/icn-transfer-over.png') no-repeat;
}

.icn-gpa {
   background: rgba(255,255,255,0.8) url('../Images/icn-gpa.png') no-repeat;
}

.icn-gpa:hover {
   background: #299a8b url('../Images/icn-gpa-over.png') no-repeat;
}

.icn-payment {
   background: rgba(255,255,255,0.8) url('../Images/icn-pymnt-ch.png') no-repeat;
}

.icn-payment:hover {
   background: #299a8b url('../Images/icn-pymnt-ch-over.png') no-repeat;
}

.icn-scheme {
    background: rgba(255,255,255,0.8) url('../Images/scheme-application.png') no-repeat;
}

.icn-scheme:hover {
   background: #299a8b url('../Images/scheme-application-over.png') no-repeat;
}

.icn-online-services {
    background: rgba(255,255,255,0.8) url('../Images/online-services.png') no-repeat;
}

.icn-online-services:hover {
   background: #299a8b url('../Images/online-services-over.png') no-repeat;
}

.icn-online-applications {
    background: rgba(255,255,255,0.8) url('../Images/online-applications.png') no-repeat;
}

.icn-online-applications:hover {
    background: #299a8b url('../Images/online-applications-over.png') no-repeat;
}

.icn-application,
.icn-allotment,
.icn-noting,
.icn-possession,
.icn-lease,
.icn-checklist,
.icn-mortgage,
.icn-transfer,
.icn-gpa,
.icn-payment,
.icn-scheme,
.icn-online-services,
.icn-online-applications {
    background-position:center 20px;
}

.icn-application:hover,
.icn-allotment:hover,
.icn-noting:hover,
.icn-possession:hover,
.icn-lease:hover,
.icn-checklist:hover,
.icn-mortgage:hover,
.icn-transfer:hover,
.icn-gpa:hover,
.icn-payment:hover,
.icn-scheme:hover,
.icn-online-services:hover,
.icn-online-applications:hover {
    color:#fff;
    text-decoration:none;
    background-position:center 20px;
    -moz-box-shadow: 0px 0 0 rgb(173,173,173); 
    -webkit-box-shadow: 0px 0 0 rgb(173,173,173); 
    box-shadow: 0px 0 0 rgb(173,173,173);
}

.dsh-btn-mrgin{
    margin-top: 20px;
}


.dsh-btn .gridTitle {
    padding-bottom:10px;
}

.dsh-btn-rw {
    margin-right:-1.5%
}

.dsh-btn-rw-2 {
    margin-right:-2.5%
}

.fke-link {
    background: #ccc;
    padding: .5em 1em;
    display: inline-block;
}

.search-bx-home {
    padding-top:10px;
}

.search-bx-home input[type="text"] {
    margin:3px 0 5px;
    padding:10px;
    font-size:85%;
    border:2px solid #2da797;
    background:transparent;
    width:95% ;
    background: rgba(255,255,255,0.7);
    color:#333;
}

.advnce-srch-lbl{padding:3px 0; display:block; width:100%; font-size:85%; color:#b2fff5}

.search-bx-home .k-widget.k-dropdown.k-header {
    width:95% !important;
    border:1px solid #299a8b; 
    background: rgba(255,255,255,0.7);
    margin-top:3px
}


.search-bx-home .k-dropdown-wrap .k-select, 
.search-bx-home .k-numeric-wrap .k-select, 
.search-bx-home .k-picker-wrap .k-select {
    min-height:initial !important;
    line-height:normal !important;
    padding:10px 0
}

.search-bx-home .k-dropdown-wrap.k-state-default {
    background:none;
    border:0
}

.search-bx-home .k-dropdown-wrap .k-input {
    padding: 7px 10px !important;
}

.home-btns-spce {
    padding:3% 0 0;
}

.home-btns-spce a {
    margin-right:8%;
    width:92%;
}

.adv-srch-bx {
    border: 1px #299a8b solid  
}

.gridTitle.adv-srch-title{
    background:#fff; 
    padding:10px; 
    font-size:100%; 
    color:#333
}

.adv-srch-frm-bg {
    background:#299a8b; 
    padding:10px; 
    -moz-box-shadow: 0px 3px 8px rgb(173,173,173); 
    -webkit-box-shadow: 0px 3px 8px rgb(173,173,173); 
    box-shadow: 0px 3px 8px rgb(173,173,173);
}

.adv-srch-bx-btn{
    background:#fff; 
    padding:8px 0; 
    color:#333; 
    text-align:center; 
    border:0; 
    width:50%; 
    display:block; 
    margin:25px auto 10px;
    transition: background-color 0.5s ease;
}

.adv-srch-bx-btn:hover {
    background:#0f6155;
    color:#fff
}


.AllotmentMaster .AdvanceSearchProperty .form-bx .form-group {
    padding-left: 10px !important;
}

.AllotmentMaster .AdvanceSearchProperty .form-bx .form-group label {
    padding-left: 0;
}

.menu-mapping-bx h2.blck-heading table, .menu-mapping-bx fieldset table {
    width:100%
}

.menu-mapping-bx #dvDdl h2.blck-heading table td, 
.menu-mapping-bx #dvDdl fieldset table td {
    width:15%;
    /*border:1px solid #ccc;*/
    padding:0 5px;
    text-align:center;
}

.menu-mapping-bx #dvDdl h2.blck-heading table td:first-child, 
.menu-mapping-bx #dvDdl fieldset table td:first-child {
    text-align:left;
    width:40%;
}

.menu-mapping-bx fieldset {
    width:100%;
    margin:0;
    padding:0;
}

.menu-mapping-bx .form-bx {
    padding-right: 0;
}

.menu-mapping-bx h2.blck-heading {
    padding:0
}

.imgApp {
     margin-bottom:10px;
     vertical-align:top;
     margin-left:5px;
     float:left;
     margin-top:3px;
}

.imgMenu {
    margin-left:20px;
}

.imgApp, .imgMenu {
     background:url('../Images/Home/map-plus.png') no-repeat left center;
     display:inline-block;
     cursor:pointer;
     padding-left:20px;
     color:#299a8b;
     font-weight:600;
}

.menu-map-icn-minus, .submenu-map-icn-minus {
     background:url('../Images/Home/Next.png') no-repeat left center;
     display:inline-block;
     cursor:pointer;
     color:#299a8b;
     font-weight:600;
}

.submenu-map-icn-minus {
    margin-left:20px;
}

.box-button.nw-bx-button {
    margin-bottom:20px;
}