.k-textbox {
    width: 100%;
}

#div-extension {
    display: none;
}

#div-transfer {
    display: none;
}

#div-mortgage {
    display: none;
}

#div-mutation {
    display: none;
}

#div-gpa {
    display: none;
}

#div-rent {
    display: none;
}

#div-cic {
    display: none;
}

.row-border {
    border: solid #e2e3e4;
    border-width: 0 0px 1px 0px;
}

.row.file-header {
    background: #56afff;
    padding-top: 6px;
}

.col-lbl-sn > label {
    padding-left: 30px;
}

.row-file {
    padding-top: 4px;
    padding-bottom: 4px;
    /*background-color:#d5d5d5;*/
    background-color: #fff;
}

    .row-file:nth-child(2n+1) {
        background-color: #f1f1f1;
    }

.signle {
    padding-top: 2px;
}
