<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
      <add name="PIMSEntitiesContext" connectionString="metadata=res://*/Context.NAPIMS.csdl|res://*/Context.NAPIMS.ssdl|res://*/Context.NAPIMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=52.183.165.194;initial catalog=NoidaMigration;persist security info=True;user id=NoidaPms;password=Usear#321;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="upswp_niveshmitraservicesSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="upswp_niveshmitraservicesSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://niveshmitra.up.nic.in/upswp_niveshmitraservices.asmx" binding="basicHttpBinding" bindingConfiguration="upswp_niveshmitraservicesSoap" contract="NiveshMitraApiServices.upswp_niveshmitraservicesSoap" name="upswp_niveshmitraservicesSoap" />
      <endpoint address="http://niveshmitra.up.nic.in/upswp_niveshmitraservices.asmx" binding="customBinding" bindingConfiguration="upswp_niveshmitraservicesSoap12" contract="NiveshMitraApiServices.upswp_niveshmitraservicesSoap" name="upswp_niveshmitraservicesSoap12" />
    </client>
  </system.serviceModel>
</configuration>