
a {
    outline:0
}

a:hover, a:active, a:focus {
    outline: 0
}

div.main {
    width: 100%;
    height: 100%;
}

div#PropertyListHeading h3 {
    color: #006f31;
}

.btn {
    line-height: 1;
    font-size: 13px;
    /*padding: 6px 11px 6px 30px;*/
}

.chartContainer {
    width: 50%;
    /*height: 50%;*/
    float: left;
    background-color: #fff;
    /*border: 5px solid #fff;*/
    /*border: 1px solid #edf5cc!important;
         background-color: #f4f4f4;
     padding:1px;*/
    /*margin:1px;*/
}

.modal-chartContainer {
    width: 60%;
    /*height: 50%;*/
    float: left;
    background-color: #fff;
    /*border: 5px solid #fff;*/
    /*border: 1px solid #edf5cc!important;
         background-color: #f4f4f4;
     padding:1px;*/
    /*margin:1px;*/
}

.navbar-fixed-top, .navbar-fixed-bottom {
    left: 0;
    margin-top: 55%;
    /*position: fixed;*/
    right: 0;
    /*z-index: 1005;*/
}

.highcharts-background {
    fill: #f4f4f4;
    border-radius: 10px;
}

.highcharts-container {
    width: 100% !important;
    height: 50% !important;
    border-radius: 10px;
}

.form-control {
    width: 150px;
    display: inline;
}

#divSearch {
    float: right;
}

.btn .caret {
    margin-left: 30px;
}

.row-fluid {
    background: url("../Images/bg-header_footer.jpg") no-repeat scroll center top #ecf5cc;
    
    border-radius: 4px;
    /*background-position-x:30px;
    background-position-y:50 px;*/
  
    /*background: transparent url("../Images/test/images8.jpg") no-repeat scroll left bottom / 1824px 432px;
    border-radius: 4px; header width in row: 92px;*/
}

.chartContainer img {
    height: 220px;
    width: 450px;
    margin: 20px;
}

    .chartContainer img.loading {
        height: 32px;
        width: 32px;
    }

#ContentHeader {
    /*background: #C7E4A4;*/
    background: white;
    padding: 5px 5px 5px 0px;
    border-radius: 6px;
}

    #ContentHeader select {
        /*width: 150px;*/
    }

    /*#ContentHeader .btn-group {
        width: 120px;
    }*/

    #ContentHeader > label {
        padding: 0 10px 0 21px;
    }
/* Dropdown CSS start */
.dropdown-menu {
    font-size: 13px;
    max-height: 200px;
    min-width:50px !important;
    overflow-y: scroll;
}

    .dropdown-menu > li > span {
        cursor: pointer;
        clear: both;
        color: #333;
        display: block;
        font-weight: normal;
        line-height: 1.42857;
        padding: 3px 20px;
        white-space: nowrap;
    }

        .dropdown-menu > li > span:hover,
        .dropdown-menu > li > span:focus {
            color: #262626;
            text-decoration: none;
            background-color: #f5f5f5;
        }

    .dropdown-menu > .active > span,
    .dropdown-menu > .active > span:hover,
    .dropdown-menu > .active > span:focus {
        color: #fff;
        text-decoration: none;
        background-color: #428bca;
        outline: 0;
    }

/* Dropdown CSS End */


/*  
  Container with Rounded Corners.
*/
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    /*background-color: #edf5cc;*/
    /*background-image:url(../Images/Home/green.png) ;*/
}

.container {
    margin: 0 auto;
}

#header {
    margin-top: 10px;
}
/* Padding for Bottom of Page */
#content {
    /*padding-bottom: 5%;*/
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px;
}

.spacer {
    margin-top: 15px; /* define margin as you see fit */
}

.noshuffle {
    clear: both;
}
/* 
  Set the fixed height of the footer and header here 
*/

#pagesheet {
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

#page_load, #page_load #blur {
    width: 100%;
    margin-bottom: -56px;
    margin-top: -20px;
    padding-top: 10px;
    background-position: top center;
    background-repeat: no-repeat;
}

#page_head {
    margin-left: auto;
    margin-right: auto;
}



#content {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}


#footer {
    border-top: 4px solid #dddddd;
    background-color: #fff;
    height: 40px;
    /*min-height:50%;*/
}
/*.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; 
}*/

#footleft {
    width: 100%;
    /*border-top: 1px solid #dddddd;*/
    margin-top: 4px;
    float: left;
    margin-left: 25%;
}

#footright {
    width: 50%;
    border-top: 1px solid #dddddd;
    margin-top: 4px;
    float: left;
}

#sealbox {
    margin-top: -15px;
    width: 10%;
    float: left;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footlinkbox {
    color: #aaaaaa;
    float: left;
    /*width: 33%;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    margin-left: 6%;
}

    .footlinkbox a:link {
        color: #aaaaaa;
    }

    .footlinkbox a:visited {
        color: inherit;
    }

    .footlinkbox a:hover {
        color: #FF6600;
    }
/* Nav Bar */
.navbar-custom {
    /*background-color:#003366; Blue*/
    /*background-color:#395303; Dark Green*/
    background-color: #006F31;
    color: #ffffff;
    /*border-radius: 0;*/
    padding: 2px;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.logo-text {
    color: #006f31;
    /* float: right; */
    font-family: verdana;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 0;
    /* text-align: right; */
}

.navbar-custom > ul > li > a {
    color: #fff;
    padding: 7px 20px;
}

.navbar-form {
    margin: inherit;
    margin-top: 3px;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    /* color: #ffffff; */
    /*color: #000000;*/
    background-color: transparent;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #b6cedb;
    color: #000000 !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    color: #000000;
}

.navbar-custom .navbar-brand {
    /* /* color:#eeeeee; */ */ color:#000000;
}

.navbar-custom .navbar-toggle {
    background-color: #eeeeee;
}

.navbar-custom .icon-bar {
    background-color: #33aa33;
}

/*Search box CSS*/
.light input[type="text"] {
    background-color: #fcfcfc;
    border: 1px solid #acb1b7;
    color: #000000;
    height: 25px;
    font-size: 12px;
}


#txtPropNumbr {
    color: #000000;
    height: 27px;
    font-size: 12px;
}

.rounded {
    border-radius: 15px;
}

.search {
    background: url("../Images/search.png") no-repeat scroll 8px 4px rgba(0, 0, 0, 0);
    margin: 3px;
    padding: 7px 40px 7px 30px;
}

.light {
    /*background: url("../images/light_grey.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
}

.light {
    height: 30px;
    padding-top: 25px;
}

.col-md-offset-2 {
    margin-left: 8.3%;
    margin-bottom: 4%;
}

.col-md-8 {
    width: 83.4%;
}

/* Property Details Page CSS start */
div.divPropertyDetailHeader {
    border-bottom: #00a182 5px solid;
    padding: 1px 5px 1px 0;
    /*border-radius: 6px;*/
}

.PropertyDetailHeader {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: normal;
    padding:5px 0;
}

#divPropertyDetails {
    /*border:1px solid;*/
    padding: 1px;
    width: 100%;
    /*background-color:#EDF5CC;*/
}

div#PaymentHistoryGrid {
    width: 100%;
}

div#ComplainHistoryGrid {
    width: 100%;
}

#ulProperty .nav {
    position:relative;
    z-index:1
}

.propertyDetailsA {
    color: #428bca;
    text-decoration: underline; /*#EDF5C7    #EDF5CC*/
    padding-right: 70px;
    float: right;
    margin-top: 3px;
    margin-bottom: 3px;
}

.tab-content {
    border:1px solid #ccc;
    position:relative;
    z-index:11;
    top:-1px;
}

.tblPropertyDetails {
    display: table;
}

.tblPropertyDetailsRow {
    display: table-row;
    background-color: #ffffff;
}

.tblPropertyDetailsRowColor {
    display: table-row;
    background-color: #f5f5f5;
}



.tblPropertyDetailsCell {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
    width: 22%;
    border-bottom:1px solid #ccc;
}

    .tblPropertyDetailsCell label {
        margin-top: 3px;
        margin-bottom: 3px;
        font-weight:600;
        font-size:13px;
        padding: 6px 0 6px 5px;
    }

.tblPropertyDetailsCellWidth {
    display: table-cell;
    font-size: 13px;
    padding: 6px 0 6px 10px;
    vertical-align: middle;
    width: 10%;
    border-bottom:1px solid #ccc;
}

.modal-backdrop {
    background-color: #000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0;
}

.modal-header {
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.4286px;
    padding: 5px 12px;
}

.modal-footer {
    border-top: 1px solid #e5e5e5;
    margin-top: 15px;
    padding: 5px 20px 8px;
    text-align: right;
}

.modal-body {
    padding: 10px;
    position: relative;
}
/* Property Details Page CSS end */

/* Location MAP CSS Start*/
.popin {
    background: none repeat scroll 0 0 #fff;
    border-radius: 2px;
    box-shadow: 0 0 20px #999;
    padding: 15px;
}

.row {
    /*font-size: 14px;*/
    margin-left: 0;
    margin-right:0
}

    .row > [class*="span"] {
        display: inline;
        float: left;
        margin-left: 20px;
    }

    .row:before, .row:after {
        content: "";
        display: table;
    }

    .row:after {
        clear: both;
    }

    .row:before, .row:after {
        content: "";
        display: table;
    }

.span11 {
    width: 97%;
}

#headerLocation, #bodyLocation {
    margin: 0 auto;
    text-align: center;
    width: 99%;
}

    #bodyLocation h2 {
        color: #5588bb;
        font-family: "Bitter";
        font-size: 14px;
        font-weight: normal;
        margin: 6px 0;
        text-align: center;
    }

    #headerLocation h3 {
        margin: 8px 0;
        font-size: 18px;
    }
/* Location MAP CSS End*/

.col-md-offset-7 {
    margin-left: 28%;
}

.col-md-4 {
    margin-top: 6%;
    /*width: 38.3333%;*/
}

.form-horizontal .control-label {
    text-align: inherit;
}

.col-sm-9 .form-control {
    display: inline;
    width: 225px;
}

.panel panel-default {
    font-family: Roboto,sans-serif;
}

.panel-default {
    font-size: 12px;
}

.ForgotPWD {
    font-family: Roboto,sans-serif;
    font-size: 12px;
    float: right;
}

#inputEmail {
    width: 280px;
    margin-top: 5px;
}

#divEmail {
    padding: 20px;
}

.panel-footer {
    font-size: 12px;
}

#divMyProfile .col-md-offset-7 {
    margin-left: 0%;
}

#divMyProfile .panel .panel-default {
    padding-left: 15px;
}

#divMyProfile .col-md-4 {
    margin-top: 0%;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

#divMyProfile .col-sm-offset-3 {
    margin-left: 27%;
}

.col-sm-9 label {
    width: 200px;
}

#divRoleAssignment {
    float: right;
}

.red { /* for error messages */
    color: red;
}

#divChangePassword .col-md-4 {
    margin-top: 0%;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

#divChangePassword .col-sm-offset-3 {
    margin-left: 27%;
}

#divChangePassword .col-md-offset-7 {
    margin-left: 0%;
}
/* Padding for error message. */
.field-validation-error.red {
    padding-left: 15px;
}

#propertyAdvSearchDiv .col-md-4 {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

#propertyAdvSearchDiv .col-md-offset-7 {
    margin-left: 0;
}

#propertyAdvSearchDiv .caret {
    /*margin-left: 150px;*/
    float: right;
}
/*start  CSS for Manageusers page */
.k-widget.k-tooltip {
    background-color: #FFFFFF;
    border-color: #005C83;
    color: #000000;
    word-break: break-all;
    table-layout: fixed;
}

.longTextPopup {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
}

.k-grid td {
    border-style: solid;
    border-width: 0 0 0 1px;
    line-height: 1.6em;
    overflow: hidden;
    padding: 0.4em 0.6em;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.k-grid-content {
    overflow-y: hidden;
}

    /*.k-grid-content #UserListGrid {
        width: 1090px !important;
    }*/


#propertyAdvSearchDiv .btn.btn-default.dropdown-toggle.btn-select2 {
    width: 230px;
    text-align: left;
}

#propertyAdvSearchDiv .col-sm-offset-3 {
    margin-left: 42%;
}

h4 {
    color: #006F31;
}


/* Start Customer View CSS   */
#divCustomerPage .col-md-4 {
    margin-top: 0%;
    width: 100%;
}

#divCustomerPage .col-md-offset-7 {
    margin-left: 0;
    padding-left: 0px;
    padding-right: 0px;
}

#divCustomerDetailHeader label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0;
    padding: 2px 15px 2px 10px;
}

#divCustomerDetailHeader a {
    color: #000;
    text-decoration: none;
}

#lblLogout {
    float: right;
    color: #333;
}

#divCustomerPage .panel-body {
    padding: 10px;
}

#divCustomerPage h4 {
    color: #006F31;
}


/* End Customer View CSS   */

#btnPropertySearchBtn {
    margin-left: 50px;
}


#ulLegalProperties {
    /*background-color: #c7e4a4;*/
    /*background-color: white;*/
    border-radius: 6px;
    height: 36px;
}

    #ulLegalProperties a {
        color: #000;
    }

    #ulLegalProperties li {
        border-radius: 6px;
    }

.tblPropertyDetailsCell img {
    vertical-align: inherit;
    margin-bottom: 3px;
}

.imgRupee {
    height: 10px;
    width: 12px;
}

/* Pay Now*/
.payNowLink {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    float: right;
}

    .payNowLink:hover {
        text-decoration: none;
    }

.spanRadio {
    margin: 3px;
}

/* Home page CSS    #9BC764 */

.panel-green {
    border-color: #5cb85c;
}

    .panel-green .panel-heading {
        border-color: #5cb85c;
        color: #fff;
        background-color: #5cb85c;
    }

    .panel-green a {
        color: #5cb85c;
    }

        .panel-green a:hover {
            color: #3d8b3d;
        }

#divHomePage .imgHome {
    height: 60px;
    width: 60px;
}

#divHomePage #row1, #row2, #row3 {
    margin-left: 5%;
}

#divHomePage .col-lg-3 {
    width: 29%;
}

#divHomePage .container-fluid {
    margin-top: 40px;
}

#divHomePage .panel {
    margin-left: 20px;
    margin-right: 20px;
}
/*End Home page css*/


/* Home page CSS    #9BC764 */

#divHomePage2 .panel-green {
    border-color: #5cb85c;
    height: 120px;
}

    #divHomePage2 .panel-green .panel-heading {
        border-color: #5cb85c;
        color: #fff;
        background-color: #5cb85c;
        height: 118px;
    }

    #divHomePage2 .panel-green a {
        color: #5cb85c;
        text-decoration: none;
    }

        #divHomePage2 .panel-green a:hover {
            color: #3d8b3d;
            text-decoration: none;
        }

#divHomePage2 .imgHome {
    height: 75px;
    width: 75px;
}

#divHomePage2 #row1, #row2, #row3 {
    margin-left: 15%;
    font-size: 13px;
}

#divHomePage2 .col-lg-3 {
    width: 26%;
}

#divHomePage2 .container-fluid {
    margin-top: 40px;
}

#divHomePage2 .panel {
    margin-left: 20px;
    margin-right: 20px;
}

.divTileHeading {
    margin-top: 5px;
}

.divImg {
    margin-left: 50px;
    margin-top: 6px;
}


#main {
    position: relative;
}

    #main:after {
        content: "";
        display: block;
        position: absolute;
        top: -38px;
        left: 0;
        background-image: url(../Images/Home/green.png);
        width: 100%;
        height: 650px;
        opacity: 0.15;
    }
/*End Home page css*/



#btnSubmitRequest {
    float: right;
    margin-top: -7px;
}

#departmentDropdown {
    margin-left: 5px;
}

#serviceDropdown {
    margin-left: 23px;
}

#divServiceButton {
    margin-left: 248px;
}

#txtServiceDescription {
    width: 300px;
    height: 100px;
    margin-left: 8px;
}

@media (max-width: 992px) {

    .light {
        height: 30px;
        padding-top: 0px;
    }
}

/*td[role="gridcell"] {
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}*/

html, body {
    font-family: "Open Sans",sans-serif;
    font-size: 91%;
}



/* css for chart boxes */

.bx-new-chrt {
    background:#fff; 
    position:relative;
    float:left; 
    box-shadow: 0 0 2px #ccc; 
    width:100%
}

.bx-chart-space {
    padding-right:10px
}

.bx-chart-vspace {
    margin:10px 0 0 0; 
    padding:0 10px;
}

.bx-rw-pad-lft-rht {
    padding-left:20px;
    padding-right:20px;
}

.img-gda-1 {
    background: #5fb3ef url('../Images/img-gda-1.png') no-repeat right center;
}

.img-gda-2 {
    background: #5fb3ef url('../Images/img-gda-2.png') no-repeat right center;
}

.img-gda-3 {
    background: #5fb3ef url('../Images/img-gda-3.png') no-repeat right center;
}

.img-bx-name {
    color:#fff;
    font-size:30px;
    font-size: 30px;
    line-height: 45px;
    padding:20px 20px 0;
}

.img-bx-name span {
    font-size:20px;
}

.img-gda-1 a, .img-gda-2 a, .img-gda-3 a{
    background:#56a1d8;
    width:100%;
    text-align:center;
    padding:6px 0;
    font-size:14px;
    display:inline-block;
    margin-top:10px;
    color:#fff;
}

.select-style {
    padding: 0;
    margin: 0;
    border: 0 solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: url('../Images/dropdown.png') no-repeat 90% 50%;
    float:right;
    position:relative;
    z-index:9999;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
    border:0
}



.chart-wrapper {
 position: relative;
    /*padding-bottom: 40%;*/
    width:100%;
    float:left;
    margin-top: 30px;
    /*min-height:400px;*/}

.chart-inner {
    /*position: absolute;*/
        width: 100%; 
        /*min-height:400px;*/ 
}


.chart-inner .chartContainer {
   width: 100%;
   margin-top:-30px;
}

.chart-wrapper .highcharts-background {
    fill: rgb(255, 255, 255);
}

.chart-wrapper .highcharts-container {
    
    height: auto !important;
    
}

.show-mob {
        display:none;
    }


@media only screen and (max-width: 768px) {
    .show-desk {
        display:none;
    }
    .show-mob {
        display:block;
    }

    .mobile-header {
        width:100%;
        display:block;
    }

    .noidaauth-content.col-1 {
        display: block !important;
        left: 0;
        position: absolute;
        top: 90px;
        width: 100%;
        z-index: 1;
    }

    .mobile-header {
        background:rgb(0, 161, 130);
    }

}


.carousel-control {
    bottom: 0;
    color: rgb(255, 255, 255);
    font-size: 20px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 0;
    width: 5%;
}

.carousel-control.left {
    left:10px;
}

.carousel-control.right {
    right:10px;
}

.chrt_title {
    float:left; 
    margin:0; 
    padding:5px 0 0 10px
}

div.new_btn_bx {
    z-index:9999;
    float: right;  
    padding:5px 10px 0 0
}

a.new_btn {
    border:1px solid #ccc;
}

div.header_new {
    width:100%; 
    padding:0 10px 0 0; 
    /*background:#fff;*/ 
    background:#00a182;
    float:left; 
    position:fixed; 
    top:0; 
    left:0; 
    z-index:11111;    
}

.logo_new {
    float:left; 
    background:rgb(0, 161, 130); 
    width:15.1%
}

.user_bx_new {
    float: right;
    /*padding: 10px 0 0;*/
    text-align: right;
    /*width: 84.9%;*/
    /*-webkit-box-shadow:  0 3px 3px -2px rgb(221, 221, 221);
       -moz-box-shadow:  0 3px 3px -2px rgb(221, 221, 221);
            box-shadow:  0 3px 3px -2px rgb(221, 221, 221);*/
    min-height:60px;
}

.user-name{
    display:inline-block;
    padding-right:15px; 
    color:#333
}

.logout_icn{
    border-left: 1px solid rgb(204, 204, 204);
    display: inline-block;
    padding-left: 10px;
    position: relative;
    top: 0;
}

.main-cont .nav-left {
    position:fixed; 
    top:60px; 
    width:15%; 
    height:100%; 
    background:rgb(45, 74, 97)
}

.content-wrap {
    padding-top:50px; 
    /*margin-left:15%;*/ 
    width:100%; 
    padding-bottom:40px;
}

.rw-pad-left-right {
    margin:0; 
    padding:0 10px;
}

.col-pad-left {
    padding-left:0; 
    padding-right:10px;
}

.col-no-pad {
    padding-left:0; 
    padding-right:0;
} 

#myCarousel .col-md-4, .view-more-bx  .col-md-4 {
    margin-top: 0;
    width: 33.3333%;
}

.chrt-main-rw .col-md-4 {
    margin-top: 0;
    width: 33.3333%;
}

.footer_bx {
    background:rgb(171, 171, 171); 
    border-top:2px solid #ddd; 
    text-align:center;  
    position:fixed; 
    height:30px; 
    line-height:30px; 
    /*margin-left:15%;*/ 
    width:100%; 
    padding:0; 
    bottom:0; 
    z-index:11111
}


.menu_btn {
    background-color: rgb(247, 247, 247);
    border-color: rgba(0, 0, 0, 0);
    height: 48px;
    right: 8px;
    outline: medium none;
    position: fixed;
    top: 4px;
    transition: all 0.2s ease 0s;
    width: 48px;
    display:none;
}

.menu_btn span::before, .menu_btn span::after {
    transition-delay: 0.3s, 0s;
    transition-duration: 0.3s, 0.3s;
    transition-property: top, transform;
}
.menu_btn span::after, .menu_btn span::before, .menu_btn span {
    backface-visibility: hidden;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    height: 4px;
    width: 24px;
}
.menu_btn span::after, .menu_btn span::before {
    content: "";
    left: 0;
    position: absolute;
    top: -8px;
    transition: all 0.3s ease 0s;
}

.menu_btn span::before, .menu_btn span::after {
    transition-delay: 0.3s, 0s;
    transition-duration: 0.3s, 0.3s;
    transition-property: top, transform;
}
.menu_btn span::after, .menu_btn span::before, .menu_btn span {
    backface-visibility: hidden;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    height: 4px;
    width: 24px;
}
.menu_btn span::after {
    top: 8px;
}
.menu_btn span::after, .menu_btn span::before {
    content: "";
    left: 0;
    position: absolute;
    
    transition: all 0.3s ease 0s;
}

.menu_btn span::after, .menu_btn span::before, .menu_btn span {
    backface-visibility: hidden;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    height: 4px;
    width: 24px;
}
.menu_btn span {
    display: block;
    margin: auto;
    position: relative;
    transition: all 0.3s ease 0s;
}

.mob_logout, .user-name-mob {
    display:none;
}

.smll-fnt {
    font-size:11px;
    padding-bottom:4px;
    color:#fff;
    text-overflow: ellipsis;
}

.no-margin{
    margin:0;
}

/* Property page style */

.label-commom {
    font-size:13px;
}

.k-grid, .k-grid-header .k-header, .k-grid-content a, .k-grid-content td  {
    font-size: 13px;
}

.k-grid.k-widget th.k-header, .k-grid .k-grid-header {
    background: rgba(255,255,255,1) !important;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%) !important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1))) !important;
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%) !important;
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%) !important;
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%) !important;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
    color:#ddd;
}

.k-grid.k-widget th.k-header a {
    color:#333 !important;
}

/*.k-grid-header th.k-header > .k-link {
    padding: 0.5em 0.6em 0.4em 0 !important;
}*/

.k-header > .k-grid-filter, .k-header > .k-header-column-menu {
    padding: 0.2em !important;
}

.cust-input {
    max-width:120px;
}

.select-bx-col {
    float:left;
    width:19%;
    margin-left:1%;
    padding-bottom:5px;
}

.select-bx {
    position:relative; 
    width:100%; 
    text-align:left
}

.srch-btn-inline .dropdown-menu {
    min-width:100% !important;
}

.srch-btn-inline .btn-default {
    background-image:none
}

.btn-group.srch-btn-inline {
    width:100%;
}

.select-bx-2 {
    position:relative; 
    width:150px; 
    text-align:left
}

.select-bx span, .select-bx-2 span {
    position: absolute;
    right: 10px;
    top:12px;
}

#ContentHeader label {
    font-weight:normal;
}

.advn-srch-tbl {
    width:50%; border:1px solid #ccc; box-sizing:border-box; margin:0 auto
}

.more-bx {
    position:relative; width:100%
}

.view-mre-lnk {
    background:#56a1d8; width:100%; color:#fff; text-align:center; padding:6px; font-size:12px; display:inline-block;
}

.col-bg-view {
     background:#56a1d8;
}

.bx-rel {
    position:relative;   
}

.bx-top{
    font-size:11px; position:absolute; top:0; left:0; z-index:11111; width:100%; display:none
}


/* Customer CSS */
#notice, #complaint {
    display:none;
}

p.height-txt, ol li.height-txt {
line-height:25px;
font-size:13px;
}
.resp-tabs-container.hor_1.no-bg {
    background:none
}

.tab-content h4 {
    padding-left:10px;
   
}

ol.login-list {
    margin-left: 0;
    padding-left: 17px;
}
ol.login-list li {
    padding-left:5px;
}

.myPropBx .nav > li > a:focus {color:#333 !important}

#tblLogin label {
    font-weight:normal
}

.frm-v-space {
    padding-bottom:10px;
}

#tblLogin .frm-v-space label {
   font-size:13px;
   padding-bottom:5px;
}

#tblLogin .frm-v-space-upld label {
   font-size:13px;
   padding-bottom:5px;
}

.select-frm select {
    font-size:13px;
}

/* steps wizard */

.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.icn_zoom {
    margin-left:5px;
}

.icn_zoom img {
    padding-top:3px;
}

#parentVerticalTab label.lbl_lft_req {
    width:45%;
    font-weight:normal;
    vertical-align:top;
    text-align:right;
    padding-right:10px;
    box-sizing:border-box;
    padding-bottom:8px;
    font-size:13px;
}

div#divCitizenCharter label {
    font-weight:600;
}

div#divCitizenCharter select {
    width:150px;
    padding:5px;
}

div#divCitizenCharter #txtServiceDescription {
    margin-left: 0;
    width: 300px;
}

div#divServiceButton {
    margin-left:0
}

.noidaauth-left-nav ul li.selected {
    background:#597d9a;
}

/* RESPONSIVE CSS*/

@media only screen and (max-width: 1199px) {
    /*.user_bx_new {
        display:none;
    }*/
    .logo_new {
        width:200px
    }
    .menu_btn {
        display:none
    }
    .content-wrap {
        padding-bottom:10px;
    }
    .main-cont .nav-left {
        display:none;
        position:fixed;
        left:0;
        z-index:11111;
        width:200px;
        top:60px;
    }
    .main-cont .nav-left .noidaauth-left-nav {
        display:block;
        height: auto;
        position: relative;
        right: 0;
        top: 0;
        width: 200px;
        z-index: 999;
    }
    .mob_logout, .user-name-mob {
        display:block;
    }
    .content-wrap {
        margin-left: 0;
        width: 100%;
    }
    #myCarousel .col-pad-left {
        padding-left: 0;
        padding-right: 10px;
        padding-bottom:0;
    }
    .col-pad-left {
        padding-left: 0;
        padding-right: 0;
        padding-bottom:10px;
    }
    .footer_bx {
        position:relative; 
        height:30px; 
        line-height:30px; 
        margin-left:0; 
        width:100%; 
        margin-top:0;
    }
    #ContentHeader label {
        width:200px;
        padding:5px 0 5px 10px;
    }
    /*.mob-clear {
        width:100%;
        height:0;
        line-height:0;
        clear:both;
        display:block;
    }
    #ContentHeader label {
        width:200px;
        padding:5px 0 5px 10px;
    }
    #ContentHeader .btn-group {
        width: 220px;
    }

    #ContentHeader .btn-group .btn-select2 {
        width:220px;
        text-align:left;
    }
    #ContentHeader .btn .caret {
        margin-left:80px !important;
    }*/
    .select-bx-col {
    float:left;
    width:25%;
    margin:0 12.5%;
}
    .advn-srch-tbl {
    width:60%;
}
    .view-more-bx .col-pad-left {
        padding-bottom:0;
    }

    
    .view-more-bx .bx-top {
        padding-right:10px;
    }

    .view-more-bx .bx-top.bx-txt-3, .view-more-bx .bx-top.bx-txt-6 {
        padding-right:0;
    }
    p.img-bx-name {    
        font-size: 14px;    
        overflow: hidden;
        padding: 27.5px 5px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    p.img-bx-name span {
        font-size: 14px;
    }
}

@media only screen and (max-width: 640px) {
    .img-bx-name {
        color: rgb(255, 255, 255);
        font-size: 20px;
        line-height: 30px;
        padding: 27.5px 20px 27.5px;
    }
    .advn-srch-tbl {
    width:80%;
}
}

@media only screen and (max-width: 480px) {
    .k-pager-input, .k-pager-sizes, .k-pager-refresh.k-link, .k-pager-info.k-label {
        padding: 10px 0 0 0 !important;
        display:none;
    }
    
}

/* used for sidebar tab/collapse*/
@media (max-width: 991px) {
  .visible-tabs {
    display: none;
  }
}

@media (min-width: 992px) {
  .visible-tabs {
    display: block !important;
  }
}

@media (min-width: 992px) {
  .hidden-tabs {
    display: none !important;
  }
}


@media only screen and (min-width: 1200px) {
    .mob-clear {
        display:none;
    }
    .main-cont .nav-left {
        display:block
    }
}


@media only screen and (max-width: 1199px) {
    .mob-clear {
        display:none;
    }
    .main-cont .nav-left {
        display:block
    }
}


.dashbrd-btn {
        background: #fff;
        display: block;
        width: 92%;
        /* padding: 0 5%; */
        text-align: center;
        height: 110px;
        font-size: 90%;
        color: #333;
        margin-right:8%;
        border:1px solid #299a8b;
        padding-top:80px;
        transition: background-color 0.8s ease;
        background-position: center 20px;
        -moz-box-shadow: 0px 3px 8px rgb(173,173,173); 
        -webkit-box-shadow: 0px 3px 8px rgb(173,173,173); 
        box-shadow: 0px 3px 8px rgb(173,173,173); 
    }

    .dashbrd-btn:hover {
        color:#fff
    }

.icn-property {
   background: rgba(255,255,255,0.8) url('../Images/new-dsh-property.png') no-repeat center 20px;
}

.icn-property:hover {
    background: #299a8b url('../Images/new-dsh-property-over.png') no-repeat center 20px;
}

.icn-documents {
    background: rgba(255,255,255,0.8) url('../Images/new-dsh-document.png') no-repeat center 20px;
}

.icn-documents:hover {
    background: #299a8b url('../Images/new-dsh-document-over.png') no-repeat center 20px;
}

.icn-payment {
    background: rgba(255,255,255,0.8) url('../Images/new-dsh-payment.png') no-repeat center 20px;
}

.icn-payment:hover {
    background: #299a8b url('../Images/new-dsh-payment-over.png') no-repeat center 20px;
}

.icn-jal-payment {
    background: rgba(255,255,255,0.8) url('../Images/new-dsh-jal.png') no-repeat center 20px;
}

.icn-jal-payment:hover {
    background: #299a8b url('../Images/new-dsh-jal-over.png') no-repeat center 20px;
}

.icn-service-req {
    background: rgba(255,255,255,0.8) url('../Images/new-dsh-service.png') no-repeat center 20px;
}

.icn-service-req:hover {
    background: #299a8b url('../Images/new-dsh-service-over.png') no-repeat center 20px;
}

.icn-litigation {
    background: rgba(255,255,255,0.8) url('../Images/new-dsh-litigation.png') no-repeat center 20px;
}

.icn-litigation:hover {
    background: #299a8b url('../Images/new-dsh-litigation-over.png') no-repeat center 20px;
}

.icn-remarks {
    background: rgba(255,255,255,0.8) url('../Images/new-dsh-remarks.png') no-repeat center 20px;
}

.icn-remarks:hover {
    background: #299a8b url('../Images/new-dsh-remarks-over.png') no-repeat center 20px;
}

.icn-notices {
    background: rgba(255,255,255,0.8) url('../Images/new-dsh-notices.png') no-repeat center 20px;
}

.icn-notices:hover {
    background: #299a8b url('../Images/new-dsh-notices-over.png') no-repeat center 20px;
}

.icn-chnge-pwd {
    background: rgba(255,255,255,0.8) url('../Images/new-dsh-chnge-pwd.png') no-repeat center 20px;
}

.icn-chnge-pwd:hover {
    background: #299a8b url('../Images/new-dsh-chnge-pwd-over.png') no-repeat center 20px;
}

.adv-srch-bx {
    /*border: 1px #299a8b solid;*/
    margin-top:6%;
    margin-right:10px !important;
}

.adv-srch-title {
    background: #fff;
    padding: 10px;
    font-size: 100%;
    color: #333;
    font-weight:bold
}

.nw-wlcm-usr-bx .dropdown-menu {
    font-size: 13px;
    max-height: 200px;
    min-width: 350px !important;
    overflow-y: inherit;
}

.nw-wlcm-usr-bx.nav > li > a:focus, 
.nw-wlcm-usr-bx.nav > li > a:hover {
    background-color: #fff;
    color:#00a182 !important
}

.nw-top-nav .navbar {
    margin-bottom: 0;
}

.nw-top-nav {
    background:#2d4a61;
    position:fixed;
    z-index:111;
    width:100%;
}

.nw-top-nav .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nw-top-nav .navbar {
    min-height: 40px;
}

.nw-top-nav nav li {
    text-transform: capitalize;
}

.nw-top-nav .navbar-nav {
    float: right;
}

.navbar-brand, .navbar-nav > li > a {
    text-shadow: 0 0 0 rgba(255,255,255,.25);
    color:#fff;
}

.nav > li {
    padding-right:15px;
}

.nav > li > a.nav-icn-home {
    background: url('../Images/house_2.png') no-repeat 10px center;
    padding-left:40px;
    padding-right:10px;
    background-size:30%
}

.nav > li > a.nav-icn-prop {
    background: url('../Images/new-dsh-property-over.png') no-repeat 10px center;
    padding-left:40px;
    padding-right:10px;
    background-size:15%
}

.nav > li > a.nav-icn-pay {
    background: url('../Images/new-dsh-payment-over.png') no-repeat 10px center;
    padding-left: 30px;
    padding-right:20px;
    background-size: 6%;
}

.nav > li > a.nav-icn-jal {
    background: url('../Images/new-dsh-jal-over.png') no-repeat 10px center;
    padding-left: 43px;
    padding-right:20px;
    background-size: 17%;
}

.nav > li > a.nav-icn-ser {
    background: url('../Images/new-dsh-service-over.png') no-repeat 10px center;
    padding-left: 40px;
    padding-right:20px;
    background-size: 12%;
}

.nav > li > a.nav-icn-liti {
    background: url('../Images/new-dsh-litigation-over.png') no-repeat 10px center;
    padding-left: 40px;
    padding-right:20px;
    background-size: 10%;
}

.nav > li > a.nav-icn-rem {
    background: url('../Images/new-dsh-remarks-over.png') no-repeat 10px center;
    padding-left: 40px;
    padding-right:20px;
    background-size: 13%;
}

.nav > li > a.nav-icn-notice {
    background: url('../Images/new-dsh-notices-over.png') no-repeat 10px center;
    padding-left: 35px;
    padding-right:20px;
    background-size: 13%;
}

.nw-lbl-lft {
    padding:5px 10px;
    font-weight:normal;
}

.nw-lbl-rht {
    padding:5px 10px;
    font-weight:bold;
    border:1px solid #adadad;
    width:100%;
    background:#e0e0e0
}

th.k-header a.k-link {
    padding-left:10px;
}

h4.inline {
    display:inline-block;
}

.RID-txt {
    font-size:18px;
    line-height:18px;
    margin-top:10px;
    margin-bottom:10px;
}

.nw-admin-tp-spce {
    padding-top:70px;
}

.nw-citi-spce-top {
    padding-top:60px;
}

.navbar-toggle {
    background-color: #ccc;
    margin-top: 14px;
}

.navbar-toggle .icon-bar {
    background: #fff;
}

.nw-top-nav .nav > li > a:hover {
    color:#c4e0f7;
    background-color: #00a182;
}

/*.nw-spce-top-desk {
    margin-top:0
}*/

.nw-reg-user-bx .registration-text {
    max-width:48%;
    display:block;
}

@media only screen and (min-width: 767px) {
    /*.nw-pad-top-mb {
        padding-top:60px;
    }*/
}

@media only screen and (min-width: 1400px) {
   .dashbrd-btn {
        height: 180px;
        font-size: 110%;
        padding-top:130px
    }

   .service-req-bx-new .lbl_lft_req {
        margin-bottom: 29px !important;
    }
   .nw-lbl-rht {
        padding:8px 10px;
        
    }
}

@media only screen and (min-width: 768px) and (max-width:1024px) {
    .nw-reg-user-bx .registration-text {
        max-width:100%
    }

    .nav > li {
        padding-right: 5px;
    }

    .nav > li > a.nav-icn-prop {
        padding:10px 10px;
        background:none;
    }

    .nav > li > a.nav-icn-pay {
        padding:10px 10px;
        background:none;
    }

    .nav > li > a.nav-icn-jal {
        padding:10px 10px;
        background:none;
    }

    .nav > li > a.nav-icn-ser {
        padding:10px 10px;
        background:none;
    }

    .nav > li > a.nav-icn-liti {
        padding:10px 10px;
        background:none;
    }

    .nav > li > a.nav-icn-rem {
        padding:10px 10px;
        background:none;
    }

    .nav > li > a.nav-icn-notice {
        padding:10px 10px;
        background:none;
    }

    .nav > li > a.nav-icn-logout {
        padding:10px 10px;
        background:none;
    }

}


@media only screen and (max-width: 767px) {
    .nw-reg-user-bx .registration-text {
        max-width:100%
    }
    .nw-top-nav {
        background: #00a182;
    }
    .login-page {
        width: 100% !important;
    }
    .content-wrap {
        padding-top: 61px;
    }
    .nw-citi-spce-top {
        padding-top: 0;
    }
    .navbar-collapse {
        width:100%;
        padding-left:0;
        padding-right:0;
        background:#2d4a61
    }
    .nw-top-nav .navbar-nav {
        float: left;
        width:100%;
        margin:0;
    }
    .nav > li > a.nav-icn-prop {
        width:100%;        
    }
    .nav > li {
        padding-right: 0;
    }
    .nav > li > a.nav-icn-prop {
        padding-left:49px;
        padding-right:10px;
        background-size:4%;
        background-position:10px center;
        border-bottom: 1px solid #dae6f1;
    }

    .home-btns-spce a {
        margin-right: 0 !important;
        width: 100% !important;
    }

    .nav > li > a.nav-icn-pay {
        padding-left: 49px;
        padding-right:20px;
        background-size: 2%;
        background-position:10px center;
        border-bottom: 1px solid #dae6f1;
    }

    .nav > li > a.nav-icn-jal {
        padding-left: 49px;
        padding-right:20px;
        background-size: 4%;
        background-position:10px center;
        border-bottom: 1px solid #dae6f1;
    }

    .nav > li > a.nav-icn-ser {
        padding-left: 49px;
        padding-right:20px;
        background-size: 4%;
        background-position:10px center;
        border-bottom: 1px solid #dae6f1;
    }

    .nav > li > a.nav-icn-liti {
        padding-left: 49px;
        padding-right:20px;
        background-size: 4%;
        background-position:10px center;
        border-bottom: 1px solid #dae6f1;
    }

    .nav > li > a.nav-icn-rem {
        padding-left: 49px;
        padding-right:20px;
        background-size: 4%;
        background-position:10px center;
        border-bottom: 1px solid #dae6f1;
    }

    .nav > li > a.nav-icn-notice {
        padding-left: 49px;
        padding-right:20px;
        background-size: 4%;
        background-position:10px center;
        border-bottom: 1px solid #dae6f1;
    }

    .nav > li > a.nav-icn-logout {
        padding-left: 49px;
        padding-right:20px;
        background-size: 4%;
        background-position:10px center;
        border-bottom: 0 solid #dae6f1;
    }
    .dashbrd-btn {
        font-size:110%
    }

    .home-btns-spce {
        padding-top: 10px;
    }

    .col-md-4.home-btns-spce {
        margin-top:0
    }
    
}

.no-padding {
    padding-left:0;
    padding-right:0;
}

.nw-lbl-spce-pwd {
    margin-bottom:10px;
}

.nw-btn-chnge-pwd {
    height:32px; 
    line-height:32px; 
    padding:0 22px; 
    border-radius:0;
    margin-right:10px;
    margin-top:25px;
}

#SecurityQuestion {
    width:100%;
    padding:5px 12px;
}

.nw-reg-user-bx #step1 input, .nw-reg-user-bx #step1 select {
    margin-bottom:10px;
    border-radius:0
}

.nw-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.nw-inline-lbl {
    display:block;
    width:100%;
}

input.captcha-bg {
    background: url('../../Images/captcha.jpg') no-repeat !important;
    font-weight:bold;
    border:0 solid transparent  !important;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.075) inset; 
}

.btn-add-service a, .btn-add-service input[type="button"]{
    background: #2d4a61;
    padding: 5px 15px;
    color: #fff;
    transition: background-color 0.8s ease;
    border:0;
}

    .btn-add-service a:hover, .btn-add-service input[type="button"]:hover {
        color:#fff;
        text-decoration:none;
        background:#00a182
    }

/* upload grid */

.grid-service-tbl {
	display: table;
	width: 100%;
    /*padding: 0 25px;*/
    padding:0;
}
.gServiceTableRow {
	display: table-row;

}
.gServiceTableHeading {
	display: table-header-group;
	/*background-color: #ddd;*/
    
    

}
.gServiceTableCell, .gServiceTableHead {
	display: table-cell;
	padding: 5px 10px;
	border: 1px solid #999999;
}

.gServiceTableCell {
    background:#fff
}

.gServiceTableHead{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
    color: #333;
    padding:8px 10px;
}

.btn-upload-doc {
    background: #2d4a61;
    border: 0;
    padding: 8px 16px;
    color: #fff;
    border-radius:0;
    margin-top:20px;
}

.btn-upload-doc:hover{
    color:#fff;
        text-decoration:none;
        background:#00a182
}

.btn-help-wrap {
    margin-bottom: -3%;
    position: relative;
    z-index: 9999;
}

.btn-help-wrap a {
    display: inline-block;
    margin: 1% 30px 1%;
    font-weight:bold;
    text-decoration:underline
}

.btn-help-wrap1 {
    /*margin-bottom: -.5%;
    margin-top: -.5%;*/
    position: relative;
    z-index: 9999;
}

.btn-help-wrap1 a {
    text-decoration:underline;
    font-weight:bold;
}

.nw-upload-wrap div.divPropertyDetailHeader {
    border-bottom: 2px solid rgb(51, 51, 51);
    padding: 1px 5px 1px 0;
}

    .nw-upload-wrap div.divPropertyDetailHeader h4 {
        margin-top:-20px
    }
.nw-upld-help-txt {
    font-size:81%;
    display:block;
}


select {
    border: 1px solid rgb(204, 204, 204);
}

.nw-upld-select {
    padding: 5px 12px;
    max-width:200px;
}

#slider{
	width:310px;
	top:0;
	position:fixed;
    height:100%;
    background:#1f3045;
    z-index:9999;
    margin-top:102px
}
   
#header{ 
	width:265px;
	height:520px;
	position:absolute; 
	right:0px; 
	/*border:1px solid #d8d8d8;*/
	margin-left:0;
	/*padding:20px 40px;*/
    padding:0;
	border-radius:3px;
	/*box-shadow: 0 0 8px gray;*/
}


#sidebar{
	position:absolute;
	/*top:70%;*/
	left:0;
	/*box-shadow: 0 0 8px gray;*/
    /*display:none*/
    background: #4c688a;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    padding-top: calc(50%);
}

#sidebar1{
	position:absolute;
	/*top:70%;*/
	left:0;
	/*box-shadow: 0 0 8px gray;*/
    background: #4c688a;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    padding-top: calc(50%);
}

#slider #header ul li{
    width: 100%;
    border-bottom: 1px solid #4c688a;
    display: inline-block;
    padding: 8px 5px;
}

#slider #header ul li a{
    color:#fff
}

#slider #header ul li a:hover{
    color:#92c3ff
}

.nw-lbl-rht.nw-txt-bx {
    background:#fff;
    margin-bottom:5px;
}

.nw-txt-bx-spce {
    margin-bottom:5px;
}

.nw-kendo-select .k-dropdown-wrap.k-state-focused {
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.3) !important;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.3) !important;
    background: #ccc !important;
    border: 1px solid #adadad !important;
}

.nav .dropdown.open > a:focus {
    background-color: #00a182;
}

.navbar-nav > li > .dropdown-menu {
    overflow:auto
}

.required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }