USE [NoidaMigration]
GO
/****** Object:  Table [CitizenServices].[OnlineExtensionDetails]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CitizenServices].[OnlineExtensionDetails](
	[ExtensionSid] [int] IDENTITY(1,1) NOT NULL,
	[RequestNo] [int] NULL,
	[Rid] [int] NULL,
	[PropertyNo] [varchar](30) NULL,
	[CompletionDueDate] [date] NULL,
	[ExtensionGivenDate] [date] NULL,
	[ExtensionDueDate] [date] NULL,
	[ExtensionCharge] [decimal](21, 2) NULL,
	[ApprovedBy] [int] NULL,
	[ApprovedDate] [date] NULL,
	[Comment] [varchar](500) NULL,
	[IsActive] [bit] NULL,
	[Status] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [date] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [date] NULL,
	[RComment] [varchar](500) NULL,
	[RCommentDate] [datetime] NULL,
 CONSTRAINT [PKExtId] PRIMARY KEY CLUSTERED 
(
	[ExtensionSid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [CitizenServices].[OnlineExtensionDetails]  WITH CHECK ADD  CONSTRAINT [Fk_ServiceExtension] FOREIGN KEY([RequestNo])
REFERENCES [dbo].[Customer_ServiceRequest] ([Id])
GO
ALTER TABLE [CitizenServices].[OnlineExtensionDetails] CHECK CONSTRAINT [Fk_ServiceExtension]
GO
ALTER TABLE [CitizenServices].[OnlineExtensionDetails]  WITH CHECK ADD  CONSTRAINT [FKOlExtStatus] FOREIGN KEY([Status])
REFERENCES [dbo].[StatusMaster] ([Id])
GO
ALTER TABLE [CitizenServices].[OnlineExtensionDetails] CHECK CONSTRAINT [FKOlExtStatus]
GO
