USE [NoidaMigration]
GO
/****** Object:  StoredProcedure [CitizenServices].[usp_GetServiceTransfer]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--select * from Customer_ServiceRequest where ServiceId=11 order by 1 desc

--Drop procedure [CitizenServices].[sp_GetServiceRequestDetails]

--exec [CitizenServices].[CitizenServices].[usp_GetServiceTransfer]  1284
CREATE PROCEDURE [CitizenServices].[usp_GetServiceTransfer] 
(@ServiceReqid int)
AS
BEGIN
--Declare @ChangeinConstitution  nvarchar(max)
--Declare @Executionofleasedeed nvarchar(max)
--Declare @Exetimeforleasedeed nvarchar(max)
--Declare @Grantofextension nvarchar(max)
--Declare @GrantofMortgagepermission nvarchar(max)
--Declare @Issueoffunctionalcertificate nvarchar(max)
--Declare @IssueofMutationletter nvarchar(max)
--Declare @MortgagePermission nvarchar(max)
--Declare @RentingPermission nvarchar(max)
--Declare @TransferRequest nvarchar(max)
Declare @ServiceId int
Declare @DeptId int
declare @row1 varchar(max)
declare @row varchar(max)
declare @tgen varchar(20)
declare @rid varchar(20)
SELECT @ServiceId=ServiceId,@DeptId=DepartmentId FROM Customer_ServiceRequest WHERE id=@ServiceReqid

Select @tgen=T_Gender from [CitizenServices].[OnlineTransferMutation] WHERE RequestNo=@ServiceReqid

---common var----
declare @RequestNumber varchar(100)
declare @servicename varchar(100)
declare @servicestatus varchar(200)
declare @description varchar(200)
--Mortgage var--

Declare @TransferDate            varchar(100)
--Declare @MutationDate            varchar(100)
Declare @TransferSubType         varchar(100)
--Declare @TransferDeedDate        varchar(100)
--Declare @BahiNo                  varchar(100)
--Declare @BahiZildNo              varchar(100)
--Declare @BahiPageNo              varchar(100)
--Declare @BahiSeriesNo            varchar(100)
Declare @CreatedDate             varchar(100)
Declare @TransferType            varchar(100)
Declare @TGender                 varchar(100)
Declare @TName                   varchar(100)
Declare @ThusbandName            varchar(100)
Declare @TmotherName             varchar(100)
Declare @TCompanyName            varchar(100)
Declare @TSigningAuthority       varchar(100)
Declare @TEmail                  varchar(100)
Declare @Tmobile                 varchar(100)
Declare @TCorrerspondAdrs        varchar(100)
Declare @TpermanentAddress       varchar(100)
Declare @TregisteredAdress       varchar(100)
Declare @TPan                    varchar(100)



if(@tgen='Company')
BEGIN
set @row='<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Request Number</label></div>
	      <div class="col-md-3"><label class="nw-lbl-rht">@@requestNumber</label></div>
		  <div class="col-md-3"><label class="nw-lbl-lft"> Registration No</label></div>
		  <div class="col-md-3"><label class="nw-lbl-rht">@@Rid</label></div>
		  </div>
		<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Service Name</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@serviceName</label></div>
		<div class="col-md-3"><label class="nw-lbl-lft">Service Status</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@servicestatus</label></div>
		</div>
		<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Description</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@Description</label></div>
		</div>
		<div class="row">
        <div class="col-md-3"><label class="nw-lbl-lft">Transfer Type</</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@TransferType</label></div>
		<div class="col-md-3"><label class="nw-lbl-lft">Transfer Subtype</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@TransferSubType</label></div>
    </div>
	<div class="row">
        <div class="col-md-3"><label class="nw-lbl-lft">Application Date</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@CreatedDate</label></div>
		<div class="col-md-3"><label class="nw-lbl-lft">Gender</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@TGender</label></div>
    </div>
    <div class="row">
        <div class="col-md-3"><label class="nw-lbl-lft"> Transferee Name</</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@TCompanyName</label></div>
		<div <div class="col-md-3"><label class="nw-lbl-lft"> TSigningAuthority</</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@TSigningAuthority</label></div>
    </div>

    <div class="row">
        <div class="col-md-3"><label class="nw-lbl-lft">Company Email</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@TEmail</label></div>
        <div class="col-md-3"><label class="nw-lbl-lft"> Mobile</</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@Tmobile</label></div>
    </div>
    <div class="row">
        <div class="col-md-3"><label class="nw-lbl-lft">Correspondence Address</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@TCorrerspondAdrs</label></div>
        <div class="col-md-3"><label class="nw-lbl-lft">Permanent Address</</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@TpermanentAddress</label></div>
    </div>
    <div class="row">
        <div class="col-md-3"><label class="nw-lbl-lft">Registered Office</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@TregisteredAdress</label></div>
        <div class="col-md-3"><label class="nw-lbl-lft">Company Pan No</</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@TPan</label></div>
    </div>'
END
ELSE
BEGIN
SET @row='<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Request Number</label></div>
	      <div class="col-md-3"><label class="nw-lbl-rht">@@requestNumber</label></div>
		  <div class="col-md-3"><label class="nw-lbl-lft"> Registration No</label></div>
		  <div class="col-md-3"><label class="nw-lbl-rht">@@Rid</label></div>
		  </div>
		<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Service Name</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@serviceName</label></div>
		<div class="col-md-3"><label class="nw-lbl-lft">Service Status</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@servicestatus</label></div>
		</div>
		<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Description</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@Description</label></div>
		</div>
		<div class="row">
        <div class="col-md-3"><label class="nw-lbl-lft">Transfer Type</</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@TransferType</label></div>
		<div class="col-md-3"><label class="nw-lbl-lft">Transfer Subtype</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@TransferSubType</label></div>
    </div>
	<div class="row">
        <div class="col-md-3"><label class="nw-lbl-lft">Application Date</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@CreatedDate</label></div>
		<div class="col-md-3"><label class="nw-lbl-lft">Gender</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@TGender</label></div>
    </div>
    <div class="row">
        <div class="col-md-3"><label class="nw-lbl-lft"> Transferee Name</</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@TName</label></div>
		<div class="col-md-3"><label class="nw-lbl-lft">Father''s/Husband''s Name</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@ThusbandName</label></div>
    </div>
    <div class="row">
        <div class="col-md-3"><label class="nw-lbl-lft">Mother''s Name</</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@TmotherName</label></div>
		<div class="col-md-3"><label class="nw-lbl-lft">Email</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@TEmail</label></div>
    </div>
    <div class="row">
        <div class="col-md-3"><label class="nw-lbl-lft"> Mobile</</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@Tmobile</label></div>
		<div class="col-md-3"><label class="nw-lbl-lft">Pan No</</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@TPan</label></div>
    </div>
    <div class="row">
        <div class="col-md-3"><label class="nw-lbl-lft">Correspondence Address</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@TCorrerspondAdrs</label></div>
        <div class="col-md-3"><label class="nw-lbl-lft">Permanent Address</</label></div>
        <div class="col-md-3"><label class="nw-lbl-rht">@@TpermanentAddress</label></div>
    </div>'
END


SELECT
 @RequestNumber				   =   c.id,
 @rid						   =   c.Registration_No,
 @servicename                  =   s.ServiceName, 
 @servicestatus                =   sm.Status,
 @description                  =   c.Description, 
 @TransferDate        		   =   m.Transfer_Date,
 @CreatedDate      			   =   m.Created_Date,
 @TransferType     			   =   tt.type,
 @TransferSubType			   =   (select TrT.type from Transfer_Type TrT where TrT.Id=m.Transfer_Sub_Type),
 @TGender          			   =   m.T_Gender,
 @TName            			   =   isnull(m.T_First_Name,'') + ' ' + case when isnull(m.T_Middle_Name,'') <> '' then m.T_Middle_Name else ' ' end + ' ' + m.T_Last_Name,
 @ThusbandName     			   =   m.T_Father_Husband_Name,
 @TmotherName      			   =   m.T_Mother_Name,
 @TCompanyName     			   =   m.T_Company_Name,
 @TSigningAuthority			   =   m.T_Signing_Authority,
 @TEmail           			   =   m.T_Email,
 @Tmobile          			   =   m.T_Mobile,
 @TCorrerspondAdrs 			   =   m.T_Correspondence_Add,
 @TpermanentAddress			   =   m.T_Permanent_Add,
 @TregisteredAdress			   =   m.T_Registered_Office,
 @TPan             			   =   m.T_Pan
 FROM Customer_ServiceRequest c JOIN CitizenServices.OnlineTransferMutation m ON (c.id=m.RequestNo)
 JOIN CitizenService_Master s
 on (c.ServiceId=s.service_id and c.DepartmentId=s.Deptt_Id) JOIN statusMaster sm
 on (c.Request_Status=sm.Id)
 LEFT OUTER JOIN [dbo].[Transfer_Type] tt ON (m.Transfer_Type=tt.id)
 WHERE c.Id=@ServiceReqid
 AND m.Type='T'

 
 set @row1 = @row
select @row1= REPLACE(@row1,'@@requestNumber',@RequestNumber)
select @row1= REPLACE(@row1,'@@Rid',@rid)
select @row1= REPLACE(@row1,'@@servicestatus',@servicestatus)
select @row1= REPLACE(@row1,'@@serviceName',@servicename)
select @row1= REPLACE(@row1,'@@Description',@description)
select @row1= REPLACE(@row1,'@@TransferDate',isnull(@TransferDate,''))
select @row1= REPLACE(@row1,'@@CreatedDate',isnull(@CreatedDate,''))
select @row1= REPLACE(@row1,'@@TransferType',isnull(@TransferType,''))
select @row1= REPLACE(@row1,'@@TransferSubType',isnull(@TransferSubType,''))
select @row1= REPLACE(@row1,'@@TGender',isnull(@TGender,''))
select @row1= REPLACE(@row1,'@@TName',isnull(@TName,''))
select @row1= REPLACE(@row1,'@@ThusbandName',isnull(@ThusbandName,''))
select @row1= REPLACE(@row1,'@@TmotherName',isnull(@TmotherName,''))
select @row1= REPLACE(@row1,'@@TCompanyName',isnull(@TCompanyName,''))
select @row1= REPLACE(@row1,'@@TSigningAuthority',isnull(@TSigningAuthority,''))
select @row1= REPLACE(@row1,'@@TEmail',isnull(@TEmail,''))
select @row1= REPLACE(@row1,'@@Tmobile',isnull(@Tmobile,''))
select @row1= REPLACE(@row1,'@@TCorrerspondAdrs',isnull(@TCorrerspondAdrs,''))
select @row1= REPLACE(@row1,'@@TpermanentAddress',isnull(@TpermanentAddress,''))
select @row1= REPLACE(@row1,'@@TregisteredAdress',isnull(@TregisteredAdress,''))
select @row1= REPLACE(@row1,'@@TPan',isnull(@TPan,''))

SELECT @row1 as ReportDetails,'' as Other
END



GO
