USE [NoidaMigration]
GO
/****** Object:  Table [CitizenServices].[OnlineTransferMutation]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [CitizenServices].[OnlineTransferMutation](
	[TMSid] [int] IDENTITY(1,1) NOT NULL,
	[RequestNo] [int] NULL,
	[Rid] [int] NULL,
	[Property_Id] [int] NULL,
	[Applicant_Name] [varchar](200) NULL,
	[ApplicantFather_Name] [varchar](200) NULL,
	[Applicant_Signing_Authority] [varchar](150) NULL,
	[Applicant_Registered_Office] [varchar](500) NULL,
	[Applicant_Gender] [varchar](9) NULL,
	[Applicant_Age] [int] NULL,
	[Applicant_Occupation] [varchar](30) NULL,
	[Correspondance_Add] [varchar](500) NULL,
	[Permanent_Add] [varchar](500) NULL,
	[Selling_Cost] [decimal](18, 2) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Transfer_Date] [date] NULL,
	[Status] [int] NULL,
	[Requested_By] [int] NULL,
	[Requested_Date] [date] NULL,
	[Approved_By] [int] NULL,
	[Approved_Date] [date] NULL,
	[Type] [varchar](1) NULL,
	[Mutation_Date] [date] NULL,
	[Transfer_Sub_Type] [int] NULL,
	[TransferDeed_Date] [date] NULL,
	[Bahi_No] [varchar](10) NULL,
	[Bahi_Zild_No] [varchar](10) NULL,
	[Bahi_Page_No] [varchar](10) NULL,
	[Bahi_Series_No] [varchar](10) NULL,
	[Book_No] [varchar](10) NULL,
	[Book_Zild_No] [varchar](10) NULL,
	[Book_Series_No] [varchar](10) NULL,
	[Comment] [varchar](500) NULL,
	[Is_Active] [bit] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [date] NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [date] NULL,
	[Transfer_Type] [int] NULL,
	[Transfer_Charge] [decimal](20, 2) NULL,
	[Total_Transfer_Charge] [decimal](30, 2) NULL,
	[GPA_Holder_Name] [varchar](150) NULL,
	[GPA_Holder_Address] [varchar](500) NULL,
	[GPA_Effective_From] [date] NULL,
	[GPA_Effective_To] [date] NULL,
	[T_Gender] [varchar](7) NULL,
	[T_First_Name] [varchar](100) NULL,
	[T_Middle_Name] [varchar](100) NULL,
	[T_Last_Name] [varchar](100) NULL,
	[T_Father_Husband_Name] [varchar](150) NULL,
	[T_Mother_Name] [varchar](150) NULL,
	[T_Company_Name] [varchar](150) NULL,
	[T_Signing_Authority] [varchar](150) NULL,
	[T_Email] [varchar](100) NULL,
	[T_Mobile] [varchar](12) NULL,
	[T_Correspondence_Add] [varchar](500) NULL,
	[T_Permanent_Add] [varchar](500) NULL,
	[T_Registered_Office] [varchar](500) NULL,
	[T_Occupation_Id] [int] NULL,
	[T_Pan] [varchar](10) NULL,
	[T_Annual_Income] [decimal](18, 2) NULL,
	[RComment] [varchar](500) NULL,
	[RCommentDate] [datetime] NULL,
 CONSTRAINT [PK_OlTMSid] PRIMARY KEY CLUSTERED 
(
	[TMSid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [CitizenServices].[OnlineTransferMutation]  WITH CHECK ADD  CONSTRAINT [FK_Ol_StatusMaster_Transfer_Status] FOREIGN KEY([Status])
REFERENCES [dbo].[StatusMaster] ([Id])
GO
ALTER TABLE [CitizenServices].[OnlineTransferMutation] CHECK CONSTRAINT [FK_Ol_StatusMaster_Transfer_Status]
GO
ALTER TABLE [CitizenServices].[OnlineTransferMutation]  WITH CHECK ADD  CONSTRAINT [Fk_ServiceTransfer] FOREIGN KEY([RequestNo])
REFERENCES [dbo].[Customer_ServiceRequest] ([Id])
GO
ALTER TABLE [CitizenServices].[OnlineTransferMutation] CHECK CONSTRAINT [Fk_ServiceTransfer]
GO
