USE [NoidaMigration]
GO
/****** Object:  StoredProcedure [CitizenServices].[usp_GetServiceCIC]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--select * from Customer_ServiceRequest where ServiceId=11 order by 1 desc

--Drop procedure [CitizenServices].[sp_GetServiceRequestDetails]

--exec [CitizenServices].[CitizenServices].[usp_GetServiceTransfer]  1284
CREATE PROCEDURE [CitizenServices].[usp_GetServiceCIC] 
(@ServiceReqid int)
AS
BEGIN
---common var----
declare @RequestNumber varchar(100)
declare @Rid varchar(20)
declare @servicename varchar(100)
declare @servicestatus varchar(200)
declare @description varchar(200)
Declare @ServiceId int
Declare @DeptId int
declare @row varchar(max)
declare @row1 varchar(max)

--CIC---
declare @CicCondn int
declare @NewFirmName varchar(100)
declare @NewFirmStatus varchar(20)
declare @NewFirmProduct varchar(100)


SELECT @ServiceId=ServiceId,@DeptId=DepartmentId FROM Customer_ServiceRequest WHERE id=@ServiceReqid

SELECT @CicCondn=isnull(ChangeType,0) FROM [CitizenServices].[OnlineFirmRequestMaster] WHERE RequestNo=@ServiceReqid

IF(@CicCondn=2)
BEGIN
set @row='<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Request Number</label></div>
	      <div class="col-md-3"><label class="nw-lbl-rht">@@requestNumber</label></div>
		  <div class="col-md-3"><label class="nw-lbl-lft"> Registration No</label></div>
		  <div class="col-md-3"><label class="nw-lbl-rht">@@Rid</label></div>
		  </div>
		<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Service Name</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@serviceName</label></div>
		<div class="col-md-3"><label class="nw-lbl-lft">Service Status</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@servicestatus</label></div>
		</div>
		<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Description</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@Description</label></div>
		<div class="col-md-3"><label class="nw-lbl-lft">New Firm Status</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@FirmStatus</label></div>
		</div>
		<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">New Firm Name</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@NewFirmName</label></div>		
		</div>

	'
SELECT
 @RequestNumber=c.id,
 @Rid=c.Registration_No,
 @servicename=s.ServiceName, --as 'ServiceName',
 @servicestatus=sm.Status,-- as 'Status',
 @description=c.Description, --as 'Description'
@NewFirmName=m.NewFirmName,
@NewFirmStatus= CASE m.NewFirmStatus WHEN 7 THEN 'Properiotor' WHEN 8 THEN 'Partnership' WHEN 9 THEN 'Society' END,
@NewFirmProduct=m.NewFirmProduct
 FROM Customer_ServiceRequest c JOIN [CitizenServices].[OnlineFirmRequestMaster] m ON (c.id=m.RequestNo)
 JOIN CitizenService_Master s
 on (c.ServiceId=s.service_id and c.DepartmentId=s.Deptt_Id) JOIN statusMaster sm
 on (c.Request_Status=sm.Id)
 WHERE c.Id=@ServiceReqid

 set @row1 = @row
select @row1= REPLACE(@row1,'@@requestNumber',@RequestNumber)
select @row1= REPLACE(@row1,'@@Rid',@Rid)
select @row1= REPLACE(@row1,'@@servicestatus',@servicestatus)
select @row1= REPLACE(@row1,'@@serviceName',@servicename)
select @row1= REPLACE(@row1,'@@Description',@description)
select @row1= REPLACE(@row1,'@@FirmStatus',isnull(@NewFirmName,''))
select @row1= REPLACE(@row1,'@@NewFirmName',isnull(@NewFirmName,''))
select @row1= REPLACE(@row1,'@@NewFirmProduct',isnull(@NewFirmProduct,''))

SELECT @row1 as ReportDetails,'' as Other
END

ELSE IF (@CicCondn=4)
BEGIN
SET @Row='<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Request Number</label></div>
	      <div class="col-md-3"><label class="nw-lbl-rht">@@requestNumber</label></div>
		  <div class="col-md-3"><label class="nw-lbl-lft"> Registration No</label></div>
		  <div class="col-md-3"><label class="nw-lbl-rht">@@Rid</label></div>
		  </div>
		<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Service Name</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@serviceName</label></div>
		<div class="col-md-3"><label class="nw-lbl-lft">Service Status</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@servicestatus</label></div>
		</div>
		<div class="row">
		<div class="col-md-3"><label class="nw-lbl-lft">Description</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@Description</label></div>
		<div class="col-md-3"><label class="nw-lbl-lft">New Firm Product</label></div>
		<div class="col-md-3"><label class="nw-lbl-rht">@@NewFirmProduct</label></div>
		</div>'

SELECT
 @RequestNumber=c.id,
 @Rid=c.Registration_No,
 @servicename=s.ServiceName, --as 'ServiceName',
 @servicestatus=sm.Status,-- as 'Status',
 @description=c.Description, --as 'Description'
@NewFirmName=m.NewFirmName,
@NewFirmStatus= CASE m.NewFirmStatus WHEN 7 THEN 'Properiotor' WHEN 8 THEN 'Partnership' WHEN 9 THEN 'Society' END,
@NewFirmProduct=m.NewFirmProduct
 FROM Customer_ServiceRequest c JOIN [CitizenServices].[OnlineFirmRequestMaster] m ON (c.id=m.RequestNo)
 JOIN CitizenService_Master s
 on (c.ServiceId=s.service_id and c.DepartmentId=s.Deptt_Id) JOIN statusMaster sm
 on (c.Request_Status=sm.Id)
 WHERE c.Id=@ServiceReqid

 set @row1 = @row
select @row1= REPLACE(@row1,'@@requestNumber',@RequestNumber)
select @row1= REPLACE(@row1,'@@Rid',@Rid)
select @row1= REPLACE(@row1,'@@servicestatus',@servicestatus)
select @row1= REPLACE(@row1,'@@serviceName',@servicename)
select @row1= REPLACE(@row1,'@@Description',@description)
select @row1= REPLACE(@row1,'@@FirmStatus',isnull(@NewFirmName,''))
select @row1= REPLACE(@row1,'@@NewFirmName',isnull(@NewFirmName,''))
select @row1= REPLACE(@row1,'@@NewFirmProduct',isnull(@NewFirmProduct,''))

SELECT @row1 as ReportDetails,'' as Other

END
ELSE IF (@CicCondn=0)
BEGIN
SELECT '' as ReportDetails,'' as Other
END
END

GO
