USE [NoidaMigration]
GO
/****** Object:  Table [CitizenServices].[OnlineGPA]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CitizenServices].[OnlineGPA](
	[GpaSid] [int] IDENTITY(1,1) NOT NULL,
	[RequestNo] [int] NOT NULL,
	[Rid] [int] NULL,
	[GPA_Holder_Name] [varchar](100) NULL,
	[GPA_Holder_Address] [varchar](500) NULL,
	[Effcetd_From] [date] NULL,
	[Effected_To] [date] NULL,
	[Is_Active] [bit] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [date] NULL,
	[Modified_By] [int] NULL,
	[Modified_date] [date] NULL,
	[Document_No] [varchar](50) NULL,
	[File_Path] [varchar](max) NULL,
	[Relation] [varchar](30) NULL,
	[Application_Date] [date] NULL,
	[Acceptance_date] [date] NULL,
	[Registered] [bit] NULL,
	[Registration_No] [varchar](30) NULL,
 CONSTRAINT [PK_OlGpa] PRIMARY KEY CLUSTERED 
(
	[GpaSid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
