USE [NoidaMigration]
GO
/****** Object:  Table [CitizenServices].[OnlinePropertyCancellationDetails]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [CitizenServices].[OnlinePropertyCancellationDetails](
	[CSRSid] [int] IDENTITY(1,1) NOT NULL,
	[RequestNo] [int] NOT NULL,
	[Rid] [int] NULL,
	[Type] [int] NULL,
	[Reason] [varchar](500) NULL,
	[Refund] [int] NULL,
	[RefundId] [int] NULL,
	[RefundAmount] [decimal](21, 2) NULL,
	[RestorationCharge] [decimal](21, 2) NULL,
	[Status] [int] NULL,
	[Comment] [varchar](500) NULL,
	[RequestDate] [date] NULL,
	[ApproveDate] [date] NULL,
	[RequestedBy] [int] NULL,
	[AssignedTo] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [date] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [date] NULL,
	[RComment] [varchar](500) NULL,
	[RCommentDate] [datetime] NULL,
 CONSTRAINT [PK_Ol_Cancellation_Id] PRIMARY KEY CLUSTERED 
(
	[CSRSid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [CitizenServices].[OnlinePropertyCancellationDetails]  WITH CHECK ADD  CONSTRAINT [FK_Ol_Refund_Cancel] FOREIGN KEY([RefundId])
REFERENCES [dbo].[SchemeRefundTrans] ([refundId])
GO
ALTER TABLE [CitizenServices].[OnlinePropertyCancellationDetails] CHECK CONSTRAINT [FK_Ol_Refund_Cancel]
GO
ALTER TABLE [CitizenServices].[OnlinePropertyCancellationDetails]  WITH CHECK ADD  CONSTRAINT [Fk_ServiceCSR] FOREIGN KEY([RequestNo])
REFERENCES [dbo].[Customer_ServiceRequest] ([Id])
GO
ALTER TABLE [CitizenServices].[OnlinePropertyCancellationDetails] CHECK CONSTRAINT [Fk_ServiceCSR]
GO
