USE [NoidaMigration]
GO
/****** Object:  StoredProcedure [CitizenServices].[usp_GetServiceRequestMatrix]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--exec [CitizenServices].[usp_GetServiceRequestMatrix] null,null,'2017-06-1 10:41:40.030','2017-06-2 10:41:40.030'
CREATE proc [CitizenServices].[usp_GetServiceRequestMatrix]
(@ndepId int,@nservId int,@FromDate date,@ToDate date)
as begin
SET NOCOUNT ON
--insert into NoidaMigrationUat.dbo.Audit (TableName,FormName) values(@FromDate,@ToDate)
 declare @css varchar(max)
 Declare @ServId int  Declare @DepartId int -- Declare @Request_Status int  Declare @Count int
 declare @ServiceName varchar(max) declare @table varchar(max) declare @DeptName varchar(max) 
 declare @ServiceNameA varchar(max) declare @DeptNameA varchar(max)  declare @ReqName varchar(max) 
 declare @departmentName varchar(500) declare @serviceText varchar(500)
 declare @tblDeptId table(deptid int,seq int)
 declare @tblServId table(DSid int,dId int)
 declare @repeat int
  set @DeptNameA = ''
  set @ServiceNameA =''
  set @ReqName = ''
  set @repeat =0
  insert into @tblDeptId (deptid,seq) values (0,0)
  insert into @tblServId (DSid,dId) values (0,0)
 DECLARE cur_emp CURSOR
STATIC FOR 
select [dbo].[MasterName](vsr.departmentId,5) as DepartmentName, csg.ServiceGroupName, vsr.departmentId,vsr.ServiceId--,vsr.Request_Status,count(*)
from View_Service_report vsr 
inner join NoidaMigrationUat.[dbo].tblServiceGroup csg on vsr.ServiceId=csg.ServiceGroupId
inner join NoidaMigrationUat.[dbo].tblServiceLink csl on csg.ServiceGroupId = csl.servicegroupid
where 
vsr.DepartmentId =isnull(@ndepId,vsr.DepartmentId) and vsr.ServiceId = isnull(@nservId,vsr.ServiceId)
--and cast(vsr.Created_Date as date) >=  isnull(cast(@FromDate  as date),vsr.Created_Date) and cast(vsr.Created_Date as date) <= isnull(cast(@ToDate  as date),vsr.Created_Date)
group by 
 csg.ServiceGroupName, vsr.departmentId,vsr.ServiceId--, vsr.Request_Status
order by  vsr.ServiceId,vsr.departmentId, csg.ServiceGroupName desc--, vsr.Request_Status desc

OPEN cur_emp
IF @@CURSOR_ROWS > 0
 BEGIN 
 FETCH NEXT FROM cur_emp INTO @departmentName,@serviceText,@DepartId,@ServId--,@Request_Status,@Count
 WHILE @@Fetch_status = 0
 BEGIN
 
  if((select count(*) from @tblDeptId where deptid = @DepartId)=0)
  begin
  set @repeat = @repeat+1
  insert into @tblDeptId (deptid,seq) values (@DepartId,@repeat)
  
  set @DeptNameA = @DeptNameA + '<td><table><tr></tr><tr>'+convert(varchar(50),@departmentName)+'</tr></table></td>'
  end
 
  if((select count(*) from @tblServId where DSid = @ServId)=0)
   begin
  
   insert into @tblServId (DSid,dId) values (@ServId,@DepartId)
   set @ServiceNameA += '<tr class="trBorder"><td class="header blck-heading"><span>'+convert(varchar(500),@serviceText)+'</span></td>@@ReqN</tr>'
 
   end
   set @ReqName = (select [dbo].[RequestType] (@DepartId, @ServId,@FromDate,@ToDate))
	select @ServiceNameA = REPLACE(@ServiceNameA,'@@ReqN',@ReqName) 
set @ReqName =''
 FETCH NEXT FROM cur_emp INTO @departmentName,@serviceText,@DepartId,@ServId--,@Request_Status,@Count
 END
END

CLOSE cur_emp
DEALLOCATE cur_emp
SET NOCOUNT OFF 

set @DeptName = @DeptNameA
set @ServiceName = @ServiceNameA

set @css= '<style>.divtbl{width:100%;overflow-x:scroll;}.header{font-size:11px;font-weight:bold;line-height:inherit !important;}.headertop{line-height:normal !important;font-size:14px;font-weight:bold;text-align:center;}.trBorder{border-top:1px solid #299a8b;border-bottom:1px solid #299a8b;}.Reqstatus{text-align:center;font-size:10px;padding:5px 2px 5px 2px;background-color:black;color:white;}.red{background-color:rgb(220, 57, 18)}.green{background-color:rgb(16, 150, 24)}.yellow{background-color:rgb(255, 153, 0)}.blue{background-color:rgb(51, 102, 204)}.violet{background-color:rgb(153, 0, 153)}.lightblue{background-color:rgb(0, 153, 198)}.brown{background-color:rgb(184, 115, 51)}.circlesp{border:2px solid #ffffff;border-radius:15px;padding:0px 5px;}.DeptReq{width:285px;border-bottom:1px solid #299a8b;border-top:1px solid #299a8b;}.cream{background-color:rgb(241, 202, 58)}.silver{background-color:rgb(229, 228, 226)}</style>'
set @table = '@@style<div class="divtbl"><table style="border-collapse:collapse;" border="0" cellpadding="2"><tr class="headertop blck-heading"><td></td>@@DName</tr>@@SName</table></div>'

select @table= REPLACE(@table,'@@style',@css)
select @table= REPLACE(@table,'@@DName',@DeptName)
select @table= REPLACE(@table,'@@SName',@ServiceName)

select @table as servicerequest
end
GO
