USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[UmUserMaster]    Script Date: 9/21/2017 9:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UmUserMaster](
	[UserRefId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](15) NULL,
	[FirstName] [varchar](100) NULL,
	[MiddleName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[Email] [varchar](150) NULL,
	[Mobile] [varchar](10) NULL,
	[Password] [varchar](100) NULL,
	[Comments] [varchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [varchar](15) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [varchar](15) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_UmUserMaster_UserRefId] PRIMARY KEY CLUSTERED 
(
	[UserRefId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
