USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[PossessionDetails]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PossessionDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rid] [int] NULL,
	[PropertyId] [int] NULL,
	[PossessionOrderDate] [datetime] NULL,
	[PossessionDueDate] [datetime] NULL,
	[PossessionDate] [datetime] NULL,
	[AreaChange] [varchar](3) NULL,
	[AreaChangeType] [varchar](17) NULL,
	[OneTimeExcessCharge] [decimal](12, 2) NULL,
	[ChnagedArea] [decimal](12, 2) NULL,
	[Possession] [bit] NULL,
	[Amount] [decimal](14, 2) NULL,
	[PenaltyAmount] [decimal](14, 2) NULL,
	[North] [varchar](100) NULL,
	[East] [varchar](100) NULL,
	[West] [varchar](100) NULL,
	[South] [varchar](100) NULL,
	[StatusId] [int] NULL,
	[PossessionBy] [varchar](100) NULL,
	[Approver] [int] NULL,
	[ApproveDate] [datetime] NULL,
	[Comment] [varchar](200) NULL,
	[CommentDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[Modifiedby] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[OnlineRequestNo] [int] NULL,
 CONSTRAINT [PK_PossessionDetails_RequestNo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PossessionDetails]  WITH CHECK ADD  CONSTRAINT [FK_StatusMaster_PossessionDetails_StausId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[StatusMaster] ([Id])
GO
ALTER TABLE [dbo].[PossessionDetails] CHECK CONSTRAINT [FK_StatusMaster_PossessionDetails_StausId]
GO
