USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[test_table]    Script Date: 9/21/2017 9:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[test_table](
	[propertyId] [int] NULL,
	[propertyNo] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
