USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[NotificationMediaTrans]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NotificationMediaTrans](
	[notificationId] [int] NULL,
	[mediaTypeId] [int] NULL,
	[refId] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
 CONSTRAINT [PK_NotificationMediaTrans_refId] PRIMARY KEY CLUSTERED 
(
	[refId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[NotificationMediaTrans]  WITH NOCHECK ADD  CONSTRAINT [FK_MediaTypeMst_NotificationMediaTrans_mediaTypeId] FOREIGN KEY([mediaTypeId])
REFERENCES [dbo].[MediaTypeMst] ([mediaTypeId])
GO
ALTER TABLE [dbo].[NotificationMediaTrans] CHECK CONSTRAINT [FK_MediaTypeMst_NotificationMediaTrans_mediaTypeId]
GO
ALTER TABLE [dbo].[NotificationMediaTrans]  WITH NOCHECK ADD  CONSTRAINT [FK_SchemeNotifTrans_NotificationMediaTrans_notificationId] FOREIGN KEY([notificationId])
REFERENCES [dbo].[SchemeNotifTrans] ([notificationId])
GO
ALTER TABLE [dbo].[NotificationMediaTrans] CHECK CONSTRAINT [FK_SchemeNotifTrans_NotificationMediaTrans_notificationId]
GO
