USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[test_Pand]    Script Date: 9/21/2017 9:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[test_Pand](
	[pldvland_use_type_id] [nvarchar](255) NULL,
	[Prpty_Sec] [varchar](10) NULL,
	[total] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
