USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[SchemeRebateTrans]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SchemeRebateTrans](
	[refId] [int] IDENTITY(1,1) NOT NULL,
	[schemeId] [int] NULL,
	[departmentId] [int] NULL,
	[rebateId] [int] NULL,
	[value] [numeric](18, 2) NULL,
	[unit] [varchar](3) NULL,
	[IsActive] [bit] NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
 CONSTRAINT [PK_SchemeRebateTrans_refId] PRIMARY KEY CLUSTERED 
(
	[refId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SchemeRebateTrans]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentMst_SchemeRebateTrans_departmentId] FOREIGN KEY([departmentId])
REFERENCES [dbo].[DepartmentMst] ([departmentId])
GO
ALTER TABLE [dbo].[SchemeRebateTrans] CHECK CONSTRAINT [FK_DepartmentMst_SchemeRebateTrans_departmentId]
GO
ALTER TABLE [dbo].[SchemeRebateTrans]  WITH CHECK ADD  CONSTRAINT [FK_RebateMst_SchemeRebateTrans_rebateID] FOREIGN KEY([rebateId])
REFERENCES [dbo].[RebateMst] ([rebateId])
GO
ALTER TABLE [dbo].[SchemeRebateTrans] CHECK CONSTRAINT [FK_RebateMst_SchemeRebateTrans_rebateID]
GO
ALTER TABLE [dbo].[SchemeRebateTrans]  WITH CHECK ADD  CONSTRAINT [FK_SchemeMst_SchemeRebateTrans_schemeId] FOREIGN KEY([schemeId])
REFERENCES [dbo].[SchemeMst] ([schemeId])
GO
ALTER TABLE [dbo].[SchemeRebateTrans] CHECK CONSTRAINT [FK_SchemeMst_SchemeRebateTrans_schemeId]
GO
ALTER TABLE [dbo].[SchemeRebateTrans]  WITH CHECK ADD  CONSTRAINT [CK__SchemeReba__unit__3B40CD36] CHECK  (([unit]='PER' OR [unit]='INR'))
GO
ALTER TABLE [dbo].[SchemeRebateTrans] CHECK CONSTRAINT [CK__SchemeReba__unit__3B40CD36]
GO
