USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[SchemeRefundTrans]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SchemeRefundTrans](
	[refundId] [int] IDENTITY(1,1000) NOT NULL,
	[schemeId] [int] NULL,
	[departmentId] [int] NULL,
	[refundDescription] [varchar](200) NULL,
	[refundLockPeriod] [int] NULL,
	[mediaTypeId] [int] NULL,
	[deduction] [decimal](15, 2) NULL,
	[unit] [varchar](3) NULL,
	[deductionApplyOn] [varchar](15) NULL,
	[interest] [int] NULL,
	[daysAfterInterest] [int] NULL,
	[IsActive] [bit] NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
 CONSTRAINT [PK_SchemeRefundTrans_refundId] PRIMARY KEY CLUSTERED 
(
	[refundId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SchemeRefundTrans]  WITH CHECK ADD  CONSTRAINT [FK_SchemeMst_SchemeRefundTrans_schemeId] FOREIGN KEY([schemeId])
REFERENCES [dbo].[SchemeMst] ([schemeId])
GO
ALTER TABLE [dbo].[SchemeRefundTrans] CHECK CONSTRAINT [FK_SchemeMst_SchemeRefundTrans_schemeId]
GO
ALTER TABLE [dbo].[SchemeRefundTrans]  WITH CHECK ADD  CONSTRAINT [CK__SchemeRefu__unit__367C1819] CHECK  (([unit]='P' OR [unit]='INR'))
GO
ALTER TABLE [dbo].[SchemeRefundTrans] CHECK CONSTRAINT [CK__SchemeRefu__unit__367C1819]
GO
ALTER TABLE [dbo].[SchemeRefundTrans]  WITH CHECK ADD  CONSTRAINT [Ck_SchemeRefundTrans_deuction_unit] CHECK  (([unit]='P' AND [deduction]<=(100) OR [unit]='INR' AND [deduction]>=(0)))
GO
ALTER TABLE [dbo].[SchemeRefundTrans] CHECK CONSTRAINT [Ck_SchemeRefundTrans_deuction_unit]
GO
