USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[Auto_Schedule]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auto_Schedule](
	[Schedule_Id] [int] IDENTITY(1,1) NOT NULL,
	[Scheme_Id] [int] NULL,
	[Department_Id] [int] NULL,
	[Process_Id] [int] NULL,
	[Duration_In_Days] [int] NULL,
	[Trigger_Process_Id] [int] NULL,
	[Is_Active] [bit] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [datetime] NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [datetime] NULL,
 CONSTRAINT [PK_Auto_Schedule_Schedule_Id] PRIMARY KEY CLUSTERED 
(
	[Schedule_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Auto_Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Process_Master_Auto_Schedule_Process_Id] FOREIGN KEY([Process_Id])
REFERENCES [dbo].[Process_Master] ([Process_Id])
GO
ALTER TABLE [dbo].[Auto_Schedule] CHECK CONSTRAINT [FK_Process_Master_Auto_Schedule_Process_Id]
GO
ALTER TABLE [dbo].[Auto_Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Process_Master_Auto_Schedule_Trigger_Process_Id] FOREIGN KEY([Trigger_Process_Id])
REFERENCES [dbo].[Process_Master] ([Process_Id])
GO
ALTER TABLE [dbo].[Auto_Schedule] CHECK CONSTRAINT [FK_Process_Master_Auto_Schedule_Trigger_Process_Id]
GO
