USE [NoidaMigration]
GO
/****** Object:  UserDefinedFunction [dbo].[Sp_Demand]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Sp_Demand](@RID varchar(12),@c date, @landusetype int)
returns decimal(21,0)
as
                 
begin
-- Author Name : Ankit Jain
-- Create Date : 06/07/2016
-- Modified Date : 06/07/2016
-- used RID : 40010131 for testing


declare 
@date date,
@dateNext date,
@datePrev date,
@daterec date,
@datediffPre int,
@datediffPost int,
@datediff int,
@installment decimal(21,0),
@installment_temp decimal(21,0),
@subAmount decimal(21,0),
@i int,
@count int,
@ci date,
@penalInt decimal(21,0),
@penalAmount decimal(32,9), --changed
@totalBalance decimal(32,9), --changed
@penalBalance decimal(32,9), --changed
@duesTill decimal(30,9), --changed
@duesNext decimal(30,9), --changed
@frequency int,
@count1 int,
@frequencyMonth int
--@accessamount decimal(21,0),
--@landusetype int
SET @duesNext = 0;
SET @installment = 0;
--SET @penalInt= 14;
--set @landusetype=4;
--SET @ci=1

SELECT @penalInt=sd.penalInt, @frequency=sd.frequency FROM AllotmentMaster am JOIN SchemeDepartmentTrans sd ON (am.schemeId=sd.schemeId AND am.departmentId=sd.departmentId) WHERE Rid=@Rid and am.isStatus='Approved' AND am.isActive=1
--PRINT @frequency

if (@frequency=1)
begin 
set @frequencyMonth=12;
END
else if (@frequency=2)
begin 
set @frequencyMonth=6;
END
else if (@frequency=4)
begin 
set @frequencyMonth=3;
END
else if (@frequency=12)
begin 
set @frequencyMonth=1;
END

SELECt TOP 1 @ci=InstallmentDueDate  FROM PaymentScheduleTrans WHERE Rid=@RID order by InstallmentDueDate
SET @date='1960-01-01'
SET @duesTill = 0

if(@c < @ci)
begin
--SELECT top 1 @installment_temp= PrincipalInstallmentAmount+InterestInstallmentAmount, @date= InstallmentDueDate FROM PaymentScheduleTrans WHERE Rid=@RID order by InstallmentNumber
--SET @duesnext=@installment_temp
SET @duesnext=0
END
ELSE
BEGIN
WHILE(@ci<=@c)
begin

      if (@date='1960-01-01')
       begin
       SELECT top 1 @installment_temp= PrincipalInstallmentAmount+InterestInstallmentAmount, @date= InstallmentDueDate FROM PaymentScheduleTrans WHERE Rid=@RID order by InstallmentNumber
	   if @landusetype=4 and @frequency=2
	   begin
       SET @dateNext= DATEADD(month,DATEDIFF(month,0,DATEADD(month,@frequencyMonth,@date))+1,0)-1 --EOMONTH(DATEADD(month,6,@date))
	   end
else
begin
       SET @dateNext= DATEADD(month,@frequencyMonth,@date)
	   end

       SET @datePrev= @date
       --SET @i = datepart(MONTH,@dateNext);
              --if(@i=12)
              --begin
              --SET @dateNext= DATEADD(day,1,@dateNext)
              --end
              SET @installment= @installment + @installment_temp
              SET @duesTill = @installment
       end
       else
       begin

	   SELECT top 1 @count1=count(*) FROM PaymentScheduleTrans WHERE Rid=@RID AND  InstallmentDueDate=@dateNext 
	   if (@count1>0)
	   begin
       SELECT top 1 @installment_temp= PrincipalInstallmentAmount+InterestInstallmentAmount, @date= InstallmentDueDate FROM PaymentScheduleTrans WHERE Rid=@RID AND  InstallmentDueDate=@dateNext order by InstallmentNumber
       end
	   else
	   begin
	   set @date=@ci
	   set @installment_temp=0
		 --  if(@duesNext<0)
			--begin
			--set @duesNext=0
			--end
	   end
	   --print '@date'+cast(@date as varchar(20))
	   if @landusetype=4 and @frequency=2
	   begin
	   SET @dateNext= DATEADD(month,DATEDIFF(month,0,DATEADD(month,@frequencyMonth,@date))+1,0)-1
--	   print @dateNext
       SET @datePrev= DATEADD(month,DATEDIFF(month,0,DATEADD(month,-@frequencyMonth,@date))+1,0)-1
--	   print @dateNext
       end
	   else
          begin
	   SET @dateNext= DATEADD(month,@frequencyMonth,@date)
	          SET @datePrev=DATEADD(month,-@frequencyMonth,@date)
--			    print @datePrev
--				print @date
--				  print @dateNext
       end
		      SET @installment= @installment + @installment_temp
              --SET @duesTill = @duesTill + @installment_temp
       end
	   if(@datePrev=@date)
	   begin
SELECT @count = COUNT(1) FROM ViewReceiptMaster WHERE DEPOSIT_DATE > = @datePrev AND DEPOSIT_DATE < = @date AND RID_NO=@RID AND receipt_head_id in (1,24)
		end
		else
		begin
SELECT @count = COUNT(1) FROM ViewReceiptMaster WHERE DEPOSIT_DATE > @datePrev AND DEPOSIT_DATE < = @date AND RID_NO=@RID AND receipt_head_id in (1,24)
		end
       If (@count>0)
       BEGIN
	    if(@datePrev=@date)
		begin
       SELECT top 1 @subAmount=SUM(AMOUNT_PAID), @daterec=MAX(DEPOSIT_DATE) FROM ViewReceiptMaster WHERE DEPOSIT_DATE > = @datePrev AND DEPOSIT_DATE < = @date AND RID_NO=@RID AND receipt_head_id in (1,24)
        end
		else
		begin
		SELECT top 1 @subAmount=SUM(AMOUNT_PAID), @daterec=MAX(DEPOSIT_DATE) FROM ViewReceiptMaster WHERE DEPOSIT_DATE > @datePrev AND DEPOSIT_DATE < = @date AND RID_NO=@RID AND receipt_head_id in (1,24)
		end
	   SET @datediffPre = DATEDIFF(day,@datePrev,@daterec)
--	   print @datediffPre
       --PRINT 'Test = '+CAST(@duesNext as varchar(20))
       SET @penalAmount = (((@duesNext * @penalInt)/36500)*@datediffPre)
       --PRINT 'Test Penal = '+CAST(@penalAmount as varchar(20))
	   if ((@duesNext+@penalAmount)>@subAmount)
	   begin
       SET @totalBalance = (@duesNext  + @penalAmount )- @subAmount
	   SET @datediffPost = DATEDIFF(day,@daterec,@date)
	--   print @datediffPost
       SET @penalBalance = ROUND((((@totalBalance * @penalInt)/36500)*@datediffPost),0,0)
       SET @duesNext = @penalBalance + @totalBalance + @installment_temp
	   --Print 'Test' 
      
	   end
	   else
	   begin
	   set @totalBalance =  (@duesNext  + @penalAmount )- @subAmount
	  --SET @datediffPost = DATEDIFF(day,@daterec,@date)
       --SET @penalBalance = ROUND((((@totalBalance * @penalInt)/36500)*@datediffPost),0,0)
       SET @duesNext = @installment_temp+@totalBalance
	   --Print 'SubAmount' +CAST(@subAmount as varchar(20))
	   --Print 'TotalBalance ' +CAST(@totalBalance as varchar(20))
	   --Print 'TestDues ' +CAST(@DuesNext as varchar(20))
	   --Print 'Test 3'
      -- print '@duesNext'+cast(@installment_temp as varchar(20))
	   end
        END
       else
              --if (@duesTill = @installment)
              --Begin
              --SET @duesTill = @duesTill
              --SET @duesNext = @duesTill
              --END
              --else
              begin
			  if( @duesNext<0)
			  begin
			  SET @duesNext = @duesNext  + @installment_temp
			  end
			  else
			  begin
              SET @datediff = DATEDIFF(day,@datePrev,@date)
--			  Print 'diffrence '+ cast(@datediff as varchar(max))
			  SET @penalAmount =(((@duesNext * @penalInt)/36500)*@datediff)
--			  Print @PenalAmount
              SET @duesNext = (@duesNext + ((@duesNext * @penalInt)/36500)*@datediff)
	--		  Print @duesNext
              --SET @duesTill = @duesNext  + @installment_temp
              SET @duesNext = @duesNext  + @installment_temp
--			  Print @duesNext
			  end
			  --Print 'Test 2'
              end

						--PRINT 'Date= ' + CAST(@date as varchar(20))
						--PRINT 'DateNext= ' + CAST(@dateNext as varchar(20))
						--PRINT 'DatePrev= ' + CAST(@datePrev as varchar(20))
						--PRINT 'Dues Till = ' + CAST(@duesNext as varchar(20))
						--PRINT 'Dues Next = ' + CAST(@duesTill as varchar(20))
				
--Print 'Date= '+CAST(@ci  as varchar(20))
--Print 'Dues= '+CAST(@duesNext as varchar(20)) 
--Print 'Penal Amount= '+CAST(@penalAmount  as varchar(20))
--Print 'DateDiff='+cast(@dateDiff as varchar(10))
if @landusetype in (4) and @frequency=2
begin
--Print 'Date= '+CAST(@ci  as varchar(20))
SET @ci = DATEADD(month,DATEDIFF(month,0,DATEADD(month,@frequencyMonth,@date))+1,0)-1
--Print 'Date= '+CAST(@ci  as varchar(20))
end
else
begin
SET @ci = DATEADD(MONTH,@frequencyMonth,@ci)
--Print 'Date= HI'+ CAST (@ci as varchar(20))
end

end
if @landusetype=4 and @frequency=2
begin
SET @ci = DATEADD(month,DATEDIFF(month,0,DATEADD(month,-@frequencyMonth,@ci))+1,0)-1
end
else
begin
SET @ci = DATEADD(month,-@frequencyMonth,@ci)
end

--SET @ci = EOMONTH(DATEADD(MONTH,-6,@ci))
SELECT @i = COUNT(1) FROM ViewReceiptMaster WHERE DEPOSIT_DATE > = @ci AND DEPOSIT_DATE < = @c AND RID_NO=@RID AND receipt_head_id in (1,24)
if (@i>0)
BEGIN 
 SELECT top 1 @subAmount=SUM(AMOUNT_PAID), @daterec=MAX(DEPOSIT_DATE) FROM ViewReceiptMaster WHERE DEPOSIT_DATE > = @ci AND DEPOSIT_DATE < = @c AND RID_NO=@RID AND receipt_head_id in (1,24)
       SET @datediffPre = DATEDIFF(day,@ci,@daterec)
       --PRINT 'Test = '+CAST(@duesNext as varchar(20))
       SET @penalAmount = (((@duesNext * @penalInt)/36500)*@datediffPre)
       --PRINT 'Test Penal = '+CAST(@penalAmount as varchar(20))
	   if ((@duesNext+@penalAmount)>@subAmount)
	   begin
       SET @totalBalance = (@duesNext  + @penalAmount )- @subAmount
	   SET @datediffPost = DATEDIFF(day,@daterec,@date)
       SET @penalBalance = (((@totalBalance * @penalInt)/36500)*@datediffPost)
       SET @duesNext = @penalBalance + @totalBalance 
      
	   end
	   else
	   begin
	   set @totalBalance =  (@duesNext  + @penalAmount )- @subAmount
	   SET @duesNext = @totalBalance

       --SET @totalBalance = (@duesNext - @subAmount) + @penalAmount 
       --SET @datediffPost = DATEDIFF(day,@daterec,@c)
       --SET @penalBalance = ROUND((((@totalBalance * @penalInt)/36500)*@datediffPost),0,0)
       --SET @duesNext = @penalBalance + @totalBalance
	   end
	   --if(@duesNext<0)
	   --begin
	   --set @duesNext=0
	   --end
END
ELSE
BEGIN
     SET @datediff = DATEDIFF(day,@ci,@c)
--	 Print 'Final' +cast (@datediff as varchar(10))
--	 Print @ci
	-- Print @c
	 if (@duesNext<0)
	 begin
	 SET @duesNext=@duesNext
	 end
	 else
	 begin
     SET @duesNext = (@duesNext + ((@duesNext * @penalInt)/36500)*@datediff)
	 end
END
END
return cast(round(isnull(@duesNext,0),0,0) as decimal(31,0))
--set @duesamt=@duesNext;
--Print 'Dues Till Date : ' + CAST(@duesNext as varchar(20))
--return @duesNext;
end



GO
