USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[Firm_Director_Master]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Firm_Director_Master](
	[Director_Id] [int] IDENTITY(1,1) NOT NULL,
	[Rid] [int] NULL,
	[Director_Name] [varchar](100) NULL,
	[Type] [int] NULL,
	[Director_Share] [decimal](10, 4) NULL,
	[Request_Date] [date] NULL,
	[Approved_Date] [date] NULL,
	[Is_Active] [int] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [date] NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [date] NULL,
	[Application_Id] [int] NULL,
	[OnlineRequestNo] [int] NULL,
 CONSTRAINT [PK_Firm_Director_Id] PRIMARY KEY CLUSTERED 
(
	[Director_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Firm_Director_Master]  WITH CHECK ADD  CONSTRAINT [FK_Firm_D_Application] FOREIGN KEY([Application_Id])
REFERENCES [dbo].[ApplicationDetails] ([applicationId])
GO
ALTER TABLE [dbo].[Firm_Director_Master] CHECK CONSTRAINT [FK_Firm_D_Application]
GO
