USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[ServiceRequest_Documents]    Script Date: 9/21/2017 9:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ServiceRequest_Documents](
	[SrvDocId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceReq_No] [int] NOT NULL,
	[ChkId] [int] NULL,
	[DocumentPath] [varchar](max) NULL,
	[Uploaded_Date] [datetime] NULL,
	[Uploaded_By] [int] NULL,
 CONSTRAINT [PK_ServiceRequest_Documents] PRIMARY KEY CLUSTERED 
(
	[SrvDocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ServiceRequest_Documents]  WITH CHECK ADD  CONSTRAINT [Fk_SrvcRqstDoc] FOREIGN KEY([ServiceReq_No])
REFERENCES [dbo].[Customer_ServiceRequest] ([Id])
GO
ALTER TABLE [dbo].[ServiceRequest_Documents] CHECK CONSTRAINT [Fk_SrvcRqstDoc]
GO
