USE [NoidaMigration]
GO
/****** Object:  StoredProcedure [dbo].[usp_getServiceCheck]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_getServiceCheck]  --TemplateMaster 
(@Rid int, @TemplateId int)
AS
BEGIN
Declare @Count int
IF (@TemplateId=2)
BEGIN
SELECT @count=Count(*) from Succ_Mut_Trans WHERE Type='T' and Transfer_Type!=2 and Is_Active=1 and status=1 and Rid=@Rid
END
ELSE IF (@TemplateId=3)
BEGIN
SELECT @count=Count(*) from Succ_Mut_Trans WHERE Type='T' and Transfer_Type=2 and Is_Active=1 and status=1 and Rid=@Rid
END
ELSE IF (@TemplateId=4)
BEGIN
SELECT @count=Count(*) from Succ_Mut_Trans WHERE Type='M' and Is_Active=1 and status=1 and Rid=@Rid
END
ELSE IF (@TemplateId=5)
BEGIN
SELECT @count=Count(*) from MortgageDetails WHERE Rid=@Rid and statusid=1 and isActive=1 --and Mortgagetype=2
END
ELSE IF (@TemplateId=6)
BEGIN
SELECT @count=Count(*) from FunctionalDetails WHERE Rid=@Rid and statusid=1 and isActive=1 and functional=1
END
ELSE IF (@TemplateId=1)
BEGIN
SELECT @count=Count(*) from AllotmentMaster WHERE Rid=@Rid and IsActive=1 and isStatus='Approved'
END
ELSE IF (@TemplateId=12)
BEGIN
SELECT @Count=Count(*) FROM PossessionDetails WHERE Rid=@Rid
END
ELSE IF (@TemplateId=13)
BEGIN
SELECT @Count=Count(*) from PaymentScheduleMaster WHERE Rid=@Rid
END
ELSE IF (@TemplateId=16)
BEGIN
SELECT @Count=Count(*) from Completion_Details WHERE Is_Active=1
END
ELSE IF (@TemplateId=14)
BEGIN
SELECT @Count=Count(*) from RentPermissionDetails WHERE statusId=1 and IsActive=1 and Rid=@Rid
END
ELSE IF (@TemplateId=17)
BEGIN
SELECT @Count=Count(*) from Extension_Details WHERE status=1 and Is_Active=1 and Rid=@Rid
END
ELSE IF (@TemplateId=18)
BEGIN
SELECT @Count=Count(*) from AllotmentMaster am JOIN ApplicationDetails ad on (am.applicationId=ad.applicationid) WHERE am.Rid=@Rid and ad.IsAllotted=1
END
ELSE IF (@TemplateId=20)
BEGIN
SELECT @count=Count(*) from MortgageDetails WHERE Rid=@Rid and statusid=1 and isActive=1 and Mortgagetype=2
END
ELSE IF (@TemplateId=21)
BEGIN
SELECT @count=Count(*) from Firm_Master WHERE Rid=@Rid and status=1 and is_Active=1
END
ELSE IF (@TemplateId=22)
BEGIN
SELECT @count=Count(*) from Director_Request_Master WHERE Rid=@Rid and status=1 and is_Active=1
END
else IF (@TemplateId=23)
begin
SELECT @count=Count(*) from MortgageDetails WHERE Rid=@Rid and statusid=1 and isActive=1 --and Mortgagetype=1
end
else IF (@TemplateId=24)
begin
SELECT @count=Count(*) from Product_Master WHERE Rid=@Rid and Is_Active=1
end
If (@count>0)
SELECT 1
ELSE
SELECT 0

END


GO
