USE [NoidaMigration]
GO
/****** Object:  StoredProcedure [dbo].[SpAccountLedger]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec [SpAccountLedger] 164
CREATE PROCEDURE [dbo].[SpAccountLedger] (@Rid int)
as
begin
SELECT
t.Id,
t.Rid,
R.RECEIPT_SUB_HEAD,
t.Entry_Date,
isnull(t.Debit_Amount,0) Debit_Amount,
IsNULL(t.Credit_Amount,0) Credit_Amount,
b.Balance_Amount
FROM Property_Ledger as t CROSS apply
 (SELECT Balance_Amount = SUM(isNULL(Debit_Amount,0)) - SUM(ISNULL(Credit_Amount,0))
  FROM Property_Ledger as x
  WHERE
  (x.Entry_Date < t.Entry_Date or
   x.Entry_Date = t.Entry_Date 
   ) AND
   x.Rid = t.Rid
   and
   x.Receipt_Subhead_Id=t.Receipt_Subhead_Id
  )b
left join [dbo].[RECEIPT_SUB_HEAD] R on t.Receipt_Subhead_Id =R.RECEIPT_SUBHEAD_ID
WHERE t.Rid=@Rid
ORDER BY t.Entry_Date
END

Select * from Property_Ledger
GO
