USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[ServiceCheckList_Master]    Script Date: 9/21/2017 9:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ServiceCheckList_Master](
	[ChkId] [int] IDENTITY(1,1) NOT NULL,
	[dept_id] [int] NULL,
	[service_id] [int] NULL,
	[Checklist_Ref] [int] NULL,
	[ChkName] [varchar](500) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_ServiceChecklist_Master] PRIMARY KEY CLUSTERED 
(
	[ChkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
