USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[ChecklistTrans]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChecklistTrans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rid] [int] NULL,
	[ChecklistDate] [date] NULL,
	[ChecklistTypeId] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[Modifiedby] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_ChecklistTrans_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ChecklistTrans]  WITH CHECK ADD  CONSTRAINT [FK_ChecklistTypeMaster_ChecklistTrans_ChecklistTypeId] FOREIGN KEY([ChecklistTypeId])
REFERENCES [dbo].[ChecklistTypeMaster] ([Id])
GO
ALTER TABLE [dbo].[ChecklistTrans] CHECK CONSTRAINT [FK_ChecklistTypeMaster_ChecklistTrans_ChecklistTypeId]
GO
