USE [NoidaMigration]
GO
/****** Object:  UserDefinedFunction [dbo].[Request_StatusClass]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Request_StatusClass] (@Request_Status int)
RETURNS varchar(50)
BEGIN
  DECLARE @ReqClass varchar(50)
  if(@Request_Status=1)
  begin
  set @ReqClass = 'yellow' --Approved
  end
  else  if(@Request_Status=2)
  begin
  set @ReqClass = 'red' --Rejected
  end
  else  if(@Request_Status=4)
  begin
  set @ReqClass = 'blue' --Pending
  end
   else  if(@Request_Status=5)
  begin
  set @ReqClass = 'lightblue' --Inprogress
  end
  else  if(@Request_Status=8)
  begin
  set @ReqClass = 'violet' --Initiated
  end
   else  if(@Request_Status=9)
  begin
  set @ReqClass = 'green' --Completed
  end
  else  if(@Request_Status=10)
  begin
  set @ReqClass = 'brown' --Objection
  end
   else  if(@Request_Status=3)
  begin
  set @ReqClass = 'cream' --Objection
  end
   else  if(@Request_Status=6)
  begin
  set @ReqClass = 'silver' --Objection
  end
  else
  begin
  set @ReqClass = 'black' --Other
  end
RETURN @ReqClass
END;
GO
