USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[UmUserDepartmentTrans]    Script Date: 9/21/2017 9:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UmUserDepartmentTrans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserRefId] [int] NULL,
	[DepartmentId] [int] NULL,
	[Status] [bit] NULL,
	[CreatedBy] [varchar](15) NULL,
	[CreateDate] [datetime] NULL,
	[ModifiedBy] [varchar](15) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_UmUserDepartmentTrans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[UmUserDepartmentTrans]  WITH CHECK ADD  CONSTRAINT [FK_UmUserDepartmentTrans_UmDepartmentMaster] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[UmDepartmentMaster] ([DepartmentId])
GO
ALTER TABLE [dbo].[UmUserDepartmentTrans] CHECK CONSTRAINT [FK_UmUserDepartmentTrans_UmDepartmentMaster]
GO
ALTER TABLE [dbo].[UmUserDepartmentTrans]  WITH CHECK ADD  CONSTRAINT [FK_UmUserDepartmentTrans_UmUserMaster] FOREIGN KEY([UserRefId])
REFERENCES [dbo].[UmUserMaster] ([UserRefId])
GO
ALTER TABLE [dbo].[UmUserDepartmentTrans] CHECK CONSTRAINT [FK_UmUserDepartmentTrans_UmUserMaster]
GO
