USE [NoidaMigration]
GO
/****** Object:  View [dbo].[ViewAllUserApplicationRoleDetail]    Script Date: 9/21/2017 9:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewAllUserApplicationRoleDetail]
AS
SELECT        dbo.UmUserMaster.UserRefId, dbo.UmUserMaster.UserName, dbo.UmUserMaster.FirstName, dbo.UmUserMaster.MiddleName, dbo.UmUserMaster.LastName, 
                         dbo.UmUserMaster.Email, dbo.UmUserMaster.IsActive, dbo.UmUserMasterRole.RoleId, dbo.UmRoleMaster.RoleName, dbo.UmRoleMaster.RoleType, 
                         dbo.UmUserDepartmentTrans.DepartmentId, dbo.UmDepartmentMaster.DepartmentName, dbo.UmApplicationMaster.ApplicationId, 
                         dbo.UmApplicationMaster.ApplicationName, dbo.UmUserMaster.Mobile
FROM            dbo.UmUserMaster INNER JOIN
                         dbo.UmUserMasterRole ON dbo.UmUserMaster.UserRefId = dbo.UmUserMasterRole.UserRefId INNER JOIN
                         dbo.UmUserDepartmentTrans ON dbo.UmUserMaster.UserRefId = dbo.UmUserDepartmentTrans.UserRefId INNER JOIN
                         dbo.UmRoleMaster ON dbo.UmUserMasterRole.RoleId = dbo.UmRoleMaster.RoleId INNER JOIN
                         dbo.UmDepartmentMaster ON dbo.UmUserDepartmentTrans.DepartmentId = dbo.UmDepartmentMaster.DepartmentId INNER JOIN
                         dbo.UmRoleAppTrans ON dbo.UmRoleMaster.RoleId = dbo.UmRoleAppTrans.RoleId INNER JOIN
                         dbo.UmApplicationMaster ON dbo.UmRoleAppTrans.ApplicationId = dbo.UmApplicationMaster.ApplicationId

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[36] 4[4] 2[4] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "UmUserMaster"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 135
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 5
         End
         Begin Table = "UmUserMasterRole"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 166
               Right = 455
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "UmUserDepartmentTrans"
            Begin Extent = 
               Top = 133
               Left = 402
               Bottom = 262
               Right = 572
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "UmRoleMaster"
            Begin Extent = 
               Top = 0
               Left = 531
               Bottom = 129
               Right = 703
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "UmDepartmentMaster"
            Begin Extent = 
               Top = 198
               Left = 88
               Bottom = 327
               Right = 272
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "UmRoleAppTrans"
            Begin Extent = 
               Top = 251
               Left = 353
               Bottom = 380
               Right = 523
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "UmApplicationMaster"
            Begin Extent = 
               Top = 129
               Left = 667
               Bottom = 258
               R' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewAllUserApplicationRoleDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'ight = 849
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewAllUserApplicationRoleDetail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ViewAllUserApplicationRoleDetail'
GO
