USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[Customer_ServiceRequest_back]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer_ServiceRequest_back](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Registration_No] [varchar](20) NULL,
	[Property_No] [varchar](50) NULL,
	[DepartmentId] [int] NULL,
	[ServiceId] [int] NULL,
	[ServiceType] [varchar](10) NULL,
	[MobileNumber] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[IsActive] [bit] NULL,
	[Created_Date] [datetime] NULL,
	[Created_By] [int] NULL,
	[Modified_Date] [datetime] NULL,
	[Modified_By] [int] NULL,
	[Request_Status] [int] NULL,
	[Description] [nvarchar](2000) NULL,
	[ServiceFee] [decimal](18, 2) NULL,
	[DuesAmount] [decimal](18, 2) NULL,
	[LastDateofPayment] [date] NULL,
	[PaymentStatus] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[ChallanId] [int] NULL,
	[ApplicantName] [varchar](250) NULL,
	[ApplicantAddress] [varchar](250) NULL,
	[SubDepartment] [varchar](50) NULL,
	[RequestorName] [varchar](250) NULL,
	[RequestorAddress] [varchar](250) NULL,
	[UploadedDocumentName] [varchar](500) NULL,
	[DispatchNumber] [varchar](20) NULL,
	[DispatchDate] [datetime] NULL,
	[DispatchDocumentId] [int] NULL,
	[DispatchDocumentName] [varchar](500) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
