USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[OnlineAreawithRegisandProcfee]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OnlineAreawithRegisandProcfee](
	[ID] [int] NOT NULL,
	[schemeId] [int] NULL,
	[ProcessingCharge] [decimal](16, 2) NULL,
	[ApplicationFee] [decimal](16, 2) NULL,
	[isActive] [bit] NULL,
	[createdBy] [int] NULL,
	[createdDate] [datetime] NULL,
 CONSTRAINT [PK_OnlineAreawithRegisandProcfee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
