USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[test_1]    Script Date: 9/21/2017 9:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[test_1](
	[rid] [int] NULL,
	[deptid] [int] NULL,
	[argument] [varchar](max) NULL,
	[text1] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
