USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[online_Director_Master]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[online_Director_Master](
	[Director_Id] [int] IDENTITY(1,1) NOT NULL,
	[onlineapplicationId] [int] NULL,
	[Director_Name] [varchar](100) NULL,
	[Type] [int] NULL,
	[Director_Share] [decimal](10, 4) NULL,
	[pan_no] [varchar](100) NULL,
	[Is_Active] [int] NULL,
	[Created_By] [int] NULL,
 CONSTRAINT [PK_online_Director_Master] PRIMARY KEY CLUSTERED 
(
	[Director_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
