USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[Letter_History]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Letter_History](
	[Id] [int] IDENTITY(100000000,1) NOT NULL,
	[Department_Id] [int] NULL,
	[User_Id] [int] NULL,
	[Rid] [int] NULL,
	[Template_Html] [varchar](max) NULL,
	[Generate_Date] [date] NULL,
	[Is_Active] [bit] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [date] NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [date] NULL,
	[Template_Id] [int] NULL,
	[Barcode_Val] [varchar](50) NULL,
 CONSTRAINT [PK_Letter_History] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Letter_History]  WITH CHECK ADD  CONSTRAINT [FK_Lh_DepartmentMst_Department_Id] FOREIGN KEY([Department_Id])
REFERENCES [dbo].[DepartmentMst] ([departmentId])
GO
ALTER TABLE [dbo].[Letter_History] CHECK CONSTRAINT [FK_Lh_DepartmentMst_Department_Id]
GO
