USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[SchemeMst]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SchemeMst](
	[schemeId] [int] IDENTITY(1,1001) NOT NULL,
	[schemeTypeId] [int] NULL,
	[schemeName] [varchar](100) NULL,
	[startDate] [datetime] NULL,
	[endDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
	[completed] [bit] NULL,
	[Status] [int] NULL,
	[FormFee] [decimal](18, 2) NULL,
	[ProcessFee] [decimal](18, 2) NULL,
	[FroemCGst] [decimal](18, 2) NULL,
	[FormSgst] [decimal](18, 2) NULL,
	[ProcessCgst] [decimal](18, 2) NULL,
	[ProcessSgst] [decimal](18, 2) NULL,
 CONSTRAINT [PK_SchemeMst_schemeId] PRIMARY KEY CLUSTERED 
(
	[schemeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SchemeMst]  WITH CHECK ADD  CONSTRAINT [FK_SchemeTypeMst_SchemeMst_schemeId] FOREIGN KEY([schemeTypeId])
REFERENCES [dbo].[SchemeTypeMst] ([schemeTypeId])
GO
ALTER TABLE [dbo].[SchemeMst] CHECK CONSTRAINT [FK_SchemeTypeMst_SchemeMst_schemeId]
GO
