USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[InterestMst]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[InterestMst](
	[refId] [int] IDENTITY(1,1) NOT NULL,
	[departmentId] [int] NULL,
	[normalInterest] [decimal](5, 2) NULL,
	[penalInterest] [decimal](5, 2) NULL,
	[effectedFrom] [datetime] NULL,
	[effectedTo] [datetime] NULL,
	[isActive] [bit] NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
 CONSTRAINT [PK_InterestMst_refId] PRIMARY KEY CLUSTERED 
(
	[refId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[InterestMst]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentMst_InterestMst_departmentId] FOREIGN KEY([departmentId])
REFERENCES [dbo].[DepartmentMst] ([departmentId])
GO
ALTER TABLE [dbo].[InterestMst] CHECK CONSTRAINT [FK_DepartmentMst_InterestMst_departmentId]
GO
