USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[back_SchemePropTrans]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[back_SchemePropTrans](
	[refId] [int] IDENTITY(1,1) NOT NULL,
	[schemeId] [int] NULL,
	[departmentId] [int] NULL,
	[propertyTypeId] [int] NULL,
	[sectorId] [int] NULL,
	[blockId] [int] NULL,
	[floorId] [int] NULL,
	[propertyId] [int] NULL,
	[propertyNo] [varchar](50) NULL,
	[propertyCost] [decimal](15, 2) NULL,
	[civilCost] [decimal](15, 2) NULL,
	[landRatePerSqmt] [decimal](15, 2) NULL,
	[totalArea] [decimal](15, 2) NULL,
	[coveredArea] [decimal](13, 2) NULL,
	[actualArea] [decimal](13, 2) NULL,
	[Registry] [varchar](20) NULL,
	[allotmentMoney] [decimal](38, 2) NULL,
	[totalPropertyCost] [decimal](38, 2) NULL,
	[IsActive] [bit] NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
	[ParentPropertyId] [int] NULL,
	[VillageId] [int] NULL,
	[KhasraNumber] [varchar](20) NULL,
	[KhatoniNumber] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
