USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[FunctionalDetails]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FunctionalDetails](
	[RequestNo] [int] IDENTITY(1,1) NOT NULL,
	[Rid] [int] NULL,
	[PropertyNumber] [varchar](30) NULL,
	[Functional] [bit] NULL,
	[FunctionalDueDate] [datetime] NULL,
	[FunctionalDate] [datetime] NULL,
	[FunctionalCharge] [decimal](16, 2) NULL,
	[MeterSeallingDocFlag] [bit] NULL,
	[AffidavitFlag] [bit] NULL,
	[RegistrationCertiFlag] [bit] NULL,
	[NOCAccountFlag] [bit] NULL,
	[StatusId] [int] NULL,
	[Approver] [int] NULL,
	[ApproveDate] [datetime] NULL,
	[Comment] [varchar](500) NULL,
	[CommentDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[Modifiedby] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[RComment] [varchar](500) NULL,
	[RCommentDate] [datetime] NULL,
	[OnlineRequestNo] [int] NULL,
	[AffidavitDate] [datetime] NULL,
	[ComplitionDate] [datetime] NULL,
 CONSTRAINT [PK_FunctionalDetails_RequestNo] PRIMARY KEY CLUSTERED 
(
	[RequestNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[FunctionalDetails]  WITH CHECK ADD  CONSTRAINT [FK_StatusMaster_PossessionDetails_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[StatusMaster] ([Id])
GO
ALTER TABLE [dbo].[FunctionalDetails] CHECK CONSTRAINT [FK_StatusMaster_PossessionDetails_StatusId]
GO
