USE [NoidaMigration]
GO
/****** Object:  View [dbo].[allproperty]    Script Date: 9/21/2017 9:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[allproperty] as
select dbo.MasterName(b.sectorId,12) as sector,dbo.MasterName(b.blockid,13) as block,cast(b.propertyNo as varchar(30)) as propertyNo,(case when a.tGender='C'  then T_Company_Name else  isnull(a.tFirstName,'')+' '+isnull(a.tMiddleName,'')+' '+isnull(a.tlastname,' ') end) as Name,a.tCorrespondanceAdd, b.actualArea,c.allotmentDate, c.departmentId from ApplicationDetails a,SchemePropTrans b ,AllotmentMaster c
where a.registrationid=c.rid and b.propertyId=c.propertyId and c.isactive=1
GO
