USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[OnlineCheckLisTrans]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OnlineCheckLisTrans](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[onlineapplicationId] [int] NULL,
	[CheckListId] [int] NULL,
	[isActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[FileNAme] [varchar](500) NULL,
 CONSTRAINT [PK_OnlineCheckLisTrans] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[OnlineCheckLisTrans]  WITH CHECK ADD  CONSTRAINT [FK_OnlineCheckLisTrans_OnlineApplicationDetails] FOREIGN KEY([onlineapplicationId])
REFERENCES [dbo].[OnlineApplicationDetails] ([onlineapplicationId])
GO
ALTER TABLE [dbo].[OnlineCheckLisTrans] CHECK CONSTRAINT [FK_OnlineCheckLisTrans_OnlineApplicationDetails]
GO
ALTER TABLE [dbo].[OnlineCheckLisTrans]  WITH CHECK ADD  CONSTRAINT [FK_OnlineCheckLisTrans_OnlineCheckListMaster] FOREIGN KEY([CheckListId])
REFERENCES [dbo].[OnlineCheckListMaster] ([CheckListId])
GO
ALTER TABLE [dbo].[OnlineCheckLisTrans] CHECK CONSTRAINT [FK_OnlineCheckLisTrans_OnlineCheckListMaster]
GO
