USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[RECIEPT_HEAD]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RECIEPT_HEAD](
	[RECIEPT_CODE] [int] NOT NULL,
	[RECIEPT_HEAD_NAME] [varchar](50) NULL,
	[HEAD_CODE] [int] NULL,
	[STATUS] [int] NULL,
	[USERID] [varchar](22) NULL,
	[ENTRY_DATE] [datetime] NULL,
 CONSTRAINT [PK_RECIEPT_HEAD_RECIEPT_CODE] PRIMARY KEY CLUSTERED 
(
	[RECIEPT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[RECIEPT_HEAD]  WITH CHECK ADD  CONSTRAINT [FK_HEAD_MASTER_RECIEPT_HEAD_HEAD_CODE] FOREIGN KEY([HEAD_CODE])
REFERENCES [dbo].[HEAD_MASTER] ([HEAD_CODE])
GO
ALTER TABLE [dbo].[RECIEPT_HEAD] CHECK CONSTRAINT [FK_HEAD_MASTER_RECIEPT_HEAD_HEAD_CODE]
GO
