USE [NoidaMigration]
GO
/****** Object:  View [dbo].[view_approval_pending_request]    Script Date: 9/21/2017 9:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view_approval_pending_request] as
select a.Request_No,a.rid,b.departmentid,dbo.MasterName(b.departmentid,23) as departmentName,dbo.MasterName(c.sectorId,12) as Sector,dbo.MasterName(c.blockId,13) as Block,c.propertyNo,a.Requested_By,dbo.MasterName(a.Requested_By,57) as requestedname,a.Requested_Date,a.Status,a.Approved_By,dbo.MasterName(a.Approved_By,57) as ApprovedName,a.Approved_Date,'/Property/PropertyRegistration/ViewTransferDetails_Approver/' as PagePath ,'Transfer' as requestType from Succ_Mut_Trans a,AllotmentMaster b,SchemePropTrans c  where
a.rid=b.rid and b.propertyId=c.propertyId and
 Request_No in (select max(Request_No) from Succ_Mut_Trans where Is_Active=1 group by rid) and a.Status<>1 
 union all
  select a.RequestNo as Request_No,a.rid,b.departmentid,dbo.MasterName(b.departmentid,23) as departmentName,dbo.MasterName(c.sectorId,12) as Sector,dbo.MasterName(c.blockId,13) as Block,c.propertyNo,a.CreatedBy as Requested_By,dbo.MasterName(a.CreatedBy,57) as requestedname,a.CreatedDate as Requested_Date,a.StatusId,a.Approver as Approved_By,dbo.MasterName(a.Approver,57) as ApprovedName,a.ApproveDate as Approved_Date,'/Property/PropertyRegistration/MortgageRequestApproval/' as PagePath ,'Mortgage' as requestType 
 from MortgageDetails a,AllotmentMaster b,SchemePropTrans c  where
a.rid=b.rid and b.propertyId=c.propertyId and
 RequestNo in (select max(RequestNo) from MortgageDetails where IsActive=1 group by rid) and a.StatusId<>1 
  union all
 select a.Id as Request_No ,a.rid,b.departmentid,dbo.MasterName(b.departmentid,23) as departmentName,dbo.MasterName(c.sectorId,12) as Sector,dbo.MasterName(c.blockId,13) as Block,c.propertyNo,a.Created_By as Requested_By,dbo.MasterName(a.Created_By,57) as requestedname,a.Created_Date as Requested_Date,a.Status,a.Approved_By as Approved_By,dbo.MasterName(a.Approved_By,57) as ApprovedName,a.Approved_Date as Approved_Date,'/Property/PropertyAllotment/ViewExtensionApproval/' as PagePath ,'Extension' as requestType 
from Extension_Details a,AllotmentMaster b,SchemePropTrans c  where
a.rid=b.rid and b.propertyId=c.propertyId and
 id in (select max(id) from Extension_Details where Is_Active=1 group by rid) and a.Status<>1 
 union all
  select a.RequestNo as Request_No ,a.rid,b.departmentid,dbo.MasterName(b.departmentid,23) as departmentName,dbo.MasterName(c.sectorId,12) as Sector,dbo.MasterName(c.blockId,13) as Block,c.propertyNo,a.CreatedBy as Requested_By,dbo.MasterName(a.CreatedBy,57) as requestedname,a.CreatedDate as Requested_Date,a.StatusId,a.Approver as Approved_By,dbo.MasterName(a.Approver,57) as ApprovedName,a.ApproveDate as Approved_Date,'/Property/PropertyRegistration/ViewFunctionalRequestApprover/' as PagePath ,'Funtional' as requestType 
from FunctionalDetails a,AllotmentMaster b,SchemePropTrans c  where
a.rid=b.rid and b.propertyId=c.propertyId and
 RequestNo in (select max(RequestNo) from FunctionalDetails where IsActive=1 group by rid) and a.StatusId<>1 
   union all
  select a.RequestNo as Request_No ,a.rid,b.departmentid,dbo.MasterName(b.departmentid,23) as departmentName,dbo.MasterName(c.sectorId,12) as Sector,dbo.MasterName(c.blockId,13) as Block,c.propertyNo,a.CreatedBy as Requested_By,dbo.MasterName(a.CreatedBy,57) as requestedname,a.CreatedDate as Requested_Date,a.StatusId,a.Approver as Approved_By,dbo.MasterName(a.Approver,57) as ApprovedName,a.ApproveDate as Approved_Date,'/Property/PropertyRegistration/RentRequest/' as PagePath ,'Rent Permission' as requestType 
from RentPermissionDetails a,AllotmentMaster b,SchemePropTrans c  where
a.rid=b.rid and b.propertyId=c.propertyId and
 RequestNo in (select max(RequestNo) from RentPermissionDetails where IsActive=1 group by rid) and a.StatusId<>1 
GO
