USE [NoidaMigration]
GO
/****** Object:  UserDefinedFunction [dbo].[RequestTypeNew]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select  [dbo].[RequestTypeNew](1,1)
CREATE FUNCTION [dbo].[RequestTypeNew] (@deptid int, @serviceid int,@CreatedFromDate date,@CreatedToDate date)
RETURNS varchar(max)
BEGIN
  DECLARE @ReqType varchar(max)
  Declare @ServId int  
  Declare @DepartId int 
   Declare @DepartIdPre int 
   Declare @Request_Status int  
   Declare @Request_StatusPre int  
  Declare @Count int 
  declare @ReqText varchar(500)
  set @ReqType=''
  DECLARE cur_emp CURSOR
STATIC FOR 
select  vsr.departmentId,vsr.ServiceId,vsr.Request_Status,count(*),vsr.RequestName
from View_Service_report vsr 
--inner join  NoidaMigrationUat.[dbo].tblServiceGroup csg on vsr.ServiceId=csg.ServiceGroupId
--inner join  NoidaMigrationUat.[dbo].tblServiceLink csl on csg.ServiceGroupId = csl.servicegroupid
 where vsr.DepartmentId  = @deptid  --2
 and vsr.ServiceId = @serviceid 
 and  cast(vsr.Created_Date as date) >=  isnull(cast(@CreatedFromDate  as date),vsr.Created_Date) and cast(vsr.Created_Date as date) <= isnull(cast(@CreatedToDate  as date),vsr.Created_Date)
group by 
 vsr.departmentId,vsr.ServiceId, vsr.Request_Status,vsr.RequestName
order by  vsr.ServiceId,vsr.departmentId, vsr.Request_Status desc
OPEN cur_emp
IF @@CURSOR_ROWS > 0
 BEGIN 
 FETCH NEXT FROM cur_emp INTO @DepartId,@ServId,@Request_Status,@Count,@ReqText
 WHILE @@Fetch_status = 0
 BEGIN
 if(@Request_Status!=@Request_StatusPre)
 begin
  --set @ReqType += '<td class="Reqstatus '+ (select [dbo].[Request_StatusClass] (@Request_Status)) +'" onclick="ShowUserWiseRequest('''+ convert(varchar(100),@DepartId)+'#'+convert(varchar(100),@ServId)+'#'+convert(varchar(100),@Request_Status) +''')"><span class="circlesp">' + convert(varchar(100),@Count) + '</span><br/><span>'+ convert(varchar(100),@ReqText) + '</span><td>' 
  set @ReqType += '<td class="Reqstatus '+ (select [dbo].[Request_StatusClass] (@Request_Status)) +'" onclick="ShowUserWiseRequest('''+ convert(varchar(100),@DepartId)+'#'+convert(varchar(100),@ServId)+'#'+convert(varchar(100),@Request_Status) +''')"><span class="circlesp">' + convert(varchar(100),@Count) + '</span><td>' 
   end
   set @Request_StatusPre = @Request_Status
   set @DepartIdPre = @DepartId
 FETCH NEXT FROM cur_emp INTO @DepartId,@ServId,@Request_Status,@Count,@ReqText
 END
END
CLOSE cur_emp
DEALLOCATE cur_emp
  RETURN @ReqType
END;


GO
