USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[SchemeCostTrans]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SchemeCostTrans](
	[schemeId] [int] NULL,
	[departmentId] [int] NULL,
	[propertyTypeId] [int] NULL,
	[sectorId] [int] NULL,
	[floorId] [int] NULL,
	[blockId] [int] NULL,
	[refId] [int] IDENTITY(1,1) NOT NULL,
	[landRatePerSqmt] [decimal](15, 2) NULL,
	[propertyCost] [decimal](15, 2) NULL,
	[totalPropertyCost] [decimal](38, 2) NULL,
	[civilCost] [decimal](15, 2) NULL,
	[allotmentMoney] [decimal](15, 2) NULL,
	[earnestMoney] [decimal](15, 2) NULL,
	[leaseRent] [decimal](15, 2) NULL,
	[IsActive] [bit] NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
 CONSTRAINT [PK_SchemeCostTrans_refId] PRIMARY KEY CLUSTERED 
(
	[refId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SchemeCostTrans]  WITH CHECK ADD  CONSTRAINT [FK_BlockMst_SchemeCostTrans_blockId] FOREIGN KEY([blockId])
REFERENCES [dbo].[BlockMst] ([blockId])
GO
ALTER TABLE [dbo].[SchemeCostTrans] CHECK CONSTRAINT [FK_BlockMst_SchemeCostTrans_blockId]
GO
ALTER TABLE [dbo].[SchemeCostTrans]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentMst_SchemeCostTrans_departmentId] FOREIGN KEY([departmentId])
REFERENCES [dbo].[DepartmentMst] ([departmentId])
GO
ALTER TABLE [dbo].[SchemeCostTrans] CHECK CONSTRAINT [FK_DepartmentMst_SchemeCostTrans_departmentId]
GO
ALTER TABLE [dbo].[SchemeCostTrans]  WITH CHECK ADD  CONSTRAINT [FK_FloorMst_SchemeCostTrans_floorId] FOREIGN KEY([floorId])
REFERENCES [dbo].[FloorMst] ([floorId])
GO
ALTER TABLE [dbo].[SchemeCostTrans] CHECK CONSTRAINT [FK_FloorMst_SchemeCostTrans_floorId]
GO
ALTER TABLE [dbo].[SchemeCostTrans]  WITH CHECK ADD  CONSTRAINT [FK_SchemeMst_SchemeCostTrans_schemeId] FOREIGN KEY([schemeId])
REFERENCES [dbo].[SchemeMst] ([schemeId])
GO
ALTER TABLE [dbo].[SchemeCostTrans] CHECK CONSTRAINT [FK_SchemeMst_SchemeCostTrans_schemeId]
GO
ALTER TABLE [dbo].[SchemeCostTrans]  WITH CHECK ADD  CONSTRAINT [FK_SectorMst_SchemeCostTrans_sectorId] FOREIGN KEY([sectorId])
REFERENCES [dbo].[SectorMst] ([sectorId])
GO
ALTER TABLE [dbo].[SchemeCostTrans] CHECK CONSTRAINT [FK_SectorMst_SchemeCostTrans_sectorId]
GO
