USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[Firm_Master]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Firm_Master](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rid] [int] NULL,
	[Old_Firm_Name] [varchar](100) NULL,
	[New_Firm_Name] [varchar](100) NULL,
	[Old_Firm_Status] [int] NULL,
	[New_Firm_Status] [int] NULL,
	[Old_Firm_Product] [varchar](100) NULL,
	[New_Firm_Product] [varchar](100) NULL,
	[Change_Type] [int] NULL,
	[Request_Date] [date] NULL,
	[Approved_date] [date] NULL,
	[Approved_By] [int] NULL,
	[Status] [int] NULL,
	[Is_Active] [int] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [date] NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [date] NULL,
	[CIC_Charge] [decimal](16, 2) NULL,
	[Comment] [varchar](100) NULL,
	[Application_Id] [int] NULL,
	[RComment] [varchar](500) NULL,
	[RCommentDate] [datetime] NULL,
	[OnlineRequestNo] [int] NULL,
 CONSTRAINT [PK_Firm_Master_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Firm_Master] ADD  CONSTRAINT [DF_Firm_Master_Approved_date]  DEFAULT (getdate()) FOR [Approved_date]
GO
ALTER TABLE [dbo].[Firm_Master] ADD  CONSTRAINT [DF_Firm_Master_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Firm_Master]  WITH CHECK ADD  CONSTRAINT [FK_Firm_Application] FOREIGN KEY([Application_Id])
REFERENCES [dbo].[ApplicationDetails] ([applicationId])
GO
ALTER TABLE [dbo].[Firm_Master] CHECK CONSTRAINT [FK_Firm_Application]
GO
ALTER TABLE [dbo].[Firm_Master]  WITH CHECK ADD  CONSTRAINT [FK_Firm_Master_Type] FOREIGN KEY([Old_Firm_Status])
REFERENCES [dbo].[Common_Config] ([Id])
GO
ALTER TABLE [dbo].[Firm_Master] CHECK CONSTRAINT [FK_Firm_Master_Type]
GO
ALTER TABLE [dbo].[Firm_Master]  WITH CHECK ADD  CONSTRAINT [FK_Firm_Master_Type_New] FOREIGN KEY([New_Firm_Status])
REFERENCES [dbo].[Common_Config] ([Id])
GO
ALTER TABLE [dbo].[Firm_Master] CHECK CONSTRAINT [FK_Firm_Master_Type_New]
GO
