USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[RentPermissionDetails]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RentPermissionDetails](
	[RequestNo] [int] IDENTITY(1,1) NOT NULL,
	[Rid] [int] NULL,
	[Permission] [bit] NULL,
	[TenantName] [varchar](200) NULL,
	[TenantProject] [varchar](200) NULL,
	[RentDurationYears] [int] NULL,
	[RentingCharge] [decimal](12, 2) NULL,
	[RentingDate] [datetime] NULL,
	[Amount] [decimal](12, 2) NULL,
	[StatusId] [int] NULL,
	[Approver] [int] NULL,
	[ApproveDate] [datetime] NULL,
	[Comment] [varchar](500) NULL,
	[CommentDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[Modifiedby] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[RentingEndDate] [datetime] NULL,
	[RComment] [varchar](500) NULL,
	[RCommentDate] [datetime] NULL,
	[OnlineRequestNo] [int] NULL,
 CONSTRAINT [PK_RentPermissionDetails_RequestNo] PRIMARY KEY CLUSTERED 
(
	[RequestNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[RentPermissionDetails]  WITH CHECK ADD  CONSTRAINT [FK_AllotmentMaster_RentPermissionDetails_Rid] FOREIGN KEY([Rid])
REFERENCES [dbo].[AllotmentMaster] ([rid])
GO
ALTER TABLE [dbo].[RentPermissionDetails] CHECK CONSTRAINT [FK_AllotmentMaster_RentPermissionDetails_Rid]
GO
ALTER TABLE [dbo].[RentPermissionDetails]  WITH CHECK ADD  CONSTRAINT [FK_StatusMaster_RentPermissionDetails_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[StatusMaster] ([Id])
GO
ALTER TABLE [dbo].[RentPermissionDetails] CHECK CONSTRAINT [FK_StatusMaster_RentPermissionDetails_StatusId]
GO
