USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[Interview_Details]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Interview_Details](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Application_Id] [int] NULL,
	[Form_No] [varchar](10) NULL,
	[Interview_Date] [date] NULL,
	[Interview_Details] [nvarchar](max) NULL,
	[Is_Active] [bit] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [date] NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [date] NULL,
 CONSTRAINT [PK_Interview_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Interview_Details]  WITH CHECK ADD  CONSTRAINT [FK_Application] FOREIGN KEY([Application_Id])
REFERENCES [dbo].[ApplicationDetails] ([applicationId])
GO
ALTER TABLE [dbo].[Interview_Details] CHECK CONSTRAINT [FK_Application]
GO
