USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[Document_Mst]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Document_Mst](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Document_Name] [varchar](255) NULL,
	[Is_Active] [bit] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [date] NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [date] NULL,
 CONSTRAINT [Document_Mst_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
