USE [NoidaMigration]
GO
/****** Object:  StoredProcedure [dbo].[Sp_DuesCalculationTillDate_New]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC SP_DUESCALCULATIONTILLDATE_NEW 90100450,'30-Oct-2017',1
CREATE  PROCEDURE [dbo].[Sp_DuesCalculationTillDate_New](@RID VARCHAR(12),@C DATE, @LANDUSETYPE INT)
--RETURNS DECIMAL(21,0)
AS
                 
BEGIN
-- AUTHOR NAME : VISHAL SHUKLA
-- CREATE DATE : 09/14/2016
-- MODIFIED DATE : 
-- USED RID : 40010131 FOR TESTING

--create table #temp(id int,rid int,instdate date,instamount float ,panel int,panalamount float,paidamount float,paiddate date)
--delete from #temp
DECLARE 
@DATE DATE,
@DATENEXT DATE,
@DATEPREV DATE,
@DATEREC DATE,
@DATEDIFFPRE INT,
@DATEDIFFPOST INT,
@DATEDIFF INT,
@INSTALLMENT DECIMAL(21,0),
@INSTALLMENT_TEMP DECIMAL(21,0),
@SUBAMOUNT DECIMAL(21,0),
@I INT,
@COUNT INT,
@CI DATE,
@PENALINT DECIMAL(21,0),
@PENALAMOUNT DECIMAL(32,9), --CHANGED
@TOTALBALANCE DECIMAL(32,9), --CHANGED
@PENALBALANCE DECIMAL(32,9), --CHANGED
@DUESTILL DECIMAL(30,9), --CHANGED
@DUESNEXT DECIMAL(30,9), --CHANGED
@FREQUENCY INT,
@COUNT1 INT,
@FREQUENCYMONTH INT,
@AALLOTMENTDATE DATE,
@DEPARTMENTID INT

SET @DUESNEXT = 0;
SET @INSTALLMENT = 0;

SELECT @AALLOTMENTDATE=ALLOTMENTDATE ,@DEPARTMENTID=DEPARTMENTID FROM ALLOTMENTMASTER WHERE RID=@RID
SELECT @PENALINT=SD.PENALINT, @FREQUENCY=SD.FREQUENCY FROM ALLOTMENTMASTER AM JOIN SCHEMEDEPARTMENTTRANS SD ON (AM.SCHEMEID=SD.SCHEMEID AND AM.DEPARTMENTID=SD.DEPARTMENTID) WHERE RID=@RID AND AM.ISSTATUS='APPROVED' AND AM.ISACTIVE=1
--PRINT @FREQUENCY

IF (@FREQUENCY=1)
BEGIN 
SET @FREQUENCYMONTH=12;
END
ELSE IF (@FREQUENCY=2)
BEGIN 
SET @FREQUENCYMONTH=6;
END
ELSE IF (@FREQUENCY=4)
BEGIN 
SET @FREQUENCYMONTH=3;
END
ELSE IF (@FREQUENCY=12)
BEGIN 
SET @FREQUENCYMONTH=1;
END

--SELECT * FROM PAYMENTSCHEDULETRANS
SELECT TOP 1 @CI=INSTALLMENTDUEDATE  FROM PAYMENTSCHEDULETRANS WHERE RID=@RID AND ISACTIVE=1 ORDER BY INSTALLMENTDUEDATE
-----PRINT @CI
SET @DATE='1960-01-01'
SET @DUESTILL = 0

	IF(@C < @CI)
		BEGIN
			SET @DUESNEXT=0
		END
	ELSE
		BEGIN
			WHILE(@CI<=@C)
					BEGIN
					PRINT @Date 
						-- Panel Interest find
						SELECT @PENALINT=PENALINTEREST FROM INTERESTMST WHERE  DEPARTMENTID=@DEPARTMENTID AND CAST(@CI AS DATE) BETWEEN CAST(EFFECTEDFROM AS DATE) AND CAST(ISNULL(EFFECTEDTO,GETDATE()) AS DATE)
						
							IF (@DATE='1960-01-01')
								BEGIN
									----PRINT 'Date1 '
									SELECT TOP 1 @INSTALLMENT_TEMP= PRINCIPALINSTALLMENTAMOUNT+INTERESTINSTALLMENTAMOUNT, @DATE= INSTALLMENTDUEDATE FROM PAYMENTSCHEDULETRANS WHERE RID=@RID AND ISACTIVE=1 ORDER BY INSTALLMENTNUMBER
									--Next Date find
									IF @LANDUSETYPE=4 AND @FREQUENCY=2
										BEGIN
											SET @DATENEXT= DATEADD(MONTH,DATEDIFF(MONTH,0,DATEADD(MONTH,@FREQUENCYMONTH,@DATE))+1,0)-1 --EOMONTH(DATEADD(MONTH,6,@DATE))
											--SET @DATENEXT= EOMONTH(DATEADD(MONTH,@FREQUENCYMONTH,@DATE))
										END
									ELSE
										BEGIN
											SET @DATENEXT= DATEADD(MONTH,@FREQUENCYMONTH,@DATE)
										END

											SET @DATEPREV= @DATE

											SET @INSTALLMENT= @INSTALLMENT + @INSTALLMENT_TEMP
											SET @DUESTILL = @INSTALLMENT
											----PRINT 'First Inst'+cast(@INSTALLMENT_TEMP as varchar(20))
											----PRINT 'Date '
											--insert into #temp(id,rid,instdate,instamount) values(1,@RID,@DATE,@INSTALLMENT_TEMP)
											--EXEC SP_DUESCALCULATIONTILLDATE_NEW 90100450,'30-Oct-2017',1
							   END
							ELSE
							   BEGIN
											----PRINT 'Date2 '
											SELECT TOP 1 @COUNT1=COUNT(*) FROM PAYMENTSCHEDULETRANS WHERE RID=@RID AND  INSTALLMENTDUEDATE=@DATENEXT 
											IF (@COUNT1>0)
												BEGIN
													SELECT TOP 1 @INSTALLMENT_TEMP= PRINCIPALINSTALLMENTAMOUNT+INTERESTINSTALLMENTAMOUNT, @DATE= INSTALLMENTDUEDATE FROM PAYMENTSCHEDULETRANS WHERE RID=@RID AND  INSTALLMENTDUEDATE=@DATENEXT AND ISACTIVE=1 ORDER BY INSTALLMENTNUMBER
											--PRINT 'Date2 '
												END
											ELSE
												BEGIN
													SET @DATE=@CI
													SET @INSTALLMENT_TEMP=0
													IF(@DUESNEXT<0)
													BEGIN
													SET @DUESNEXT=0
													END
												END
											IF @LANDUSETYPE=4 AND @FREQUENCY=2
												BEGIN
													SET @DATENEXT= DATEADD(MONTH,DATEDIFF(MONTH,0,DATEADD(MONTH,@FREQUENCYMONTH,@DATE))+1,0)-1
													--PRINT @DATENEXT
													SET @DATEPREV= DATEADD(MONTH,DATEDIFF(MONTH,0,DATEADD(MONTH,-@FREQUENCYMONTH,@DATE))+1,0)-1
													--PRINT @DATENEXT
												END
											ELSE
												BEGIN
													SET @DATENEXT= DATEADD(MONTH,@FREQUENCYMONTH,@DATE)
													SET @DATEPREV=DATEADD(MONTH,-@FREQUENCYMONTH,@DATE)
													----PRINT @DATEPREV
													----PRINT @DATE
													----PRINT @DATENEXT
												END
												print @INSTALLMENT
												print @INSTALLMENT_TEMP
												SET @INSTALLMENT= @INSTALLMENT + @INSTALLMENT_TEMP
											--SET @DUESTILL = @DUESTILL + @INSTALLMENT_TEMP
											--insert into #temp(id,rid,instdate,instamount) values(1,@RID,@DATE,@INSTALLMENT_TEMP)
									
							   END
							IF(@DATEPREV=@DATE)
								BEGIN
									SELECT @COUNT = COUNT(1) FROM VIEWRECEIPTMASTER WHERE DEPOSIT_DATE > = @DATEPREV AND DEPOSIT_DATE < = @DATE AND RID_NO=@RID AND RECEIPT_HEAD_ID IN (1,24)
								END
							ELSE
								BEGIN
									SELECT @COUNT = COUNT(1) FROM VIEWRECEIPTMASTER WHERE DEPOSIT_DATE > @DATEPREV AND DEPOSIT_DATE < = @DATE AND RID_NO=@RID AND RECEIPT_HEAD_ID IN (1,24)
								END
							IF (@COUNT>0)
							   BEGIN
									IF(@DATEPREV=@DATE)
										BEGIN
											SELECT TOP 1 @SUBAMOUNT=SUM(AMOUNT_PAID), @DATEREC=MAX(DEPOSIT_DATE) FROM VIEWRECEIPTMASTER WHERE DEPOSIT_DATE > = @DATEPREV AND DEPOSIT_DATE < = @DATE AND RID_NO=@RID AND RECEIPT_HEAD_ID IN (1,24)
										END
									ELSE
										BEGIN
											SELECT TOP 1 @SUBAMOUNT=SUM(AMOUNT_PAID), @DATEREC=MAX(DEPOSIT_DATE) FROM VIEWRECEIPTMASTER WHERE DEPOSIT_DATE > @DATEPREV AND DEPOSIT_DATE < = @DATE AND RID_NO=@RID AND RECEIPT_HEAD_ID IN (1,24)
										END
										SET @DATEDIFFPRE = DATEDIFF(DAY,@DATEPREV,@DATEREC)
										--PRINT @DATEDIFFPRE
										--PRINT 'SUBTOTAL='+CAST(@SUBAMOUNT AS VARCHAR(30))
										----PRINT 'TEST = '+CAST(@DUESNEXT AS VARCHAR(20))
										SET @PENALAMOUNT = (((@DUESNEXT * @PENALINT)/36500)*@DATEDIFFPRE)
										----PRINT 'TEST PENAL = '+CAST(@PENALAMOUNT AS VARCHAR(20))
									IF ((@DUESNEXT+@PENALAMOUNT)>@SUBAMOUNT)
										BEGIN
											SET @TOTALBALANCE = (@DUESNEXT  + @PENALAMOUNT )- @SUBAMOUNT
											SET @DATEDIFFPOST = DATEDIFF(DAY,@DATEREC,@DATE)
											--PRINT @DATEDIFFPOST
											SET @PENALBALANCE = ROUND((((@TOTALBALANCE * @PENALINT)/36500)*@DATEDIFFPOST),0,0)
											SET @DUESNEXT = @PENALBALANCE + @TOTALBALANCE + @INSTALLMENT_TEMP
											----PRINT 'TEST' 
											--insert into #temp(id,rid,instdate,instamount) values(1,@RID,@DATE,@INSTALLMENT_TEMP)
										END
									ELSE
										BEGIN
											SET @TOTALBALANCE =  (@DUESNEXT  + @PENALAMOUNT )- @SUBAMOUNT
											--SET @DATEDIFFPOST = DATEDIFF(DAY,@DATEREC,@DATE)
											--SET @PENALBALANCE = ROUND((((@TOTALBALANCE * @PENALINT)/36500)*@DATEDIFFPOST),0,0)
											SET @DUESNEXT = @INSTALLMENT_TEMP+@TOTALBALANCE
											----PRINT 'SUBAMOUNT' +CAST(@SUBAMOUNT AS VARCHAR(20))
											----PRINT 'TOTALBALANCE ' +CAST(@TOTALBALANCE AS VARCHAR(20))
											----PRINT 'TESTDUES ' +CAST(@DUESNEXT AS VARCHAR(20))
											----PRINT 'TEST 3'
											-- --PRINT '@DUESNEXT'+CAST(@INSTALLMENT_TEMP AS VARCHAR(20))
										END
								END
							 ELSE
									  --IF (@DUESTILL = @INSTALLMENT)
									  --BEGIN
									  --SET @DUESTILL = @DUESTILL
									  --SET @DUESNEXT = @DUESTILL
									  --END
									  --ELSE
								BEGIN
									IF( @DUESNEXT<0)
										BEGIN
											SET @DUESNEXT = @DUESNEXT  + @INSTALLMENT_TEMP
										END
									ELSE
										BEGIN
											SET @DATEDIFF = DATEDIFF(DAY,@DATEPREV,@DATE)
											--PRINT '@DATEPREV'+CAST(@DATEPREV AS VARCHAR(MAX))
											--PRINT '@DATE'+CAST(@DATE AS VARCHAR(MAX))
											--PRINT 'DIFFRENCE '+ CAST(@DATEDIFF AS VARCHAR(MAX))
											SET @PENALAMOUNT =(((@DUESNEXT * @PENALINT)/36500)*@DATEDIFF)
											--PRINT @PENALAMOUNT
											SET @DUESNEXT = (@DUESNEXT + ((@DUESNEXT * @PENALINT)/36500)*@DATEDIFF)
											--PRINT @DUESNEXT
											--SET @DUESTILL = @DUESNEXT  + @INSTALLMENT_TEMP
											SET @DUESNEXT = @DUESNEXT  + @INSTALLMENT_TEMP
											--PRINT @DUESNEXT
										END
								----PRINT 'TEST 2'
								END

								----PRINT 'DATE= ' + CAST(@DATE AS VARCHAR(20))
								----PRINT 'DATENEXT= ' + CAST(@DATENEXT AS VARCHAR(20))
								----PRINT 'DATEPREV= ' + CAST(@DATEPREV AS VARCHAR(20))
								----PRINT 'DUES TILL = ' + CAST(@DUESNEXT AS VARCHAR(20))
								----PRINT 'DUES NEXT = ' + CAST(@DUESTILL AS VARCHAR(20))
				
								----PRINT 'DATE= '+CAST(@CI  AS VARCHAR(20))
								----PRINT 'DUES= '+CAST(@DUESNEXT AS VARCHAR(20)) 
								----PRINT 'PENAL AMOUNT= '+CAST(@PENALAMOUNT  AS VARCHAR(20))
								----PRINT 'DATEDIFF='+CAST(@DATEDIFF AS VARCHAR(10))
							IF @LANDUSETYPE IN (4) AND @FREQUENCY=2
								BEGIN
									----PRINT 'DATE= '+CAST(@CI  AS VARCHAR(20))
									SET @CI = DATEADD(MONTH,DATEDIFF(MONTH,0,DATEADD(MONTH,@FREQUENCYMONTH,@DATE))+1,0)-1
									----PRINT 'DATE= '+CAST(@CI  AS VARCHAR(20))
								END
							ELSE
								BEGIN
									SET @CI = DATEADD(MONTH,@FREQUENCYMONTH,@CI)
									--PRINT 'DATE= HI'+ CAST (@CI AS VARCHAR(20))
								END													

					END
			IF @LANDUSETYPE=4 AND @FREQUENCY=2
					BEGIN
						SET @CI = DATEADD(MONTH,DATEDIFF(MONTH,0,DATEADD(MONTH,-@FREQUENCYMONTH,@CI))+1,0)-1
					END
			ELSE
					BEGIN
						SET @CI = DATEADD(MONTH,-@FREQUENCYMONTH,@CI)
					END

--SET @CI = EOMONTH(DATEADD(MONTH,-6,@CI))
			SELECT @I = COUNT(1) FROM VIEWRECEIPTMASTER WHERE DEPOSIT_DATE > = @CI AND DEPOSIT_DATE < = @C AND RID_NO=@RID AND RECEIPT_HEAD_ID IN (1,24)
			IF (@I>0)
				BEGIN 
					SELECT TOP 1 @SUBAMOUNT=SUM(AMOUNT_PAID), @DATEREC=MAX(DEPOSIT_DATE) FROM VIEWRECEIPTMASTER WHERE DEPOSIT_DATE > = @CI AND DEPOSIT_DATE < = @C AND RID_NO=@RID AND RECEIPT_HEAD_ID IN (1,24)
					SET @DATEDIFFPRE = DATEDIFF(DAY,@CI,@DATEREC)
					----PRINT 'TEST = '+CAST(@DUESNEXT AS VARCHAR(20))
					SET @PENALAMOUNT = (((@DUESNEXT * @PENALINT)/36500)*@DATEDIFFPRE)
					----PRINT 'TEST PENAL = '+CAST(@PENALAMOUNT AS VARCHAR(20))
					IF ((@DUESNEXT+@PENALAMOUNT)>@SUBAMOUNT)
						BEGIN
							SET @TOTALBALANCE = (@DUESNEXT  + @PENALAMOUNT )- @SUBAMOUNT
							SET @DATEDIFFPOST = DATEDIFF(DAY,@DATEREC,@DATE)
							SET @PENALBALANCE = (((@TOTALBALANCE * @PENALINT)/36500)*@DATEDIFFPOST)
							SET @DUESNEXT = @PENALBALANCE + @TOTALBALANCE 
 						END
					ELSE
						BEGIN
							SET @TOTALBALANCE =  (@DUESNEXT  + @PENALAMOUNT )- @SUBAMOUNT
							SET @DUESNEXT = @TOTALBALANCE

							--SET @TOTALBALANCE = (@DUESNEXT - @SUBAMOUNT) + @PENALAMOUNT 
							--SET @DATEDIFFPOST = DATEDIFF(DAY,@DATEREC,@C)
							--SET @PENALBALANCE = ROUND((((@TOTALBALANCE * @PENALINT)/36500)*@DATEDIFFPOST),0,0)
							--SET @DUESNEXT = @PENALBALANCE + @TOTALBALANCE
						END
					IF(@DUESNEXT<0)
						BEGIN
							SET @DUESNEXT=0
						END
				END
			ELSE
				BEGIN
						SET @DATEDIFF = DATEDIFF(DAY,@CI,@C)
						--PRINT 'FINAL' +CAST (@DATEDIFF AS VARCHAR(10))
						--PRINT @CI
						--PRINT @C
						IF (@DUESNEXT<0)
							BEGIN
								SET @DUESNEXT=0
							END
						ELSE
							BEGIN
								SET @DUESNEXT = (@DUESNEXT + ((@DUESNEXT * @PENALINT)/36500)*@DATEDIFF)
							END
				END
		END

--PRINT @AALLOTMENTDATE
IF (@DEPARTMENTID=4 OR @DEPARTMENTID=4 OR @DEPARTMENTID=2)
BEGIN
IF(CAST(@AALLOTMENTDATE AS DATE) <= CAST('2016-10-30' AS DATE)) 
BEGIN
SET @DUESNEXT=0
END
END
select * from #temp
SELECT CAST(ROUND(ISNULL(@DUESNEXT,0),0,0) AS DECIMAL(31,0))
--SET @DUESAMT=@DUESNEXT;
----PRINT 'DUES TILL DATE : ' + CAST(@DUESNEXT AS VARCHAR(20))
--RETURN @DUESNEXT;
END



GO
