USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[PropertyTypeMst]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PropertyTypeMst](
	[departmentId] [int] NULL,
	[propertyTypeId] [int] NOT NULL,
	[propertyTypeName] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PropertyTypeMst]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentMst_PropertyTypeMst_departmentId] FOREIGN KEY([departmentId])
REFERENCES [dbo].[DepartmentMst] ([departmentId])
GO
ALTER TABLE [dbo].[PropertyTypeMst] CHECK CONSTRAINT [FK_DepartmentMst_PropertyTypeMst_departmentId]
GO
