USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[Building_Plan_Trans]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Building_Plan_Trans](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[BPid] [int] NULL,
	[Rid] [int] NULL,
	[Tower_Name] [varchar](100) NULL,
	[All_Covered_Area] [decimal](15, 2) NULL,
	[GF_Covered_Area] [decimal](15, 2) NULL,
	[Building_Height] [decimal](5, 2) NULL,
	[No_Of_stories] [int] NULL,
	[Receipt_Head] [int] NULL,
	[Receipt_Sub_Head] [int] NULL,
	[Amount] [decimal](15, 2) NULL,
	[Noc_Type] [int] NULL,
	[Is_Submit] [varchar](3) NULL,
	[Record_Type] [int] NULL,
	[Is_Active] [bit] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [date] NULL,
	[Modified_By] [int] NULL,
	[Modified_date] [date] NULL,
 CONSTRAINT [PK_Bp_Trans] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Building_Plan_Trans]  WITH CHECK ADD  CONSTRAINT [FK_BP_Master] FOREIGN KEY([BPid])
REFERENCES [dbo].[Building_Plan_Master] ([id])
GO
ALTER TABLE [dbo].[Building_Plan_Trans] CHECK CONSTRAINT [FK_BP_Master]
GO
ALTER TABLE [dbo].[Building_Plan_Trans]  WITH CHECK ADD  CONSTRAINT [FK_NOC_BP] FOREIGN KEY([Noc_Type])
REFERENCES [dbo].[NOC_MASTER] ([id])
GO
ALTER TABLE [dbo].[Building_Plan_Trans] CHECK CONSTRAINT [FK_NOC_BP]
GO
ALTER TABLE [dbo].[Building_Plan_Trans]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_Bp] FOREIGN KEY([Receipt_Sub_Head])
REFERENCES [dbo].[RECEIPT_SUB_HEAD] ([RECEIPT_SUBHEAD_ID])
GO
ALTER TABLE [dbo].[Building_Plan_Trans] CHECK CONSTRAINT [FK_Receipt_Bp]
GO
ALTER TABLE [dbo].[Building_Plan_Trans]  WITH CHECK ADD CHECK  (([Record_Type]=(1) OR [Record_Type]=(2) OR [Record_Type]=(3)))
GO
