USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[SchemePropTrans]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SchemePropTrans](
	[refId] [int] IDENTITY(1,1) NOT NULL,
	[schemeId] [int] NULL,
	[departmentId] [int] NULL,
	[propertyTypeId] [int] NULL,
	[sectorId] [int] NULL,
	[blockId] [int] NULL,
	[floorId] [int] NULL,
	[propertyId] [int] NULL,
	[propertyNo] [varchar](50) NULL,
	[propertyCost] [decimal](15, 2) NULL,
	[civilCost] [decimal](15, 2) NULL,
	[landRatePerSqmt] [decimal](15, 2) NULL,
	[totalArea] [decimal](15, 2) NULL,
	[coveredArea] [decimal](13, 2) NULL,
	[actualArea] [decimal](13, 2) NULL,
	[Registry] [varchar](20) NULL,
	[allotmentMoney] [decimal](38, 2) NULL,
	[totalPropertyCost] [decimal](38, 2) NULL,
	[IsActive] [bit] NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
	[ParentPropertyId] [int] NULL,
	[VillageId] [int] NULL,
	[KhasraNumber] [varchar](20) NULL,
	[KhatoniNumber] [varchar](20) NULL,
	[Processingfee] [decimal](38, 2) NULL,
	[GHappartmentName] [varchar](50) NULL,
 CONSTRAINT [PK_SchemePropTrans_refId] PRIMARY KEY CLUSTERED 
(
	[refId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[propertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SchemePropTrans]  WITH CHECK ADD  CONSTRAINT [FK_BlockMst_SchemePropTrans_blockId] FOREIGN KEY([blockId])
REFERENCES [dbo].[BlockMst] ([blockId])
GO
ALTER TABLE [dbo].[SchemePropTrans] CHECK CONSTRAINT [FK_BlockMst_SchemePropTrans_blockId]
GO
ALTER TABLE [dbo].[SchemePropTrans]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentMst_SchemePropTrans_departmentId] FOREIGN KEY([departmentId])
REFERENCES [dbo].[DepartmentMst] ([departmentId])
GO
ALTER TABLE [dbo].[SchemePropTrans] CHECK CONSTRAINT [FK_DepartmentMst_SchemePropTrans_departmentId]
GO
ALTER TABLE [dbo].[SchemePropTrans]  WITH CHECK ADD  CONSTRAINT [FK_FloorMst_SchemePropTrans_floorId] FOREIGN KEY([floorId])
REFERENCES [dbo].[FloorMst] ([floorId])
GO
ALTER TABLE [dbo].[SchemePropTrans] CHECK CONSTRAINT [FK_FloorMst_SchemePropTrans_floorId]
GO
ALTER TABLE [dbo].[SchemePropTrans]  WITH CHECK ADD  CONSTRAINT [FK_SchemeMst_SchemePropTrans_schemeId] FOREIGN KEY([schemeId])
REFERENCES [dbo].[SchemeMst] ([schemeId])
GO
ALTER TABLE [dbo].[SchemePropTrans] CHECK CONSTRAINT [FK_SchemeMst_SchemePropTrans_schemeId]
GO
ALTER TABLE [dbo].[SchemePropTrans]  WITH CHECK ADD  CONSTRAINT [FK_SectorMst_SchemePropTrans_sectorId] FOREIGN KEY([sectorId])
REFERENCES [dbo].[SectorMst] ([sectorId])
GO
ALTER TABLE [dbo].[SchemePropTrans] CHECK CONSTRAINT [FK_SectorMst_SchemePropTrans_sectorId]
GO
