USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[Building_Plan_Master]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Building_Plan_Master](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Rid] [int] NULL,
	[BP_File_Name] [varchar](50) NULL,
	[Property_Use] [int] NULL,
	[Submission_Date] [date] NULL,
	[Sanction_Date] [date] NULL,
	[Sanctioned_Plan_Validity] [date] NULL,
	[Purchasable_Far_Percent] [decimal](5, 2) NULL,
	[Map_Released] [varchar](3) NULL,
	[Map_Revised] [varchar](3) NULL,
	[Plot_Area] [decimal](15, 2) NULL,
	[Covered_Area] [decimal](15, 2) NULL,
	[FAR] [float] NULL,
	[Max_No_Stories] [int] NULL,
	[Architect_Reg_No] [varchar](50) NULL,
	[Architect_Name] [varchar](100) NULL,
	[Is_Completed] [bit] NULL,
	[Is_Active] [bit] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [date] NULL,
	[Modified_By] [int] NULL,
	[Modified_date] [date] NULL,
 CONSTRAINT [PK_Bp_Master] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BP_File_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Rid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
