USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[OLE DB Destination]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OLE DB Destination](
	[RECEIPT_ID] [numeric](20, 0) NULL,
	[PROPERTY_NUMBER] [varchar](150) NULL,
	[PROP_REG_ID] [varchar](50) NULL,
	[DEPOSETER_NAME] [varchar](250) NULL,
	[DEPT_ID] [numeric](2, 0) NULL,
	[BANK_ID] [varchar](20) NULL,
	[CHALLAN_ID] [varchar](25) NULL,
	[DEPOSIT_DATE] [datetime] NULL,
	[ENTRY_DATE] [datetime] NULL,
	[RID_NO] [varchar](50) NULL,
	[CONS_NO] [varchar](12) NULL,
	[MODIFY_DATE] [datetime] NULL,
	[PROP_ID] [varchar](50) NULL,
	[SECTOR] [varchar](50) NULL,
	[BLOCK] [varchar](20) NULL,
	[ALLOTE_NAME] [varchar](250) NULL,
	[ADDRESS] [varchar](250) NULL,
	[AMOUNT] [numeric](30, 2) NULL,
	[STATUS] [numeric](38, 0) NULL,
	[USERID] [varchar](20) NULL,
	[P_FROM_DATE] [datetime] NULL,
	[P_TO_DATE] [datetime] NULL,
	[FLAG_EDIT] [varchar](1) NULL,
	[GST_NO] [varchar](20) NULL,
	[Copy of RECEIPT_ID] [numeric](20, 0) NULL,
	[Copy of PROPERTY_NUMBER] [varchar](150) NULL,
	[Copy of PROP_REG_ID] [varchar](50) NULL,
	[Copy of DEPOSETER_NAME] [varchar](250) NULL,
	[Copy of DEPT_ID] [numeric](2, 0) NULL,
	[Copy of BANK_ID] [varchar](20) NULL,
	[Copy of CHALLAN_ID] [varchar](25) NULL,
	[Copy of DEPOSIT_DATE] [datetime] NULL,
	[Copy of ENTRY_DATE] [datetime] NULL,
	[Copy of RID_NO] [varchar](50) NULL,
	[Copy of CONS_NO] [varchar](12) NULL,
	[Copy of MODIFY_DATE] [datetime] NULL,
	[Copy of PROP_ID] [varchar](50) NULL,
	[Copy of SECTOR] [varchar](50) NULL,
	[Copy of BLOCK] [varchar](20) NULL,
	[Copy of ALLOTE_NAME] [varchar](250) NULL,
	[Copy of ADDRESS] [varchar](250) NULL,
	[Copy of AMOUNT] [numeric](30, 2) NULL,
	[Copy of STATUS] [numeric](38, 0) NULL,
	[Copy of USERID] [varchar](20) NULL,
	[Copy of P_FROM_DATE] [datetime] NULL,
	[Copy of P_TO_DATE] [datetime] NULL,
	[Copy of FLAG_EDIT] [varchar](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
