USE [NoidaMigration]
GO
/****** Object:  StoredProcedure [dbo].[SpAllotteeListPaymentSchedule]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SpAllotteeListPaymentSchedule]
@schemeId int, @departmentId int
AS
BEGIN
declare @sid int
declare @did int

SELECT  @sid=schemeId,@did=departmentId FROM AlloteeListMaster WHERE schemeId=@schemeId and departmentId = @departmentID
SELECT DISTINCT @sid=schemeId,@did=departmentId FROM AllotmentMaster WHERE schemeId=@schemeId and departmentId = @departmentID
	if(@did=5)
	begin
	SELECT 
	am.rid,
	am.formNo,
	dbo.MasterName(am.departmentId,5) as Department,
	ad.firstName + ad.lastName as applicantName,
	[dbo].[MasterName](sp.sectorId,12)+'/'+[dbo].[MasterName](sp.blockId,13)+'-'+sp.propertyNo as PropertyNumber,
	dbo.MasterName(sp.propertyTypeId,7)as PropertyType,
	ISNULL(sc.allotmentMoney, 0.00) AS allotmentMoney ,
	ap.amountDeposited as EarnestMoney,
	am.allotmentDate,sp.totalArea
	FROM  ApplicationDetails ad JOIN AllotmentMaster am on (am.formNo= ad.formNo)
	JOIN schemePropTrans sp on (am.propertyId=sp.propertyId)
	JOIN ApplicationPaymentDetails ap on (ad.applicationId=ap.applicationId)
	JOIN SchemeCostTrans sc on (sp.schemeId=sc.schemeId AND sp.departmentId=sc.departmentId AND sp.propertyTypeId=sc.propertyTypeId AND sp.sectorId=sc.sectorId AND sp.blockId= sc.blockId AND sp.floorId=sc.floorId)
	WHERE sp.schemeId=@sid AND sp.departmentId=@did
	end
	
	else
	begin
	SELECT 
	am.rid,
	am.formNo,
	dbo.MasterName(am.departmentId,5) as Department,
	ad.firstName + ad.lastName as applicantName,
	[dbo].[MasterName](sp.sectorId,12)+'/'+[dbo].[MasterName](sp.blockId,13)+'-'+sp.propertyNo as PropertyNumber,
	dbo.MasterName(propertyTypeId,7)as PropertyType,
	CONVERT(DECIMAL(16,2),((sp.totalPropertyCost * sd.allotmentMoneyPercent)/100)) as AllotmentMoney,
	sd.allotmentMoneyPercent,
	sp.totalPropertyCost,
	ap.amountDeposited as EarnestMoney,
	am.allotmentDate,sp.totalArea
	FROM  ApplicationDetails ad JOIN AllotmentMaster am on (am.formNo= ad.formNo)
	JOIN schemePropTrans sp on (am.propertyId=sp.propertyId)
	JOIN ApplicationPaymentDetails ap on (ad.applicationId=ap.applicationId)
	JOIN SchemeDepartmentTrans sd on (sp.schemeId=sd.schemeId AND sp.departmentId=sd.departmentId)
	WHERE sp.schemeId=@sid AND sp.departmentId=@did
	end
	
END

GO
