USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[HEAD_MASTER]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HEAD_MASTER](
	[HEAD_CODE] [int] NOT NULL,
	[HEAD_NAME] [varchar](50) NULL,
	[BUDGET_AMOUNT] [decimal](14, 2) NULL,
	[STATUS] [int] NULL,
	[USERID] [varchar](22) NULL,
	[ENTRY_DATE] [datetime] NULL,
 CONSTRAINT [PK_HEAD_MASTER_HEAD_CODE] PRIMARY KEY CLUSTERED 
(
	[HEAD_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
