USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[X_REPLACEMENTS]    Script Date: 9/21/2017 9:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[X_REPLACEMENTS](
	[string] [nvarchar](100) NULL,
	[replacement] [nvarchar](100) NULL
) ON [PRIMARY]

GO
