USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[AccountSubHeadMst]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AccountSubHeadMst](
	[accountHeadId] [int] NULL,
	[accountSubHeadId] [int] IDENTITY(1,1) NOT NULL,
	[accountSubHeadName] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
 CONSTRAINT [PK_AccountSubHeadMst_accountSubHeadId] PRIMARY KEY CLUSTERED 
(
	[accountSubHeadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[AccountSubHeadMst]  WITH CHECK ADD  CONSTRAINT [FK_AccountHeadMst_AccountSubHeadMst_accountHeadId] FOREIGN KEY([accountHeadId])
REFERENCES [dbo].[AccountHeadMst] ([accountHeadId])
GO
ALTER TABLE [dbo].[AccountSubHeadMst] CHECK CONSTRAINT [FK_AccountHeadMst_AccountSubHeadMst_accountHeadId]
GO
