USE [NoidaMigration]
GO
/****** Object:  StoredProcedure [dbo].[AllotmentMoneyDue]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec [AllotmentMoneyDue] 90100450

--Procedure to return allotment money amount due till date
CREATE PROCEDURE [dbo].[AllotmentMoneyDue] (@Rid int)
AS
BEGIN


DECLARE @schemeId int,
@departmentId int,
@duration int,
@defaultDays int,
@applicationId int,
@penal decimal(5,2),
@allotmentMoneyDueDate date,
@depositeDate date,
@allotmentMoney decimal(21,2),
@amountPaid decimal(21,2),
@earnestMoney decimal(21,2),
@dues decimal(21,2),
@count int,
@OldAllotmentMoneyDate date,
@Aallotmentdate date
SET @duration=3454556
select @Aallotmentdate=allotmentDate from AllotmentMaster where rid=@Rid
SELECT @applicationId=am.applicationId,@schemeId=am.schemeId,@departmentId=am.departmentId,@allotmentMoney=sp.allotmentMoney FROM AllotmentMaster am JOIN SchemePropTrans sp ON (am.propertyId=sp.propertyId) WHERE am.rid=@Rid
SELECT @earnestMoney=ap.amountdeposited FROM ApplicationDetails ad JOIN ApplicationPaymentDetails ap on (ad.applicationId=ap.applicationid) where ad.applicationId=@applicationId
SET @allotmentMoney=@allotmentMoney-@earnestMoney
SELECT @penal=penalInt FROM SchemeDepartmentTrans WHERE SchemeId=@schemeId and departmentId=@departmentId
SELECT @duration=Duration_In_Days FROM Auto_Schedule WHERE Process_Id in (2,12,22,32,42,52) and Trigger_Process_Id in (1,11,21,31,41,51) and Scheme_Id=@schemeId and Department_Id=@departmentId
print @allotmentMoney
if(@duration=3454556)
SET @duration=30
SELECT @allotmentMoneyDueDate=DATEADD(Day,@duration,allotmentDate) from AllotmentMaster WHERE rid=@Rid

SET @OldAllotmentMoneyDate=@allotmentMoneyDueDate

SELECT @count=COUNT(RID_NO) FROM ViewAllotmentMoneyCheck WHERE RID_NO=@Rid

IF (@count>0)
	BEGIN

	If(CAST(GETDATE() as DATE)<=@allotmentMoneyDueDate)
	BEGIN


	SELECT @amountPaid = SUM(Amount_paid) FROM ViewAllotmentMoneyCheck WHERE DEPOSIT_DATE <= CAST(GETDATE() as DATE) and RID_NO=@Rid
	SET @dues= @allotmentMoney-@amountPaid
	


	END

	ELSE
	BEGIN
	
	
	
	SELECT @amountPaid = ISNULL(SUM(Amount_paid),0) FROM ViewAllotmentMoneyCheck WHERE DEPOSIT_DATE <= @allotmentMoneyDueDate and RID_NO=@Rid
	SET @dues= @allotmentMoney-@amountPaid
	
	
	SELECT * INTO #Money FROM ViewAllotmentMoneyCheck WHERE DEPOSIT_DATE>=@allotmentMoneyDueDate AND DEPOSIT_DATE <= CAST(GETDATE() as DATE) AND RID_NO=@Rid ORDER BY DEPOSIT_DATE

	WHILE EXISTS( SELECT * FROM #Money)
	BEGIN
	
	SELECT TOP 1 @amountPaid=isnull(Amount_Paid,0),@depositeDate=DEPOSIT_DATE FROM #Money ORDER BY DEPOSIT_DATE asc
	
	SET @defaultDays=DATEDIFF(day,@allotmentMoneyDueDate,@depositeDate)
	
	SET @dues= @dues + ((((@dues * @penal)/100)/365) * @defaultDays)
	
	SET @dues=@dues-@amountPaid
	
	--SET @dues=@dues-@amountPaid
	--SET @defaultDays=DATEDIFF(day,CAST(GETDATE() as DATE),@allotmentMoneyDueDate)
	--SET @dues= @dues + ((((@dues * @penal)/100)/365) * @defaultDays)

	DELETE FROM #Money WHERE DEPOSIT_DATE=@depositeDate
	SET @allotmentMoneyDueDate=@depositeDate
	END

	DROP TABLE #Money
	SET @defaultDays=DATEDIFF(day,@allotmentMoneyDueDate,CAST(GETDATE() as DATE))
	SET @dues= @dues + ((((@dues * @penal)/100)/365) * @defaultDays)

	END

	END
ELSE
	BEGIN

	If(CAST(GETDATE() as DATE)<@allotmentMoneyDueDate)
		Begin
		SET @dues = @allotmentMoney
		--Print 'Hi'
		END
	Else
		BEGIN
		Print 'Hii'
		Print @allotmentMoney
		SET @defaultDays=DATEDIFF(day,@allotmentMoneyDueDate,CAST(GETDATE() as DATE))
		SET @dues= @allotmentMoney + (((((@allotmentMoney * @penal)/100))/365) * @defaultDays)
		END 
END
print @Aallotmentdate
IF(cast(@Aallotmentdate as date) <= cast('2016-10-30' as date))
begin
SET @dues=0
end
SELECT CAST(isNUll(ROUND(@dues,0),0) as INT)

END

GO
