USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[Merge_Property_Trans]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Merge_Property_Trans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Merge_Rid] [int] NULL,
	[Merge_Property_Id] [int] NULL,
	[Child_Rid] [int] NULL,
	[Child_Property_Id] [int] NULL,
	[Type] [int] NULL,
	[Is_Active] [bit] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [date] NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [date] NULL,
	[Request_Id] [int] NULL,
 CONSTRAINT [PK_Merge_trans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Merge_Property_Trans]  WITH CHECK ADD  CONSTRAINT [FK_Merge_Master_Trans] FOREIGN KEY([Request_Id])
REFERENCES [dbo].[Merge_Property_Master] ([Id])
GO
ALTER TABLE [dbo].[Merge_Property_Trans] CHECK CONSTRAINT [FK_Merge_Master_Trans]
GO
