USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[test3]    Script Date: 9/21/2017 9:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test3](
	[Row#] [bigint] NULL,
	[registrationid] [int] NULL
) ON [PRIMARY]

GO
