USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[Transfer_Type]    Script Date: 9/21/2017 9:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Transfer_Type](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](200) NULL,
	[Parent_Id] [int] NULL,
	[Is_Active] [bit] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [date] NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [date] NULL,
 CONSTRAINT [Pk_TransferType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Transfer_Type]  WITH CHECK ADD  CONSTRAINT [Fk_TransferType] FOREIGN KEY([Id])
REFERENCES [dbo].[Transfer_Type] ([Id])
GO
ALTER TABLE [dbo].[Transfer_Type] CHECK CONSTRAINT [Fk_TransferType]
GO
