USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[PaymentScheduleMaster]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PaymentScheduleMaster](
	[ScheduleId] [int] IDENTITY(1,1) NOT NULL,
	[Rid] [int] NULL,
	[PrincipalAmount] [decimal](18, 2) NULL,
	[NoOfInstallment] [int] NULL,
	[FrequencyOfInstallment] [int] NULL,
	[PeriodOfInstallment] [int] NULL,
	[InstallmentStartDate] [date] NULL,
	[NormalInterest] [decimal](6, 2) NULL,
	[PenalInterest] [decimal](6, 2) NULL,
	[ScheduleType] [varchar](1) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [varchar](15) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [varchar](15) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_PaymentScheduleMaster] PRIMARY KEY CLUSTERED 
(
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PaymentScheduleMaster] ADD  CONSTRAINT [DF_PaymentScheduleMaster_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
