USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[Noting_File_Master]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Noting_File_Master](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rid] [int] NULL,
	[Department_Id] [int] NULL,
	[File_Number] [varchar](50) NULL,
	[Receive_By] [int] NULL,
	[Receive_Date] [date] NULL,
	[Is_Active] [bit] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [date] NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [date] NULL,
 CONSTRAINT [PK_Noting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
