USE [NoidaMigration]
GO
/****** Object:  View [dbo].[Date_View]    Script Date: 9/21/2017 9:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Date_View] as
select a.rid,(b.tFirstName+' '+isnull(b.tMiddleName,'')+' '+ isnull(b.tLastName,'')) as AlloteName,c.actualArea,dbo.MasterName(c.sectorid,12) as Sector,dbo.MasterName(c.blockId,13) as block ,c.propertyno from AllotmentMaster a ,ApplicationDetails b,SchemePropTrans c
where a.rid=b.registrationid and a.propertyid=c.propertyid and a.departmentid=4 and c.actualArea>=1000 
GO
