USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[AllotmentMaster_temp]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AllotmentMaster_temp](
	[rid] [int] IDENTITY(1,1) NOT NULL,
	[applicationId] [int] NULL,
	[schemeId] [int] NULL,
	[departmentId] [int] NULL,
	[formNo] [varchar](10) NULL,
	[propertyId] [int] NOT NULL,
	[allotmentDate] [date] NULL,
	[instalmentStartDate] [date] NULL,
	[isSubmitted] [varchar](1) NULL,
	[isStatus] [varchar](15) NULL,
	[submitDate] [datetime] NULL,
	[approverBy] [varchar](15) NULL,
	[approveDate] [date] NULL,
	[isActive] [int] NULL,
	[comment] [varchar](500) NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
	[submittedBy] [int] NULL,
	[RComment] [varchar](500) NULL,
	[RCommentDate] [datetime] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
