USE [NoidaMigration]
GO
/****** Object:  View [dbo].[View_2]    Script Date: 9/21/2017 9:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_2]
AS
SELECT        dbo.ApplicationDetails.schemeId, dbo.SchemeMst.schemeName, dbo.ApplicationDetails.departmentId, dbo.DepartmentMst.departmentName, dbo.ApplicationDetails.formNo, dbo.ApplicationDetails.tFirstName, 
                         dbo.ApplicationDetails.tMiddleName, dbo.ApplicationDetails.tLastName, dbo.ApplicationDetails.tGender, dbo.ApplicationDetails.tFatherHusbandName, dbo.ApplicationDetails.tSigningAuthority, 
                         dbo.ApplicationDetails.tCorrespondanceAdd, dbo.ApplicationDetails.tMobileNumber, dbo.ApplicationDetails.T_Company_Name, dbo.AllotmentMaster.allotmentDate, dbo.SectorMst.sectorName, dbo.BlockMst.blockName, 
                         dbo.AllotmentMaster.rid, dbo.SchemePropTrans.propertyId, dbo.SchemePropTrans.propertyNo, dbo.SchemePropTrans.landRatePerSqmt, dbo.SchemePropTrans.totalArea, dbo.SchemePropTrans.totalPropertyCost
FROM            dbo.ApplicationDetails INNER JOIN
                         dbo.AllotmentMaster ON dbo.ApplicationDetails.applicationId = dbo.AllotmentMaster.applicationId INNER JOIN
                         dbo.SchemePropTrans ON dbo.AllotmentMaster.propertyId = dbo.SchemePropTrans.propertyId INNER JOIN
                         dbo.SectorMst ON dbo.SchemePropTrans.sectorId = dbo.SectorMst.sectorId INNER JOIN
                         dbo.BlockMst ON dbo.SchemePropTrans.blockId = dbo.BlockMst.blockId INNER JOIN
                         dbo.SchemeMst ON dbo.ApplicationDetails.schemeId = dbo.SchemeMst.schemeId AND dbo.SchemePropTrans.schemeId = dbo.SchemeMst.schemeId INNER JOIN
                         dbo.DepartmentMst ON dbo.ApplicationDetails.departmentId = dbo.DepartmentMst.departmentId AND dbo.SchemePropTrans.departmentId = dbo.DepartmentMst.departmentId

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[5] 4[5] 2[35] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ApplicationDetails"
            Begin Extent = 
               Top = 16
               Left = 8
               Bottom = 146
               Right = 214
            End
            DisplayFlags = 280
            TopColumn = 54
         End
         Begin Table = "AllotmentMaster"
            Begin Extent = 
               Top = 29
               Left = 244
               Bottom = 159
               Right = 437
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SchemePropTrans"
            Begin Extent = 
               Top = 164
               Left = 74
               Bottom = 346
               Right = 307
            End
            DisplayFlags = 280
            TopColumn = 18
         End
         Begin Table = "SectorMst"
            Begin Extent = 
               Top = 5
               Left = 595
               Bottom = 135
               Right = 765
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "BlockMst"
            Begin Extent = 
               Top = 138
               Left = 547
               Bottom = 268
               Right = 717
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SchemeMst"
            Begin Extent = 
               Top = 69
               Left = 441
               Bottom = 199
               Right = 611
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "DepartmentMst"
            Begin Extent = 
               Top = 270
               Left = 486
               Bottom = 400
               Right = 669
           ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N' End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_2'
GO
