USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[Report_Template_temp]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Report_Template_temp](
	[HtmlOutput] [varchar](max) NULL,
	[templateId] [int] NULL,
	[departmentId] [int] NULL,
	[userID] [varchar](4) NOT NULL,
	[PrintDate] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
