USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[temp]    Script Date: 9/21/2017 9:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[temp](
	[PRDVREGISTRATION_ID] [nvarchar](255) NOT NULL,
	[PLDIPROPERTY_ID] [int] NULL
) ON [PRIMARY]

GO
