USE [NoidaMigration]
GO
/****** Object:  View [dbo].[data_test]    Script Date: 9/21/2017 9:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[data_test] as
select a.rid,a.functionaldate,b.departmentid,b.propertyId from FunctionalDetails a ,AllotmentMaster b where a.rid=b.rid and b.departmentid=4 and a.isactive=1 and b.isActive=1
GO
