USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[CircleRateMst]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CircleRateMst](
	[sectorId] [int] NULL,
	[blockId] [int] NULL,
	[departmentId] [int] NULL,
	[propertyTypeId] [int] NULL,
	[refId] [int] IDENTITY(1,1) NOT NULL,
	[circleRate] [decimal](12, 2) NULL,
	[unit] [varchar](3) NULL,
	[effectiveFrom] [datetime] NULL,
	[effectiveTo] [datetime] NULL,
	[IsActive] [bit] NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
 CONSTRAINT [PK_CircleRateMst_refID] PRIMARY KEY CLUSTERED 
(
	[refId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CircleRateMst]  WITH CHECK ADD  CONSTRAINT [FK_BlockMst_CircleRateMst_blockId] FOREIGN KEY([blockId])
REFERENCES [dbo].[BlockMst] ([blockId])
GO
ALTER TABLE [dbo].[CircleRateMst] CHECK CONSTRAINT [FK_BlockMst_CircleRateMst_blockId]
GO
ALTER TABLE [dbo].[CircleRateMst]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentMst_CircleRateMst_departmentId] FOREIGN KEY([departmentId])
REFERENCES [dbo].[DepartmentMst] ([departmentId])
GO
ALTER TABLE [dbo].[CircleRateMst] CHECK CONSTRAINT [FK_DepartmentMst_CircleRateMst_departmentId]
GO
ALTER TABLE [dbo].[CircleRateMst]  WITH CHECK ADD CHECK  (([unit]='P' OR [unit]='INR'))
GO
