USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[Director_Request_Master]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Director_Request_Master](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rid] [int] NULL,
	[Request_Date] [date] NULL,
	[Approved_date] [date] NULL,
	[Approved_By] [int] NULL,
	[Status] [int] NULL,
	[Director_Id] [varchar](200) NULL,
	[Is_Active] [int] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [date] NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [date] NULL,
	[CIC_Charge] [decimal](16, 2) NULL,
	[Change_Type] [int] NULL,
	[Comment] [varchar](100) NULL,
	[RComment] [varchar](500) NULL,
	[RCommentDate] [datetime] NULL,
	[OnlineRequestNo] [int] NULL,
 CONSTRAINT [PK_Request_Master_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
