USE [NoidaMigration]
GO
/****** Object:  UserDefinedFunction [dbo].[FuncDate_Find]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FuncDate_Find] (@ID int, @VAL int)
RETURNS varchar(150)
BEGIN
  DECLARE @NAME varchar(250);
   IF (@VAL = 1) --- Lease Deed Date
  BEGIN
   select  @NAME=replace(convert (varchar(12),case when count(*)>0 then (select top 1 RegistryDoneDate from RegistryDetails where rid=@ID order by requestno desc) else cast('01-Jan-1900' as date) end,106),' ','-') from RegistryDetails where rid=@ID
  END
 
  IF (@VAL = 2) -----Possession Order Date
  BEGIN
   select  @NAME=replace(convert (varchar(12),case when count(*)>0 then (select top 1 PossessionOrderDate from PossessionDetails where rid=@ID order by id desc) else cast('01-Jan-1900' as date) end,106),' ','-') from PossessionDetails where rid=@ID
  END
  IF (@VAL = 3) --- Possession Date
  BEGIN
   select  @NAME=replace(convert (varchar(12),case when count(*)>0 then (select top 1 PossessionDate from PossessionDetails where rid=@ID order by id desc) else cast('01-Jan-1900' as date) end,106),' ','-') from PossessionDetails where rid=@ID
  END
  IF (@VAL = 4) --function Date
  BEGIN
  -- select  convert (varchar(8),case when count(*)>0 then (select top 1 FunctionalDate from FunctionalDetails where rid=@ID order by requestno desc) else cast('01-Jan-1900' as date) end,106) from FunctionalDetails where rid=@ID
    select  @NAME=replace(convert (varchar(12),case when count(*)>0 then (select top 1 FunctionalDate from FunctionalDetails where rid=@ID and statusid=1 order by requestno desc) else cast('01-Jan-1900' as date) end,106),' ','-') from FunctionalDetails where rid=@ID
  END
  IF (@VAL = 5) -----Transfer Date
  BEGIN
    select @NAME= replace(convert (varchar(12),case when count(*)>0 then (select top 1 Transfer_Date from Succ_Mut_Trans where rid=@ID and status=1 and type='T' order by Request_No desc) else cast('01-Jan-1900' as date) end,106),' ','-') from Succ_Mut_Trans where rid=@ID
  END
  IF (@VAL = 6) --Mutation Date
  BEGIN
    select @NAME= replace(convert (varchar(12),case when count(*)>0 then (select top 1 Mutation_Date from Succ_Mut_Trans where rid=@ID and status=1 and type='M' order by Request_No desc) else cast('01-Jan-1900' as date) end,106),' ','-') from Succ_Mut_Trans where rid=@ID
  END
  IF (@VAL = 7) -- Mortgage Date
  BEGIN
  select  @NAME=replace(convert (varchar(12),case when count(*)>0 then (select top 1 MortgageDate from MortgageDetails where rid=@ID and statusid=1 order by RequestNo desc) else cast('01-Jan-1900' as date) end,106),' ','-') from MortgageDetails where rid=@ID
  END
  IF (@VAL = 8)-- BankName and Branch
  BEGIN
  select  @NAME=case when count(*)>0 then (select top 1 BankName +' '+BranchAddress from MortgageDetails where rid=@ID and statusid=1 order by RequestNo desc) else ' ' end from MortgageDetails where rid=@ID
  END
  IF (@VAL = 9) ---Renting Date
  BEGIN
     select  @NAME=replace(convert (varchar(12),case when count(*)>0 then (select top 1 RentingDate from RentPermissionDetails where rid=@ID and statusid=1 and isactive=1 order by RequestNo desc) else cast('01-Jan-1900' as date) end,106),' ','-') from RentPermissionDetails where rid=@ID
  END
  IF (@VAL = 10)--TenantName
  BEGIN
   	  select @NAME= case when count(*)>0 then (select top 1 TenantName from RentPermissionDetails where rid=@ID and statusid=1 and isactive=1 order by RequestNo desc) else ' ' end from RentPermissionDetails where rid=@ID
  END
  IF (@VAL = 11)---TenantProject
  BEGIN
     select @NAME= case when count(*)>0 then (select top 1 TenantProject from RentPermissionDetails where rid=@ID and statusid=1 and isactive=1 order by RequestNo desc) else ' ' end from RentPermissionDetails where rid=@ID
  END
  IF (@VAL = 12) --Extension_Given_Date
  BEGIN
   select  @NAME=replace(convert (varchar(12),case when count(*)>0 then (select top 1 Extension_Given_Date from Extension_Details where rid=@ID and status=1 and is_active=1 order by id desc) else cast('01-Jan-1900' as date) end,106),' ','-') from Extension_Details where rid=@ID
  END
  IF (@VAL = 13)---- PRDDHIRE_AGREEMENT_DATE
  BEGIN
    select  @NAME=isnull(replace(convert (varchar(12),case when count(*)>0 then (select top 1 PRDDHIRE_AGREEMENT_DATE from PRE_PROP_HIRE_PURCHASE where PRDVREGISTRATION_ID=@ID and PRDDOLD_EXPIRY_DATE>=getdate()) else cast('01-Jan-1900' as date) end,106),' ','-'),'') from PRE_PROP_HIRE_PURCHASE where PRDVREGISTRATION_ID=@ID
  END
  IF (@VAL = 14)--PRDDOLD_EXPIRY_DATE
  BEGIN
    select  @NAME=isnull(replace(convert (varchar(12),case when count(*)>0 then (select top 1 PRDDOLD_EXPIRY_DATE from PRE_PROP_HIRE_PURCHASE where PRDVREGISTRATION_ID=@ID and PRDDOLD_EXPIRY_DATE>=getdate()) else cast('01-Jan-1900' as date) end,106),' ','-'),'') from PRE_PROP_HIRE_PURCHASE where PRDVREGISTRATION_ID=@ID
  END
  IF (@VAL = 15) -- FullPrimamPaid and OTL
  BEGIN
    select @NAME= isnull(replace(convert (varchar(12),case when count(*)>0 then (select top 1 NDCDate from PRE_FULL_PAYMENT_NDC where RegistrationId=@ID and TotalPaidPream='Y' and OneTimeLease='Y') else cast('01-Jan-1900' as date) end,106),' ','-'),'01-Jan-1900') from PRE_FULL_PAYMENT_NDC where RegistrationId=@ID
  END
  IF (@VAL = 16)-- Project name
  BEGIN
    						 select @NAME= case when count(*)>0 then (select top 1 New_Product_Name from Product_Master where rid=@ID and is_active=1 order by id desc) else ' ' end from Product_Master where rid=@ID
  END
  IF (@VAL = 17)-- FOR APPLICATION NAME
  BEGIN
    SELECT @NAME = [APPLICATIONNAME] FROM [DBO].[UMAPPLICATIONMASTER]
    WHERE [APPLICATIONID] = @ID
  END
  IF (@VAL = 18)-- FOR MEDIA
  BEGIN
    SELECT @NAME = [MEDIATYPE] FROM [DBO].[MEDIATYPEMST]
    WHERE [MEDIATYPEID] = @ID
  END
  IF (@VAL = 19)-- FOR MEDIASUBTYPEMST
  BEGIN
    SELECT @NAME = [MEDIASUBTYPE] FROM [DBO].[MEDIASUBTYPEMST]
    WHERE [MEDIASUBTYPEID] = @ID
  END
  IF (@VAL = 20)-- FOR MEDIASUBTYPEMST
  BEGIN
    SELECT @NAME = [RECIEPT_HEAD_NAME] FROM [DBO].[RECIEPT_HEAD]
    WHERE [RECIEPT_CODE] = @ID
  END
  IF (@VAL = 21)-- FOR MEDIASUBTYPEMST
  BEGIN
    SELECT @NAME = [RECEIPT_SUB_HEAD] FROM [DBO].[RECEIPT_SUB_HEAD]
    WHERE [RECEIPT_SUBHEAD_ID] = @ID
  END

  IF (@VAL = 22)--FOR PROPERTY NO FIND RID
  BEGIN

    SELECT @NAME = CAST(SECTORID AS varchar(10)) + '/' + CAST(BLOCKID AS varchar(20)) + '-' + CAST(PROPERTYNO AS varchar(20)) FROM [DBO].[SCHEMEPROPTRANS]
    WHERE [PROPERTYID] IN (SELECT
      PROPERTYID
    FROM [DBO].[ALLOTMENTMASTER]
    WHERE RID = @ID AND ISACTIVE=1)
  END
  IF (@VAL = 23)--DEPARTMENT NAME
  BEGIN
    SELECT @NAME = [DEPARTMENTNAME] FROM [DBO].[DEPARTMENTMST]
    WHERE [DEPARTMENTID] IN (SELECT
      DEPARTMENTID
    FROM [DBO].[ALLOTMENTMASTER]
    WHERE RID = @ID)
  END
  IF (@VAL = 24)--OFFICERNAME
  BEGIN
    SELECT @NAME = [OFFICERDETAILS] FROM [DBO].[SIGNINGOFFICERMASTER]
    WHERE [DEPARTMENTID] IN (SELECT
      DEPARTMENTID
    FROM [DBO].[ALLOTMENTMASTER]
    WHERE RID = @ID)
    AND GETDATE() BETWEEN EFFICATTO AND ISNULL(EFFICATFROM, GETDATE() + 1)
  END
  IF (@VAL = 25)--APPLICANTNAME
  BEGIN
      SELECT @NAME =  CASE WHEN GENDER='COMPANY' THEN ISNULL([TFIRSTNAME],'') ELSE ISNULL([TFIRSTNAME],'') + ' ' + ISNULL([TLASTNAME],'') END FROM [DBO].[APPLICATIONDETAILS]
    WHERE [APPLICATIONID] IN (SELECT
      [APPLICATIONID]
    FROM [ALLOTMENTMASTER]
    WHERE RID = @ID AND ISACTIVE=1)
  END
  IF (@VAL = 26)--APPLICANT ADDRESS
  BEGIN
      SELECT @NAME =  CASE WHEN GENDER='COMPANY' THEN TREGISTEREDOFFICE ELSE TCORRESPONDANCEADD  END FROM [DBO].[APPLICATIONDETAILS]
    WHERE [APPLICATIONID] IN (SELECT
      [APPLICATIONID]
    FROM [ALLOTMENTMASTER]
    WHERE RID = @ID AND ISACTIVE=1)
  END
  IF (@VAL = 27)--TITLE
  BEGIN
    SELECT @NAME =
                  CASE
                    WHEN TGENDER = 'MALE' THEN 'SHRI/MR.'
                    WHEN TGENDER = 'FEMALE' THEN 'SMT./MRS.'
                    ELSE 'COMPANY NAME'
                  END FROM [DBO].[APPLICATIONDETAILS]
    WHERE [APPLICATIONID] IN (SELECT
      [APPLICATIONID]
    FROM [ALLOTMENTMASTER]
    WHERE RID = @ID)
  END

  IF (@VAL = 28) --@@LEASEDEEDDATE@ 
  BEGIN
    SELECT @NAME = CONVERT(varchar(11), REGISTRYDONEDATE, 106) FROM [REGISTRYDETAILS]
    WHERE RID = @ID
  END
  IF (@VAL = 29)
  BEGIN
    SET @NAME = 'REGISTRAR SECTOR-32 NOIDA'
  END
   IF (@VAL = 30)
  BEGIN
     SELECT @NAME = BANKNAME FROM   MORTGAGEDETAILS     WHERE RID = @ID and IsActive=1
  END
   IF (@VAL = 31)
  BEGIN
     SELECT @NAME = BRANCHADDRESS FROM   MORTGAGEDETAILS     WHERE RID = @ID and IsActive=1
  END
   IF (@VAL = 32)--Mortgagedate-
  BEGIN
     SELECT @NAME = CONVERT(varchar(11), MORTGAGEDATE, 106) FROM   MORTGAGEDETAILS     WHERE RID = @ID and IsActive=1
  END
  IF(@VAL=33) ---Allotment Date 
  BEGIN
  SELECT @NAME=CONVERT(VARCHAR(11), ALLOTMENTDATE, 106) FROM ALLOTMENTMASTER
	WHERE RID = @ID AND ISACTIVE=1
  END
  IF (@VAL=34) --- TOTAL AREA
  BEGIN
	SELECT @NAME=
	SP.TOTALAREA
	FROM ALLOTMENTMASTER AM JOIN SCHEMEPROPTRANS SP 
	ON (AM.PROPERTYID=SP.PROPERTYID)
	WHERE AM.RID=@ID
  END
	IF (@VAL=35)-- land ratepersqmt
	BEGIN
		SELECT @NAME=
		ISNULL(SP.LANDRATEPERSQMT,0)
		FROM ALLOTMENTMASTER AM JOIN SCHEMEPROPTRANS SP 
		ON (AM.PROPERTYID=SP.PROPERTYID)
		WHERE AM.RID=@ID
	END
		IF (@VAL=36)-- Total Balance Amount 
	BEGIN
		SELECT @NAME=
		ISNULL(SP.TOTALPROPERTYCOST,0)-ISNULL(SP.ALLOTMENTMONEY,0)
		FROM ALLOTMENTMASTER AM JOIN SCHEMEPROPTRANS SP 
		ON (AM.PROPERTYID=SP.PROPERTYID)
		WHERE AM.RID=@ID
	END
	IF (@VAL=37)-- Total Property cost
	BEGIN
		SELECT @NAME=
		isnull(sp.TotalPropertyCost,0)
		FROM AllotmentMaster am JOIN SchemePropTrans sp 
		ON (am.propertyId=sp.propertyId)
		WHERE am.rid=@ID
	END
	IF (@VAL=38)-- Allotment Money
	BEGIN
		SELECT @NAME=
		ISNULL(SP.ALLOTMENTMONEY,0)
		FROM ALLOTMENTMASTER AM JOIN SCHEMEPROPTRANS SP
		ON (AM.PROPERTYID=SP.PROPERTYID)
		WHERE AM.RID=@ID
	END
	
		IF (@VAL=39)-- Earnest Money
	BEGIN
		SELECT @NAME=
		ISNULL(AD.AMOUNTDEPOSITED,0)
		FROM ALLOTMENTMASTER AM JOIN APPLICATIONPAYMENTDETAILS AD 
		ON (AM.APPLICATIONID=AD.APPLICATIONID)
		WHERE AM.RID=@ID
	END
		IF (@VAL=40)-- Installment No
	BEGIN
		SELECT @NAME=
		SD.NOOFINSTALLMENTS
		FROM ALLOTMENTMASTER AM JOIN SCHEMEDEPARTMENTTRANS SD
		ON (AM.SCHEMEID=SD.SCHEMEID AND AM.DEPARTMENTID=SD.DEPARTMENTID)
		WHERE AM.RID=@ID
	END

	IF (@VAL=41)-- Normal Intrest
		BEGIN
		SELECT @NAME=
		sd.normalInt
		FROM AllotmentMaster am JOIN SchemeDepartmentTrans sd
		ON (am.SchemeId=sd.schemeId and am.departmentId=sd.departmentId)
		WHERE am.rid=@ID
	END
	IF (@VAL=42)-- Penal Interset
	BEGIN
		SELECT @NAME=
		sd.penalInt
		FROM AllotmentMaster am JOIN SchemeDepartmentTrans sd
		ON (am.SchemeId=sd.schemeId and am.departmentId=sd.departmentId)
		WHERE am.rid=@ID
	END
	IF (@VAL=43) --SECTOR NAme
	BEGIN
		SELECT @NAME=
		DBO.MASTERNAME(SECTORID,12)
		FROM ALLOTMENTMASTER AM JOIN SCHEMEPROPTRANS SP
		ON (AM.PROPERTYID=SP.PROPERTYID)
		WHERE AM.RID=@ID
	END
	IF (@VAL=44) --BLOCK Name
 begin
 SELECT @NAME=
		DBO.MASTERNAME(blockId,13)
		FROM ALLOTMENTMASTER AM JOIN SCHEMEPROPTRANS SP
		ON (AM.PROPERTYID=SP.PROPERTYID)
		WHERE AM.RID=@ID
	END
	IF (@VAL=45) --PLOTNO
	BEGIN
		SELECT @NAME=
		PROPERTYNO
		FROM ALLOTMENTMASTER AM JOIN SCHEMEPROPTRANS SP
		ON (AM.PROPERTYID=SP.PROPERTYID)
		WHERE AM.RID=@ID
	END
	IF (@VAL=46) --Property type
	BEGIN
		SELECT @NAME=
		PROPERTYNO
		FROM ALLOTMENTMASTER AM JOIN SCHEMEPROPTRANS SP
		ON (AM.PROPERTYID=SP.PROPERTYID)
		WHERE AM.RID=@ID
	END
	IF (@VAL=47) --Property type
	BEGIN
		SELECT @NAME=
		DBO.MASTERNAME(SP.PROPERTYTYPEID,7)
		FROM ALLOTMENTMASTER AM JOIN SCHEMEPROPTRANS SP
		ON (AM.PROPERTYID=SP.PROPERTYID)
		WHERE AM.RID=@ID
	END
	IF (@VAL=48) --Registry type
	BEGIN
		SELECT @NAME=
		SP.REGISTRY
		FROM ALLOTMENTMASTER AM JOIN SCHEMEPROPTRANS SP
		ON (AM.PROPERTYID=SP.PROPERTYID)
		WHERE AM.RID=@ID
	END
	IF (@VAL=49) --Location Charge
	BEGIN
		SELECT @NAME=
		CASE WHEN COUNT(*)=0 THEN 0 ELSE (SELECT ISNULL(SPL.CHARGES,0) FROM ALLOTMENTMASTER AM JOIN SCHEMEPROPTRANS SP  
		ON (AM.PROPERTYID=SP.PROPERTYID) JOIN PROPERTYLOCATIONCHARGESTRANS SPL
		ON(SP.REFID=SPL.PROPERTYID)
		WHERE AM.RID=@ID) END
		FROM ALLOTMENTMASTER AM JOIN SCHEMEPROPTRANS SP  
		ON (AM.PROPERTYID=SP.PROPERTYID) JOIN PROPERTYLOCATIONCHARGESTRANS SPL
		ON(SP.REFID=SPL.PROPERTYID)
		WHERE AM.RID=@ID
	END
	IF (@VAL=50) --Total Allotment Rate Charge
	BEGIN
		SELECT @NAME=
		ISNULL(SP.LANDRATEPERSQMT,0)+(CASE WHEN (SELECT COUNT(*) FROM ALLOTMENTMASTER AM JOIN SCHEMEPROPTRANS SP  
		ON (AM.PROPERTYID=SP.PROPERTYID) JOIN PROPERTYLOCATIONCHARGESTRANS SPL
		ON(SP.REFID=SPL.PROPERTYID)
		WHERE AM.RID=@ID)=0 THEN 0 ELSE (SELECT ISNULL(SPL.CHARGES,0) FROM ALLOTMENTMASTER AM JOIN SCHEMEPROPTRANS SP  
		ON (AM.PROPERTYID=SP.PROPERTYID) JOIN PROPERTYLOCATIONCHARGESTRANS SPL
		ON(SP.REFID=SPL.PROPERTYID)
		WHERE AM.RID=@ID) END) 
		FROM ALLOTMENTMASTER AM JOIN SCHEMEPROPTRANS SP 
		ON (AM.PROPERTYID=SP.PROPERTYID)
		WHERE AM.RID=@ID
	END
	IF (@VAL=51) --Instolment money
	BEGIN
		SELECT @NAME=
	isnull(sp.TotalPropertyCost,0)-isnull(sp.AllotmentMoney,0)
	FROM AllotmentMaster am JOIN SchemePropTrans sp 
	ON (am.propertyId=sp.propertyId)
	WHERE am.rid=@id
	END

	IF (@VAL=52) --Service Request Name
	BEGIN
		SELECT @NAME= 
		ServiceName FROM CitizenService_Master WHERE Id=@id
	END

	IF (@VAL=53) --Status Name Name
	BEGIN
		SELECT @NAME= 
		status FROM statusMaster WHERE Id=@id
	END

	IF (@VAL=54) -- Firm Status 
	BEGIN
		SELECT @NAME= 
		Name FROM Common_Config WHERE Id=@id and Category='Firm Status'
	END
	
	IF (@VAL=55) -- Request Date 
	BEGIN
		SELECT @NAME= 
		replace(convert(NVARCHAR,Created_Date,106),' ','-') FROM View_Service_report WHERE requestNo=@id
	END

	IF (@VAL=56)
	BEGIN
	SELECT @NAME=Name FROM Common_Config WHERE Id=@id and Category='Director'
	END

	IF (@VAL=57)
	BEGIN
	
select @NAME=firstname+' '+isnull(middlename,'')+' '+isnull(lastname,'') from UmUserMaster where userrefid=@id
	
	END
	IF (@VAL=58)
	BEGIN
	
select @NAME=SubdepartmentName from SubDepartmentMst where SubdepartmentId=@id
	
	END
	--IF (@VAL=58)
	--BEGIN
	
	--	select @NAME=departmentid from AllotmentMasters where rid=@id
	
	--END
  RETURN @NAME
END;


GO
