USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[RECEIPT_SUB_HEAD]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RECEIPT_SUB_HEAD](
	[RECEIPT_SUBHEAD_ID] [int] NOT NULL,
	[RECEIPT_SUB_HEAD] [varchar](50) NULL,
	[RECEIPT_CODE] [int] NULL,
	[STATUS] [int] NULL,
	[USERID] [varchar](22) NULL,
	[ENTRY_DATE] [datetime] NULL,
 CONSTRAINT [PK_RECEIPT_SUB_HEAD_RECEIPT_SUBHEAD_ID] PRIMARY KEY CLUSTERED 
(
	[RECEIPT_SUBHEAD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[RECEIPT_SUB_HEAD]  WITH CHECK ADD  CONSTRAINT [FK_RECIEPT_HEAD_RECEIPT_SUB_HEAD_RECEIPT_CODE] FOREIGN KEY([RECEIPT_CODE])
REFERENCES [dbo].[RECIEPT_HEAD] ([RECIEPT_CODE])
GO
ALTER TABLE [dbo].[RECEIPT_SUB_HEAD] CHECK CONSTRAINT [FK_RECIEPT_HEAD_RECEIPT_SUB_HEAD_RECEIPT_CODE]
GO
