USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[PaymentScheduleTrans]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PaymentScheduleTrans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleId] [int] NULL,
	[Rid] [int] NULL,
	[InstallmentNumber] [int] NULL,
	[PrincipalInstallmentAmount] [decimal](15, 2) NULL,
	[InterestInstallmentAmount] [decimal](15, 2) NULL,
	[InstallmentDueDate] [date] NULL,
	[ScheduleType] [varchar](1) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [varchar](15) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [varchar](15) NULL,
	[ModifiedDate] [datetime] NULL,
	[DepositeFlag] [bit] NULL,
	[PrincipalBalAmount] [decimal](18, 2) NULL,
 CONSTRAINT [PK_PaymentScheduleTrans_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PaymentScheduleTrans] ADD  CONSTRAINT [DF_PaymentScheduleTrans_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PaymentScheduleTrans]  WITH NOCHECK ADD  CONSTRAINT [FK_PaymentScheduleMaster_PaymentScheduleTrans_ScheduleId] FOREIGN KEY([ScheduleId])
REFERENCES [dbo].[PaymentScheduleMaster] ([ScheduleId])
GO
ALTER TABLE [dbo].[PaymentScheduleTrans] CHECK CONSTRAINT [FK_PaymentScheduleMaster_PaymentScheduleTrans_ScheduleId]
GO
