USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[Product_Master]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product_Master](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Rid] [int] NULL,
	[Old_Product_Name] [varchar](500) NULL,
	[New_Product_Name] [varchar](500) NULL,
	[Request_Date] [datetime] NULL,
	[Approved_Date] [datetime] NULL,
	[Approved_By] [int] NULL,
	[Application_Id] [int] NULL,
	[Charges] [decimal](12, 2) NULL,
	[Comment] [varchar](500) NULL,
	[status] [int] NULL,
	[Is_Active] [int] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [datetime] NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [int] NULL,
	[OnlineRequestNo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
