USE [NoidaMigration]
GO
/****** Object:  StoredProcedure [dbo].[SpAllotteeList]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SpAllotteeList] 

@schemeId int, @departmentId int, @allotmentdate date

AS

BEGIN

declare @sid int

declare @did int
declare @applicationId int


--SELECT  @sid=schemeId,@did=departmentId FROM AlloteeListMaster WHERE schemeId=@schemeId and departmentId = @departmentID

SELECT DISTINCT @sid=schemeId,@did=departmentId FROM AllotmentMaster WHERE schemeId=@schemeId and departmentId = @departmentID 
and allotmentDate =@allotmentdate

	if(@did=5)

	begin

	SELECT 

	am.rid,

	am.formNo,
	am.propertyId,

	dbo.MasterName(am.departmentId,5) as Department,

	isnull(ad.firstName,'') +' '+isnull(ad.middleName,'')+' '+ isnull(ad.lastName,'') as applicantName,

	[dbo].[MasterName](sp.sectorId,12)+'/'+[dbo].[MasterName](sp.blockId,13)+'-'+sp.propertyNo as PropertyNumber,

	dbo.MasterName(sp.propertyTypeId,7)as PropertyType,

	ISNULL(sc.allotmentMoney, 0.00) AS allotmentMoney ,

	ap.amountDeposited as EarnestMoney,

	am.allotmentDate,sp.totalArea,
	am.applicationId,
	sp.refId

	FROM  ApplicationDetails ad JOIN AllotmentMaster am on (am.applicationId= ad.applicationId)

	JOIN schemePropTrans sp on (am.propertyId=sp.propertyId)

	JOIN ApplicationPaymentDetails ap on (ad.applicationId=ap.applicationId)

	JOIN SchemeCostTrans sc on (sp.schemeId=sc.schemeId AND sp.departmentId=sc.departmentId AND sp.propertyTypeId=sc.propertyTypeId AND sp.sectorId=sc.sectorId AND sp.blockId= sc.blockId AND sp.floorId=sc.floorId)

	WHERE sp.schemeId=@sid AND sp.departmentId=@did
	 AND am.allotmentDate =@allotmentdate 

	end

	

	else

	begin

	SELECT 

	am.rid,

	am.formNo,

	am.propertyId,

	dbo.MasterName(am.departmentId,5) as Department,

	(case when ad.gender='company' then
ad.firstName+isnull(ad.lastName,'')  else isnull(ad.firstName,'') +' '+isnull(ad.middleName,'')+' '+ isnull(ad.lastName,'') end)  as applicantName,

	[dbo].[MasterName](sp.sectorId,12)+'/'+[dbo].[MasterName](sp.blockId,13)+'-'+sp.propertyNo as PropertyNumber,

	dbo.MasterName(propertyTypeId,7)as PropertyType,
		ISNULL(CONVERT(DECIMAL(30,2),((sp.totalPropertyCost * sd.allotmentMoneyPercent)/100)), 0.00) AS AllotmentMoney ,

	--CONVERT(DECIMAL(16,2),((sp.totalPropertyCost * sd.allotmentMoneyPercent)/100)) as AllotmentMoney,

	sd.allotmentMoneyPercent,

	sp.totalPropertyCost,

	ap.amountDeposited as EarnestMoney,

	am.allotmentDate,sp.totalArea,
	am.applicationId,
	sp.refId
	FROM  ApplicationDetails ad JOIN AllotmentMaster am on (am.applicationId= ad.applicationId)

	JOIN schemePropTrans sp on (am.propertyId=sp.propertyId)

	JOIN ApplicationPaymentDetails ap on (ad.applicationId=ap.applicationId)

	JOIN SchemeDepartmentTrans sd on (sp.schemeId=sd.schemeId AND sp.departmentId=sd.departmentId)

	WHERE sp.schemeId=@sid AND sp.departmentId=@did
	AND am.allotmentDate =@allotmentdate and  sd.IsActive=1

	end

	

END

GO
