USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[RECEIPT_AMOUNT_TRANS]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RECEIPT_AMOUNT_TRANS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RECEIPT_ID] [bigint] NULL,
	[DEPT_CODE] [int] NULL,
	[RECEIPT_HEAD_ID] [int] NULL,
	[RECEIPT_SUBHEAD_ID] [int] NULL,
	[CHALLAN_ID] [varchar](20) NULL,
	[DEPOSIT_DATE] [datetime] NULL,
	[AMOUNT_PAID] [decimal](22, 2) NULL,
	[STATUS] [int] NULL,
	[USERID] [varchar](22) NULL,
	[ENTRY_DATE] [datetime] NULL,
 CONSTRAINT [PK_RECEIPT_AMOUNT_TRANS_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[RECEIPT_AMOUNT_TRANS]  WITH CHECK ADD  CONSTRAINT [FK_RECEIPT_DETAILS_MASTER_RECEIPT_AMOUNT_TRANS_RECEIPT_ID] FOREIGN KEY([RECEIPT_ID])
REFERENCES [dbo].[RECEIPT_DETAIL_MASTER] ([RECEIPT_ID])
GO
ALTER TABLE [dbo].[RECEIPT_AMOUNT_TRANS] CHECK CONSTRAINT [FK_RECEIPT_DETAILS_MASTER_RECEIPT_AMOUNT_TRANS_RECEIPT_ID]
GO
ALTER TABLE [dbo].[RECEIPT_AMOUNT_TRANS]  WITH CHECK ADD  CONSTRAINT [FK_RECIEPT_HEAD_RECEIPT_AMOUNT_TRANS_RECIEPT_HEAD_ID] FOREIGN KEY([RECEIPT_HEAD_ID])
REFERENCES [dbo].[RECIEPT_HEAD] ([RECIEPT_CODE])
GO
ALTER TABLE [dbo].[RECEIPT_AMOUNT_TRANS] CHECK CONSTRAINT [FK_RECIEPT_HEAD_RECEIPT_AMOUNT_TRANS_RECIEPT_HEAD_ID]
GO
ALTER TABLE [dbo].[RECEIPT_AMOUNT_TRANS]  WITH CHECK ADD  CONSTRAINT [FK_RECIEPT_SUB_HEAD_RECEIPT_AMOUNT_TRANS_RECEIPT_SUBHEAD_ID] FOREIGN KEY([RECEIPT_SUBHEAD_ID])
REFERENCES [dbo].[RECEIPT_SUB_HEAD] ([RECEIPT_SUBHEAD_ID])
GO
ALTER TABLE [dbo].[RECEIPT_AMOUNT_TRANS] CHECK CONSTRAINT [FK_RECIEPT_SUB_HEAD_RECEIPT_AMOUNT_TRANS_RECEIPT_SUBHEAD_ID]
GO
