USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[PropertyLocationChargesTrans]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PropertyLocationChargesTrans](
	[propertyId] [int] NULL,
	[locationId] [int] NULL,
	[refId] [int] IDENTITY(1,1) NOT NULL,
	[charges] [decimal](15, 2) NULL,
	[IsActive] [bit] NULL,
	[createdBy] [varchar](15) NULL,
	[createdDate] [datetime] NULL,
	[modifiedBy] [varchar](15) NULL,
	[modifiedDate] [datetime] NULL,
 CONSTRAINT [PK_PropertyLocationChargesTrans_refId] PRIMARY KEY CLUSTERED 
(
	[refId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PropertyLocationChargesTrans]  WITH CHECK ADD  CONSTRAINT [FK_LocationMst_PropertyLocationChargesTrans_locationId] FOREIGN KEY([locationId])
REFERENCES [dbo].[LocationMst] ([locationId])
GO
ALTER TABLE [dbo].[PropertyLocationChargesTrans] CHECK CONSTRAINT [FK_LocationMst_PropertyLocationChargesTrans_locationId]
GO
ALTER TABLE [dbo].[PropertyLocationChargesTrans]  WITH CHECK ADD  CONSTRAINT [FK_SchemePropTrans_PropertyLocationChargesTrans_propertyId] FOREIGN KEY([propertyId])
REFERENCES [dbo].[SchemePropTrans] ([propertyId])
GO
ALTER TABLE [dbo].[PropertyLocationChargesTrans] CHECK CONSTRAINT [FK_SchemePropTrans_PropertyLocationChargesTrans_propertyId]
GO
