USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[Temp_Table]    Script Date: 9/21/2017 9:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temp_Table](
	[propertyId] [int] NULL,
	[sectorid] [int] NULL,
	[blockid] [int] NULL,
	[departmentid] [int] NULL
) ON [PRIMARY]

GO
