USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[Completion_Details]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Completion_Details](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rid] [int] NULL,
	[Property_Number] [varchar](30) NULL,
	[Completion_Due_Date] [date] NULL,
	[Completion_Execution_date] [date] NULL,
	[Extension] [varchar](3) NULL,
	[Completion_Type] [varchar](7) NULL,
	[Part_Completion_Percent] [decimal](5, 2) NULL,
	[Part_Completion_Area] [decimal](12, 2) NULL,
	[Is_Active] [bit] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [date] NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [date] NULL,
	[Completion_Charge] [decimal](21, 2) NULL,
 CONSTRAINT [PK_Comp_id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Completion_Details]  WITH CHECK ADD CHECK  (([Extension]='Yes' OR [Extension]='No'))
GO
