USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[MortgageDetails]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MortgageDetails](
	[RequestNo] [int] IDENTITY(1,1) NOT NULL,
	[RID] [int] NULL,
	[Mortgage] [bit] NULL,
	[MortgageDate] [datetime] NULL,
	[BankName] [varchar](70) NULL,
	[BranchAddress] [varchar](150) NULL,
	[ProcessingFee] [decimal](12, 2) NULL,
	[SanctionedAmount] [decimal](21, 2) NULL,
	[MortgageType] [varchar](20) NULL,
	[ValidUpto] [datetime] NULL,
	[PreviousLoanNoc] [smallint] NULL,
	[StatusId] [int] NULL,
	[Approver] [int] NULL,
	[ApproveDate] [datetime] NULL,
	[Comment] [varchar](500) NULL,
	[CommentDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[Modifiedby] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[RComment] [varchar](500) NULL,
	[RCommentDate] [datetime] NULL,
	[OnlineRequestNo] [int] NULL,
 CONSTRAINT [PK_MortgageDetails_RequestNo] PRIMARY KEY CLUSTERED 
(
	[RequestNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[MortgageDetails]  WITH CHECK ADD  CONSTRAINT [FK_StatusMaster_MortgageDetails_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[StatusMaster] ([Id])
GO
ALTER TABLE [dbo].[MortgageDetails] CHECK CONSTRAINT [FK_StatusMaster_MortgageDetails_StatusId]
GO
