USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[Challan_Trans]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Challan_Trans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rid] [int] NULL,
	[Challan_Master_Id] [int] NULL,
	[Head_Id] [int] NULL,
	[Subhead_Id] [int] NULL,
	[Amount] [decimal](20, 2) NULL,
	[Is_Active] [bit] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [date] NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [date] NULL,
 CONSTRAINT [PK_Challan_Trans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Challan_Trans]  WITH NOCHECK ADD  CONSTRAINT [FK_Challan_Master_Trans] FOREIGN KEY([Challan_Master_Id])
REFERENCES [dbo].[Challan_Master] ([Id])
GO
ALTER TABLE [dbo].[Challan_Trans] CHECK CONSTRAINT [FK_Challan_Master_Trans]
GO
