USE [NoidaMigration]
GO
/****** Object:  StoredProcedure [dbo].[SpAmalgamateProperties]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SpAmalgamateProperties] (@Rid varchar (60), @Pid int)
as
BEGIN
declare @minRid int
select @minRid=min(Item) from SplitString(@Rid,',')
SELECT top 1 @minRid=rid From AllotmentMaster WHERE allotmentDate =( SELECT MIN(AllotmentDate) from AllotmentMaster where rid in (select cast(Item as int) from SplitString(@Rid,','))) and rid in (select cast(Item as int) from SplitString(@Rid,',')) order by rid
UPDATE AllotmentMaster
SET IsActive=0
WHERE Rid in ( SELECT Item from SplitString(@Rid,','))
UPDATE AllotmentMaster SET PropertyId=@Pid, IsActive=1 WHERE Rid=@minRid
UPDATE Property_Merge_Trans Set Is_Active=1 WHERE [Merge_Property_Id]=@Pid
END


 

GO
