USE [NoidaMigration]
GO
/****** Object:  StoredProcedure [dbo].[Sp_PaymentDemand_test]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



 
CREATE PROCEDURE [dbo].[Sp_PaymentDemand_test](@Type int,@departmentId int,@sector int,@block int)
AS
Begin

declare @landusetype int,
@registryduedate date,
@duedate date,
@dues decimal(30,2),
@leaseRent decimal(20,2),
@rid int

If (@Type=1)
BEGIN
SELECT
am.Rid,
ad.firstName + ' ' + ad.lastName as 'Applicant Name',
dbo.MasterName(sp.departmentId,5) Department,
dbo.MasterName(sp.sectorId,12) Sector,
dbo.MasterName(sp.BlockId,13) Block,
dbo.MasterName(sp.sectorId,12)+'/'+dbo.MasterName(sp.BlockId,13)+'-'+sp.propertyNo as 'Property Number',
ps.InstallmentDueDate,
ps.PrincipalInstallmentAmount+ps.InterestInstallmentAmount Installment, 
(dbo.Demand(am.Rid,ps.InstallmentDueDate,am.departmentId,1) - (ps.PrincipalInstallmentAmount+ps.InterestInstallmentAmount)) as 'Previous Due',
dbo.Demand(am.Rid,ps.InstallmentDueDate,am.departmentId,1) Total
FROM PaymentScheduleTrans ps JOIN AllotmentMaster am ON (am.rid=ps.Rid)
JOIN ApplicationDetails ad on (ad.applicationId=am.applicationId)
JOIN SchemePropTrans sp on (am.propertyId=sp.propertyId)
WHERE ps.InstallmentDueDate >= getdate()
AND ps.InstallmentDueDate <= EOMONTH(getdate()) and ps.IsActive=1
and am.isActive=1
and am.isStatus='Approved'
and (@departmentId is null OR sp.departmentId=@departmentId)
and (@sector is null OR sp.sectorId=@sector)
and (@block is null OR sp.blockId=@block)

END

ELSE
BEGIN

create table #leaseRent (rid int,schemeId int,departmentId int, leaserent decimal(18,2), registryduedate date)

if (@landusetype=5)
BEGIN
SELECT top 1 @registryduedate = rd.registryduedate FROM AllotmentMaster am JOIN SchemePropTrans sp on (am.propertyId=sp.propertyId) JOIN SchemeCostTrans sc on (sp.schemeId=sc.schemeId and sp.departmentId=sc.departmentId and sp.propertyTypeId=sc.propertyTypeId and sp.sectorId=sc.sectorId and sp.blockId=sc.blockId and sp.floorId=sc.floorId) JOIN RegistryDetails rd on (am.rid= rd.rid) where am.isActive=1 and am.isStatus='Approved' and am.departmentId =5 and rd.rid=76
while @registryduedate<=dateadd(year,1,getdate())
begin
set @registryduedate=dateadd(year,1,@registryduedate)
insert into #leaseRent
SELECT am.rid,am.schemeId,am.departmentId,sc.leaseRent,@registryduedate
FROM AllotmentMaster am JOIN SchemePropTrans sp on (am.propertyId=sp.propertyId) JOIN SchemeCostTrans sc on (sp.schemeId=sc.schemeId and sp.departmentId=sc.departmentId and sp.propertyTypeId=sc.propertyTypeId and sp.sectorId=sc.sectorId and sp.blockId=sc.blockId and sp.floorId=sc.floorId) JOIN RegistryDetails rd on (am.rid= rd.rid) where am.isActive=1 and am.isStatus='Approved' and am.departmentId =5 and rd.rid=76
end
END
else
BEGIN
SELECT TOP 1 @registryduedate=rd.registryduedate FROM AllotmentMaster am JOIN SchemeDepartmentTrans sd on (am.schemeId=sd.SchemeId and am.departmentId=sd.departmentId) JOIN SchemePropTrans sp on (am.propertyId=sp.propertyId) JOIN RegistryDetails rd on (am.rid= rd.rid) where am.isActive=1 and am.isStatus='Approved' and am.departmentId !=5 and rd.rid=76
while @registryduedate<=dateadd(year,1,getdate())
begin
set @registryduedate=dateadd(year,1,@registryduedate)
insert into #leaseRent
SELECT am.rid,am.schemeId,am.departmentId,(sd.leaseRentPercent * sp.totalPropertyCost)/100 as 'Lease Rent', @registryduedate FROM AllotmentMaster am JOIN SchemeDepartmentTrans sd on (am.schemeId=sd.SchemeId and am.departmentId=sd.departmentId) JOIN SchemePropTrans sp on (am.propertyId=sp.propertyId) JOIN RegistryDetails rd on (am.rid= rd.rid) where am.isActive=1 and am.isStatus='Approved' and am.departmentId !=5 and rd.rid=76
end
END
SELECT
am.Rid,
ad.firstName + ' ' + ad.lastName as 'Applicant Name',
dbo.MasterName(sp.departmentId,5) Department,
dbo.MasterName(sp.sectorId,12) Sector,
dbo.MasterName(sp.BlockId,13) Block,
dbo.MasterName(sp.sectorId,12)+'/'+dbo.MasterName(sp.BlockId,13)+'-'+sp.propertyNo as 'Property Number',
lr.registryduedate,
lr.leaserent,
(dbo.Demand(am.Rid,lr.registryduedate,am.departmentId,2) - lr.leaserent) as 'Previous Due',
dbo.Demand(am.Rid,lr.registryduedate,am.departmentId,2) Total
FROM #leaseRent lr JOIN AllotmentMaster am ON (am.rid=lr.Rid)
JOIN ApplicationDetails ad on (ad.applicationId=am.applicationId)
JOIN SchemePropTrans sp on (am.propertyId=sp.propertyId)
WHERE lr.registryduedate >= getdate() AND lr.registryduedate <= EOMONTH(getdate()) and am.isActive=1 and am.isStatus='Approved'
and (@departmentId is null OR sp.departmentId=@departmentId)
and (@sector is null OR sp.sectorId=@sector)
and (@block is null OR sp.blockId=@block)
END
END
GO
