USE [NoidaMigration]
GO
/****** Object:  StoredProcedure [dbo].[Sp_AmalgamateProperties_new]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[Sp_AmalgamateProperties_new] (@Rid varchar (60), @Charges decimal(16,2), @Status int, @AssignedTo int, @Type int, @RequestNo int,@comment varchar(500))
as
BEGIN
declare @minRid int,
@minPid int,
@newPid int,
@RequestId int,
@PropertyNo varchar(30),
@departmentId int,
@sector int,
@block int,
@propertyType int,
@coveredArea decimal(21,2),
@actualArea decimal(21,2),
@totalArea decimal(21,2),
@totalPropertyCost decimal(21,2)



IF (@status=5 and @Type=17)
BEGIN
--select @PropertyNo= COALESCE(@PropertyNo + '-', '') + CAST(spt.propertyNo AS VARCHAR(30)) from SplitString('108,109',',') st join AllotmentMaster am ON (am.rid=st.Item) JOIN SchemePropTrans spt on (am.propertyId=spt.propertyId)
--PRINT @propertyNo

SELECT
@PropertyNo= COALESCE(@PropertyNo + '-', '') + CAST(spt.propertyNo AS VARCHAR(30))
FROM 
SplitString(@Rid,',') st join AllotmentMaster am
ON (am.rid=st.Item) JOIN SchemePropTrans spt
ON (am.propertyId=spt.propertyId)

SELECT @minRid=min(Item) from SplitString(@Rid,',')
SELECT top 1
@minRid=rid,
@minPid=propertyId
From AllotmentMaster
WHERE
allotmentDate =( SELECT MIN(AllotmentDate) from AllotmentMaster where rid in (select cast(Item as int) from SplitString(@Rid,',')))
and rid in (select cast(Item as int) from SplitString(@Rid,',')) order by rid

SELECT
@departmentId=departmentId,
@sector=sectorId,
@block=blockId,
@propertyType=propertyTypeId
FROM SchemePropTrans WHERE propertyId=@minPid

SELECT
@coveredArea= SUM(spt.coveredArea),
@actualArea=SUM(spt.actualArea),
@totalArea =SUM(spt.totalArea),
@totalPropertyCost=SUM(spt.totalPropertyCost)
FROM SplitString('108,109',',') st JOIN AllotmentMaster am
ON (am.rid=st.Item) JOIN SchemePropTrans spt
ON (am.propertyId=spt.propertyId)

--To add a new merged property detail
INSERT INTO SchemePropTrans (departmentId,propertyTypeId,sectorId,blockId,propertyNo,totalArea,coveredArea,actualArea,totalPropertyCost,IsActive) Values
(@departmentId,@propertyType,@sector,@block,@PropertyNo,@totalArea,@coveredArea,@actualArea,@totalPropertyCost,1)


--To get the property Id for newly added property
SELECT @newPid=propertyId FROM SchemePropTrans WHERE propertyNo=@PropertyNo


--To insert request data to Merger_Property_Master table
INSERT INTO Merge_Property_Master (Property_Id,Charges,Request_Date,Assigned_To,Status,Type,Is_Active) values
(@newPid,@Charges,getdate(),@AssignedTo,@Status,@Type,1)

--To get the Request Id for newly added request
SELECT @RequestId=Id from Merge_Property_Master WHERE Property_Id=@newPid and Request_Date=getdate()

--To insert child property data to Merger_Property_Trans table
INSERT INTO Merge_Property_Trans (Request_Id,Merge_Property_Id,Child_Rid,Child_Property_Id,Type,Is_Active)
Select
@RequestId,
@newPid,
am.rid,
spt.propertyId,
@Type,
1
FROM SplitString(@Rid,',') st JOIN AllotmentMaster am 
ON (am.rid=st.Item) JOIN SchemePropTrans spt 
ON (am.propertyId=spt.propertyId)

END

ELSE IF (@Status=1 and @Type=17)
BEGIN
SELECT @newPid=Property_id from Merge_Property_Master WHERE Id=@RequestNo
SELECT @minRid=min(Child_Rid) from Merge_Property_Trans WHERE Request_Id=@RequestNo
SELECT 
top 1 
@minRid=rid
From
AllotmentMaster
WHERE
allotmentDate = (SELECT MIN(AllotmentDate) from AllotmentMaster where rid in (SELECT Child_Rid from Merge_Property_Trans WHERE Request_Id=@RequestNo))
and rid in (SELECT Child_Rid from Merge_Property_Trans WHERE Request_Id=@RequestNo) order by rid
UPDATE AllotmentMaster
SET IsActive=0
WHERE Rid in (SELECT Child_Rid from Merge_Property_Trans WHERE Request_Id=@RequestNo)
UPDATE AllotmentMaster SET PropertyId=@newPid, IsActive=1 WHERE Rid=@minRid
UPDATE Merge_Property_Master SET Status=@Status, Approved_Date=getdate(), Comment=@comment WHERE Id=@RequestNo

END

ELSE IF ((@Status=2 OR @Status=3) and @Type=17)
BEGIN
SELECT @newPid=Property_Id FROM Merge_Property_Master WHERE Id=@RequestNo
UPDATE SchemePropTrans SET IsActive=0 WHERE propertyId=@newPid
UPDATE Merge_Property_Master SET Status=@Status, Comment=@comment WHERE Id=@RequestNo
UPDATE Merge_Property_Trans SET Is_Active=0 WHERE Request_Id=@RequestNo
END

--ELSE IF (@Status=3 and @Type=17)
--BEGIN
--UPDATE Merge_Property_Master SET Status=@Status WHERE Id=@RequestNo
--END

ELSE IF (@Status=6 and @Type=17)
BEGIN
SET @Status=5


SELECT
@PropertyNo= COALESCE(@PropertyNo + '-', '') + CAST(spt.propertyNo AS VARCHAR(30))
FROM 
SplitString(@Rid,',') st join AllotmentMaster am
ON (am.rid=st.Item) JOIN SchemePropTrans spt
ON (am.propertyId=spt.propertyId)

SELECT @minRid=min(Item) from SplitString(@Rid,',')
SELECT top 1
@minRid=rid,
@minPid=propertyId
From AllotmentMaster
WHERE
allotmentDate =( SELECT MIN(AllotmentDate) from AllotmentMaster where rid in (select cast(Item as int) from SplitString(@Rid,',')))
and rid in (select cast(Item as int) from SplitString(@Rid,',')) order by rid

SELECT
@departmentId=departmentId,
@sector=sectorId,
@block=blockId,
@propertyType=propertyTypeId
FROM SchemePropTrans WHERE propertyId=@minPid

SELECT
@coveredArea= SUM(spt.coveredArea),
@actualArea=SUM(spt.actualArea),
@totalArea =SUM(spt.totalArea),
@totalPropertyCost=SUM(spt.totalPropertyCost)
FROM SplitString('108,109',',') st JOIN AllotmentMaster am
ON (am.rid=st.Item) JOIN SchemePropTrans spt
ON (am.propertyId=spt.propertyId)


--To add a new merged property detail
INSERT INTO SchemePropTrans (departmentId,propertyTypeId,sectorId,blockId,propertyNo,totalArea,coveredArea,actualArea,totalPropertyCost,IsActive) Values
(@departmentId,@propertyType,@sector,@block,@PropertyNo,@totalArea,@coveredArea,@actualArea,@totalPropertyCost,1)



--To update request data to Merger_Property_Master table
UPDATE Merge_Property_Master
SET
Property_Id=@newPid,
Charges=@Charges,
Request_Date=getdate(),
Assigned_To=@AssignedTo,
Status=@Status
WHERE Id=@RequestNo

--To insert child property data to Merger_Property_Trans table
INSERT INTO Merge_Property_Trans (Request_Id,Merge_Property_Id,Child_Rid,Child_Property_Id,Type,Is_Active)
Select @RequestNo,@newPid,am.rid,spt.propertyId,@Type,1 from SplitString(@Rid,',') st JOIN AllotmentMaster am ON (am.rid=st.Item) JOIN SchemePropTrans spt ON (am.propertyId=spt.propertyId)


END
END
 --SELECT * FROm SchemePropTrans
 --SELECT * FROM Merge_Property_Master
 --SELECT * FROM Merge_Property_Tran

GO
