USE [NoidaMigration]
GO
/****** Object:  Table [dbo].[Property_Ledger]    Script Date: 9/21/2017 9:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Property_Ledger](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rid] [int] NULL,
	[Entry_Date] [date] NULL,
	[Receipt_Head_Id] [int] NULL,
	[Receipt_Subhead_Id] [int] NULL,
	[Debit_Amount] [decimal](30, 2) NULL,
	[Credit_Amount] [decimal](30, 2) NULL,
	[Balance_Amount] [decimal](30, 2) NULL,
	[Is_Active] [bit] NULL,
	[Created_By] [int] NULL,
	[Created_Date] [date] NULL,
	[Modified_By] [int] NULL,
	[Modified_Date] [date] NULL,
	[Challan_Id] [varchar](12) NULL,
 CONSTRAINT [Pk_Property] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Property_Ledger]  WITH CHECK ADD  CONSTRAINT [Fk_Receipt_Head] FOREIGN KEY([Receipt_Head_Id])
REFERENCES [dbo].[RECIEPT_HEAD] ([RECIEPT_CODE])
GO
ALTER TABLE [dbo].[Property_Ledger] CHECK CONSTRAINT [Fk_Receipt_Head]
GO
ALTER TABLE [dbo].[Property_Ledger]  WITH CHECK ADD  CONSTRAINT [Fk_Receipt_SubHead] FOREIGN KEY([Receipt_Subhead_Id])
REFERENCES [dbo].[RECEIPT_SUB_HEAD] ([RECEIPT_SUBHEAD_ID])
GO
ALTER TABLE [dbo].[Property_Ledger] CHECK CONSTRAINT [Fk_Receipt_SubHead]
GO
